@using MasterOnline.ViewModels

@{
    ViewBag.Title = "Posting";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    var context = new MoDbContext();
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    var userId = "";
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        userId = context.Account.Single(a => a.AccountId == accId).DatabasePathErasoft;
        context.Dispose();
    }
    else
    {
        userId = dataSession?.Account?.DatabasePathErasoft;
    }
}

@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    @*<link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />*@
    <style>
        .datepicker-days .prev {
            display: none !important;
        }

        .datepicker-days .next {
            display: none !important;
        }

        .datepicker-days .datepicker-switch {
            display: none !important;
        }

        .datepicker-days .old {
            display: marker !important;
        }

        .datepicker-days .new {
            display: marker !important;
        }
    </style>
}

<h2>Posting</h2>

<div class="row">
    <div class="col-md-2">
        @Html.Label("", "Tahun")
        <div class="input-group number">
            @Html.TextBox("Tahun", null, new { @class = "form-control", @MaxLength = "4" })
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "Bulan")
        <div class="input-group number">
            @Html.TextBox("Bulan", null, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.Label("", "Dari Tanggal", new { @style = "padding-right:10px" })
            <select id="DrTgl" style="height:30px; padding-left:10px"></select>
    </div>
    <div class="col-md-2">
        @Html.Label("", "Sampai Tanggal", new { @style= "padding-right:10px" })
            <select id="SdTgl" style="height:30px; padding-left:10px"></select>
    </div>
    @*<div class="col-md-2">
            @Html.Label("", "Dari Tanggal")
            <div class="input-group number">
                @Html.TextBox("DrTgl", null, new { @class = "form-control", @ReadOnly = true })
            </div>
        </div>
        <div class="col-md-2">
            @Html.Label("", "Sampai Tanggal")
            <div class="input-group number">
                @Html.TextBox("SdTgl", null, new { @class = "form-control", @ReadOnly = true })
            </div>
        </div>*@
    <div class="col-md-8">
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="process-posting">Process</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <label class="labelPosting">Status : Siap Memulai Posting</label>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                0% Complete (success)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        @Html.TextArea("infoPosting", null, new { @class = "form-control", @Rows = 12, @ReadOnly = true })
    </div>
    <div class="col-md-2">
        <ul class="list-group">
            <li id="bannerPembelian" style="text-align:center;margin-bottom:2px" class="list-group-item list-group-item-light">Posting Pembelian</li>
            <li id="bannerPersediaan" style="text-align:center;margin-bottom:2px" class="list-group-item list-group-item-light">Posting Persediaan</li>
            <li id="bannerPenjualan" style="text-align:center;margin-bottom:2px" class="list-group-item list-group-item-light">Posting Penjualan</li>
            <li id="bannerHutang" style="text-align:center;margin-bottom:2px" class="list-group-item list-group-item-light">Posting Hutang</li>
            <li id="bannerPiutang" style="text-align:center;margin-bottom:2px" class="list-group-item list-group-item-light">Posting Piutang</li>
            <li id="bannerJurnal" style="text-align:center" class="list-group-item list-group-item-light">Posting Jurnal</li>

            @*<li class="list-group-item list-group-item-success">Success item</li>
                <li class="list-group-item list-group-item-secondary">Secondary item</li>
                <li class="list-group-item list-group-item-info">Info item</li>
                <li class="list-group-item list-group-item-warning">Warning item</li>
                <li class="list-group-item list-group-item-danger">Danger item</li>
                <li class="list-group-item list-group-item-primary">Primary item</li>
                <li class="list-group-item list-group-item-dark">Dark item</li>
                <li class="list-group-item list-group-item-light">Light item</li>*@
        </ul>
    </div>
    <div class="infoPost"></div>
</div>

@section scripts
{
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    @*<script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>*@

    <script>
        var promptSupp = "";
        var promptBrg = "";
        var $bln = "";
        var $thn = "";
        var $first = "";
        var $last = "";
        var firstOfThisMonth = new Date();
        var lastOfThisMonth = new Date();
        firstOfThisMonth.setDate(1);
        var a = new Date();
        a.setDate(1);
        lastOfThisMonth = a.addMonths(1).addDays(-1);

        var optionsDr = "";
        for (var DrTgl = 1; DrTgl <= lastOfThisMonth.getDate(); DrTgl++) {
            optionsDr += "<option>" + DrTgl + "</option>";
        }
        document.getElementById("DrTgl").innerHTML = optionsDr;
        var optionsSd = "";
        for (var SdTgl = 1; SdTgl <= lastOfThisMonth.getDate(); SdTgl++) {
            optionsSd += "<option>" + SdTgl + "</option>";
        }
        document.getElementById("SdTgl").innerHTML = optionsSd;

        $(document).ready(function () {
            var d = new Date();


            $('#Tahun').val(d.getFullYear());

            //$('#Bulan').datepicker({
            //    format: 'MM',
            //    language: 'id',
            //    minViewMode: 1
            //}).datepicker('setDate', d);

            //$('#DrTgl').datepicker({
            //    format: 'dd',
            //    language: 'id',
            //    minViewMode: 0
            //}).datepicker('setDate', d);

            //$('#SdTgl').datepicker({
            //    format: 'dd',
            //    language: 'id',
            //    minViewMode: 0
            //}).datepicker('setDate', d);

            //change by nurul 23/8/2019
            //$('#Bulan').datepicker({
            //    format: 'MM',
            //    language: 'id',
            //    minViewMode: 1
            //}).datepicker('setDate', d).change(function () {
            //    $('#Bulan').val($(this).val());
            //    $(this).datepicker('hide');
            //});
            $('#Bulan').datepicker({
                format: 'MM',
                language: 'id',
                //menghilangkan tahun
                //minViewMode: 1
                minViewMode: 'months',
                maxViewMode: 'months',
                startView: 'months'
            }).datepicker('setDate', d).change(function () {
                $('#Bulan').val($(this).val());
                $(this).datepicker('hide');

                var x = new Date($('#Bulan').val() + ' ' + 2018);
                firstOfThisMonth = new Date($('#Tahun').val() + '-' + (x.getMonth() + 1) + '-01');
                var y = new Date($('#Tahun').val() + '-' + (x.getMonth() + 1) + '-01');
                lastOfThisMonth = y.addMonths(1).addDays(-1);
                //drSdTgl();
                optionsDr = "";
                for (var DrTgl = 1; DrTgl <= lastOfThisMonth.getDate(); DrTgl++) {
                    optionsDr += "<option>" + DrTgl + "</option>";
                }
                document.getElementById("DrTgl").innerHTML = optionsDr;
                optionsSd = "";
                for (var SdTgl = 1; SdTgl <= lastOfThisMonth.getDate(); SdTgl++) {
                    optionsSd += "<option>" + SdTgl + "</option>";
                }
                document.getElementById("SdTgl").innerHTML = optionsSd;
                });
            //end change by nurul 23/8/2019
            $('#Tahun').change(function () {

                var x = new Date($('#Bulan').val() + ' ' + 2018);
                firstOfThisMonth = new Date($('#Tahun').val() + '-' + (x.getMonth() + 1) + '-01');
                var y = new Date($('#Tahun').val() + '-' + (x.getMonth() + 1) + '-01');
                lastOfThisMonth = y.addMonths(1).addDays(-1);
                //drSdTgl();
                optionsDr = "";
                for (var DrTgl = 1; DrTgl <= lastOfThisMonth.getDate(); DrTgl++) {
                    optionsDr += "<option>" + DrTgl + "</option>";
                }
                document.getElementById("DrTgl").innerHTML = optionsDr;
                optionsSd = "";
                for (var SdTgl = 1; SdTgl <= lastOfThisMonth.getDate(); SdTgl++) {
                    optionsSd += "<option>" + SdTgl + "</option>";
                }
                document.getElementById("SdTgl").innerHTML = optionsSd;
            });
            //drSdTgl();
            //$('#DrTgl').datepicker({
            //    format: 'dd',
            //    language: 'id',
            //    //minViewMode: 0
            //}).datepicker('setDate', d).change(function () {
            //    $('#DrTgl').val($(this).val());
            //    $(this).datepicker('hide');
            //});


            //$('#SdTgl').datepicker({
            //    format: 'dd',
            //    language: 'id',
            //    //minViewMode: 0
            //}).datepicker('setDate', d).change(function () {
            //    $('#SdTgl').val($(this).val());
            //    $(this).datepicker('hide');
            //});

            $('#process-posting').click(function () {
                $('.labelPosting').html('Status : Proses sedang dimulai..');
                $('#bannerPembelian').attr('class', 'list-group-item list-group-item-light');
                $('#bannerPersediaan').attr('class', 'list-group-item list-group-item-light');
                $('#bannerPenjualan').attr('class', 'list-group-item list-group-item-light');
                $('#bannerHutang').attr('class', 'list-group-item list-group-item-light');
                $('#bannerPiutang').attr('class', 'list-group-item list-group-item-light');
                $('#bannerJurnal').attr('class', 'list-group-item list-group-item-light');
                previewing();
            });
        });

        //add by nurul 23/8/2019
        function getFirstLastMonth() {
            var $link = '@Html.Raw(Url.Action("getFirstLastMonth", "Manage", new { bulan = "replaceBulan", tahun = "replaceTahun" }))';
            $link = $link.replace("replaceBulan", encodeURIComponent($('#Bulan').val()));
            $link = $link.replace("replaceTahun", encodeURIComponent($('#Tahun').val()));

            $.ajax({
                type: "GET",
                url: $link,
                success: function (data) {
                    $('#table-pesanan-partial').html(data);

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        //end add by nurul 23/8/2019
        //function drSdTgl() {
        //    var e = new Date();
        //    e.getDate();
        //    var x = new Date($('#Bulan').val() + ' ' + 2018);
        //    var d = new Date($('#Tahun').val() + '-' + (x.getMonth() + 1) + '-' + (e.getDate()));
        //    $('#DrTgl').datepicker({
        //        format: 'dd',
        //        language: 'id',
        //        minDate: firstOfThisMonth,
        //        maxDate: lastOfThisMonth,
        //        stepMonths: 0
        //    }).datepicker('setDate', d).change(function () {
        //        $('#DrTgl').val($(this).val());
        //        $(this).datepicker('hide');
        //    });


        //    $('#SdTgl').datepicker({
        //        format: 'dd',
        //        language: 'id',
        //        minDate: firstOfThisMonth,
        //        maxDate: lastOfThisMonth,
        //        stepMonths: 0
        //    }).datepicker('setDate', d).change(function () {
        //        $('#SdTgl').val($(this).val());
        //        $(this).datepicker('hide');
        //    });
        //}
        function FormatMonth() {
            var d;
            d = new Date($('#Bulan').val() + ' ' + 2018);
            return d.getMonth() + 1;
        }

        function formatDateToYYYYmmDD(a) {
            var d;
            if (a == 1) {

                d = $('#DrTanggal').val();
            }
            else if (a == 2) {

                d = $('#SdTanggal').val();
            }

            var month = '' + (d.slice(3, 5));
            var day = '' + (d.slice(0, 2));
            var year = (d.slice(6, 10));
            return [year, month, day].join('/');
        }

        var tanggalcutoff = "";
        function previewing() {
            if ($('#LoadPostingMO').length) {

            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("doPosting", "Posting")',
                    data: JSON.stringify({
                        UserId: '@(userId)',
                        Month: FormatMonth(),
                        Year: $('#Tahun').val(),
                        From: $('#DrTgl').val(),
                        To: $('#SdTgl').val()
                    }),
                    contentType: 'application/json; charset=UTF-8',
                    cache: false,
                    beforeSend: function () {
                        $('#infoPosting').val('');
                    },
                    success: function (data) {
                        $("<iframe id='LoadPostingMO' width='802px' height='90px' frameBorder='0'>")// create a new iframe element
                            .hide()//invisible
                            .load(function () {

                            })
                            .attr("src", data)
                            .appendTo(".infoPost");
                        //console.log(data);

                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            }
        }

        window.addEventListener('message', function (event) {

            //if (~event.origin.indexOf('http://13.251.222.53')) {
            if (~event.origin.indexOf('https://report.masteronline.co.id') || ~event.origin.indexOf('https://devreport.masteronline.co.id')) {
                if (event.data.event_id == 'progressbar') {

                    $('.labelPosting').html('Status : ' + event.data.nama);
                    $('.progress-bar').css('width', event.data.data + '%').attr('aria-valuenow', event.data.data);
                    $('.progress-bar').html(event.data.data + '% Complete');
                }
                else if (event.data.event_id == 'infoPosting') {
                    //$('.labelPosting').html(event.data.nama);
                    $('.progress-bar').css('width', '100%').attr('aria-valuenow', 100);
                    $('.progress-bar').html('100% Complete');
                    $('#infoPosting').val($('#infoPosting').val() + event.data.data.trim() + '\r\n');
                    $('#banner' + event.data.nama).attr('class', 'list-group-item list-group-item-success');
                }
                else if (event.data.event_id == 'infoPostingSelesai') {
                    $('.labelPosting').html('Status : Proses Selesai.');
                    $('.progress-bar').css('width', '100%').attr('aria-valuenow', 100);
                    $('.progress-bar').html('100% Complete');
                    $('#infoPosting').val($('#infoPosting').val() + event.data.data.trim() + '\r\n');
                    $('#bannerJurnal').attr('class', 'list-group-item list-group-item-success');
                    setTimeout(function () { $("#LoadPostingMO").remove(); }, 2000);
                }
            } else {
                return;
            }
        });
    </script>
}
