@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.SubsViewModel

@{
    ViewBag.Title = "Pricing";
    var referral = Request.Params["ref"];
}

@section styles
{
    <style type="text/css">
        nav {
            background-color: #fff;
            height: 120px;
        }

            nav .container {
                color: #5a5a5a;
            }

            nav .container-fluid a {
                color: #fff;
            }

                nav .container-fluid a span {
                    font-size: 18px;
                }

            nav .container-fluid .col-md-2 {
                padding: 7px 0;
            }

        .navbar-default {
            background-color: #fff !important;
        }

        .navbar-nav {
            margin: 7.5px 5px;
            padding: 5px 0;
        }

            .navbar-nav li a {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: .5px;
            }

        .nav li a {
            /*padding: 14px 20px 14px 25px;*/
            padding: 10px;
        }

        .nav li div {
            padding: 15px;
        }

        .navbar-brand {
            padding: 20px 15px;
        }

        .bar {
            font-size: 30px;
            color: #ed1338;
        }

        .header-menu-new .col-md-2 a:hover span {
            color: #FFA500;
        }

        .header-menu-new .col-md-2 a span {
            padding: 0 20px;
            font-size: 18px;
            color: #891539;
            margin-left: -10px;
        }

        .nav-row {
            padding: 30px;
        }

            .nav-row > div > a {
                padding: 7px;
            }

        #loading_spinner {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        #loading_spinner_image {
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -90px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-width: 30px;
            border-radius: 50%;
        }

        #loading_spinner_btn {
            display: none;
            width: 100%;
            height: 100%;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #loading_spinner_image_btn {
            width: 20px;
            height: 40px;
            border-width: 30px;
            border-radius: 50%;
        }

        #soc-med-btn-nav {
            float: right;
            margin-right: 80px;
            margin-bottom: 15px;
        }


        body {
            background: white;
            letter-spacing: 0.4px;
            font-family: 'RoundedElegance';
        }

        @@font-face {
            font-family: 'RoundedElegance';
            src: url("fonts/rounded_elegance.svg");
            src: url("fonts/rounded_elegance.ttf") format('truetype');
        }

        footer {
            background: #891539;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }


        .modal-content {
            margin-top: 225px !important;
        }

        .modal-dialog {
            height: auto !important;
        }

        .title-features-mobile {
            font-size: 10px !important;
        }

        .sub-title-features-mobile {
            font-size: 9px !important;
        }

        .feature-mobile-row {
            margin-bottom: 25px !important;
        }


        h2.mobile-title {
            font-size: 16px !important;
        }

        #cover p {
            font-size: 14px !important;
        }

        #mobile-app-section {
            margin-top: 25px !important;
        }


        body {
            overflow-x: hidden;
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        html {
            -webkit-text-stroke-width: 0.5pt;
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }

        #cover {
            margin-top: 175px;
            margin-bottom: 18px;
            background-size: cover;
            min-height: 350px;
        }

        h2.pc-title {
            color: #891539;
            font-size: 45px;
            line-height: 60px;
            letter-spacing: 3px;
            font-weight: 700;
        }

        h2.mobile-title {
            color: #891539;
            font-size: 30px;
            line-height: 58px;
            letter-spacing: 3px;
            font-weight: 700;
        }

        #cover h3 {
            font-size: 58px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'RoundedElegance';
        }

            #cover h3 span {
                color: #ed5565;
            }

        #cover span {
            font-size: 53px;
        }

        #cover p {
            font-size: 18px;
            letter-spacing: .5px;
        }

        #cover .btn {
            background-color: #891539;
            color: #fff;
        }

            #cover .btn:hover {
                background-color: #f37100 !important;
            }

        .focus-text {
            text-transform: uppercase;
            color: #f37100;
        }

        #btn-daftar-pc {
            width: 50%;
            float: right;
            margin: 0 auto;
            border-radius: 10px !important;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #mobile-app-section {
            margin-top: 60px;
        }

        #btn-daftar-mobile {
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-video-pc {
            width: 50%;
            float: left;
            background-color: #5db836 !important;
            margin: 0 auto;
            border-radius: 10px !important;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-video-mobile {
            background-color: #5db836 !important;
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #gradient-mo {
            background: rgba(255,23,23,1);
            background: -moz-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,23,23,1)), color-stop(50%, rgba(137,21,57,1)), color-stop(100%, rgba(137,21,57,1)));
            background: -webkit-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -o-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: linear-gradient(to right, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1717', endColorstr='#891539', GradientType=1 );
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }

            .videoWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        .modal-dialog {
            width: 75%;
            height: 75%;
            margin: 0 auto;
            padding: 0;
        }

        .modal-content {
            margin-top: 35px;
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }

        .videoBox {
            position: relative;
            padding-bottom: 30.25%; /* 16:9 */
            height: 0;
        }

            .videoBox iframe {
                position: absolute;
                top: 0;
                left: 25%;
                width: 50%;
                height: 100%;
            }

        #marketplace .logo-container {
            padding: 40px 0;
        }

        .grayish-white {
            background-color: #F5F5F5;
        }

        .grayish-white-f6 {
            background-color: #f6f6f6;
        }

        #marketplace .title-box-red,
        .carakerja .title-box-red {
            padding: 10px 7px;
        }

            #marketplace .title-box-red h3,
            .carakerja .title-box-red h3 {
                font-size: 20px;
                color: #fff;
                font-weight: 400;
                margin: 0px;
                text-align: left !important;
            }

        #marketplace .mp-logo:first-child {
            margin-left: 60px;
        }

        #marketplace .mp-logo {
            margin-right: 15px;
        }

        .titleSection {
            color: #ed5565;
            font-size: 35px;
            text-align: center;
            font-weight: 500;
        }

        .carakerja {
            padding: 0 0 40px 0;
            background-color: #fff;
        }

            .carakerja h3, .carakerja p {
                font-weight: 300;
                text-align: center;
            }

            .carakerja h3 {
                font-size: 22px;
            }

            .carakerja p {
                font-size: 17px;
                line-height: 24px;
                color: #777;
            }

            .carakerja strong {
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                display: block;
            }

            .carakerja img {
                margin-top: 25px;
            }

        #banner {
            background: url(../../Content/Images/shattered.png) 0 50%;
            min-height: 200px;
            padding: 20px 0;
            text-align: center;
        }

            #banner h2 {
                color: #999;
                font-size: 25px;
                font-weight: 400;
                margin: 30px 0 28px 0;
            }

        footer {
            background: #891539;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }

        .title-box-red {
            background: rgba(137,21,57,1);
            background: -moz-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,21,57,1)), color-stop(70%, rgba(137,21,57,1)), color-stop(100%, rgba(255,23,23,1)));
            background: -webkit-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -o-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -ms-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: linear-gradient(to right, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#891539', endColorstr='#ff1717', GradientType=1 );
        }

        .carakerja .content-feature {
            background-color: #f6f6f6;
            padding-bottom: 10px;
        }

        #promo_pulsa {
            display: none; /* Sementara */
            position: absolute;
            width: 20%;
            right: 15px;
            top: 175px;
            z-index: 100;
        }

        .no-padding {
            padding: 0 !important;
        }

        .title-features {
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-title-features {
            font-size: 14px;
            position: absolute;
            top: 30px;
            left: 0;
        }

        .title-features-mobile {
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-title-features-mobile {
            font-size: 11px;
            position: absolute;
            top: 25px;
            left: 0;
        }

        .feature-mobile-row {
            margin-bottom: 30px;
        }

        .btn-basicfree:hover {
            color: #F5F5F5;
            background-color: #891539;
        }

        .btn-basicfree {
            color: #891539;
            background-color: white;
            text-align: center;
            border-radius: 10 1 1 1;
            border: 1px solid #891539;
        }

        .btn-silver:hover {
            color: #F5F5F5;
            background-color: #891539;
        }

        .btn-silver {
            color: #891539;
            background-color: white;
            text-align: center;
            border-radius: 10 1 1 1;
            border: 1px solid #891539;
        }


        .panel-default-noborder {
            border: 1px;
        }

        hr {
            border: 1px solid #891539;
        }

        .table thead > tr > th,
        .table tbody > tr > th,
        .table tfoot > tr > th,
        .table thead > tr > td,
        .table tbody > tr > td,
        .table tfoot > tr > td {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 0px;
        }

        .table thead > tr > th {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 0px solid #dddddd;
            border-bottom: 2px solid #891539;
        }



        .glyphicon-ok {
            color: #21b716;
        }

        .glyphicon-remove {
            color: #891539;
        }


        .enterpriseColumn {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: middle;
            border: 2px solid #891539 !important;
            color: #891539;
        }
    </style>
}
<div class="container-fluid" style="margin-top:12%">
    <div class="col-md-12 text-center">
        <h2 class="hidden-xs hidden-sm pc-title" style="line-height: 40px;">PRICING</h2>
        <p style="color: #5a5a5a; font-size: 18px; margin-bottom: 40px;">DAFTAR HARGA BERLANGGANAN</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default-noborder">
                <div class="panel panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align:left;"></th>
                                @foreach (var subs in Model?.ListSubs)
                                {
                                    <th scope="col" style="text-align:center;">@subs.KETERANGAN</th>
                                }
                                <th scope="col" style="text-align:center;">PLATINUM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;PLAN</th>
                                <td style="text-align:center;">Free Trial<br>14hari</td>
                                @foreach (var subs in Model?.ListSubs)
                                {
                                    if (subs.KODE != "01")
                                    {
                                        <td style="text-align:center;">Rp @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA)<br>per bulan</td>
                                    }
                                }
                                <td style="text-align:center;">CALL</td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Pembayaran</th>
                                <td style="text-align:center; "><a class='btn btn-basicfree' role="button" title="Beli" onclick="clickSub('01','')">DAFTAR</a></td>
                                @foreach (var subs in Model?.ListSubs)
                                {
                                    if (subs.KODE != "01")
                                    {
                                        <td style="text-align:center;">
                                            <a class='btn btn-basicfree' role="button" title="Beli" onclick="clickSub('@subs.KODE', '3')">
                                                Rp @(String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 3)) <br>per 3 bulan
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="text-align:center;">CALL</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td style="text-align:center;"></td>
                                @foreach (var subs in Model?.ListSubs)
                                {
                                    if (subs.KODE != "01")
                                    {
                                        <td style="text-align:center;">
                                            <a class='btn btn-basicfree' role="button" title="Beli" onclick="clickSub('@subs.KODE', '12')">
                                                Rp @(String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 10)) <br>per 12 bulan
                                            </a><br><p style="font-size:12px;color:#891539;">hemat 2 bulan</p>
                                        </td>
                                    }
                                }
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Jumlah Market Place</th>
                                @foreach (var subs in Model?.ListSubs)
                                {
                                    <td style="text-align:center;">@(subs.JUMLAH_MP >= 99 ? "Unlimited" : subs.JUMLAH_MP.ToString())</td>
                                }
                                <td style="text-align:center;" rowspan="11" valign="top" class="enterpriseColumn"><h3>Enterprise <br><br>Resources <br><br>Planning <br><br>(ERP) <br><br>Features</h3></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Jumlah Faktur per Bulan</th>
                                @foreach (var subs in Model?.ListSubs)
                                {
                                    <td style="text-align:center;">@(subs.JUMLAH_PESANAN >= 999 ? "Unlimited" : subs.JUMLAH_PESANAN.ToString())</td>
                                }
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<b>Market Place Integration</b></th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Invoicing & Sale Analysis</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Shipment Management</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Purchasing</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Inventory & Warehouse Management</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Account Receivable (AR)</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Account Payable (AP)</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;General Ledger (GL)</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>
                            <tr>
                                <th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Multi User & Security</th>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                <td style="text-align:center;"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="text-center" style="margin-top: -15px; border-radius: 10px; padding-top: 40px; padding-bottom: 10px; background: #ffffff6b;">
    <div class="row"><input id="ckBox" type="checkbox" checked="checked">Saya setuju dengan <a href="/Content/Static/termsandconditions.html#terms"><u>Syarat & Ketentuan</u></a></div>
    <br />
    <img src="~/Content/Images/payment_logo.png" width="25%" />
</div>

<script type="text/javascript">
    function clickSub(kode, bln) {
        if ($('#ckBox')[0].checked) {
            var url = '@Url.Action("loginSubs", "Account")';
            url += "?Ref=" + '@referral' + "&kode=" + kode + "&bln=" + bln;
            window.location.href = url;
        } else {
            alert('Anda harus menyetujui Syarat & Ketentuan');
        }
    }
</script>
