@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.SubsViewModel
@{
    ViewBag.Title = "Pricing";
    var referral = Request.Params["ref"];
}
@section styles
{
    <style type="text/css">

        nav {
            background-color: #fff;
            height: 120px;
        }

            nav .container {
                color: #5a5a5a;
            }

            nav .container-fluid a {
                color: #fff;
            }

                nav .container-fluid a span {
                    font-size: 18px;
                }

            nav .container-fluid .col-md-2 {
                padding: 7px 0;
            }

        .navbar-default {
            background-color: #fff !important;
        }

        .navbar-nav {
            margin: 7.5px 5px;
            padding: 5px 0;
        }

            .navbar-nav li a {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: .5px;
            }

        .nav li a {
            /*padding: 14px 20px 14px 25px;*/
            padding: 10px;
        }

        .nav li div {
            padding: 15px;
        }

        .navbar-brand {
            padding: 20px 15px;
        }

        .bar {
            font-size: 30px;
            color: #ed1338;
        }

        .header-menu-new .col-md-2 a:hover span {
            color: #FFA500;
        }

        .header-menu-new .col-md-2 a span {
            padding: 0 20px;
            font-size: 18px;
            color: #891539;
            margin-left: -10px;
        }

        .nav-row {
            padding: 30px;
        }

            .nav-row > div > a {
                padding: 7px;
            }

        #loading_spinner {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        #loading_spinner_image {
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -90px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-width: 30px;
            border-radius: 50%;
        }

        #loading_spinner_btn {
            display: none;
            width: 100%;
            height: 100%;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #loading_spinner_image_btn {
            width: 20px;
            height: 40px;
            border-width: 30px;
            border-radius: 50%;
        }

        #soc-med-btn-nav {
            float: right;
            margin-right: -5pxpx;
            margin-bottom: 15px;
        }


        body {
            background: white;
            letter-spacing: 0.4px;
            font-family: 'RoundedElegance';
        }

        @@font-face {
            font-family: 'RoundedElegance';
            src: url("fonts/rounded_elegance.svg");
            src: url("fonts/rounded_elegance.ttf") format('truetype');
        }

        footer {
            /*background: #891539;*/
            background: #9d0534;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }

                    footer ul li a:hover {
                        color: #ffa600;
                    }


        .modal-content {
            margin-top: 225px !important;
        }

        .modal-dialog {
            height: auto !important;
        }

        .title-features-mobile {
            font-size: 10px !important;
        }

        .sub-title-features-mobile {
            font-size: 9px !important;
        }

        .feature-mobile-row {
            margin-bottom: 25px !important;
        }


        h2.mobile-title {
            font-size: 16px !important;
        }

        #cover p {
            font-size: 14px !important;
        }

        #mobile-app-section {
            margin-top: 25px !important;
        }


        body {
            overflow-x: hidden;
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        html {
            -webkit-text-stroke-width: 0.5pt;
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }

        #cover {
            margin-top: 175px;
            margin-bottom: 18px;
            background-size: cover;
            min-height: 350px;
        }

        h2.pc-title {
            color: #891539;
            font-size: 45px;
            line-height: 60px;
            letter-spacing: 3px;
            font-weight: 700;
        }

        h2.mobile-title {
            color: #891539;
            font-size: 30px;
            line-height: 58px;
            letter-spacing: 3px;
            font-weight: 700;
        }

        #cover h3 {
            font-size: 58px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'RoundedElegance';
        }

            #cover h3 span {
                color: #ed5565;
            }

        #cover span {
            font-size: 53px;
        }

        #cover p {
            font-size: 18px;
            letter-spacing: .5px;
        }

        #cover .btn {
            background-color: #891539;
            color: #fff;
        }

            #cover .btn:hover {
                background-color: #f37100 !important;
            }

        .focus-text {
            text-transform: uppercase;
            color: #f37100;
        }

        #btn-daftar-pc {
            width: 50%;
            float: right;
            margin: 0 auto;
            border-radius: 10px !important;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #mobile-app-section {
            margin-top: 60px;
        }

        #btn-daftar-mobile {
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-video-pc {
            width: 50%;
            float: left;
            background-color: #5db836 !important;
            margin: 0 auto;
            border-radius: 10px !important;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-video-mobile {
            background-color: #5db836 !important;
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #gradient-mo {
            background: rgba(255,23,23,1);
            background: -moz-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,23,23,1)), color-stop(50%, rgba(137,21,57,1)), color-stop(100%, rgba(137,21,57,1)));
            background: -webkit-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -o-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: linear-gradient(to right, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1717', endColorstr='#891539', GradientType=1 );
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }

            .videoWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        .modal-dialog {
            width: 75%;
            height: 75%;
            margin: 0 auto;
            padding: 0;
        }

        .modal-content {
            margin-top: 35px;
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }

        .videoBox {
            position: relative;
            padding-bottom: 30.25%; /* 16:9 */
            height: 0;
        }

            .videoBox iframe {
                position: absolute;
                top: 0;
                left: 25%;
                width: 50%;
                height: 100%;
            }

        #marketplace .logo-container {
            padding: 40px 0;
        }

        .grayish-white {
            background-color: #F5F5F5;
        }

        .grayish-white-f6 {
            background-color: #f6f6f6;
        }

        #marketplace .title-box-red,
        .carakerja .title-box-red {
            padding: 10px 7px;
        }

            #marketplace .title-box-red h3,
            .carakerja .title-box-red h3 {
                font-size: 20px;
                color: #fff;
                font-weight: 400;
                margin: 0px;
                text-align: left !important;
            }

        #marketplace .mp-logo:first-child {
            margin-left: 60px;
        }

        #marketplace .mp-logo {
            margin-right: 15px;
        }

        .titleSection {
            color: #ed5565;
            font-size: 35px;
            text-align: center;
            font-weight: 500;
        }

        .carakerja {
            padding: 0 0 40px 0;
            background-color: #fff;
        }

            .carakerja h3, .carakerja p {
                font-weight: 300;
                text-align: center;
            }

            .carakerja h3 {
                font-size: 22px;
            }

            .carakerja p {
                font-size: 17px;
                line-height: 24px;
                color: #777;
            }

            .carakerja strong {
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                display: block;
            }

            .carakerja img {
                margin-top: 25px;
            }

        #banner {
            background: url(../../Content/Images/shattered.png) 0 50%;
            min-height: 200px;
            padding: 20px 0;
            text-align: center;
        }

            #banner h2 {
                color: #999;
                font-size: 25px;
                font-weight: 400;
                margin: 30px 0 28px 0;
            }

        footer {
            /*background: #891539;*/
            background: #9d0534;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }

        .title-box-red {
            background: rgba(137,21,57,1);
            background: -moz-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,21,57,1)), color-stop(70%, rgba(137,21,57,1)), color-stop(100%, rgba(255,23,23,1)));
            background: -webkit-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -o-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -ms-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: linear-gradient(to right, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#891539', endColorstr='#ff1717', GradientType=1 );
        }

        .carakerja .content-feature {
            background-color: #f6f6f6;
            padding-bottom: 10px;
        }

        #promo_pulsa {
            display: none; /* Sementara */
            position: absolute;
            width: 20%;
            right: 15px;
            top: 175px;
            z-index: 100;
        }

        .no-padding {
            padding: 0 !important;
        }

        .title-features {
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-title-features {
            font-size: 14px;
            position: absolute;
            top: 30px;
            left: 0;
        }

        .title-features-mobile {
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-title-features-mobile {
            font-size: 11px;
            position: absolute;
            top: 25px;
            left: 0;
        }

        .feature-mobile-row {
            margin-bottom: 30px;
        }

        .btn-basicfree:hover {
            color: #F5F5F5;
            background-color: #891539;
        }

        .btn-basicfree {
            color: #891539;
            background-color: white;
            text-align: center;
            border-radius: 10 1 1 1;
            border: 1px solid #891539;
        }

        .btn-silver:hover {
            color: #F5F5F5;
            background-color: #891539;
        }

        .btn-silver {
            color: #891539;
            background-color: white;
            text-align: center;
            border-radius: 10 1 1 1;
            border: 1px solid #891539;
        }


        .panel-default-noborder {
            border: 1px;
        }

        hr {
            border: 1px solid #891539;
        }

        .table tbody {
            border-left: 1px dashed #FB5D7B;
            border-bottom: 1px dashed #FB5D7B;
        }

            .table thead > tr > th,
            .table tbody > tr > th,
            .table tfoot > tr > th,
            .table thead > tr > td,
            .table tbody > tr > td,
            .table tfoot > tr > td {
                padding: 8px;
                line-height: 1.428571429;
                vertical-align: top;
                border-top: 0px;
            }

            .table tbody > tr > td,
            .table tfoot > tr > td {
                border: 1px dashed #FB5D7B;
            }

        .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
            background: #e2bdd85e;
            border: 1px dashed #FB5D7B;
        }

        .table thead > tr > th {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 0px solid #dddddd;
            border-bottom: 2px solid #891539;
        }



        .glyphicon-ok {
            color: #21b716;
        }

        .glyphicon-remove {
            color: #891539;
        }


        .enterpriseColumn {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: middle;
            border: 2px solid #891539 !important;
            color: #891539;
        }

        footer {
            /*background: #891539;*/
            background: #9d0534;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }

        .hscroll {
            overflow-x: auto; /* Horizontal */
        }

        #soc-med-btn-nav {
            margin-right: 0px;
        }

        @@media (min-width: 320px) and (max-width: 480px) {
            #cover {
                margin-top: 51px !important;
            }

            .videoWrapper iframe {
                top: -90px;
            }

            .header_images2 {
                margin-top: -85px;
            }

            .modal-content {
                margin-top: 225px !important;
            }

            .modal-dialog {
                height: auto !important;
            }

            .title-features-mobile {
                font-size: 10px !important;
            }

            .sub-title-features-mobile {
                font-size: 9px !important;
            }

            .feature-mobile-row {
                margin-bottom: 25px !important;
            }

            #top a span {
                font-size: 12px !important;
            }

            h2.mobile-title {
                padding-top: 20px;
                line-height: 30px;
                font-size: 16px !important;
            }

            #cover p {
                font-size: 14px !important;
            }

            #mobile-app-section {
                margin-top: 25px !important;
            }
        }
    </style>
}x
<div class="container-fluid" style="margin-top:12%">
    <div class="col-md-12 text-center">
        <h2 style="color: #993554; font-size: 25px;">DAFTAR HARGA BERLANGGANAN</h2>
        <h2 class="hidden-md hidden-lg mobile-title">DAFTAR HARGA BERLANGGANAN</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default-noborder">
                <div class="panel panel-body">
                    <div class="hscroll">
                        <table class="table table-striped w-auto">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:left;"></th>
                                    @foreach (var subs in Model?.ListSubs)
                                    {
                                        <th scope="col" style="text-align:center;">@subs.KETERANGAN</th>
                                    }
                                    <th scope="col" style="text-align:center;">PLATINUM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @*<th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;PLAN</th> 'change by nurul 19/2/2019*@
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Plan</th>
                                    <td style="text-align:center;">Free Trial<br>14hari</td>
                                    @foreach (var subs in Model?.ListSubs)
                                    {
                                        if (subs.KODE != "01")
                                        {
                                            <td style="text-align:center;">Rp <label id="lbl_0_@subs.KODE">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA)</label><br>per bulan</td>
                                        }
                                    }
                                    <td style="text-align:center;">CALL</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Pembayaran</th>
                                    <td style="text-align:center; "><a class='btn btn-basicfree' role="button" title="Beli" onclick="clickSub('01','')">DAFTAR</a></td>
                                    @foreach (var subs in Model?.ListSubs)
                                    {
                                        if (subs.KODE != "01")
                                        {
                                            <td style="text-align:center;">
                                                <a class='btn btn-basicfree' role="button" id="btnPay_3_@subs.KODE" title="Beli" onclick="clickSub('@subs.KODE', '3')">
                                                    Rp @(String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 3)) <br>per 3 bulan
                                                </a>
                                            </td>
                                        }
                                    }
                                    <td style="text-align:center;">CALL</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td style="text-align:center;"></td>
                                    @foreach (var subs in Model?.ListSubs)
                                    {
                                        if (subs.KODE != "01")
                                        {
                                            <td style="text-align:center;">
                                                <a class='btn btn-basicfree' role="button" id="btnPay_12_@subs.KODE" title="Beli" onclick="clickSub('@subs.KODE', '12')">
                                                    Rp @(String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 10)) <br>per 12 bulan
                                                </a><br><p style="font-size:12px;color:#891539;">hemat 2 bulan</p>
                                            </td>
                                        }
                                    }
                                    <td style="text-align:center;">CALL</td>
                                </tr>
                                <tr>
                                    @*<th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<b>Market Place Integration</b></th> 'change by nurul 19/2/2019*@
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;<b>Jumlah Marketplace</b></th>
                                    @foreach (var subs in Model?.ListSubs)
                                    {
                                        <td style="text-align:center;">@(subs.JUMLAH_MP >= 99 ? "Unlimited" : subs.JUMLAH_MP.ToString())</td>
                                    }
                                    <td style="text-align:center;">Unlimited</td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Jumlah Pesanan per Bulan</th>
                                    @foreach (var subs in Model?.ListSubs)
                                    {
                                        <td style="text-align:center;">@(subs.JUMLAH_PESANAN >= 999 ? "Unlimited" : subs.JUMLAH_PESANAN.ToString())</td>
                                    }
                                    <td style="text-align:center;">Unlimited</td>
                                </tr>
                                <tr>
                                    @*<th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<b>Market Place Integration</b></th> 'change by nurul 19/2/2019*@
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;<b>Marketplace Integration</b></th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    @*<th scope="row"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Invoicing & Sale Analysis</th> 'change by nurul 19/2/2019*@
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Invoicing & Sales Analysis</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Shipment Management</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Purchasing</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Inventory & Warehouse Management</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Account Receivable (AR)</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Account Payable (AP)</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>

                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;General Ledger (GL)</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;ERP Features
                                    </th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>

                                <tr>
                                    <th scope="row"><span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Multi User & Security</th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    @*<td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                        <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>*@
                                    <td style="text-align:center;">2</td>
                                    <td style="text-align:center;">
                                        <button id="btnMin" style="color:red" onclick="changeUser(-1);"><span class="glyphicon glyphicon-minus"></span></button>
                                        <label id="txtJmlUser" style="margin-left:5px;margin-right: 5px;">5</label>
                                        <button id="btnPlus" style="color:green" onclick="changeUser(1);"><span class="glyphicon glyphicon-plus"></span></button>
                                    </td>
                                    <td style="text-align:center;">CALL</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:left;">ADD ON / PLUGIN</th>
                                    <th scope="col" style="text-align:center;"></th>
                                    <th scope="col" style="text-align:center;"></th>
                                    <th scope="col" style="text-align:center;"></th>
                                    <th scope="col" style="text-align:center;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;82cart
                                    </th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;">Free</td>
                                    <td style="text-align:center;">Free</td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>

                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Shopify
                                    </th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><input class="cbBox02_a" id="cbBox02_silver_a" type="checkbox"><br />Rp 300.000,00<br />per bulan</td>
                                    <td style="text-align:center;"><input class="cbBox03_a" id="cbBox03_gold_a" type="checkbox"><br />Rp 300.000,00<br />per bulan</td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Multi SKU
                                    </th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><input class="cbBox02_b" id="cbBox02_silver_b" type="checkbox"><br />Rp 200.000,00<br />per bulan</td>
                                    <td style="text-align:center;"><input class="cbBox03_b" id="cbBox03_gold_b" type="checkbox"><br />Rp 200.000,00<br />per bulan</td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Data Transfer to FTP
                                    </th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;"><input class="cbBox02_c" id="cbBox02_silver_c" type="checkbox"><br />Rp 300.000,00<br />per bulan</td>
                                    <td style="text-align:center;"><input class="cbBox03_c" id="cbBox03_gold_c" type="checkbox"><br />Rp 300.000,00<br />per bulan</td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span class="glyphicon glyphicon-ok-sign" style="color:#B11339; font-size: 18px;"></span>&nbsp;&nbsp;Bundling (Coming Soon)
                                    </th>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-remove"></span></td>
                                    <td style="text-align:center;">@*<input class="cbBox02_d" id="cbBox02_silver_d" type="checkbox"><br />Rp 300.000,00<br />per bulan*@</td>
                                    <td style="text-align:center;">@*<input class="cbBox03_d" id="cbBox03_gold_d" type="checkbox"><br />Rp 300.000,00<br />per bulan*@</td>
                                    <td style="text-align:center;"><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="text-center" style="margin-top: -15px; border-radius: 10px; padding-top: 40px; padding-bottom: 10px; background: #ffffff6b;">
    <div class="row"><input id="ckBox" type="checkbox" checked="checked" />&nbsp;Saya setuju dengan <a href="/Content/Static/termsandconditions.html#terms"><u>Syarat & Ketentuan</u></a></div>
    <br />
    <img src="~/Content/Images/payment_logo.png" width="25%" />
</div>
<footer>
    <div class="container">
        <div class="col-md-3 col-md-offset-1 col-xs-12 col-sm-12 text-center">
            <a href="http://www.masteronline.co.id">
                <img width="75%" style="display: block; margin: 0 auto;" src="~/Content/Images/MO_new_logo_bottom.png" alt="MasterOnline" class="img-responsive">
            </a><br /><br />
            <span style="color: #f7f7f7">
                PT Erasoft Teknologi Indonesia.<br />
                Jl. Alaydrus No. 37,<br />
                Jakarta Pusat, 10130<br />
                ------------------------
                support@masteronline.co.id<br />
                Tel: 021-634-9318
            </span>
            <br class="hidden-md hidden-lg">
            <br class="hidden-md hidden-lg">
            <div class="container text-center hidden-md hidden-lg">
                <a href="https://web.facebook.com/masteronlineofficial/">
                    <img src="~/Content/Images/facebook-white.jpg" alt="Facebook" width="24" height="24" />
                </a>
                <a href="https://www.instagram.com/masteronlineofficial" style="margin: 0 10px;">
                    <img src="~/Content/Images/Instagram.png" alt="Instagram" width="24" height="24" />
                </a>
                <a href="http://blogmasteronline.wordpress.com/">
                    <img src="~/Content/Images/blog.png" alt="Blog" width="24" height="24" />
                </a>
            </div>
        </div>
        <br class="hidden-md hidden-lg" />
        <div class="footerMenuCol col-md-2 col-sm-6 col-xs-6">
            <h3>Hubungi Kami</h3>
            <ul>
                <li><a href="mailto:support@masteronline.co.id">Email</a></li>
                <li><a href="https://web.facebook.com/masteronlineofficial/">Facebook</a></li>
                <li><a href="https://www.instagram.com/masteronlineofficial">Instagram</a></li>
                @*add by nurul 13/8/2018 (tambah blog)*@
                <li><a href="http://blogmasteronline.wordpress.com/">Blog</a></li>
                <li><a href="https://www.youtube.com/channel/UCFQSo4VeQKGhUgk7nuqowuQ">Youtube</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="footerMenuCol col-md-2 col-sm-6 col-xs-6">
                <h3>Dukungan</h3>
                <ul>
                    @*<li><a href="@Url.Content("~/MO_Panduan.pdf")" target="_blank">Panduan Pemakaian</a></li> 'remark by nurul, dipindah ke setelah login*@
                    <li><a href="/Home/FAQ">FAQ</a></li>
                </ul>
            </div>
            <div class="footerMenuCol col-md-2 col-sm-6 col-xs-6">
                <h3>Kebijakan</h3>
                <ul>
                    <li><a href="~/Content/Static/termsandconditions.html">Privasi</a></li>
                    <li><a href="~/Content/Static/termsandconditions.html#security">Keamanan</a></li>
                    <li><a href="~/Content/Static/termsandconditions.html#terms">Syarat dan Ketentuan</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery.number.js"></script>
@*<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script type="text/javascript">
    //var addonsArray = [{ "addons": "82Cart", "harga": 0 }];
    var addonsArray = []; //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
    $(document).ready(function () {
        $(".cbBox02_a").change(function () {
            if ($("#cbBox02_silver_a")[0].checked == true) {
                $("#cbBox02_silver_a").prop('checked', true);
                $(this).prop('checked', true);
                checkPlugin02(300000);
                //addonsArray.push({ "addons": "Shopify", "harga": 300000 });
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.push("2");
                addonsArray.push("3"); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            } else if ($("#cbBox02_silver_a")[0].checked == false) {
                $("#cbBox02_silver_a").prop('checked', false);
                $(this).prop('checked', false);
                checkPlugin02(-300000);
                //addonsArray.splice(addonsArray.indexOf("Shopify"), 1);
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.splice(addonsArray.indexOf("3"), 1); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            }
        });

        $(".cbBox02_b").change(function () {
            if ($("#cbBox02_silver_b")[0].checked == true) {
                $("#cbBox02_silver_b").prop('checked', true);
                $(this).prop('checked', true);
                checkPlugin02(200000);
                //addonsArray.push({ "addons": "Multi SKU", "harga": 300000 });
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.push("2");
                addonsArray.push("4"); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            } else if ($("#cbBox02_silver_b")[0].checked == false) {
                $("#cbBox02_silver_b").prop('checked', false);
                $(this).prop('checked', false);
                checkPlugin02(-200000);
                //addonsArray.splice(addonsArray.indexOf("Multi SKU"), 1);
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.splice(addonsArray.indexOf("4"), 1); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            }
        });

        $(".cbBox02_c").change(function () {
            if ($("#cbBox02_silver_c")[0].checked == true) {
                $("#cbBox02_silver_c").prop('checked', true);
                $(this).prop('checked', true);
                checkPlugin02(300000);
                //addonsArray.push({ "addons": "Shopify", "harga": 300000 });
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.push("2");
                addonsArray.push("5"); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            } else if ($("#cbBox02_silver_c")[0].checked == false) {
                $("#cbBox02_silver_c").prop('checked', false);
                $(this).prop('checked', false);
                checkPlugin02(-300000);
                //addonsArray.splice(addonsArray.indexOf("Shopify"), 1);
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.splice(addonsArray.indexOf("5"), 1); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            }
        });

        $(".cbBox03_a").change(function () {
            if ($("#cbBox03_gold_a")[0].checked == true) {
                $("#cbBox03_gold_a").prop('checked', true);
                $(this).prop('checked', true);
                checkPlugin03(300000);
                //addonsArray.push({ "addons": "Shopify", "harga": 300000 });
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.push("2");
                addonsArray.push("3"); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            } else if ($("#cbBox03_gold_a")[0].checked == false) {
                $("#cbBox03_gold_a").prop('checked', false);
                $(this).prop('checked', false);
                checkPlugin03(-300000);
                //addonsArray.splice(addonsArray.indexOf("Shopify"), 1);
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.splice(addonsArray.indexOf("3"), 1); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            }
        });

        $(".cbBox03_b").change(function () {
            if ($("#cbBox03_gold_b")[0].checked == true) {
                $("#cbBox03_gold_b").prop('checked', true);
                $(this).prop('checked', true);
                checkPlugin03(200000);
                //addonsArray.push({ "addons": "Multi SKU", "harga": 300000 });
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.push("2");
                addonsArray.push("4"); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            } else if ($("#cbBox03_gold_b")[0].checked == false) {
                $("#cbBox03_gold_b").prop('checked', false);
                $(this).prop('checked', false);
                checkPlugin03(-200000);
                //addonsArray.splice(addonsArray.indexOf("Multi SKU"), 1);
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.splice(addonsArray.indexOf("4"), 1); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            }
        });

        $(".cbBox03_c").change(function () {
            if ($("#cbBox03_gold_c")[0].checked == true) {
                $("#cbBox03_gold_c").prop('checked', true);
                $(this).prop('checked', true);
                checkPlugin03(300000);
                //addonsArray.push({ "addons": "Multi SKU", "harga": 300000 });
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.push("2");
                addonsArray.push("5"); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            } else if ($("#cbBox03_gold_c")[0].checked == false) {
                $("#cbBox03_gold_c").prop('checked', false);
                $(this).prop('checked', false);
                checkPlugin03(-300000);
                //addonsArray.splice(addonsArray.indexOf("Multi SKU"), 1);
                addonsArray.splice(addonsArray.indexOf("2"), 1);
                addonsArray.splice(addonsArray.indexOf("5"), 1); //2	82Cart, 3	Shopify, 4	Multi SKU, 5	Data Transfer FTP, 6	Bundling
            }
        });

    });

    function convertToRupiah(angka) {
        //change by calvin 26 september 2018
        var rupiah = '';
        var angkarev = angka.toString().split('').reverse().join('');
        for (var i = 0; i < angkarev.length; i++) if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.';
        return rupiah.split('', rupiah.length - 1).reverse().join('') + ',00';
        //return $.number(angka, 2, ',', '.');
        //end change by calvin 26 september 2018
    }

    String.prototype.replaceAll = function (searchStr, replaceStr) {
        var str = this;

        // escape regexp special characters in search string
        searchStr = searchStr.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');

        return str.replace(new RegExp(searchStr, 'gi'), replaceStr);
    };

    function convertToAngka(rupiah) {

        //change by calvin 26 september 2018
        //return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
        return parseFloat(rupiah.replaceAll('.', '').replaceAll(',', '.'));
        //end change by calvin 26 september 2018
    }
    function changeUser(val) {
        if (val == -1 && $('#txtJmlUser')[0].innerText == 5) {
            return;
        }
        var currentUser = parseInt($('#txtJmlUser')[0].innerText);
        var cost = convertToAngka($('#lbl_0_03')[0].innerText);
        var newCost = cost + (100000 * val);
        $('#txtJmlUser')[0].innerText = currentUser + val;
        $('#lbl_0_03')[0].innerText = convertToRupiah(newCost);
        $('#btnPay_3_03')[0].innerText = 'Rp ' + convertToRupiah(newCost * 3) + '\n per 3 bulan';
        $('#btnPay_12_03')[0].innerText = 'Rp ' + convertToRupiah(newCost * 10) + '\n per 12 bulan';

    }

    function clickSub(kode, bln) {
        if ($('#ckBox')[0].checked) {
            var queryString = "";
            queryString = addonsArray.join(',');
            //var arrStr = encodeURIComponent(JSON.stringify(addonsArray));
            //for (var i = 0; i < addonsArray.length; ++i) {
            //    queryString += addonsArray[i] + "&";
            //}
            //queryString = queryString.substr(0, queryString.length - 1);
            //$.each(addonsArray, function(i, v) {
            //    var queryString = Object.keys(addonsArray[i]).map(key => key + '=' + addonsArray[i][key]).join('&');
            //});

            debugger;
            var url = '@Url.Action("loginSubs", "Account")';
            url += "?Ref=" + '@referral' + "&kode=" + kode + "&bln=" + bln + "&jmlUser=" + $('#txtJmlUser')[0].innerText + "&addons=" + queryString;
            window.location.href = url;
        } else {
            alert('Anda harus menyetujui Syarat & Ketentuan');
        }
    }

    function checkPlugin02(value) {
        var plugins = [];
        plugins.push(value);
        var sum = plugins.reduce(function (a, b) { return a + b; }, 0);
        var costAddons = convertToAngka($('#lbl_0_02')[0].innerText);
        var newCostAddons = (costAddons + sum);
        $('#lbl_0_02')[0].innerText = convertToRupiah(newCostAddons);
        $('#btnPay_3_02')[0].innerText = 'Rp ' + convertToRupiah(newCostAddons * 3) + '\n per 3 bulan';
        $('#btnPay_12_02')[0].innerText = 'Rp ' + convertToRupiah(newCostAddons * 10) + '\n per 12 bulan';
    }

    function checkPlugin03(value) {
        var jmlUser = $('#txtJmlUser').val();
        var plugins = [];
        plugins.push(value);
        var sum = plugins.reduce(function (a, b) { return a + b; }, 0);
        var costAddons = convertToAngka($('#lbl_0_03')[0].innerText);
        var newCostAddons = costAddons + (100000 * jmlUser) + sum;
        $('#lbl_0_03')[0].innerText = convertToRupiah(newCostAddons);
        $('#btnPay_3_03')[0].innerText = 'Rp ' + convertToRupiah(newCostAddons * 3) + '\n per 3 bulan';
        $('#btnPay_12_03')[0].innerText = 'Rp ' + convertToRupiah(newCostAddons * 10) + '\n per 12 bulan';
    }

</script>
