@using System.Globalization
@using MasterOnline.ViewModels
@model StokOpnameViewModel
@{
    var context = new MoDbContext("");
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    var username = "";
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account?.Username;
    }
    if (username.Length > 20)
    {
        username = username.Substring(0, 17) + "...";
    }
}

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.StokOpname.ID)
@Html.HiddenFor(m => m.StokOpname.USERNAME, new { Value = username })
@Html.HiddenFor(m => m.StokOpname.POSTING, new { Value = "0" })

<style>
    @@media screen and (max-width: 325px) {
        .brgtblstkopnamefrm {
            width: 35%;
        }
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        Initialize();
    });
</script>

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(m => m.StokOpname.NOBUK, "No. Bukti", new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.HiddenFor(m => m.StokOpname.NOBUK)
                    @if (Model.StokOpname != null)
                    {
                        <input type="text" value="@Model.StokOpname.NOBUK" disabled class="form-control" />
                    }
                    else
                    {
                        <input type="text" value="[AUTO]" disabled class="form-control" />
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StokOpname.TGL, "Tanggal", new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group date">
                        @Html.TextBoxFor(m => m.StokOpname.TGL, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12 text-right">Gudang</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.HiddenFor(m => m.StokOpname.GUD)
                    @if (Model.StokOpname != null)
                    {
                        <input type="text" value="@Model.StokOpname.NAMA_GUDANG" disabled class="form-control" />
                    }
                    else
                    {
                        <div id="gudang-select">
                            <select id="GUDANG" placeholder="Pilih" required="required"></select>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Status Proses</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @if (Model.StokOpname != null)
                    {
                        if (Model.StokOpname.POSTING == "1")
                        {
                            <input id="statpros" type="text" style="width:100px" value="Sudah" disabled class="form-control" />
                        }
                        else
                        {
                            <input id="statpros" type="text" style="width:100px" value="Belum" disabled class="form-control" />
                        }
                    }
                    else
                    {
                        <input type="text" value="Input" disabled class="form-control" />
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">&nbsp;</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8 col-sm-8 col-xs-12">
                    @if (Model.StokOpname != null)
                    {
                        if (Model.StokOpname.POSTING == "1")
                        {
                            <button class="btn btn-primary pull-right" id="prosesSOpname" disabled>Proses</button>
                        }
                        else
                        {
                            <button class="btn btn-primary pull-right" id="prosesSOpname" type="button" data-toggle="modal" data-target="#konfProsesSop" onclick="passNobuk('@Model.StokOpname.ID')">Proses</button>
                        }
                    }
                    else
                    {

                        <button class="btn btn-primary pull-right" id="prosesSOpname" disabled>Proses</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>

@Html.HiddenFor(m => m.BarangStokOpname.USERNAME, new { Value = username })

<div class="row" style="margin-top: 15px;">
    <div class="col-lg-12">
        <div class="brgtblstkopnamefrm">
            <h5 class="pull-right" style="margin-top: 0;">Mata uang Rupiah (IDR)</h5>
            <table id="table_tambah_stok" class="table table-bordered" role="grid">
                <thead>
                    <tr>
                        <th>Kode Brg</th>
                        <th>Nama Brg</th>
                        <th>Qty</th>
                        <th>Simpan</th>
                        <th>Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var listBarang = Model.ListBarang.ToList();
                        var iPd = 0;
                    }
                    @foreach (var stokop in Model.ListBarangStokOpname.Where(pb => pb.NOBUK == Model?.StokOpname?.NOBUK))
                    {
                        <tr data-barang-id="brg-@stokop.No">
                            <td>
                                @stokop.Brg
                            </td>
                            <td class="nama-barang">
                                @{
                                    var nm = "";
                                    var nm2 = "";
                                    if (listBarang.SingleOrDefault(b => b.BRG == stokop.Brg) != null)
                                    {
                                        nm = listBarang.SingleOrDefault(b => b.BRG == stokop.Brg).NAMA;
                                        nm2 = listBarang.SingleOrDefault(b => b.BRG == stokop.Brg)?.NAMA2;
                                    }
                                }
                                @nm @nm2
                            </td>
                            <td class="qty-barang">
                                @stokop.Qty
                            </td>
                            <td class="edit-hapus-col">
                                <button type="button" class="btn btn-primary" disabled="disabled">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td class="edit-hapus-col">
                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#konfHapusBarang" onclick="passBarangInDb('@stokop.No')">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        iPd = iPd + 1;
                    }
                    <tr data-stok-id="0">
                        @Html.HiddenFor(m => m.BarangStokOpname.No)
                        @Html.HiddenFor(m => m.BarangStokOpname.NOBUK, new { Value = "-" })
                        @Html.HiddenFor(m => m.BarangStokOpname.Tgl, new { Value = DateTime.Now.ToString("dd/MM/yyyy") })
                        <td style="width: 200px; max-width: 200px;">
                            <div id="BRG" class="selectivity-input" tabindex="0"></div>
                            @Html.HiddenFor(m => m.BarangStokOpname.Brg)
                        </td>
                        <td class="nama-barang" style="width: 400px; max-width: 400px;">-</td>
                        <td class="qty-barang">
                            0
                            @Html.HiddenFor(m => m.BarangStokOpname.Qty)
                        </td>
                        <td class="edit-hapus-col">
                            <button type="button" class="btn btn-primary" disabled="disabled" onclick="simpanbrgsop('brg-0')">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td class="edit-hapus-col">
                            <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#konfHapusBarang">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>