@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.PengirimanViewModel
@{
    ViewBag.Title = "Cetak Pengiriman";
    Layout = null;

    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext();
    if (dataSession?.User != null)
    {
        var accId = context.User.SingleOrDefault(u => u.Username == dataSession.User.Username)?.AccountId;
        username = context.Account.SingleOrDefault(a => a.AccountId == accId)?.Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
    if (username.Length > 20)
    {
        username = username.Substring(0, 17) + "...";
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Situs Jualan Online Terpusat</title>
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css" media="print">
    
    <style>
        body {
            background-color: #F7F7F7;
            font-family: 'Roboto Condensed', sans-serif;
            color: #606060;
        }

        #faktur_viewer {
            padding: 20px;
        }

        #fake_page {
            background-color: #fff;
            padding: 10px;
        }

        .bold_title {
            font-weight: bold;
            padding-top: 20px;
            font-size: 24px;
            height: 59px;
        }

        .bold_title_invoice {
            font-weight: bold;
            padding-top: 20px;
            font-size: 36px;
        }

        .sub_title {
            font-size: 16px;
        }

        .block_subtitle {
            display: inline-block;
            width: 80px;
            font-weight: bold;
        }

        .block_subtitle_label {
            display: inline-block;
            width: 135px;
            font-weight: bold;
        }

        hr {
            border: solid 1.5px #eee;
            margin: 15px 0 10px 0;
        }

        #rincian_faktur > thead > tr:not(:last-child) > th {
            border-top: 0;
            border-bottom: 0;
        }

        #rincian_faktur > thead > tr:first-child > th {
            border-top: solid 1px #ddd;
        }

        #garis_potong {
            border: dashed 1.5px #606060;
            margin: 12px 0;
        }

        #print-btn {
            /*position: absolute;
            top: 20px;
            right: 20px;*/
        }

        #barang-faktur > tr > td {
            border-top: none;
        }
    </style>
    <style type="text/css">
        @@media print {
            @@page {
                size: A4 portrait;
                margin: 0;
                width: 210mm;
                height: 297mm;
            }

            body * {
                page: initial;
                position: initial;
                margin: 0;
                padding: 0;
            }
        }
    </style>
</head>
<body class="A4">
    <div id="faktur_viewer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" id="fake_page">
                    @if (Model.Pengiriman != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <button id="print-btn" class="btn btn-success pull-right">Cetak</button>
                            </div>
                        </div>
                        <div class="row center" >
                            <h1 class="text-center">BUKTI PENGIRIMAN</h1>
                        </div>
                        <br />
                        <div hidden="hidden">
                            @Html.Label(Model.NamaToko, new { @id = "nm_toko" })
                            @Html.Label(Model.TlpToko, new { @id = "no_toko" })
                        </div>
                        <div id="div_faktur">
                            <div class="row">
                                <div class="col-md-12">
                                    <table cellpadding="0">
                                        <tr>
                                            <td @*style="width:500px"*@>
                                                <table class="table-hover">
                                                    <tr>
                                                        <td style="text-align:left; "  width="500px">
                                                            <div style="background-color:lightskyblue;">
                                                                <span style="color:white; font-size:16px;  text-decoration-line:underline; margin-left:10px ; ">Detail Pengiriman :</span>
                                                            </div>
                                                        </td>
                                                        <td style="text-align:left; width:500px">
                                                            <div id="nama_faktur"><h3 style="padding-top:unset; margin-left:10px"><span id="nama_toko"><b>@Model.NamaToko</b></span></h3></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td @*colspan="2"*@ width="500px">
                                                            <span class="block_subtitle" style="margin-left:10px">No. Bukti</span> @Model.Pengiriman.NO_BUKTI
                                                        </td>
                                                        <td style="text-align:left; width:500px">
                                                            <div id="alamat_faktur" class="col-md-12"><span>@Model.AlamatToko</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td @*colspan="2"*@ style="text-align:left; width:500px">
                                                            <span class="block_subtitle" style="margin-left:10px">Tgl Kirim</span> @(Model.Pengiriman.TGL_KIRIM?.ToString("dd/MM/yyyy")) @(Model.Pengiriman.JAM_KIRIM?.ToString("HH:mm"))
                                                        </td>
                                                        <td style="text-align:left; width:500px">
                                                            <div id="tlp_faktur" class="col-md-12"><span id="tlp_toko">@Model.TlpToko</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="block_subtitle" style="margin-left:10px">Kurir</span> @Model.NamaKurir
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <span class="block_subtitle" style="margin-left:10px">Nama Kurir</span> @Model.Pengiriman.NAMA_KURIR
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <table class="table">
                                @*<thead>*@
                                <tr>
                                    <th>Pesanan</th>
                                    <th>Marketplace</th>
                                    <th>Pembeli</th>
                                    <th>Alamat</th>
                                    <th>Kurir</th>
                                </tr>
                                @*</thead>*@
                                <tbody id="barang-faktur">
                                    @foreach (var KirimDetail in Model.ListPengirimanDetail)
                                    {
                                        var kurir = Model?.Shipment?.SingleOrDefault(a => a.NO_BUKTI == KirimDetail.PESANAN)?.SHIPMENT;
                                        <tr>
                                            <td>
                                                @KirimDetail.PESANAN
                                            </td>
                                            <td >
                                                @KirimDetail.NAMA_MARKET
                                            </td>
                                            <td >
                                                @KirimDetail.NAMA_PEMBELI
                                            </td>
                                            <td >
                                                @KirimDetail.ALAMAT_KIRIM @KirimDetail.KOTA @KirimDetail.PROPINSI @KirimDetail.KODE_POS
                                            </td>
                                            <td>
                                                @kurir
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <hr />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script>
        
        $(document).ready(function () {
            $('#print-btn').click(function () {
                $('#print-btn').hide();
                window.print();
            });

            window.onafterprint = function () {
                $('#print-btn').show();
            }
        });
    </script>

</body>
</html>