@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.UploadBarangViewModel
@{
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext();
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        //context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}
<div class="hiddenField">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TempBrg.BERAT)
    @Html.HiddenFor(m => m.TempBrg.PANJANG)
    @Html.HiddenFor(m => m.TempBrg.LEBAR)
    @Html.HiddenFor(m => m.TempBrg.TINGGI)
    @Html.HiddenFor(m => m.TempBrg.DeliveryTempElevenia)
    @Html.HiddenFor(m => m.TempBrg.Deskripsi)
    @Html.HiddenFor(m => m.TempBrg.IDMARKET)
    @Html.HiddenFor(m => m.TempBrg.CATEGORY_CODE)
    @Html.HiddenFor(m => m.TempBrg.CATEGORY_NAME)
    @Html.HiddenFor(m => m.TempBrg.PICKUP_POINT)
    @Html.HiddenFor(m => m.TempBrg.CUST)
    @Html.HiddenFor(m => m.TempBrg.DISPLAY)
    @Html.HiddenFor(m => m.TempBrg.ACODE_1)
    @Html.HiddenFor(m => m.TempBrg.ANAME_1)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_1)
    @Html.HiddenFor(m => m.TempBrg.ACODE_2)
    @Html.HiddenFor(m => m.TempBrg.ANAME_2)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_2)
    @Html.HiddenFor(m => m.TempBrg.ACODE_3)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_3)
    @Html.HiddenFor(m => m.TempBrg.ANAME_3)
    @Html.HiddenFor(m => m.TempBrg.ACODE_4)
    @Html.HiddenFor(m => m.TempBrg.ANAME_4)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_4)
    @Html.HiddenFor(m => m.TempBrg.ACODE_5)
    @Html.HiddenFor(m => m.TempBrg.ANAME_5)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_5)
    @Html.HiddenFor(m => m.TempBrg.ACODE_6)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_6)
    @Html.HiddenFor(m => m.TempBrg.ANAME_6)
    @Html.HiddenFor(m => m.TempBrg.ACODE_7)
    @Html.HiddenFor(m => m.TempBrg.ANAME_7)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_7)
    @Html.HiddenFor(m => m.TempBrg.ACODE_8)
    @Html.HiddenFor(m => m.TempBrg.ANAME_8)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_8)
    @Html.HiddenFor(m => m.TempBrg.ACODE_9)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_9)
    @Html.HiddenFor(m => m.TempBrg.ANAME_9)
    @Html.HiddenFor(m => m.TempBrg.ACODE_10)
    @Html.HiddenFor(m => m.TempBrg.ANAME_10)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_10)
    @Html.HiddenFor(m => m.TempBrg.ACODE_11)
    @Html.HiddenFor(m => m.TempBrg.ANAME_11)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_11)
    @Html.HiddenFor(m => m.TempBrg.ACODE_12)
    @Html.HiddenFor(m => m.TempBrg.ANAME_12)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_12)
    @Html.HiddenFor(m => m.TempBrg.ACODE_13)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_13)
    @Html.HiddenFor(m => m.TempBrg.ANAME_13)
    @Html.HiddenFor(m => m.TempBrg.ACODE_14)
    @Html.HiddenFor(m => m.TempBrg.ANAME_14)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_14)
    @Html.HiddenFor(m => m.TempBrg.ACODE_15)
    @Html.HiddenFor(m => m.TempBrg.ANAME_15)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_15)
    @Html.HiddenFor(m => m.TempBrg.ACODE_16)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_16)
    @Html.HiddenFor(m => m.TempBrg.ANAME_16)
    @Html.HiddenFor(m => m.TempBrg.ACODE_17)
    @Html.HiddenFor(m => m.TempBrg.ANAME_17)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_17)
    @Html.HiddenFor(m => m.TempBrg.ACODE_18)
    @Html.HiddenFor(m => m.TempBrg.ANAME_18)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_18)
    @Html.HiddenFor(m => m.TempBrg.ACODE_19)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_19)
    @Html.HiddenFor(m => m.TempBrg.ANAME_19)
    @Html.HiddenFor(m => m.TempBrg.ACODE_20)
    @Html.HiddenFor(m => m.TempBrg.ANAME_20)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_20)
    @Html.HiddenFor(m => m.TempBrg.ACODE_21)
    @Html.HiddenFor(m => m.TempBrg.ANAME_21)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_21)
    @Html.HiddenFor(m => m.TempBrg.ACODE_22)
    @Html.HiddenFor(m => m.TempBrg.ANAME_22)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_22)
    @Html.HiddenFor(m => m.TempBrg.ACODE_23)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_23)
    @Html.HiddenFor(m => m.TempBrg.ANAME_23)
    @Html.HiddenFor(m => m.TempBrg.ACODE_24)
    @Html.HiddenFor(m => m.TempBrg.ANAME_24)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_24)
    @Html.HiddenFor(m => m.TempBrg.ACODE_25)
    @Html.HiddenFor(m => m.TempBrg.ANAME_25)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_25)
    @Html.HiddenFor(m => m.TempBrg.ACODE_26)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_26)
    @Html.HiddenFor(m => m.TempBrg.ANAME_26)
    @Html.HiddenFor(m => m.TempBrg.ACODE_27)
    @Html.HiddenFor(m => m.TempBrg.ANAME_27)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_27)
    @Html.HiddenFor(m => m.TempBrg.ACODE_28)
    @Html.HiddenFor(m => m.TempBrg.ANAME_28)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_28)
    @Html.HiddenFor(m => m.TempBrg.ACODE_29)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_29)
    @Html.HiddenFor(m => m.TempBrg.ANAME_29)
    @Html.HiddenFor(m => m.TempBrg.ACODE_30)
    @Html.HiddenFor(m => m.TempBrg.ANAME_30)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_30)
    @Html.HiddenFor(m => m.TempBrg.ACODE_31)
    @Html.HiddenFor(m => m.TempBrg.ANAME_31)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_31)
    @Html.HiddenFor(m => m.TempBrg.ACODE_32)
    @Html.HiddenFor(m => m.TempBrg.ANAME_32)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_32)
    @Html.HiddenFor(m => m.TempBrg.ACODE_33)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_33)
    @Html.HiddenFor(m => m.TempBrg.ANAME_33)
    @Html.HiddenFor(m => m.TempBrg.ACODE_34)
    @Html.HiddenFor(m => m.TempBrg.ANAME_34)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_34)
    @Html.HiddenFor(m => m.TempBrg.ACODE_35)
    @Html.HiddenFor(m => m.TempBrg.ANAME_35)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_35)
    @Html.HiddenFor(m => m.TempBrg.ACODE_36)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_36)
    @Html.HiddenFor(m => m.TempBrg.ANAME_36)
    @Html.HiddenFor(m => m.TempBrg.ACODE_37)
    @Html.HiddenFor(m => m.TempBrg.ANAME_37)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_37)
    @Html.HiddenFor(m => m.TempBrg.ACODE_38)
    @Html.HiddenFor(m => m.TempBrg.ANAME_38)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_38)
    @Html.HiddenFor(m => m.TempBrg.ACODE_39)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_39)
    @Html.HiddenFor(m => m.TempBrg.ANAME_39)
    @Html.HiddenFor(m => m.TempBrg.ACODE_40)
    @Html.HiddenFor(m => m.TempBrg.ANAME_40)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_40)
    @Html.HiddenFor(m => m.TempBrg.ACODE_41)
    @Html.HiddenFor(m => m.TempBrg.ANAME_41)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_41)
    @Html.HiddenFor(m => m.TempBrg.ACODE_42)
    @Html.HiddenFor(m => m.TempBrg.ANAME_42)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_42)
    @Html.HiddenFor(m => m.TempBrg.ACODE_43)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_43)
    @Html.HiddenFor(m => m.TempBrg.ANAME_43)
    @Html.HiddenFor(m => m.TempBrg.ACODE_44)
    @Html.HiddenFor(m => m.TempBrg.ANAME_44)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_44)
    @Html.HiddenFor(m => m.TempBrg.ACODE_45)
    @Html.HiddenFor(m => m.TempBrg.ANAME_45)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_45)
    @Html.HiddenFor(m => m.TempBrg.ACODE_46)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_46)
    @Html.HiddenFor(m => m.TempBrg.ANAME_46)
    @Html.HiddenFor(m => m.TempBrg.ACODE_47)
    @Html.HiddenFor(m => m.TempBrg.ANAME_47)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_47)
    @Html.HiddenFor(m => m.TempBrg.ACODE_48)
    @Html.HiddenFor(m => m.TempBrg.ANAME_48)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_48)
    @Html.HiddenFor(m => m.TempBrg.ACODE_49)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_49)
    @Html.HiddenFor(m => m.TempBrg.ANAME_49)
    @Html.HiddenFor(m => m.TempBrg.ACODE_50)
    @Html.HiddenFor(m => m.TempBrg.ANAME_50)
    @Html.HiddenFor(m => m.TempBrg.AVALUE_50)

    @Html.HiddenFor(m => m.Stf02.ID)
    @Html.HiddenFor(m => m.Stf02.HPP, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.HBELI, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.HBESAR, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.HKECIL, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.TYPE, new { Value = 3 })
    @Html.HiddenFor(m => m.Stf02.KLINK, new { Value = 1 })
    @Html.HiddenFor(m => m.Stf02.HP_STD, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.QPROD, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.ISI3, new { Value = 3 })
    @Html.HiddenFor(m => m.Stf02.ISI4, new { Value = 1 })
    @Html.HiddenFor(m => m.Stf02.TOLERANSI, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.H_STN_3, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.H_STN_4, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.SS, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.METODA_HPP_PER_SN, new { Value = false })
    @Html.HiddenFor(m => m.Stf02.HNA_PPN, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.LABA, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.DEFAULT_STN_HRG_JUAL, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.DEFAULT_STN_JUAL, new { Value = 0 })
    @Html.HiddenFor(m => m.Stf02.USERNAME, new { Value = username })
    @Html.HiddenFor(m => m.Stf02.ISI, new { Value = 1 })
    @Html.HiddenFor(m => m.Stf02.STN)
    @Html.HiddenFor(m => m.Stf02.Metoda, new { Value = "1" })
    @Html.HiddenFor(m => m.Stf02.Tgl_Input, new { Value = DateTime.Now.ToString("dd/MM/yyyy") })
    @Html.HiddenFor(m => m.Stf02.TGL_KLR, new { Value = DateTime.Now.ToString("dd/MM/yyyy") })
</div>

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 16px">Detail Barang di Marketplace</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TempBrg.BRG_MP, "Kode Barang di Marketplace", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.HiddenFor(m => m.TempBrg.BRG_MP)
                            @*@Html.TextBoxFor(m => m.TempBrg.BRG_MP, new { @class = "form-control", maxlength = 20 })*@
                            <input class="form-control" value="@Model.TempBrg.BRG_MP" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TempBrg.NAMA, "Nama Barang", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.HiddenFor(m => m.TempBrg.NAMA)
                            @*@Html.TextBoxFor(m => m.TempBrg.NAMA, new { @class = "form-control", maxlength = 30, disabled = "disabled" })*@
                            <input class="form-control" value="@Model.TempBrg.NAMA" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.HiddenFor(m => m.TempBrg.NAMA2)
                            @*@Html.TextBoxFor(m => m.TempBrg.NAMA2, new { @class = "form-control", maxlength = 30, disabled = "disabled" })*@
                            <input class="form-control" value="@Model.TempBrg.NAMA2" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TempBrg.MEREK, "Merek", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.HiddenFor(m => m.TempBrg.MEREK)
                            @*@Html.TextBoxFor(m => m.TempBrg.MEREK, new { @class = "form-control", maxlength = 30, disabled = "disabled" })*@
                            <input class="form-control" value="@Model.TempBrg.MEREK" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TempBrg.HJUAL, "Harga Jual", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.HiddenFor(m => m.TempBrg.HJUAL)
                            @*@(Model?.TempBrg != null ? Html.TextBoxFor(m => m.TempBrg.HJUAL, new { @class = "form-control", Value = String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", Model.TempBrg.HJUAL), disabled = "disabled", maxlength = "12" }) : Html.TextBoxFor(m => m.TempBrg.HJUAL, new { @class = "form-control", Value = "0,00", required = "required", maxlength = "12" }))*@
                            <input class="form-control" value="@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", Model.TempBrg.HJUAL)" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="font-size: 16px">Upload Barang ke Master Online</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group">
                        @*<div class="col-md-3 col-sm-3 col-xs-12">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode Barang MO *</label>
                            </div>*@
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode Barang MO *</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <table>
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.Stf02.BRG)
                                        <input maxlength="20" value="" class="form-control" id="txtBrg" name="txtBrg" type="text" onchange="AutoCompleteBrg();">
                                    </td>
                                    <td>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="height: 34px;" onclick="PromptBarang();">
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label>Nama Barang *</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input data-val="true" class="form-control" data-val-length-max="30" id="txtNama" name="txtNama" maxlength="30" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input data-val="true" class="form-control" data-val-length-max="30" id="txtNama2" name="txtNama2" maxlength="30" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label>Satuan *</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input data-val="true" class="form-control" data-val-length-max="5" id="txtStn" name="txtStn" maxlength="5" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label>Kategori Barang *</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="KATEGORI" placeholder="Harap pilih" tabindex="-1" class="selectized" style="display: none;">
                                    <option value="" selected="selected"></option>
                                </select>
                                <div class="selectize-control single">
                                    <div class="selectize-input items required invalid not-full has-options">
                                        <input type="text" autocomplete="off" tabindex="" id="KATEGORI-selectized" placeholder="Harap pilih" required="" style="width: 66px;">
                                    </div>
                                    <div class="selectize-dropdown single" style="display: none; width: 457px; top: 36px; left: 0px;">
                                        <div class="selectize-dropdown-content"></div>
                                    </div>
                                    <input name="txtSort1" id="txtSort1" style="visibility:hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label>Merek Barang *</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="MEREK" placeholder="Harap pilih" tabindex="-1" class="selectized" style="display: none;">
                                    <option value="" selected="selected"></option>
                                </select>
                                <div class="selectize-control single">
                                    <div class="selectize-input items required invalid not-full has-options">
                                        <input type="text" autocomplete="off" tabindex="" id="MEREK-selectized" placeholder="Harap pilih" required="" style="width: 66px;">
                                    </div>
                                    <div class="selectize-dropdown single" style="display: none; width: 457px; top: 36px; left: 0px;">
                                        <div class="selectize-dropdown-content"></div>
                                    </div>
                                    <input name="txtSort2" id="txtSort2" style="visibility:hidden" />
                                </div>
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.NAMA, "Nama Barang *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Stf02.NAMA, new { @class = "form-control", maxlength = 30, required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Stf02.NAMA2, new { @class = "form-control", maxlength = 30 })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.Sort1, "Kategori Barang *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="KATEGORI" placeholder="Harap pilih" required="required"></select>
                            @Html.HiddenFor(m => m.Stf02.Sort1)
                            @Html.HiddenFor(m => m.Stf02.KET_SORT1)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.Sort2, "Merk Barang *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="MERK" placeholder="Harap pilih" required="required"></select>
                            @Html.HiddenFor(m => m.Stf02.Sort2)
                            @Html.HiddenFor(m => m.Stf02.KET_SORT2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.STN2, "Satuan Barang *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Stf02.STN2, new { @class = "form-control", maxlength = 5, required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.MINI, "Stok Minimum *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            @*@Html.TextBoxFor(m => m.Stf02.MINI, new { @class = "form-control limited_number_textbox", type = "number", min = 1, required = "required", max = 999, maxlength = 3 })*@
                            @Html.TextBoxFor(m => m.Stf02.MINI, new { @class = "form-control limited_number_textbox num-only", min = 1, required = "required", max = 999, maxlength = 3 })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.MAXI, "Stok Maksimum *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            @*@Html.TextBoxFor(m => m.Stf02.MAXI, new { @class = "form-control limited_number_textbox", type = "number", min = 1, required = "required", max = 999, maxlength = 3 })*@
                            @Html.TextBoxFor(m => m.Stf02.MAXI, new { @class = "form-control limited_number_textbox num-only", min = 1, required = "required", max = 999, maxlength = 3 })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.Deskripsi, "Deskripsi *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextAreaFor(m => m.Stf02.Deskripsi, new { @class = "form-control", required = "required", minlength = 30 })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.HJUAL, "Harga Jual *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @(Model?.Stf02 != null ? Html.TextBoxFor(m => m.Stf02.HJUAL, new { @class = "form-control", @onblur = "ConvertToAngkaRupiah(this);", Value = String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", Model.Stf02.HJUAL), required = "required", maxlength = "12" }) : Html.TextBoxFor(m => m.Stf02.HJUAL, new { @class = "form-control", Value = "0,00", required = "required", maxlength = "12" }))
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.BERAT, "Berat *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @*@Html.TextBoxFor(m => m.Stf02.BERAT, new { @class = "form-control limited_number_textbox", type = "number", min = 1, required = "required", max = 99999999, maxlength = 8 })*@
                            @Html.TextBoxFor(m => m.Stf02.BERAT, new { @class = "form-control limited_number_textbox num-only", min = 1, required = "required", max = 99999999, maxlength = 8 })
                        </div>
                        <label class="control-label satuan col-md-5 col-sm-6">GR</label>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.PANJANG, "Panjang *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @*@Html.TextBoxFor(m => m.Stf02.PANJANG, new { @class = "form-control limited_number_textbox", type = "number", min = 1, required = "required", max = 99999999, maxlength = 8 })*@
                            @Html.TextBoxFor(m => m.Stf02.PANJANG, new { @class = "form-control limited_number_textbox num-only", min = 1, required = "required", max = 99999999, maxlength = 8 })

                        </div>
                        <label class="control-label satuan col-md-5 col-sm-6">CM</label>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.LEBAR, "Lebar *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @*@Html.TextBoxFor(m => m.Stf02.LEBAR, new { @class = "form-control limited_number_textbox", type = "number", min = 1, required = "required", max = 99999999, maxlength = 8 })*@
                            @Html.TextBoxFor(m => m.Stf02.LEBAR, new { @class = "form-control limited_number_textbox num-only", min = 1, required = "required", max = 99999999, maxlength = 8 })
                        </div>
                        <label class="control-label satuan col-md-5 col-sm-6">CM</label>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Stf02.TINGGI, "Tinggi *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            @*@Html.TextBoxFor(m => m.Stf02.TINGGI, new { @class = "form-control limited_number_textbox", type = "number", min = 1, required = "required", max = 99999999, maxlength = 8 })*@
                            @Html.TextBoxFor(m => m.Stf02.TINGGI, new { @class = "form-control limited_number_textbox num-only", min = 1, required = "required", max = 99999999, maxlength = 8 })
                        </div>
                        <label class="control-label satuan col-md-5 col-sm-6">CM</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-primary pull-right" id="simpan_btn" value="Upload" onclick="uploadBarang(this)" />
</div>

