@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.AccountUserViewModel
@{
    //var dataSession = HttpContext.Current.Session["SessionInfo"] as AccountUserViewModel;
    //add by nurul 8/2/2019
    var context = new MoDbContext("");
    var accountId = new long();
    //if (dataSession?.Account != null)
    //{
    //    accountId = dataSession.Account.AccountId;
    //}
    //else if (dataSession?.User != null)
    //{
    //    accountId = context.Account.SingleOrDefault(a => a.AccountId == dataSession.User.AccountId).AccountId;
    //}

    var sessionAccount = HttpContext.Current.Session["SessionAccount"];
    var sessionAccountUserID = HttpContext.Current.Session["SessionAccountUserID"];
    var sessionAccountUserName = HttpContext.Current.Session["SessionAccountUserName"];
    var sessionAccountEmail = HttpContext.Current.Session["SessionAccountEmail"];
    var sessionAccountTglSub = HttpContext.Current.Session["SessionAccountTglSub"];
    var sessionAccountKodeSub = HttpContext.Current.Session["SessionAccountKodeSub"];
    var sessionAccountDataSourcePathDebug = HttpContext.Current.Session["SessionAccountDataSourcePathDebug"];
    var sessionAccountDataSourcePath = HttpContext.Current.Session["SessionAccountDataSourcePath"];
    var sessionAccountDatabasePathErasoft = HttpContext.Current.Session["SessionAccountDatabasePathErasoft"];

    var sessionUser = System.Web.HttpContext.Current.Session["SessionUser"];
    var sessionUserUserID = System.Web.HttpContext.Current.Session["SessionUserUserID"];
    var sessionUserUsername = System.Web.HttpContext.Current.Session["SessionUserUsername"];
    var sessionUserEmail = System.Web.HttpContext.Current.Session["SessionUserEmail"];
    var sessionUserAccountID = System.Web.HttpContext.Current.Session["SessionUserAccountID"];

    if (sessionAccount != null)
    {
        accountId = Convert.ToInt64(sessionAccount);
    }
    else if (sessionUser != null)
    {
        var AccID = Convert.ToInt64(sessionUserAccountID);
        accountId = context.Account.SingleOrDefault(a => a.AccountId == AccID).AccountId;
    }
    //end add
}

@*//change by nurul 8/2/2019*@
@*@Html.HiddenFor(m => m.User.AccountId, new { Value = dataSession?.Account.AccountId })*@
@Html.HiddenFor(m => m.User.AccountId, new { Value = accountId })
@*//end change by nurul 8/2/2019*@

@Html.HiddenFor(m => m.User.UserId)
<div class="form-group">
    @Html.LabelFor(m => m.User.Email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", maxlength = 50, type = "email" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.Username, "Nama Lengkap *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.User.Username, new { @class = "form-control", @maxlength = 50 })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.NoHp, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.User.NoHp, new { @class = "form-control", @maxlength = 20 })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.Password, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.User.Password, new { @class = "form-control", @maxlength = 50, @type = "password" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.User.KonfirmasiPassword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.User.KonfirmasiPassword, new { @class = "form-control", @maxlength = 50, @type = "password" })
    </div>
</div>
<hr />
<button type="button" class="btn btn-primary pull-right" id="simpan_btn" onclick="simpanAkun(this)">Simpan</button>
