@using PagedList
@using MasterOnline.ViewModels
@model GudangViewModel
@{
    ViewBag.Title = "Gudang";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    if (dataSession?.User != null)
    {
        var context = new MoDbContext();
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}

@section styles
{
    <style>
        #gudang-section {
            background-color: #fff;
            padding: 20px;
            margin-top: 58px;
        }

        #hapus_label {
            color: orange;
            font-weight: bold;
        }
    </style>
}

<div class="row" id="gudang-section">
    <div class="col-lg-12 col-md-12">
        <div class="gudang_table_section">
            <div class="row">
                <div class="col-lg-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                        {
                            <div class="alert alert-danger">
                                <span class="message-error">@modelError.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="input-group">
                        <input id="search_gudang" type="text" class="form-control" placeholder="Pencarian">
                        <span class="input-group-btn">
                            <button type="button" id="search_gudang_click" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class=" btn btn-default" data-style="expand-right">
                            <span>Refresh</span>
                        </button>
                        <button class="btn btn-primary btn_tambah_data" id="tambah_gudang">Tambah Baru</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="table-gudang-partial" class="col-lg-12">
                    @*@Html.Partial("TableGudangPartial")*@
                </div>
            </div>
        </div>
        <div class="row gudang_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Gudang</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 style="font-size: 16px">Data Gudang</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                        {
                                            foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                            {
                                                <div class="alert alert-danger">
                                                    <span class="message-error">@modelError.ErrorMessage</span>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            }
                                        }
                                        <br>
                                        @using (Html.BeginForm("SaveGudang", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-gudang" }))
                                        {
                                            @Html.HiddenFor(m => m.Gudang.ID)
                                            @Html.HiddenFor(m => m.Gudang.QOH_SALES, new { Value = false })
                                            @Html.HiddenFor(m => m.Gudang.AL1, new { Value = " " })
                                            @Html.HiddenFor(m => m.Gudang.AL2, new { Value = " " })
                                            @Html.HiddenFor(m => m.Gudang.AL3, new { Value = " " })
                                            @Html.HiddenFor(m => m.Gudang.GD_KONSINYASI, new { Value = false })
                                            @Html.HiddenFor(m => m.Gudang.CUSTOMER, new { Value = " " })
                                            @Html.HiddenFor(m => m.Gudang.DISCOUNT, new { Value = false })
                                            @*@Html.HiddenFor(m => m.Gudang.KD_HARGA_JUAL, new { Value = " " })*@
                                            @Html.HiddenFor(m => m.Gudang.USERNAME, new { Value = username })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Gudang.Kode_Gudang, "Kode Gudang *", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Gudang.Kode_Gudang, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Gudang.Nama_Gudang, "Nama Gudang *", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Gudang.Nama_Gudang, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Gudang.KD_HARGA_JUAL, "Link Qty ke Marketplace", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @*@Html.DropDownListFor(m => m.Gudang.KD_HARGA_JUAL, new List<SelectListItem>()
                                                        {
                                                            new SelectListItem()
                                                            {
                                                                Text = @"Tidak Aktif",
                                                                Value = "0",
                                                            },
                                                            new SelectListItem()
                                                            {
                                                                Text = @"Aktif",
                                                                Value = "1"
                                                            }
                                                        }, new { @class = "form-control" })*@
                                                    @Html.HiddenFor(m => m.Gudang.KD_HARGA_JUAL)
                                                    @Html.CheckBox("linkMP", new { value = Model?.Gudang?.KD_HARGA_JUAL, @checked = true, @style = "width:30px; height:28px;" })
                                                </div>
                                            </div>
                                            <input type="button" class="btn btn-primary pull-right" id="simpan_btn" value="Simpan" onclick="simpanGudang(this)" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hapusGudang" tabindex="-1" role="dialog" aria-labelledby="hapusGudangLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hapusGudangLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus <span id="hapus_label"></span>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteKat()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $gudangId = "";
        //add by nurul 12/2/2019
        var $page = window.text;
            //end add by nurul 12/2/2019

        $(document).on('ready', function () {
            //add by nurul 12/2/2019
            $page = 0;
            //end add by nurul 12/2/2019
            //var table = $('#datatable').DataTable();

            $('#search_gudang').keyup(function () {
                table.search($(this).val()).draw();
            });
            refreshTableGudang();
            Initialize();
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

            //add by nurul 26/4/2019
            
            //end add by nurul 26/4/2019
        });

        function Initialize() {
            
            //change by nurul 7/5/2019
            //$('#search_gudang').keyup(function () {
            //    table.search($(this).val()).draw();
            //});
            $('#search_gudang').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableGudang();
                    return false;
                }
            });
            $('#search_gudang_click').click(function () {
                searchTableGudang();
            });
            //end add by nurul 7/5/2019

            $('#tambah_gudang').on('click', function () {
                $('.gudang_table_section').hide();
                $('.gudang_editor_section').show();
                $("#Gudang_Kode_Gudang").keydown(
                    function () {
                        validateInput($(this), 'HURUFANGKA');
                    });

                //add by nruul 18/10/2018
                $("#Gudang_Nama_Gudang").keydown(
                    function () {
                        validateInput($(this), 'HURUFANGKA');
                    });
            //end add
            });

            $('#close-editor').on('click', function () {
                $('.gudang_table_section').show();
                $('.gudang_editor_section').hide();
                $('#Gudang_Kode_Gudang, #Gudang_Nama_Gudang, #Gudang_ID').val("");
                $('#Gudang_Kode_Gudang').removeAttr('disabled');
                resetError();
                //add by nurul 12/2/2019
                //$('#datatable').on('page.dt', function () {
                //    $page = $('#datatable').DataTable().page.info().page;
                //});
                //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

                //add by nurul 26/4/2019
                $(".checkbox_linkMP").attr('disabled', 'disabled');
            //end add by nurul 26/4/2019
            });

            if ($('.message-error').text() !== '') {
                $('#tambah_gudang').click();
            }

            $('#Gudang_Kode_Gudang').on('change blur',
                function() {
                    if (!$(this).is(':disabled')) {
                        cekKode($(this), 'gd');
                    }
                });
            $('#Gudang_Nama_Gudang').on('change blur',
                function () {
                    if (!$(this).is(':disabled') && $(this).val()!="" ) {
                        cekField($(this), 'CekNmGudang', 'Nama Gudang ini sudah digunakan!');
                    }
                });

            $("#Gudang_Kode_Gudang").keydown(
                function () {
                    validateInput($(this),'HURUFANGKA');
                });

            //add by nruul 18/10/2018
            $("#Gudang_Nama_Gudang").keydown(
                function () {
                    validateInput($(this), 'HURUFANGKA');
                });
            //end add
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

            //add by nurul 26/4/2019
            $(".checkbox_linkMP").attr('disabled', 'disabled');
            //end add by nurul 26/4/2019

            refreshTableGudang();
        }

        function simpanGudang(btnClicked) {
            if (!validateForm()) return false;

            var $form = $(btnClicked).parents('form');
            //add by nurul 26/4/2019
            if ($("#linkMP").is(":checked") == true) {
                $('#Gudang_KD_HARGA_JUAL').val("0");
                $('#linkMP').val("0");
            } else if ($("#linkMP").is(":checked") == false) {
                $('#Gudang_KD_HARGA_JUAL').val("1");
                $('#linkMP').val("1");
            }
            //end add by nurul 26/4/2019
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    //$('#table-gudang-partial').html(response);
                    //Initialize();
                    $('#close-editor').click();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $('#loading_spinner').hide();
                        refreshTableGudang();
                },
                error: function(xhr, status, error) {
                    console.log(error);
                    $('#loading_spinner').hide();
                }
            });

            return false;
        }

        function editGudang(idGud) {
            var link = '@Url.Action("EditGudang", "Manage", new { gudangId = "replaceId" })';
            link = link.replace("replaceId", idGud);

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    $('#Gudang_AL1').val(response.Gudang.AL1);
                    $('#Gudang_AL2').val(response.Gudang.AL2);
                    $('#Gudang_AL3').val(response.Gudang.AL3);
                    $('#Gudang_CUSTOMER').val(response.Gudang.CUSTOMER);
                    $('#Gudang_GD_KONSINYASI').val(response.Gudang.GD_KONSINYASI);
                    $('#Gudang_QOH_SALES').val(response.Gudang.QOH_SALES);
                    $('#Gudang_ID').val(response.Gudang.ID);
                    $('#Gudang_USERNAME').val(response.Gudang.USERNAME);
                    $('#Gudang_Kode_Gudang').val(response.Gudang.Kode_Gudang).attr('disabled', 'disabled');
                    $('#Gudang_Nama_Gudang').val(response.Gudang.Nama_Gudang);
                    //add by nurul 26/4/2019
                    if (response.Gudang.KD_HARGA_JUAL == "0" || response.Gudang.KD_HARGA_JUAL == " " || response.Gudang.KD_HARGA_JUAL == null) {
                        $('#linkMP').attr('checked', true);
                    } else {
                        $('#linkMP').attr('checked', false);
                    }
                    //end add by nurul 26/4/2019
                    $('#tambah_gudang').click();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(gudangId, namaGudang) {
            this.$gudangId = gudangId;
            $('#hapus_label').text(namaGudang);
        }

        function deleteKat() {
            var link = '@Url.Action("DeleteGudang", "Manage", new { gudangId = "replaceId" })';
            link = link.replace("replaceId", this.$gudangId);

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    //change by nurul 27/7/2018
                    //$('#table-gudang-partial').html(response);
                    //Initialize();
                    //$('#hapusGudang').modal('hide');
                    if (response.Errors != undefined) {
                        $('#table-gudang-partial').html(response);
                        $('#hapusGudang').modal('hide');
                        alert(response.Errors[0]);
                    } else {
                        //$('#table-gudang-partial').html(response);
                        //Initialize();
                            refreshTableGudang();

                        $('#hapusGudang').modal('hide');
                    }
                    //end change
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }


        function validateInput(obj,option) {
            var x = obj;
            setTimeout(function () {
                ValidateFullNamePaste2(x, option);
            }, 2);
        }

        function ValidateFullNamePaste2(obj, option) {
            var x = obj;
            var strValidChars = "";
            var totalCharacterCount = x.val();  //window.clipboardData.getData('Text');

            if (option == 'HURUF')
                strValidChars = "1234567890~!#$%^&*()_+|}{':;?/>.<,\"[]\\=";
            if (option == 'HURUFANGKA')
                strValidChars = "~!#$%^&*()_+|}{':;?/>.<,\"[]\\=";
            if (option == 'ANGKA')
                strValidChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~!#$%^&*()_+|}{':;?/><,\"[]\\=";

            var strChar;
            var FilteredChars = "";
            for (i = 0; i < totalCharacterCount.length; i++) {
                strChar = totalCharacterCount.charAt(i);
                if (strValidChars.indexOf(strChar) == -1) {
                    FilteredChars = FilteredChars + strChar;
                }
            }
            obj.val(FilteredChars);
            return false;
        }

        //add by nurul 7/5/2019
        function refreshTableGudang() {
            //var link = '@Url.Action("RefreshTableGudang", "Manage")';
            var $link = '@Html.Raw(Url.Action("RefreshTableGudang", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_gudang').val());
            $link = $link.replace("replaceLastPage", $('#txt_last_page').val());

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-gudang-partial').hide();
                    $('#loading_gudang_tab').show();
                },
                success: function (response) {
                    $('#table-gudang-partial').html(response);
                    $('#loading_gudang_tab').hide();
                    $('#table-gudang-partial').show();
                    $(".checkbox_linkMP").attr('disabled', 'disabled');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function searchTableGudang(){
            var $link = '@Html.Raw(Url.Action("RefreshTableGudang", "Manage", new { search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_gudang').val());

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#search_gudang_click')[0].disabled = true;
                    $('#loading_gudang_tab').show();
                },
                success: function (response) {
                    $('#search_gudang_click')[0].disabled = false;
                    $('#table-gudang-partial').html(response);
                    $('#loading_gudang_tab').hide();
                    $(".checkbox_linkMP").attr('disabled', 'disabled');
                },
                error: function (xhr, status, error) {
                    $('#search_gudang_click')[0].disabled = false;
                    console.log(error);
                }
            });
        }
        //end add by nurul 7/5/2019
    </script>
}
