@model MasterOnline.ViewModels.PesananViewModel

@{
    var listBarang = Model.ListBarang.ToList();
    var Pesanan = Model.Pesanan;
}
@*add by nurul 23/11/2018*@
<div class="row">
    <div class="form-group" style="margin-top: 5px;">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">No. Pesanan</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBox("gd_no_bukti", Pesanan?.NO_BUKTI, new { @class = "form-control" , disabled = "disabled" })
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group" style="margin-top: 5px;">
        <label class="control-label col-md-4 col-sm-4 col-xs-12">Pembeli</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBox("gd_no_bukti", Pesanan?.NAMAPEMESAN, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>
</div>
<br/>
<br/>
@*end add by nurul 23/11/2018*@
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <i>Nama Barang</i>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <i>Gudang</i>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <i>Kuantitas</i>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <i>Kuantitas Pesanan</i>
    </div>
</div>
<br />

<div id="scrollable_div">
    @foreach (var barang in Model.ListPesananDetail)
    {
        <div class="row">
            @Html.Hidden("RecNum", new { Value = barang.NO_URUT })
            <div class="form-group">
                @Html.Label(listBarang.Single(b => b.BRG == barang.BRG).NAMA, new { @class = "col-md-3 col-sm-3 col-xs-3 control-label", style = "margin-top: 6px;" })
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="Gudang-Dropdown-@(barang.NO_URUT)" class="selectivity-input" tabindex="0" data-jenis="gudang" data-recnum="@(barang.NO_URUT)"></div>
                    @Html.Hidden($"Gudang-{barang.NO_URUT}", barang.LOKASI, new { data_jenis = "gudang_siap_kirim" })
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.Hidden($"Max-Qty-{barang.NO_URUT}", barang.QTY)
                    @Html.TextBox($"Qty-{barang.NO_URUT}", barang.QTY_N, new { @class = "form-control", type = "number", min = "0", oninput = "maxLengthCheck(this)", maxlength = 3, Value = barang.QTY_N.HasValue ? (barang.QTY_N.Value == 0 ? barang.QTY : barang.QTY_N.Value) : barang.QTY })
                </div>
                @Html.Label(Convert.ToString(barang.QTY), new { @class = "col-md-3 col-sm-3 col-xs-3 control-label", style = "text-align: center;" })
            </div>
        </div>
        <br />
    }
</div>