@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.SubsViewModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";

    var context = new MoDbContext();
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    long accId;
    var username = "";
    if (dataSession?.User != null)
    {
        accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
    }
    else
    {
        username = dataSession?.Account?.Username;
        accId = (dataSession?.Account?.AccountId ?? 0);
    }
}

@section styles {
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />

    <style>
        .label_waktu {
            margin-bottom: 15px;
        }

        .divider_2 {
            border-bottom: solid 2px #e6e9ed;
            margin: 10px 0;
        }

        .pemisah_info {
            margin: 7px 0;
        }

        .block_subtitle {
            display: inline-block;
            width: 300px;
            font-size: 15px;
        }

        #today_label {
            position: absolute;
            top: 7px;
        }

        .dropdown-menu > li > a {
            font-size: 14px !important;
        }
    </style>
    @*//add by nurul 22/2/2019*@
    <style>
        #modal-pricing {
            margin: auto;
            width: 60em;
        }

            #modal-pricing .modal-content {
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
                background-color: transparent;
            }

        .snip1404 {
            font-family: 'Source Sans Pro', Arial, sans-serif;
            text-align: left;
            font-size: 16px;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            display: table;
        }

            .snip1404 img {
                /*position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                z-index: -1;*/
                width: 60%;
                margin-bottom: 20px;
                margin-top: 15px;
                z-index: 0;
            }

            .snip1404 .plan {
                margin: 0;
                width: 33.333333%;
                position: relative;
                float: left;
                overflow: hidden;
                border: 3px solid #442232;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                background-color: #c13232;
            }

                .snip1404 .plan:hover i,
                .snip1404 .plan.hover i {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }

                .snip1404 .plan:first-of-type {
                    border-radius: 8px 0 0 8px;
                }

                .snip1404 .plan:last-of-type {
                    border-radius: 0 8px 8px 0;
                }

            .snip1404 * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
            }

            .snip1404 header {
                background-color: #c13232;
                color: #ffffff;
            }

            .snip1404 .plan-title {
                background-color: rgba(0, 0, 0, 0.5);
                position: relative;
                margin: 0;
                padding: 20px 20px 0;
                text-transform: uppercase;
                letter-spacing: 4px;
            }

                .snip1404 .plan-title:after {
                    position: absolute;
                    content: '';
                    top: 100%;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 30px 250px 0 0;
                    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
                }

            .snip1404 .plan-cost {
                padding: 20px 20px 10px;
                text-align: right;
            }

            .snip1404 .plan-price {
                font-weight: 600;
                font-size: 1.5em;
            }

            .snip1404 .plan-type {
                opacity: 0.8;
                font-size: 0.7em;
                text-transform: uppercase;
            }

            .snip1404 .plan-price-total {
                font-weight: 600;
                font-size: 1.1em;
                color: #fff;
            }

            .snip1404 .plan-month-total {
                font-weight: 600;
                font-size: 0.9em;
                color: #fff;
            }

            .snip1404 .plan-features {
                color: #fff;
                padding: 0 0 10px;
                margin: 0;
                list-style: outside none none;
            }

                .snip1404 .plan-features li {
                    padding: 0;
                }

                .snip1404 .plan-features i {
                    margin-right: 8px;
                    color: rgba(0, 0, 0, 0.5);
                }

            .snip1404 .plan-select {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
                padding: 5px;
                text-align: center;
            }

                .snip1404 .plan-select a {
                    background-color: #442232;
                    color: #ffffff;
                    text-decoration: none;
                    padding: 12px 20px;
                    font-size: 0.75em;
                    font-weight: 600;
                    border-radius: 20px;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    display: inline-block;
                }

                    .snip1404 .plan-select a:hover {
                        background-color: #552a3f;
                    }

            .snip1404 .featured {
                margin-top: -10px;
                border-color: #331926;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
                z-index: 1;
                border-radius: 8px;
            }

                .snip1404 .featured .plan-select {
                    padding: 15px 10px;
                }

        @@media only screen and (max-width: 767px) {
            .snip1404 .plan {
                width: 50%;
            }

            .snip1404 .plan-title,
            .snip1404 .plan-select a {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .snip1404 .plan-select,
            .snip1404 .featured .plan-select {
                padding: 20px;
            }

            .snip1404 .featured {
                margin-top: 0;
            }
        }

        @@media only screen and (max-width: 440px) {
            .snip1404 .plan {
                width: 100%;
            }
        }

        body {
            background-color: #212121;
        }

        .btn-section > .row > button {
            padding: 5px;
            margin-bottom: 5px;
            background: #fb9595;
            border: 1px solid #9a2828;
            color: #000;
            width: 65%;
        }

            .btn-section > .row > button[disabled] {
                padding: 10px;
                margin-bottom: 15px;
                background: #9c9c9c;
                border: 1px solid #9a2828;
                color: #000;
            }

            .btn-section > .row > button:hover {
                padding: 5px;
                margin-bottom: 5px;
                background: #fd4646;
                border: 1px solid #9a2828;
                color: #000;
            }

        .subs_active {
            background: #fd4646 !important;
        }

        .btn-pindah-paket:hover {
            cursor: pointer;
        }
    </style>
    <style type="text/css">
        /*//add by nurul 5/7/2019*/
        [class$="-legend"] {
            list-style: none;
            cursor: pointer;
            padding-left: 0;
        }

            [class$="-legend"] li {
                display: inline-block;
                padding: 0 5px;
            }

                [class$="-legend"] li.hidden {
                    text-decoration: line-through;
                }

                [class$="-legend"] li span {
                    border-radius: 5px;
                    display: inline-block;
                    height: 10px;
                    margin-right: 10px;
                    width: 10px;
                }

        /*//end add by nurul 5/7/2019*/

        .bar {
            font-size: 30px;
            color: #ed1338;
        }

        .nav-row {
            padding: 30px;
        }

            .nav-row > div > a {
                padding: 7px;
            }

        #loading_spinner {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        #loading_spinner_image {
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -90px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-width: 30px;
            border-radius: 50%;
        }

        #loading_spinner_btn {
            display: none;
            width: 100%;
            height: 100%;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #loading_spinner_image_btn {
            width: 20px;
            height: 40px;
            border-width: 30px;
            border-radius: 50%;
        }

        #soc-med-btn-nav {
            float: right;
            margin-right: 80px;
            margin-bottom: 15px;
        }


        .subs_body {
            background: white;
            letter-spacing: 0.4px;
            font-family: 'RoundedElegance';
            color: black;
        }

        @@font-face {
            font-family: 'RoundedElegance'; /*src: url("~/fonts/rounded_elegance.svg");
                src: url("~/fonts/rounded_elegance.ttf") format('truetype');*/
            src: url("../../fonts/rounded_elegance.svg");
            src: url("../../fonts/rounded_elegance.ttf") format('truetype');
            font-weight: bold;
        }

        /*.modal-content {
            margin-top: 225px !important;
        }*/

        .modal-dialog {
            height: auto !important;
        }

        .title-features-mobile {
            font-size: 10px !important;
        }

        .sub-title-features-mobile {
            font-size: 9px !important;
        }

        .feature-mobile-row {
            margin-bottom: 25px !important;
        }


        h2.mobile-title {
            font-size: 16px !important;
        }

        #cover p {
            font-size: 14px !important;
        }

        #mobile-app-section {
            margin-top: 25px !important;
        }


        body {
            overflow-x: hidden;
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }

        html {
            /*-webkit-text-stroke-width: 0.5pt;*/
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }

        #cover {
            margin-top: 175px;
            margin-bottom: 18px;
            background-size: cover;
            min-height: 350px;
        }

        h2.pc-title {
            color: #891539;
            font-size: 45px;
            line-height: 60px;
            letter-spacing: 3px;
            font-weight: 700;
        }

        h2.mobile-title {
            color: #891539;
            font-size: 30px;
            line-height: 58px;
            letter-spacing: 3px;
            font-weight: 700;
        }

        #cover h3 {
            font-size: 58px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'RoundedElegance';
        }

            #cover h3 span {
                color: #ed5565;
            }

        #cover span {
            font-size: 53px;
        }

        #cover p {
            font-size: 18px;
            letter-spacing: .5px;
        }

        #cover .btn {
            background-color: #891539;
            color: #fff;
        }

            #cover .btn:hover {
                background-color: #f37100 !important;
            }

        .focus-text {
            text-transform: uppercase;
            color: #f37100;
        }

        #btn-daftar-pc {
            width: 50%;
            float: right;
            margin: 0 auto;
            border-radius: 10px !important;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #mobile-app-section {
            margin-top: 60px;
        }

        #btn-daftar-mobile {
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-video-pc {
            width: 50%;
            float: left;
            background-color: #5db836 !important;
            margin: 0 auto;
            border-radius: 10px !important;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-video-mobile {
            background-color: #5db836 !important;
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #gradient-mo {
            background: rgba(255,23,23,1);
            background: -moz-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,23,23,1)), color-stop(50%, rgba(137,21,57,1)), color-stop(100%, rgba(137,21,57,1)));
            background: -webkit-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -o-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: linear-gradient(to right, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1717', endColorstr='#891539', GradientType=1 );
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }

            .videoWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        .modal-dialog {
            width: 75%;
            height: 75%;
            margin: 0 auto;
            padding: 0;
        }

        .modal-content {
            margin-top: 35px;
            height: auto;
            min-height: 100%;
            border-radius: 0;
        }

        .videoBox {
            position: relative;
            padding-bottom: 30.25%; /* 16:9 */
            height: 0;
        }

            .videoBox iframe {
                position: absolute;
                top: 0;
                left: 25%;
                width: 50%;
                height: 100%;
            }

        #marketplace .logo-container {
            padding: 40px 0;
        }

        .grayish-white {
            background-color: #F5F5F5;
        }

        .grayish-white-f6 {
            background-color: #f6f6f6;
        }

        #marketplace .title-box-red,
        .carakerja .title-box-red {
            padding: 10px 7px;
        }

            #marketplace .title-box-red h3,
            .carakerja .title-box-red h3 {
                font-size: 20px;
                color: #fff;
                font-weight: 400;
                margin: 0px;
                text-align: left !important;
            }

        #marketplace .mp-logo:first-child {
            margin-left: 60px;
        }

        #marketplace .mp-logo {
            margin-right: 15px;
        }

        .titleSection {
            color: #ed5565;
            font-size: 35px;
            text-align: center;
            font-weight: 500;
        }

        .carakerja {
            padding: 0 0 40px 0;
            background-color: #fff;
        }

            .carakerja h3, .carakerja p {
                font-weight: 300;
                text-align: center;
            }

            .carakerja h3 {
                font-size: 22px;
            }

            .carakerja p {
                font-size: 17px;
                line-height: 24px;
                color: #777;
            }

            .carakerja strong {
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                display: block;
            }

            .carakerja img {
                margin-top: 25px;
            }

        #banner {
            background: url(../../Content/Images/shattered.png) 0 50%;
            min-height: 200px;
            padding: 20px 0;
            text-align: center;
        }

            #banner h2 {
                color: #999;
                font-size: 25px;
                font-weight: 400;
                margin: 30px 0 28px 0;
            }

        /*footer {
            background: #891539;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }*/

        .title-box-red {
            background: rgba(137,21,57,1);
            background: -moz-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,21,57,1)), color-stop(70%, rgba(137,21,57,1)), color-stop(100%, rgba(255,23,23,1)));
            background: -webkit-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -o-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -ms-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: linear-gradient(to right, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#891539', endColorstr='#ff1717', GradientType=1 );
        }

        .carakerja .content-feature {
            background-color: #f6f6f6;
            padding-bottom: 10px;
        }

        #promo_pulsa {
            display: none; /* Sementara */
            position: absolute;
            width: 20%;
            right: 15px;
            top: 175px;
            z-index: 100;
        }

        .no-padding {
            padding: 0 !important;
        }

        .title-features {
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-title-features {
            font-size: 14px;
            position: absolute;
            top: 30px;
            left: 0;
        }

        .title-features-mobile {
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sub-title-features-mobile {
            font-size: 11px;
            position: absolute;
            top: 25px;
            left: 0;
        }

        .feature-mobile-row {
            margin-bottom: 30px;
        }

        .btn-basicfree:hover {
            color: #F5F5F5;
            background-color: #891539;
        }

        .btn-basicfree {
            color: #891539;
            background-color: white;
            text-align: center;
            border-radius: 10 1 1 1;
            border: 1px solid #891539;
        }

        .btn-silver:hover {
            color: #F5F5F5;
            background-color: #891539;
        }

        .btn-silver {
            color: #891539;
            background-color: white;
            text-align: center;
            border-radius: 10 1 1 1;
            border: 1px solid #891539;
        }


        .panel-default-noborder {
            border: 1px;
        }

        hr {
            border: 1px solid #891539;
        }

        .table thead > tr > th,
        .table tbody > tr > th,
        .table tfoot > tr > th,
        .table thead > tr > td,
        .table tbody > tr > td,
        .table tfoot > tr > td {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 0px;
        }

        .table_subs thead > tr > th {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 0px solid #dddddd;
            border-bottom: 2px solid #891539;
        }



        .glyphicon-ok {
            color: #21b716;
        }

        /*.glyphicon-remove {
            color: #891539;
        }*/


        .enterpriseColumn {
            padding: 8px;
            line-height: 1.428571429;
            vertical-align: middle;
            border: 2px solid #891539 !important;
            color: #891539;
        }
    </style>
    @*//add by nurul 22/2/2019*@
}
<div id="top_dashboard">
    <div class="row">
        <div class="col-md-2">
            <b class="hidden-md hidden-lg">Tanggal Hari Ini :</b>
            <b class="hidden-xs hidden-sm" id="today_label">Tanggal Hari Ini :</b>
        </div>
        <div class="col-md-2">
            <div class="input-group date">
                <input type="text" id="TGL" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" disabled="disabled" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="mode">Tabel</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a onclick="changeMode(0)">Grafik</a></li>
                    @*<li><a onclick="changeMode(1)">Angka</a></li>*@
                    <li><a onclick="changeMode(1)">Tabel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row chart-mode">
        @*<div class="col-md-6" id="chart-jumlah-section">
            <h4>Grafik Berdasarkan Jumlah</h4>
            <canvas id="chart-jumlah" height="200"></canvas>
        </div>
        <div class="col-md-6" id="chart-nilai-section">
            <h4>Grafik Berdasarkan Nilai</h4>
            <canvas id="chart-nilai" height="200"></canvas>
        </div>*@
    </div>
    <br />
    <div class="row chart-mode" style="margin-bottom: 20px;">
        @*<div class="col-md-6" id="chart-jumlah-per-market-section">
            <h4>Grafik Pesanan Per Market Berdasarkan Jumlah</h4>
            <canvas id="chart-jumlah-per-market" height="200"></canvas>
        </div>
        <div class="col-md-6" id="chart-nilai-per-market-section">
            <h4>Grafik Pesanan Per Market Berdasarkan Nilai</h4>
            <canvas id="chart-nilai-per-market" height="200"></canvas>
        </div>*@
    </div>
</div>
@*//add by nurul 12/7/2019*@
<div>
    <div class="col-md-6" id="chart-mingguan-section">
        <h4>Grafik Pesanan, Faktur dan Retur</h4>
        <canvas id="chart-mingguan" height="200"></canvas>
    </div>
</div>
@*//end add by nurul 12/7/2019*@
<div id="dashboard_partial">
    <div id="dashboard_page"></div>
    <div class="row pricing_page" style="display: none;">
        <div class="col-lg-12">
            <div class="page-editor">
                <h2 class="editor-title">Subscription</h2>
                <span class="title-accent"></span>
                <button id="close-editor-1" type="button" class="pull-right page-close">
                    <span class="close-btn thick"></span>
                </button>
                <div class="form-horizontal" id="form_subs">
                    @Html.Partial("PricingNewPartialView", Model?.ListSubs)
                </div>
            </div>
        </div>
    </div>
</div>
@*//add by nurul 21/2/2019*@
<div class="modal fade" id="modalPricing" tabindex="-1" role="dialog" aria-labelledby="pricingLabel">
    <div class="modal-dialog" id="modal-pricing" role="document">
        <div class="modal-content">
            @Html.Partial("PricingNewPartialView", Model?.ListSubs)
        </div>
    </div>
</div>
@*//add by nurul 21/2/2019*@

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    @*//add by nurul 22/2/2019*@
    @*<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-AyzcvZKcwAlD_0QY"></script>*@
    <script type="text/javascript" src="https://app.midtrans.com/snap/snap.js" data-client-key="Mid-client-sMzViq24qWRlPdPu"></script>
    @*SB-Mid-client-AyzcvZKcwAlD_0QY__Mid-client-sMzViq24qWRlPdPu*@
    @*//end add by nurul 22/2/2019*@
    <script type="text/javascript">
        //var $tipeTampilan = 0;
        var $tipeTampilan = 1;
        var $tipeStyle = 1;

        var $href = "";

        $(document).ready(function () {
            getTanggal();

            $('#TGL').datepicker('setDate', '0');
            //getDashboard();

            $('#close-editor-1').on('click',
                function () {
                    $('#top_dashboard').show();
                    $('#dashboard_page').show();
                    $('.pricing_page').hide();
                });
            
            //add by nurul 22/2/2019
            $href = window.location.href.split('home')[1];
            if ($href != "") {
                var link = '@Url.Action("CekJumlahPesananBulanIni", "Manage", new {accId = "replaceUname"})';
                link = link.replace("replaceUname", '@(accId)');

                $.ajax({
                    type: "GET",
                    url: link,
                    success: function (res) {
                        $jumlahPesananMax = res.JumlahPesananMax;
                        $jumlahPesananBulanIni = res.JumlahPesananBulanIni;

                        if ($jumlahPesananBulanIni >= $jumlahPesananMax) {
                            //$('#modalPricing').modal('show');
                            $('#top_dashboard').hide();
                            $('#dashboard_page').hide();
                            $('.pricing_page').show();
                            showSubsMenu(1);

                        } else if (res.SudahSampaiBatasTanggal) {
                            //$('#modalPricing').modal('show');
                            $('#top_dashboard').hide();
                            $('#dashboard_page').hide();
                            $('.pricing_page').show();
                            showSubsMenu(2);

                        } else {
                            //$('#modalPricing').modal('hide');
                            $('#top_dashboard').show();
                            $('#dashboard_page').show();
                            $('.pricing_page').hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
            //add 09-10-2018, function button di subscription
            $('.btn-subs').click(function () {

                var $this = $(this);
                var $kodeSubs = $this.attr('data-plan-btn');
                var $bulanPilihan = parseInt($this.attr('data-kali'));
                var $harga = parseInt($('#subs-price-' + $kodeSubs).attr('data-harga'));
                var $pilihan = "";

                $('#plan-' + $kodeSubs + ' .btn-section .btn').removeClass('subs_active');
                $this.addClass('subs_active');

                if ($bulanPilihan == 3) {
                    $pilihan = "Paket 3 Bulan";
                } else if ($bulanPilihan == 5) {
                    $pilihan = "Paket 6 Bulan";
                } else if ($bulanPilihan == 10) {
                    $pilihan = "Paket 12 Bulan";
                }

                $('#selected-package-' + $kodeSubs).text($pilihan);
                $('#price-total-' + $kodeSubs).text(convertToRupiah($harga * $bulanPilihan));
            });
            //end add 09-10-2018, function button di subscription
            //add by nurul 22/2/2019
        });

        //add by nurul 22/2/2019
        function showSubsMenu(type) {
            $('#divSubs').hide();
            if (type == 1) {
                $('#divSubsExpand').show();
                $('#divSubExpired').hide();
            }
            else if (type == 2) {
                $('#divSubsExpand').hide();
                $('#divSubExpired').show();
            }

        }
        //end add by nurul 22/2/2019

        function changeMode(tipe) {
            if (tipe === 0) {
                $('#mode').text('Grafik');
                $('.chart-mode').show();
                $('.angka-mode').hide();
                $tipeTampilan = 0;
            } else {
                //$('#mode').text('Angka');
                $('#mode').text('Tabel');
                $('.chart-mode').hide();
                $('.angka-mode').show();
                $tipeTampilan = 1;
            }
        }

        function getChart1() {
            $('#chart-jumlah').remove();
            $('#chart-nilai').remove();
            $('#chart-jumlah-per-market').remove();
            $('#chart-nilai-per-market').remove();
            $('#chart-jumlah-section').append('<canvas id="chart-jumlah" height="200"></canvas>');
            $('#chart-nilai-section').append('<canvas id="chart-nilai" height="200"></canvas>');
            $('#chart-jumlah-per-market-section').append('<canvas id="chart-jumlah-per-market" height="200"></canvas>');
            $('#chart-nilai-per-market-section').append('</canvas><canvas id="chart-nilai-per-market" height="200"></canvas>');

            $.ajax({
                type: "POST",
                url: '/api/chart',
                headers: {
                    'X-API-KEY':'M@STERONLINE4P1K3Y',
                    'Content-Type':'application/json'
                },
                data: JSON.stringify({
                    AccId: @accId,
                    SelDate: $('#TGL').val()
                }),
                contentType: "application/json; charset=UTF-8",
                cache: false,
                success: function (response) {
                    var arrayData = [
                        response.data.JumlahPesananHariIni, response.data.JumlahFakturHariIni,
                        response.data.JumlahReturHariIni,
                        response.data.JumlahPesananBulanIni, response.data.JumlahFakturBulanIni,
                        response.data.JumlahReturBulanIni
                    ];

                    var max = Math.max.apply(Math, arrayData);
                    var maxTicksBasic = Math.ceil(max / 10) * 10;

                    var steppingBasic = (Math.ceil(max / 10) * 10) / 5;

                    var ctx = document.getElementById("chart-jumlah").getContext('2d');
                    var chartJumlah = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["Pesanan", "Faktur", "Retur"],
                            datasets: [{
                                label: 'Hari Ini',
                                data: [response.data.JumlahPesananHariIni, response.data.JumlahFakturHariIni, response.data.JumlahReturHariIni],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ],
                                borderWidth: 1
                            },
                                {
                                    label: 'Bulan Ini',
                                    data: [response.data.JumlahPesananBulanIni, response.data.JumlahFakturBulanIni, response.data.JumlahReturBulanIni],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: steppingBasic,
                                        max: maxTicksBasic
                                    }
                                }],

                            }
                        }
                    });

                    var dividerValueBasic = 10;
                    var arrayDataValueBasic = [
                        response.data.NilaiPesananHariIni,
                        response.data.NilaiFakturHariIni,
                        response.data.NilaiReturHariIni,
                        response.data.NilaiPesananBulanIni,
                        response.data.NilaiFakturBulanIni,
                        response.data.NilaiReturBulanIni
                    ];

                    var maxValueBasic = Math.max.apply(Math, arrayDataValueBasic);

                    if (maxValueBasic > 100 && maxValueBasic <= 1000) {
                        dividerValueBasic = 100;
                    } else if (maxValueBasic > 1000 && maxValueBasic <= 10000) {
                        dividerValueBasic = 1000;
                    } else if (maxValueBasic > 10000 && maxValueBasic <= 100000) {
                        dividerValueBasic = 10000;
                    } else if (maxValueBasic > 100000 && maxValueBasic <= 1000000) {
                        dividerValueBasic = 100000;
                    } else if (maxValueBasic > 1000000 && maxValueBasic <= 10000000) {
                        dividerValueBasic = 1000000;
                    } else if (maxValueBasic > 10000000 && maxValueBasic <= 100000000) {
                        dividerValueBasic = 10000000;
                    } else if (maxValueBasic > 100000000 && maxValueBasic <= 1000000000) {
                        dividerValueBasic = 100000000;
                    } else if (maxValueBasic > 1000000000 && maxValueBasic <= 10000000000) {
                        dividerValueBasic = 1000000000;
                    } else if (maxValueBasic > 10000000000 && maxValueBasic <= 100000000000) {
                        dividerValueBasic = 10000000000;
                    }

                    var roundValueBasic = Math.round(maxValueBasic / dividerValueBasic) * dividerValueBasic;
                    var steppingValueBasic = roundValueBasic / 5;

                    var maxTicksValueBasic = roundValueBasic + dividerValueBasic;

                    var ctxNilai = document.getElementById("chart-nilai").getContext('2d');
                    var chartNilai = new Chart(ctxNilai, {
                        type: 'bar',
                        showTooltips: false,
                        data: {
                            labels: ["Pesanan", "Faktur", "Retur"],
                            datasets: [{
                                label: 'Hari Ini',
                                data: [response.data.NilaiPesananHariIni, response.data.NilaiFakturHariIni, response.data.NilaiReturHariIni],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ],
                                borderWidth: 1
                            },
                                {
                                    label: 'Bulan Ini',
                                    data: [response.data.NilaiPesananBulanIni, response.data.NilaiFakturBulanIni, response.data.NilaiReturBulanIni],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: steppingValueBasic,
                                        max: maxTicksValueBasic,
                                        userCallback: function(value, index, values) {
                                            value = value.toString();
                                            value = value.split(/(?=(?:...)*$)/);
                                            value = value.join('.');
                                            return 'Rp ' + value;
                                        }
                                    }
                                }]
                            },
                            tooltips: {
                                callbacks: {
                                    label: (tooltipItem, data) => {
                                        return data.datasets[tooltipItem.datasetIndex].label + ": Rp " + convertToRupiah(tooltipItem.yLabel);
                                    },
                                },
                            }
                        }
                    });

                    var akunMarketPlace = [];
                    var jumlahPesananHariIniPerMarket = [];
                    var jumlahPesananBulanIniPerMarket = [];
                    var nilaiPesananHariIniPerMarket = [];
                    var nilaiPesananBulanIniPerMarket = [];

                    for (var i = 0; i < response.data.ListPesananPerMarketplace.length; i++) {
                        akunMarketPlace.push(response.data.ListPesananPerMarketplace[i].NamaMarket);
                        jumlahPesananHariIniPerMarket.push(response.data.ListPesananPerMarketplace[i].JumlahPesananHariIni);
                        jumlahPesananBulanIniPerMarket.push(response.data.ListPesananPerMarketplace[i].JumlahPesananBulanIni);
                        nilaiPesananHariIniPerMarket.push(convertToAngka(response.data.ListPesananPerMarketplace[i].NilaiPesananHariIni));
                        nilaiPesananBulanIniPerMarket.push(convertToAngka(response.data.ListPesananPerMarketplace[i].NilaiPesananBulanIni));
                    }

                    var maxJumlahPesananHariIni = Math.max.apply(Math, jumlahPesananHariIniPerMarket);
                    var maxJumlahPesananBulanIni = Math.max.apply(Math, jumlahPesananBulanIniPerMarket);
                    var dataMaxJumlah = [maxJumlahPesananHariIni, maxJumlahPesananBulanIni];
                    var maxJumlahByMarket = Math.max.apply(Math, dataMaxJumlah);

                    var maxTicksByMarket = Math.ceil(maxJumlahByMarket / 10) * 10;

                    var steppingByMarket = (Math.ceil(maxJumlahByMarket / 10) * 10) / 5;

                    var ctxJumlahPerMarket = document.getElementById("chart-jumlah-per-market").getContext('2d');
                    var chartJumlahPerMarket = new Chart(ctxJumlahPerMarket, {
                        type: 'bar',
                        data: {
                            labels: akunMarketPlace,
                            datasets: [{
                                label: 'Hari Ini',
                                data: jumlahPesananHariIniPerMarket,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ],
                                borderWidth: 1
                            },
                                {
                                    label: 'Bulan Ini',
                                    data: jumlahPesananBulanIniPerMarket,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: steppingByMarket,
                                        max: maxTicksByMarket
                                    }
                                }],

                            }
                        }
                    });

                    var dividerValueByMarket = 10;
                    var maxNilaiPesananHariIni = Math.max.apply(Math, nilaiPesananHariIniPerMarket);
                    var maxNilaiPesananBulanIni = Math.max.apply(Math, nilaiPesananBulanIniPerMarket);
                    var dataMaxValueByMarket = [maxNilaiPesananHariIni, maxNilaiPesananBulanIni];
                    var maxValueByMarket = Math.max.apply(Math, dataMaxValueByMarket);

                    if (maxValueByMarket > 100 && maxValueByMarket <= 1000) {
                        dividerValueByMarket = 100;
                    } else if (maxValueByMarket > 1000 && maxValueByMarket <= 10000) {
                        dividerValueByMarket = 1000;
                    } else if (maxValueByMarket > 10000 && maxValueByMarket <= 100000) {
                        dividerValueByMarket = 10000;
                    } else if (maxValueByMarket > 100000 && maxValueByMarket <= 1000000) {
                        dividerValueByMarket = 100000;
                    } else if (maxValueByMarket > 1000000 && maxValueByMarket <= 10000000) {
                        dividerValueByMarket = 1000000;
                    } else if (maxValueByMarket > 10000000 && maxValueByMarket <= 100000000) {
                        dividerValueByMarket = 10000000;
                    } else if (maxValueByMarket > 100000000 && maxValueByMarket <= 1000000000) {
                        dividerValueByMarket = 100000000;
                    } else if (maxValueByMarket > 1000000000 && maxValueByMarket <= 10000000000) {
                        dividerValueByMarket = 1000000000;
                    } else if (maxValueByMarket > 10000000000 && maxValueByMarket <= 100000000000) {
                        dividerValueByMarket = 10000000000;
                    }

                    var roundValueByMarket = Math.round(maxValueByMarket / dividerValueByMarket) * dividerValueByMarket;
                    var steppingValueByMarket = roundValueByMarket / 5;

                    var maxTicksValueByMarket = roundValueByMarket + dividerValueByMarket;

                    var ctxNilaiPerMarket = document.getElementById("chart-nilai-per-market").getContext('2d');
                    var chartNilaiPerMarket = new Chart(ctxNilaiPerMarket, {
                        type: 'bar',
                        showTooltips: false,
                        data: {
                            labels: akunMarketPlace,
                            datasets: [{
                                label: 'Hari Ini',
                                data: nilaiPesananHariIniPerMarket,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ],
                                borderWidth: 1
                            },
                                {
                                    label: 'Bulan Ini',
                                    data: nilaiPesananBulanIniPerMarket,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: steppingValueByMarket,
                                        max: maxTicksValueByMarket,
                                        userCallback: function (value, index, values) {
                                            value = value.toString();
                                            value = value.split(/(?=(?:...)*$)/);
                                            value = value.join('.');
                                            return 'Rp ' + value;
                                        }
                                    }
                                }]
                            },
                            tooltips: {
                                callbacks: {
                                    label: (tooltipItem, data) => {
                                        return data.datasets[tooltipItem.datasetIndex].label + ": Rp " + convertToRupiah(tooltipItem.yLabel);
                                    },
                                },
                            }
                        }
                    });
                },
                error: function(errMsg) {
                    console.log(errMsg);
                },
            });
        }

        function convertToRupiah(angka) {
            return $.number(angka, 2, ',', '.');
        }

        function convertToAngka(rupiah) {
            if (rupiah == '') {
                rupiah = '0';
            }
            return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
        }

        function getDashboard($selectedDate = '') {
            var $selectedMonth = $selectedDate.substring(3, 5);
            var monthVal = moment(new Date()).locale('id').format("MM");
            var monthName = moment($selectedMonth).locale('id').format("MMMM");

            var link = '@Url.Action("DashboardPartial", "Manage", new { selDate = "replaceDate" })';
            link = link.replace("replaceDate", $selectedDate);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('#dashboard_page').html(response);

                    if ($selectedDate !== '' && $selectedDate !== moment(new Date()).format("DD/MM/YYYY")) {
                        $('.date_label').text('Tanggal ' + $selectedDate);
                    }

                    if ($selectedMonth !== '' && $selectedMonth !== monthVal) {
                        $('.month_label').text('Bulan ' + monthName);
                    }
                  
                    if ($tipeTampilan == 0) {
                        $('.chart-mode').show();
                        $('.angka-mode').hide();
                    }
                    else {
                        $('.chart-mode').hide();
                        $('.angka-mode').show();
                    }
                    //if ($tipeTampilan == 0)
                    //{
                    //    $('#mode').text('Grafik');
                    //    $('.chart-mode').show();
                    //    $('.angka-mode').hide();
                    //    $tipeTampilan = 0;
                    //}
                    //else
                    //{
                    //    $('#mode').text('Angka');
                    //    $('.chart-mode').hide();
                    //    $('.angka-mode').show();
                    //    $tipeTampilan = 1;
                    //}
                  
                    //add by nurul 4/7/2019
                    //region 10 barang laku
                    var d = new Date();
                    d.setMonth(d.getMonth() - 3);
                    $('#DrTanggal').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).datepicker('setDate', d);
                    $('#DrTanggal').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).change(function () {
                        $('#DrTanggal').val($('#DrTanggal').val());
                        $('#DrTanggal').datepicker('hide');
                        RefreshTableDashboardBaranglakuPartial();
                    });
                    $('#SdTanggal').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).datepicker('setDate', '0');
                    $('#SdTanggal').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).change(function () {
                        $('#SdTanggal').val($('#SdTanggal').val());
                        $('#SdTanggal').datepicker('hide');
                        RefreshTableDashboardBaranglakuPartial();
                    });
                    RefreshTableDashboardBaranglakuPartial();
                    //end region 10 barang laku
                    //region faktur
                    var c = new Date();
                    c.setMonth(c.getMonth() - 1);
                    $('#DrTanggal1').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).datepicker('setDate', c);
                    $('#DrTanggal1').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).change(function () {
                        $('#DrTanggal1').val($('#DrTanggal1').val());
                        $('#DrTanggal1').datepicker('hide');
                        RefreshTableDashboardFaktur();
                    });
                    $('#SdTanggal1').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).datepicker('setDate', '0');
                    $('#SdTanggal1').datepicker({
                        format: 'dd/mm/yyyy',
                        language: 'id'
                    }).change(function () {
                        $('#SdTanggal1').val($('#SdTanggal1').val());
                        $('#SdTanggal1').datepicker('hide');
                        RefreshTableDashboardFaktur();
                        });
                    RefreshTableDashboardFaktur();
                    //end region faktur
                    //end add by nurul 4/7/2019

                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

            function getTanggal() {
                $('#TGL').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    getDashboard($(this).val());
                    getChart();
                    $(this).datepicker('hide');
                });
            }

            //add by nurul 22/2/2019

            function changeUser(val) {
                if (val == -1 && $('#txtJmlUser')[0].innerText == 5) {
                    return;
                }
                var currentUser = parseInt($('#txtJmlUser')[0].innerText);
                var cost = convertToAngka($('#lbl_0_03')[0].innerText);
                var newCost = cost + (100000 * val);
                $('#txtJmlUser')[0].innerText = currentUser + val;
                $('#lbl_0_03')[0].innerText = convertToRupiah(newCost);
                $('#btnPay_3_03')[0].innerText = 'Rp ' + convertToRupiah(newCost * 3) + '\n per 3 bulan';
                $('#btnPay_12_03')[0].innerText = 'Rp ' + convertToRupiah(newCost * 10) + '\n per 12 bulan';

            }

            //add by Tri, call midtrans api get token
            function setBln(kode, bln) {
                switch (kode){
                    case "01":
                        break;
                    case "02":
                        txtBln_02.value = bln;
                        break;
                    case "03":
                        txtBln_03.value = bln;
                        break;
                }
            }

            function clickSub(kode, bln) {
                if ($('#ckBox')[0].checked) {
                    //var bln = 0;
                    //switch (kode) {
                    //    case "01":
                    //        break;
                    //    case "02":
                    //        bln = txtBln_02.value;
                    //        break;
                    //    case "03":
                    //        bln = txtBln_03.value;
                    //        break;
                    //}
                    @{
                //var accountId = dataSession?.Account?.AccountId; 'change by nurul 4/2/2019
                var accountId = new long();
                if (dataSession?.Account != null)
                {
                    accountId = dataSession.Account.AccountId;
                }
                else if (dataSession?.User != null)
                {
                    accountId = context.Account.SingleOrDefault(a => a.AccountId == dataSession.User.AccountId).AccountId;
                }
                //end change by nurul 4/2/2019
                var account = context.Account.Where(p => p.AccountId == accountId).SingleOrDefault();
            }
                    //moment.locale('id');
                    var tglSubThn = @account.TGL_SUBSCRIPTION.Value.Year;
                    var tglSubBln = @account.TGL_SUBSCRIPTION.Value.Month;
                    var tglSubHari = @account.TGL_SUBSCRIPTION.Value.Day;
                    var tglSub = new Date(tglSubThn, parseInt(tglSubBln) - 1, tglSubHari);
                    //var tglSub2 = moment(tglSubThn + '-' + tglSubBln + '-' + tglSubHari, 'yyyy-MM-dd');
                    $('#txtCode').val(kode);
                    $('#txtBulan').val(bln);

                    if ('@account.KODE_SUBSCRIPTION' != '01' && tglSub >= Date.today()) {

                        //tglSub.setMonth(tglSub.getMonth() + bln);
                        var msg = "Masa berlangganan anda s/d " + tglSub.format("d-M-Y") + "\nApakah Anda ingin melakukan perpanjangan s/d : " + tglSub.addMonths(bln).format("d-M-Y") + "?";
                        if (confirm(msg)) {
                            //alert('kode:' + kode + '\nbln:' + bln);
                            @*var link = '@Url.Action("PaymentMidtrans", "Midtrans", new { code = "replaceCode", bulan = "replaceBulan" })';
                link = link.replace("replaceCode", kode);
                link = link.replace("replaceBulan", String(bln));*@
                            @*var link = '@Url.Action("PaymentMidtrans", "Midtrans")';
                        link += '?code=' + kode + '&bulan=' + bln + '&accId=0';

                        $.ajax({
                            type: "GET",
                            url: link,
                            success: function (response) {
                                if (response != null) {
                                    //window.location = response.urlView;
                                    if (response.error == null) {
                                        snap.pay(response.token, { skipOrderSummary: true });
                                    } else {
                                        alert(response.error);
                                    }
                                }
                                //window.open(response, "_self");
                                //window.location.href(response);

                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });*@
                            $('#modalTransfer').modal('show');
                        }
                    }
                    else {
                        @*var link = '@Url.Action("PaymentMidtrans", "Midtrans")';
                    link += '?code=' + kode + '&bulan=' + bln + '&accId=0';

                    $.ajax({
                        type: "GET",
                        url: link,
                        success: function (response) {
                            if (response.error == null) {
                                snap.pay(response.token, { skipOrderSummary: true });
                            } else {
                                alert(response.error);
                            }
                            //window.open(response, "_self");
                            //window.location.href(response);

                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });*@
                        $('#modalTransfer').modal('show');
                    }
                } else {
                    alert('Anda harus menyetujui Syarat & Ketentuan');
                }
            }
            //end add by Tri, call midtrans api get token
            //end add by nurul 22/2/2019
            function snapMidtrans(kode, bln) {
                var link = '@Url.Action("PaymentMidtrans", "Midtrans")';
                link += '?code=' + kode + '&bulan=' + bln + '&accId=0' + '&accCount=' + $('#txtJmlUser')[0].innerText;

                $.ajax({
                    type: "GET",
                    url: link,
                    success: function (response) {
                        if (response != null) {
                            //window.location = response.urlView;
                            if (response.error == null) {
                                snap.pay(response.token, { skipOrderSummary: true });
                                $('#modalTransfer').modal('hide');
                            } else {
                                alert(response.error);
                                $('#modalTransfer').modal('hide');
                            }
                        }
                        //window.open(response, "_self");
                        //window.location.href(response);

                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        $('#modalTransfer').modal('hide');
                    }
                });
        }

        //add by nurul 12/7/2019
        function getChart() {
            //var $Drtgl1 = "";
            //if ($('#DrTanggal1').val() != undefined) {
            //    $Drtgl1 = $('#DrTanggal1').val();
            //}
            //var $Sdtgl1 = "";
            //if ($('#SdTanggal1').val() != undefined) {
            //    $Sdtgl1 = $('#SdTanggal1').val();
            //}
            @*var link = '@Html.Raw(Url.Action("RefreshDashboardFakturPartial", "Manage", new { drTgl = "replaceDrtgl", sdTgl = "replaceSdtgl" }))';
            link = link.replace("replaceDrtgl", $Drtgl1);
            link = link.replace("replaceSdtgl", $Sdtgl1);*@
            $('#chart-mingguan').remove();
            $('#chart-mingguan-section').append('<canvas id="chart-mingguan" height="200"></canvas>');
            $.ajax({
                type: "POST",
                url: '/api/chart',
                headers: {
                    'X-API-KEY':'M@STERONLINE4P1K3Y',
                    'Content-Type':'application/json'
                },
                data: JSON.stringify({
                    AccId: @accId,
                    SelDate: $('#TGL').val()
                }),
                contentType: "application/json; charset=UTF-8",
                cache: false,
                //type: "GET",
                //url: link,
                //beforeSend: function () {
                //    $('#chart-faktur-section').hide();
                //    $('#loading_dashboard_faktur').show();
                //},
                success: function (response) {
                    //$('#chart-faktur-section').html(response);
                    //if (listPieFaktur.length > 0) {
                    //#region Mingguan
                    //var arrayData = [
                    //    response.data.ListdashboardPesananMingguan, response.data.ListdashboardFakturMingguan,
                    //    response.data.ListdashboardReturMingguan
                    //];

                    //var max = Math.max.apply(Math, arrayData);
                    //var maxTicksBasic = Math.ceil(max / 10) * 10;

                    //var steppingBasic = (Math.ceil(max / 10) * 10) / 5;

                    var labelpesananMingguan = [];
                    var labelfakturMingguan = [];
                    var labelreturMingguan = [];
                    var jumlahpesananMingguan = [];
                    var jumlahfakturMingguan = [];
                    var jumlahreturMingguan = [];
                    var nilaipesananMingguan = [];
                    var nilaifakturMingguan = [];
                    var nilaireturMingguan = [];

                    labelpesananMingguan.push(response.data.ListdashboardPesananMingguan.No);
                    labelfakturMingguan.push(response.data.ListdashboardFakturMingguan.No);
                    labelreturMingguan.push(response.data.ListdashboardReturMingguan.No);
                    jumlahpesananMingguan.push(response.data.ListdashboardPesananMingguan.Jumlah);
                    jumlahfakturMingguan.push(response.data.ListdashboardFakturMingguan.Jumlah);
                    jumlahreturMingguan.push(response.data.ListdashboardReturMingguan.Jumlah);
                    nilaipesananMingguan.push(response.data.ListdashboardPesananMingguan.Nilai);
                    nilaifakturMingguan.push(response.data.ListdashboardFakturMingguan.Nilai);
                    nilaireturMingguan.push(response.data.ListdashboardReturMingguan.Nilai);

                    var maxJumlahPesananMingguan = Math.max.apply(Math, jumlahpesananMingguan);
                    var maxJumlahFakturMingguan = Math.max.apply(Math, jumlahfakturMingguan);
                    var maxJumlahReturMingguan = Math.max.apply(Math, jumlahreturMingguan);
                    var dataMaxJumlah = [maxJumlahPesananMingguan, maxJumlahFakturMingguan, maxJumlahReturMingguan];
                    var maxJumlah = Math.max.apply(Math, dataMaxJumlah);

                    var maxTicksBasic = Math.ceil(maxJumlah / 10) * 10;

                    var steppingBasic = (Math.ceil(maxJumlah / 10) * 10) / 5;
                        //var listdataFaktur = listPieFaktur;
                        //var akunMarketPlace = [];
                        //var jumlahFakturPerMarket = [];
                        //var nilaiFakturPerMarket = [];

                        //for (var i = 0; i < listPieFaktur.length; i++) {
                        //    akunMarketPlace.push(listPieFaktur[i].NamaMarket);
                        //    jumlahFakturPerMarket.push(listPieFaktur[i].JumlahFaktur);
                        //    nilaiFakturPerMarket.push(convertToAngka(listPieFaktur[i].NilaiFaktur));
                        //}

                    var ctxMingguan = document.getElementById("chart-mingguan").getContext('2d');
                    var dataPesanan = {
                        label: "Rp. " + nilaipesananMingguan,
                        data: jumlahpesananMingguan + " Pesanan",
                        lineTension: 0.3,
                        fill: false,
                        borderColor: 'red',
                        backgroundColor: 'transparent',
                        pointBorderColor: 'red',
                        pointBackgroundColor: 'lightyellow',
                        pointRadius: 5,
                        pointHoverRadius: 15,
                        pointHitRadius: 30,
                        pointBorderWidth: 2,
                        pointStyle: 'rect'
                    };

                    var dataFaktur = {
                        label: "Rp. " + nilaifakturMingguan,
                        data: jumlahfakturMingguan + " Faktur",
                        lineTension: 0.3,
                        fill: false,
                        borderColor: 'blue',
                        backgroundColor: 'transparent',
                        pointBorderColor: 'blue',
                        pointBackgroundColor: 'lightyellow',
                        pointRadius: 5,
                        pointHoverRadius: 15,
                        pointHitRadius: 30,
                        pointBorderWidth: 2
                    };

                    var dataRetur = {
                        label: "Rp. " + nilaireturMingguan,
                        data: jumlahreturMingguan + " Retur",
                        lineTension: 0.3,
                        fill: false,
                        borderColor: 'green',
                        backgroundColor: 'transparent',
                        pointBorderColor: 'green',
                        pointBackgroundColor: 'lightyellow',
                        pointRadius: 5,
                        pointHoverRadius: 15,
                        pointHitRadius: 30,
                        pointBorderWidth: 2
                    };

                    var mingguanData = {
                        labels: labelpesananMingguan,
                        datasets: [dataPesanan, dataFaktur, dataRetur]
                    };

                    var chartOptions = {
                        legend: {
                            display: true,
                            position: 'top',
                            labels: {
                                boxWidth: 80,
                                fontColor: 'black'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: steppingBasic,
                                    max: maxTicksBasic
                                }
                            }],

                        }
                    };

                    var lineChart = new Chart(ctxMingguan, {
                        type: 'line',
                        data: mingguanData,
                        options: chartOptions
                    });
                    Chart.defaults.global.defaultFontFamily = "Lato";
                    Chart.defaults.global.defaultFontSize = 18;
                    //#end region Mingguan
                    //#region Tahunan
                    //#end region Tahunan
                    //var chart = new Chart(ctxMingguan, {
                    //        type: 'line',
                    //        data: {

                    //            labels: akunMarketPlace,
                    //            datasets: [{
                    //                label: jumlahFakturPerMarket,
                    //                data: nilaiFakturPerMarket,
                    //                backgroundColor: [
                    //                    "#f990a7",
                    //                    "#9966FF",
                    //                    "#99e5e5",
                    //                    "#f7bd83",

                    //                    "#2ecc71",
                    //                    "#3498db",
                    //                    "#95a5a6",
                    //                    "#9b59b6",
                    //                    "#f1c40f",
                    //                    "#e74c3c",
                    //                ],
                    //                borderWidth: 0
                    //            }]
                    //        },
                    //        options: {
                    //            title: {
                    //                display: true,
                    //                text: 'Penjualan (Faktur)',
                    //                position: 'top',
                    //                fontSize: 20
                    //            },
                    //            legendCallback: function (chart) {

                    //                var text = [];
                    //                text.push('<ul class="' + chart.id + '-legend" style="list-style:none">');
                    //                for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                    //                    text.push('<section>');
                    //                    text.push('<li><div style="width:10px;height:10px;display:inline-block;background:' + chart.data.datasets[0].backgroundColor[i] + '" />&nbsp;');
                    //                    if (chart.data.labels[i]) {
                    //                        var total = chart.data.datasets[0].data.reduce(function (previousValue, currentValue, currentIndex, array) {
                    //                            return previousValue + currentValue;
                    //                        });
                    //                        var currentValue = chart.data.datasets[0].data[i];
                    //                        var perc = parseFloat((currentValue / total * 100).toFixed(1));

                    //                        text.push(chart.data.labels[i] + ' : Rp. ' + convertToRupiah(chart.data.datasets[0].data[i]) + ' (' + chart.data.datasets[0].label[i] + ' Faktur) (' + perc + '%)');
                    //                    }
                    //                    text.push('</li>');
                    //                    text.push('</section>');
                    //                }
                    //                text.push('</ul>');

                    //                return text.join('');
                    //            },
                    //            legend: { display: false },
                    //            tooltips: {
                    //                callbacks: {
                    //                    label: function (tooltipItem, data) {
                    //                        var dataset = data.datasets[tooltipItem.datasetIndex];
                    //                        var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                    //                        var total = meta.total;
                    //                        var currentValue = dataset.label[tooltipItem.index];
                    //                        var nilai = dataset.data[tooltipItem.index]
                    //                        var percentage = parseFloat((nilai / total * 100).toFixed(1));
                    //                        return currentValue + ' Faktur (' + percentage + '%)';
                    //                    },
                    //                    afterLabel: function (tooltipItem, data) {
                    //                        var dataset = data.datasets[tooltipItem.datasetIndex];
                    //                        var nilai = dataset.data[tooltipItem.index]
                    //                        return 'Rp. ' + convertToRupiah(nilai);
                    //                    },
                    //                    title: function (tooltipItem, data) {
                    //                        return data.labels[tooltipItem[0].index];
                    //                    }
                    //                },
                    //                backgroundColor: '#FFF',
                    //                titleFontColor: '#0066ff',
                    //                bodyFontColor: '#000'
                    //            }
                    //        }
                    //});
                    
                        //$("#myChartLegend").html(chart.generateLegend());
                    //}

                    $('#loading_dashboard_faktur').hide();
                    $('#chart-faktur-section').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        //end add by nurul 12/7/2019
    </script>
}
