@using MasterOnline.ViewModels
@using PagedList
@model KategoriBarangViewModel
@{
    ViewBag.Title = "Kategori Barang";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    if (dataSession?.User != null)
    {
        var context = new MoDbContext();
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}

@section styles
{
    <style>
        #kategori-section {
            background-color: #fff;
            padding: 20px;
            margin-top: 58px;
        }

        #hapus_label {
            color: orange;
            font-weight: bold;
        }
    </style>
}

<div class="row" id="kategori-section">
    <div class="col-lg-12 col-md-12">
        <div class="kategori_table_section">
            <div class="row">
                <div class="col-lg-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                        {
                            <div class="alert alert-danger">
                                <span class="message-error">@modelError.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="input-group">
                        <input id="search_kategori_input" type="text" class="form-control" placeholder="Pencarian">
                        <span class="input-group-btn">
                            <a id="search_kategori_button" href="@Url.Action("KategoriBarang", "Manage")" type="button" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class=" btn btn-default" data-style="expand-right">
                            <span>Refresh</span>
                        </button>
                        <button class="btn btn-primary btn_tambah_data" id="tambah_kategori">Tambah Baru</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="table-kategori-partial" class="col-lg-12">
                    @{
                        var currentPage = (int) ViewData["currentPage"];
                    }

                    @Html.Partial("TableKategoriPartial", Model.ListKategori.ToPagedList(currentPage, 10))
                </div>
            </div>
        </div>
        <div class="row kategori_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Kategori</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 style="font-size: 16px">Data Kategori</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                        {
                                            foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                            {
                                                <div class="alert alert-danger">
                                                    <span class="message-error">@modelError.ErrorMessage</span>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            }
                                        }
                                        <br>
                                        @using (Html.BeginForm("SaveKategoriBarang", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-kategori" }))
                                        {
                                            @Html.HiddenFor(m => m.Kategori.LEVEL, new { Value = "1" })
                                            @Html.HiddenFor(m => m.Kategori.TOLERANSI, new { Value = 0 })
                                            @Html.HiddenFor(m => m.Kategori.RecNum)
                                            @Html.HiddenFor(m => m.Kategori.USERNAME, new { Value = username })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Kategori.KODE, "Kode Kategori *", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Kategori.KODE, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Kategori.KET, "Nama Kategori *", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Kategori.KET, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <input type="button" class="btn btn-primary pull-right" value="Simpan" id="simpan_btn" onclick="simpanKategori(this)"/>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hapusKategori" tabindex="-1" role="dialog" aria-labelledby="hapusKategoriLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hapusKategoriLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus kategori <span id="hapus_label"></span>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteKat()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $recNumber = '';
        
        $(document).on('ready', function () {
            $('#search_kategori_button').click(function () {
                event.preventDefault();
                var url = $(this).attr('href');
                var searchQuery = $('#search_kategori_input').val();
                if (searchQuery != '') {
                    url = url + "?page=1&search=" + searchQuery;
                }
                window.location.href = url;
            });

            $('#search_kategori_input').keypress(function (e) {
                if(e.which == 13) {
                    var url = $('#search_kategori_button').attr('href');
                    var searchQuery = $(this).val();
                    if (searchQuery != '') {
                        url = url + "?page=1&search=" + searchQuery;
                    }
                    window.location.href = url;
                }
            });

            Initialize();

            $('#search_kategori_input').val(getUrlParameter('search'));
        });

        function Initialize() {
            $('#tambah_kategori').on('click', function () {
                $('.kategori_table_section').hide();
                $('.kategori_editor_section').show();
            });

            $('#close-editor').on('click', function () {
                $('.kategori_table_section').show();
                $('.kategori_editor_section').hide();
                $('#Kategori_KODE, #Kategori_KET, #Kategori_RecNum').val("");
                $('#Kategori_KODE').removeAttr('disabled');
                resetError();
            });

            if ($('.message-error').text() !== '') {
                $('#tambah_kategori').click();
            }

            $('#Kategori_KODE').on('change blur',
                function () {
                    if (!$(this).is(':disabled')) {
                        cekKode($(this), 'kat');
                    }
                });
        }

        function simpanKategori(btnClicked) {
            if (!validateForm()) return false;

            var $form = $(btnClicked).parents('form');

            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('#table-kategori-partial').html(response);
                    Initialize();
                    $('#close-editor').click();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $('#loading_spinner').hide();
                },
                error: function(xhr, status, error) {
                    console.log(error);
                    $('#loading_spinner').hide();
                }
            });

            return false;
        }

        function editKategori(rec) {
            var link = '@Url.Action("EditKategori", "Manage", new { recNum = "replaceId" })';
            link = link.replace("replaceId", rec);

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    $('#Kategori_LEVEL').val(response.Kategori.LEVEL);
                    $('#Kategori_TOLERANSI').val(response.Kategori.TOLERANSI);
                    $('#Kategori_RecNum').val(response.Kategori.RecNum);
                    $('#Kategori_USERNAME').val(response.Kategori.USERNAME);
                    $('#Kategori_KODE').val(response.Kategori.KODE).attr('disabled', 'disabled');
                    $('#Kategori_KET').val(response.Kategori.KET);
                    $('#tambah_kategori').click();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(recNum, namaKat) {
            this.$recNumber = recNum;
            $('#hapus_label').text(namaKat);
        }

        function deleteKat() {
            var link = '@Url.Action("DeleteKategori", "Manage", new { recNum = "replaceId" })';
            link = link.replace("replaceId", this.$recNumber);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function () {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
}
