@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.FakturViewModel
@{
    ViewBag.Title = "Lihat Faktur";
    Layout = null;

    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext();
    if (dataSession?.User != null)
    {
        var accId = context.User.SingleOrDefault(u => u.Username == dataSession.User.Username)?.AccountId;
        username = context.Account.SingleOrDefault(a => a.AccountId == accId)?.Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Situs Jualan Online Terpusat</title>
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->

    <style media="print">
        body * {
            visibility: hidden;
        }

        #fake_page, #fake_page * {
            visibility: visible;
        }

        #fake_page {
            position: absolute;
            left: 50px;
            top: 50px;
        }
    </style>

    <style>
        body {
            background-color: #F7F7F7;
            font-family: 'Roboto Condensed', sans-serif;
            color: #606060;
        }

        #faktur_viewer {
            padding: 20px;
        }

        #fake_page {
            background-color: #fff;
            padding: 10px;
        }

        .bold_title {
            font-weight: bold;
            padding-top: 20px;
            font-size: 24px;
        }

        .sub_title {
            font-size: 16px;
        }

        .block_subtitle {
            display: inline-block;
            width: 80px;
            font-weight: bold;
        }

        hr {
            border: solid 1.5px #eee;
            margin: 15px 0 10px 0;
        }

        #rincian_faktur > thead > tr:not(:last-child) > th {
            border-top: 0;
            border-bottom: 0;
        }

        #rincian_faktur > thead > tr:first-child > th {
            border-top: solid 1px #ddd;
        }

        #garis_potong {
            border: dashed 1.5px #606060;
            margin: 12px 0;
        }

        #print-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        #barang-faktur > tr > td {
            border-top: none;
        }
    </style>
</head>
<body>
    <div id="faktur_viewer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" id="fake_page">
                    @if (Model.Faktur != null)
                    {
                        var pembeli = Model.ListPembeli.SingleOrDefault(p => p.BUYER_CODE == Model.Faktur.PEMESAN);

                        //~/ Content / Images / MO_new_logo_v2.png
                        <div class="row">
                            <div class="col-md-6">
                                <img src="@Url.Content(Model.LogoMarket)" width="250" />
                                <img src="@Url.Content($"~/Content/Logo_Perusahaan/LogoUsaha-{username}-{Model.NamaPerusahaan}.jpg")" width="100" />
                                @*var namaFile = $"LogoUsaha-{dataVm.DataUsaha.USERNAME}-{dataVm.DataUsaha.NAMA_PT}{fileExtension}";*@
                            </div>
                        </div>
                        <button id="print-btn" class="btn btn-success pull-right">Cetak</button>
                        <h2 class="bold_title">Faktur Penjualan Toko @Model.NamaToko</h2>
                        <p class="sub_title">
                            <span class="block_subtitle">Pembeli</span> @pembeli.NAMA
                        </p>
                        <p class="sub_title">
                            <span class="block_subtitle">Nomor</span> @(Model.Faktur.NO_BUKTI)
                        </p>
                        <p class="sub_title">
                            <span class="block_subtitle">Tanggal</span> @(Model.Faktur.TGL.ToString("dd/MM/yyyy"))
                        </p>
                        <hr />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nama Produk</th>
                                    <th style="text-align: right;">Jumlah Barang</th>
                                    @*<th style="text-align: right;">Berat Barang</th>*@
                                    <th style="text-align: right;">Diskon</th>
                                    <th style="text-align: right;">Harga Barang</th>
                                    <th style="text-align: right;">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="barang-faktur">
                                @foreach (var fakturDetail in Model.ListFakturDetail)
                                {
                                    var namaBarang1 = Model?.ListBarang?.SingleOrDefault(b => b.BRG == fakturDetail.BRG)?.NAMA;
                                    var namaBarang2 = Model?.ListBarang?.SingleOrDefault(b => b.BRG == fakturDetail.BRG)?.NAMA2;
                                    @*var beratBarang = Model?.ListBarang?.SingleOrDefault(b => b.BRG == fakturDetail.BRG)?.BERAT;*@
                                    var discTotal = fakturDetail.DISCOUNT + fakturDetail.DISCOUNT_2;
                                    var merk = Model?.ListBarang?.SingleOrDefault(b => b.BRG == fakturDetail.BRG)?.Sort2;
                                    var satuan = Model?.ListBarang?.SingleOrDefault(b => b.BRG == fakturDetail.BRG)?.STN2;
                                    <tr>
                                        <td>
                                            @namaBarang1
                                            @if (!String.IsNullOrWhiteSpace(namaBarang2))
                                            {
                                                @namaBarang2
                                            }
                                        </td>
                                        <td style="text-align: right;">
                                            @fakturDetail.QTY @satuan
                                        </td>
                                        <td style="text-align: right;">
                                            @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", discTotal)
                                        </td>
                                        @*<td style="text-align: right;">
                                            @(fakturDetail.QTY * beratBarang) gr
                                        </td>*@
                                        <td style="text-align: right;">
                                            @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", fakturDetail.H_SATUAN)
                                        </td>
                                        <td style="text-align: right;">
                                            @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", fakturDetail.HARGA)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table" id="rincian_faktur">
                            <thead>
                                <tr>
                                    <th style="width: 160px;">Subtotal</th>
                                    <th style="width: 150px;"></th>
                                    <th style="width: 70px;"></th>
                                    <th style="width: 140px;"></th>
                                    <th style="width: 109px; text-align: right;">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", Model?.Faktur?.BRUTO)</th>
                                </tr>
                                <tr>
                                    <th style="width: 160px;">Nilai Diskon</th>
                                    <th style="width: 150px;"></th>
                                    <th style="width: 70px;"></th>
                                    <th style="width: 140px;"></th>
                                    <th style="width: 109px; text-align: right;">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "- {0:N}", Model?.Faktur?.NILAI_DISC)</th>
                                </tr>
                                <tr>
                                    <th style="width: 160px;">Nilai PPN (@(Model?.Faktur?.PPN)%)</th>
                                    <th style="width: 150px;"></th>
                                    <th style="width: 70px;"></th>
                                    <th style="width: 140px;"></th>
                                    <th style="width: 109px; text-align: right;">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "+ {0:N}", Model?.Faktur?.NILAI_PPN)</th>
                                </tr>
                                <tr>
                                    <th style="width: 160px;">Ongkos Kirim</th>
                                    <th style="width: 150px;"></th>
                                    <th style="width: 70px;"></th>
                                    <th style="width: 140px;"></th>
                                    <th style="width: 109px; text-align: right;">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "+ {0:N}", Model?.Faktur?.MATERAI)</th>
                                </tr>
                                <tr>
                                    <th style="width: 160px;">Total</th>
                                    <th style="width: 150px;"></th>
                                    <th style="width: 70px;"></th>
                                    <th style="width: 140px;"></th>
                                    <th style="width: 109px; text-align: right;">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", Model?.Faktur?.NETTO)</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="row">
                            <div class="col-md-1">
                                <span style="font-size: 20px">&#9986;</span>
                            </div>
                            <div class="col-md-11">
                                <hr id="garis_potong" />
                            </div>
                        </div>
                        <h2 class="bold_title" style="padding-top: 0;">Detail Pengiriman dari Toko @Model.NamaToko</h2>
                        <p class="sub_title">
                            <span class="block_subtitle">Penjual</span> @Model.NamaToko
                        </p>
                        <p class="sub_title">
                            @*<span class="block_subtitle">Pembeli</span> @pembeli.NAMA*@
                            <span class="block_subtitle">Penerima</span> @Model.Faktur.NAMAPEMESAN
                        </p>
                        <p class="sub_title">
                            <span class="block_subtitle">No. SO</span> @(Model.Faktur.NO_SO)
                        </p>
                        <p class="sub_title">
                            <span class="block_subtitle">Alamat</span> @(Model.Faktur.AL)
                        </p>
                        <p class="sub_title">
                            <span class="block_subtitle">No. Telepon</span> @(pembeli.TLP)
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#print-btn').click(function () {
                $(this).hide();
                window.print();
            });

            window.onafterprint = function () {
                $('#print-btn').show();
            }
        });
    </script>
</body>
</html>