@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.PackingListViewModel
@{
    ViewBag.Title = "Lihat Rekap Packing list";
    Layout = null;

    //var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext("");
    //if (dataSession?.User != null)
    //{
    //    var accId = context.User.SingleOrDefault(u => u.Email == dataSession.User.Email)?.AccountId;
    //    username = context.Account.SingleOrDefault(a => a.AccountId == accId)?.Username;
    //    context.Dispose();
    //}
    //else
    //{
    //    username = dataSession?.Account.Username;
    //}

    var sessionAccount = HttpContext.Current.Session["SessionAccount"];
    var sessionAccountUserID = HttpContext.Current.Session["SessionAccountUserID"];
    var sessionAccountUserName = HttpContext.Current.Session["SessionAccountUserName"];
    var sessionAccountEmail = HttpContext.Current.Session["SessionAccountEmail"];
    var sessionAccountTglSub = HttpContext.Current.Session["SessionAccountTglSub"];
    var sessionAccountKodeSub = HttpContext.Current.Session["SessionAccountKodeSub"];
    var sessionAccountDataSourcePathDebug = HttpContext.Current.Session["SessionAccountDataSourcePathDebug"];
    var sessionAccountDataSourcePath = HttpContext.Current.Session["SessionAccountDataSourcePath"];
    var sessionAccountDatabasePathErasoft = HttpContext.Current.Session["SessionAccountDatabasePathErasoft"];

    var sessionUser = System.Web.HttpContext.Current.Session["SessionUser"];
    var sessionUserUserID = System.Web.HttpContext.Current.Session["SessionUserUserID"];
    var sessionUserUsername = System.Web.HttpContext.Current.Session["SessionUserUsername"];
    var sessionUserEmail = System.Web.HttpContext.Current.Session["SessionUserEmail"];
    var sessionUserAccountID = System.Web.HttpContext.Current.Session["SessionUserAccountID"];

    if (sessionUser != null)
    {
        var accId = context.User.SingleOrDefault(u => u.Email == sessionUserEmail.ToString())?.AccountId;
        username = context.Account.SingleOrDefault(a => a.AccountId == accId)?.Username;
        context.Dispose();
    }
    else
    {
        username = sessionAccountUserName.ToString();
    }

    if (username.Length > 20)
    {
        username = username.Substring(0, 17) + "...";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Situs Jualan Online Terpusat</title>
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css" media="print">
    <style>
        body {
            background-color: #F7F7F7;
            font-family: 'Roboto Condensed', sans-serif;
            color: #606060;
        }

        #faktur_viewer {
            padding: 20px;
        }

        #fake_page {
            background-color: #fff;
            padding: 10px;
        }

        .bold_title {
            font-weight: bold;
            padding-top: 20px;
            font-size: 24px;
            height: 59px;
        }

        .bold_title_invoice {
            font-weight: bold;
            padding-top: 20px;
            font-size: 36px;
        }

        .sub_title {
            font-size: 16px;
        }

        .block_subtitle {
            display: inline-block;
            width: 80px;
            font-weight: bold;
        }

        .block_subtitle_label {
            display: inline-block;
            width: 135px;
            font-weight: bold;
        }

        hr {
            border: solid 1.5px #eee;
            margin: 15px 0 10px 0;
        }

        #rincian_faktur > thead > tr:not(:last-child) > th {
            border-top: 0;
            border-bottom: 0;
        }

        #rincian_faktur > thead > tr:first-child > th {
            border-top: solid 1px #ddd;
        }

        #garis_potong {
            border: dashed 1.5px #606060;
            margin: 12px 0;
        }

        #print-btn {
            /*position: absolute;
            top: 20px;
            right: 20px;*/
        }

        #barang-faktur > tr > td {
            border-top: none;
        }
    </style>
    <style type="text/css">
        @@media print {
            @@page {
                size: A4 portrait;
                margin: 0;
                width: 210mm;
                height: 297mm;
            }

            body * {
                page: initial;
                position: initial;
                margin: 0;
                padding: 0;
            }
        }
    </style>
</head>
<body id="body-print" style="width:75%;margin-left:10px;margin-top:10px;">
    <div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button id="download-btn" class="btn btn-primary" onclick="DownloadExcelFaktur('@Model.printMode', '@Model.packingList.NO_BUKTI', '@Model.packingList.TGL.Value.ToString("dd/MM/yyyy")')">Download</button>
                <button id="print-btn" class="btn btn-success pull-right">Print</button>
            </div>
        </div>
    </div>
    <div>
        <table style="font-size:14px;">
            <tr>
                <td>No. Bukti :</td>
                <td style="padding-left:10px;">@Model.packingList.NO_BUKTI</td>
            </tr>
            <tr>
                <td>Tanggal :</td>
                <td style="padding-left:10px;">@Model.packingList.TGL.Value.ToString("dd/MM/yyyy")</td>
            </tr>
        </table>
    </div>
    <br />
    <div class="col-md-12 col-lg-12">
        <table class="table" style="width:100%">
            @if (Model.printMode == "1")
            {
                <tr>
                    <th >No. Pesanan</th>
                    <th >No. Referensi</th>
                    <th >Kode Barang</th>
                    <th style="width:200px !important;">Nama Barang</th>
                    <th >Kode Barang Multi SKU</th>
                    <th style="width:200px !important;">Nama Barang Multi SKU</th>
                    <th style="text-align:center">QTY</th>
                    <th >Pembeli</th>
                    <th >Marketplace</th>
                </tr>
                <tbody>
                    @{
                        string currentData = "";
                    }
                    @foreach (var rekap in Model.listRekapBarang)
                    {
                        <tr>
                            @if (currentData == rekap.NO_PESANAN)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@rekap.NO_PESANAN</td>
                            }
                            <td>@rekap.NO_REFERENSI</td>
                            <td>@rekap.BRG</td>
                            <td style="width:200px !important;">@rekap.NAMA_BARANG</td>
                            <td>@rekap.BRG_MULTISKU</td>
                            <td style="width:200px !important;">@rekap.NAMA_BRG_MULTISKU</td>
                            <td style="text-align:center">@rekap.QTY</td>
                            @if (currentData == rekap.NO_PESANAN)
                            {
                                <td></td>
                                <td></td>
                            }
                            else
                            {
                                <td>@rekap.PEMBELI</td>
                                <td>@rekap.MARKETPLACE</td>
                            }
                            @{
                                currentData = rekap.NO_PESANAN;
                            }
                        </tr>
                    }
                </tbody>
            }
            else
            {
        <tr>
            <th style="width:130px">Kode Barang</th>
            <th style="width:120px">Kode Barcode</th>
            <th style="width:200px">Nama Barang</th>
            <th style="width:90px">Lokasi Rak</th>
            <th style="width:75px;text-align:center">QTY</th>
            <th style="width:150px">No. Referensi</th>
        </tr>
                <tbody>
                    @foreach (var rekap in Model.listRekapBarang)
                    {
                        string noref = rekap.NO_REFERENSI;
                    <tr>
                        <td>@rekap.BRG</td>
                        <td>@rekap.BARCODE</td>
                        <td>@rekap.NAMA_BARANG</td>
                        <td>@rekap.RAK</td>
                        <td style="text-align:center">@rekap.QTY</td>
                        <td style="white-space: pre-line;">@noref</td>
                    </tr>
                    }
                </tbody>
            }
        </table>
    </div>
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#print-btn').click(function () {
                $(this).hide();
                $('#download-btn').hide();
                document.getElementById("body-print").style.width = "95%";
                window.print();
            });

            //$('#download-btn').click(function () {
            //    //$(this).hide();
            //    //window.print();
            //    DownloadExcelFaktur();
            //});

            window.onafterprint = function () {
                $('#print-btn').show();
                $('#download-btn').show();
                document.getElementById("body-print").style.width = "75%";
            }
            //add by nurul 29/4/2019
            function overrideKeyDown(winEvent) {
                var keyCode;

                if (!winEvent) {
                    // IE code
                    winEvent = window.event;
                    keyCode = winEvent.keyCode;
                }
                else {
                    keyCode = winEvent.which;
                }

                if (keyCode == 80 && winEvent.ctrlKey) {
                    //alert('Printer Friendly Page');
                    $('#print-btn').click();
                    return false;
                }
            }

            document.onkeydown = overrideKeyDown;
        });

        //add by nurul 23/7/2020
        function DownloadExcelFaktur(mode, nobuk, tgl) {
            $('#loading_spinner').show();

            var link = '@Html.Raw(Url.Action("ListPackingListtoExcel", "TransferExcel"))';
            link += "?noPackingList=" + nobuk + "&mode=" + mode + "&tgl=" + tgl;

            $.ajax({
                xhr: function () {
                    var xhr = $.ajaxSettings.xhr();
                    xhr.onprogress = function (evt) {
                        if (evt.lengthComputable) {
                            $('#loading_spinner').hide();
                        }
                        $('#loading_spinner').hide();
                    };
                    return xhr;
                },
                type: "GET",
                url: link,
                contentType: 'application/json',
                cache: false,
                success: function (response) {
                    $('#loading_spinner').hide();
                    if (response.Errors.length == 0) {
                        var bytes = new Uint8Array(response.byteExcel);
                        saveByteArray(response.namaFile, bytes);
                    } else {
                        alert(response.Errors[0]);
                    }

                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function saveByteArray(reportName, byte) {
            var blob = new Blob([byte], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName;
            //document.body.appendChild(link);
            link.click();
            //document.body.removeChild(link);
        };
        //end add by nurul 23/7/2020
    </script>
</body>
</html>
