@using System.Globalization
@model MasterOnline.ViewModels.errorBayarPiutang
@{
    var dataSuccess = Model.totalSuccess;
    var waktu = "";
}
@if (Model?.detail.Count() > 0)
{
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-2 col-sm-2">No. Bukti</label>
            <div class="col-md-4 col-sm-4">
                @Html.Label("no_bukti", ": " + Model?.header?.LAST_FAKTUR_UPLOADED, new { @class = "control-label", disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-2 col-sm-2">Waktu Proses</label>
            <div class="col-md-4 col-sm-4">
                @Html.Label("waktu", ": " + Model?.header?.UPLOAD_DATETIME.ToString("dd MMMM yyyy hh:mm"), new { @class = "control-label", disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-2 col-sm-2">Sukses</label>
            <div class="col-md-4 col-sm-4">
                @Html.Label("sukses", ": " + dataSuccess + " dari " + Model.totalData, new { @class = "control-label", disabled = "disabled" })
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label" style="padding-left: 10px">Sukses : @dataSuccess dari @Model.totalData </label>
        </div>
    </div>*@
    <div id="div-scroll-list">
        <table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 115px;">Kode Barang</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 60px;">Stok Opname</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 60px;">Stok</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.detail.OrderBy(a => a.RecNum))
                {
                    <tr>
                        <td>@user.VARIABLE_2</td>
                        <td>@user.TEXT_1</td>
                        <td>@user.TEXT_2</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-12 col-sm-12">Tidak ada error.</label>
        </div>
    </div>
}

