@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewDetailPesanan
<style>
    #loading_detail_barang_tab {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
    }

    #loading_detail_barang_tab_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }
</style>
<div id="loading_detail_barang_tab" class="text-center">
    <div id="loading_detail_barang_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
@if (Model?.listDetail.Count() > 0)
{

    <div id="div-scroll-list">
        <table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info" style="width:800px">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">No. Pesanan</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">No. Referensi</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 115px;">Tanggal Pesanan</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 117px;">Marketplace</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 120px;">Pembeli</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Kurir</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 90px;">Status</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 60px;">Qty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pesanan in Model.listDetail)
                {
                    var StatusTx = "";
                    if (pesanan.STATUS_TRANSAKSI == "0")
                    {
                        StatusTx = "Belum Bayar";
                    }
                    else if (pesanan.STATUS_TRANSAKSI == "01")
                    {
                        StatusTx = "Sudah Bayar";
                    }
                    else if (pesanan.STATUS_TRANSAKSI == "02")
                    {
                        StatusTx = "Packing";
                    }
                    else if (pesanan.STATUS_TRANSAKSI == "03")
                    {
                        StatusTx = "Faktur";
                    }
                    else if (pesanan.STATUS_TRANSAKSI == "04")
                    {
                        StatusTx = "Selesai";
                    }
                    else if (pesanan.STATUS_TRANSAKSI == "11")
                    {
                        StatusTx = "Batal";
                    }
                    <tr>
                        <td>@pesanan.NO_BUKTI</td>
                        <td>@pesanan.NO_REFERENSI</td>
                        <td>@(pesanan.TGL?.ToString("dd/MM/yyyy"))  @(pesanan.TGL?.ToString("HH:mm"))</td>
                        <td>
                            @if (pesanan.PERSO != "")
                            {
                                @(pesanan.NAMAMARKET + " (" + pesanan.PERSO + ")")
                            }
                            else
                            {
                                @pesanan.NAMAMARKET
                            }
                        </td>
                        <td>
                            @pesanan.NAMAPEMESAN
                        </td>
                        <td>@pesanan.SHIPMENT</td>
                        <td>@StatusTx</td>
                        <td>@pesanan.QTY</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-12 col-sm-12">Tidak ada detail pesanan.</label>
        </div>
    </div>
}

