@using System.Globalization
@using PagedList.Mvc
@using MasterOnline.ViewModels
@model templistDetailPacking

<div class="hscroll table-responsive brgtblpromofrm">
    <table id="table_tambah_packinglist" class="table table-bordered" role="grid">
        <thead>
            <tr>
                <th width="40">No. Pesanan</th>
                <th width="100">No. Referensi</th>
                <th width="80">Tanggal Pesanan</th>
                <th width="90">Marketplace</th>
                <th width="120">Pembeli</th>
                <th width="50">Tipe Pesanan</th>
                <th width="80">Status Kirim</th>
                <th width="80">Status Print</th>
                <th width="70">Scan Barcode</th>
                @*<th width="80">No. Resi</th>*@
                @*<th width="45">Simpan</th>*@
                @* <th width="45">Hapus</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var detPackinglist in Model?.listDetail.Where(pb => pb.NO_BUKTI == Model?.nobuk)?.ToList())
            {
                var status_kirim = "Dalam Proses";
                var status_print = "";

                switch (detPackinglist.SO_STATUS_KIRIM)
                {
                    case "0":
                        status_kirim = "Dalam Proses";
                        break;
                    case "1":
                        status_kirim = "Gagal Proses";
                        break;
                    case "2":
                        status_kirim = "Siap Kirim";
                        break;
                    case "5":
                        status_kirim = "Batal";
                        break;
                    default:
                        status_kirim = "";
                        break;
                }
                switch (detPackinglist.STATUS_PRINT)
                {
                    case "1":
                        status_print = "Sudah";
                        break;
                    default:
                        status_print = "Belum";
                        break;
                }
                //var tempCode = "";
                //if(detPackinglist.BARCODE != 0)
                //{
                //    tempCode = Convert.ToString(detPackinglist.BARCODE);
                //}
                //add by Tri 17 feb 2021
                var tipe_pesanan = "";
                if (detPackinglist.TIPE_KIRIM.Value == 1)
                {
                    tipe_pesanan = "COD";
                }
                else if (detPackinglist.TIPE_KIRIM.Value == 2)
                {
                    tipe_pesanan = "Preorder";
                }
                if (detPackinglist.N_UCAPAN != "" && detPackinglist.N_UCAPAN != "-" && detPackinglist.N_UCAPAN != " ")
                {
                    if (tipe_pesanan != "")
                    {
                        tipe_pesanan += " " + detPackinglist.N_UCAPAN;
                    }
                    else
                    {
                        tipe_pesanan = detPackinglist.N_UCAPAN;
                    }
                }
                //end add by Tri 17 feb 2021
                <tr data-packing-id="brg-@detPackinglist.RecNum">
                    <td>
                        @detPackinglist.NO_PESANAN
                    </td>
                    <td>@detPackinglist.NO_REFERENSI</td>
                    <td>
                        @(detPackinglist.TGL_PESANAN?.ToString("dd/MM/yyyy"))  @(detPackinglist.TGL_PESANAN?.ToString("HH:mm"))
                    </td>
                    <td>
                        @detPackinglist.MARKETPLACE
                    </td>
                    <td>
                        @detPackinglist.PEMBELI
                    </td>
                    <td>@tipe_pesanan</td>
                    @*<td>
                    @detPackinglist.SO_TRACKING_NUMBER
                </td>*@
                    <td>
                        @status_kirim
                    </td>
                    <td>@status_print</td>
                    @*<td>@tempCode</td>*@

                    @if (detPackinglist.BARCODE ?? false)
                    {
                        <td>VALID</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @*<td class="edit-hapus-col">
                    <button type="button" class="btn btn-primary" disabled="disabled">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                </td>*@
                    @* <td class="edit-hapus-col"> *@
                    @*     <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#konfHapusPesanan" onclick="passKodeInDb('@detPackinglist.RecNum')"> *@
                    @*         <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> *@
                    @*     </button> *@
                    @* </td> *@
                </tr>
            }
            @*<tr data-packing-id="0" id="trNewData" style="display:none">
            @Html.HiddenFor(m => m.detailPackingList.NO_BUKTI)
            @Html.HiddenFor(m => m.detailPackingList.RecNum)
            @Html.HiddenFor(m => m.detailPackingList.TGL_PESANAN)
            @Html.HiddenFor(m => m.detailPackingList.PEMBELI)
            @Html.HiddenFor(m => m.detailPackingList.MARKETPLACE)
            <td style="width: 140px; max-width: 140px;">
                <div id="PESANAN" class="selectivity-input" tabindex="0"></div>
                @Html.HiddenFor(m => m.detailPackingList.NO_PESANAN)
            </td>
            <td class="tgl-pesanan" style="width: 130px; max-width: 130px;"></td>
            <td class="pembeli-pesanan" style="width: 130px; max-width: 130px;"></td>
            <td class="marketplace-pesanan" style="width: 30px; max-width: 30px;"></td>
            <td class="edit-hapus-col">
                <button type="button" class="btn btn-primary" disabled="disabled" onclick="simpanpesanan('pesanan-0')">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
            </td>
            <td class="edit-hapus-col">
                <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#konfHapusBarang">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>*@
        </tbody>
    </table>
</div>

