@using System.Globalization
@using MasterOnline.Models
@using MasterOnline.ViewModels
@model BarangViewModel
@{
    ViewBag.Title = "Barang";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/selectize.css" rel="stylesheet" />
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />
    <style>
        #Stf02_Deskripsi {
            resize: vertical;
            height: 100px;
            max-height: 150px;
        }

        .satuan {
            text-align: left !important;
            font-size: 10px;
        }

        #hapus_label {
            color: orange;
            font-weight: bold;
        }

        .foto_produk_section {
            padding: 10px;
        }

            .foto_produk_section > .box_upload {
                width: 250px;
                height: 250px;
                border: dashed 1.5px #bbb;
                border-radius: 10px;
                background-color: #f7f7f7;
                background-image: url('');
                text-align: center;
                display: table;
                margin: 0 auto;
                cursor: pointer;
            }

        .box_upload > .box_upload_placeholder {
            color: #ccc;
            font-size: 20px;
            display: table-cell;
            vertical-align: middle;
        }

        .btn_hapus_foto_produk {
            position: absolute;
            bottom: 15px;
            left: 48px;
        }

        /* =============== Checkbox ================ */

        /* Customize the label (the container) */
        .checkbox-container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-top: 4px;
            cursor: pointer;
            font-size: 11px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .checkbox-container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border: solid 1px #ccc;
        }

        /* On mouse-over, add a grey background color */
        .checkbox-container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 6px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab_content1" id="barang-tab" role="tab" data-toggle="tab" aria-expanded="true">Barang</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="kosong-tab" data-toggle="tab" aria-expanded="false">Barang Kosong</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content4" role="tab" id="tidaklaku-tab" data-toggle="tab" aria-expanded="false">Barang Tidak Laku</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content6" role="tab" id="minimumstok-tab" data-toggle="tab" aria-expanded="false">Barang di Bawah Minimum Stok</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content7" role="tab" id="palinglaku-tab" data-toggle="tab" aria-expanded="false">Barang Paling Laku</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content" style="padding-top:10px">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="barang-tab">
                    <div class="row barang_table_section">
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-group">
                                <input id="search_barang" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_barang_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-lg-8 col-sm-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-style="expand-right">
                                        <span>Refresh</span>
                                        </button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        @* remark by calvin 24 mei 2019 <div id="loading_barang_tab" class="text-center">
                                <img src="~/Content/Images/spinner.gif" width="100" />
                            </div>*@
                        <div class="col-sm-12 barang_table_section" id="table-barang-1-partial">
                            @* remark by calvin 24 mei 2019 @Html.Partial("TableMenuBarang1Partial")*@
                        </div>
                    </div>
                    <div class="row barang_editor_section" style="display: none;">
                        <div class="col-lg-12">
                            <div class="page-editor">
                                <h2 class="editor-title">Barang</h2>
                                <span class="title-accent"></span>
                                <button id="close-editor-1" type="button" class="pull-right page-close">
                                    <span class="close-btn thick"></span>
                                </button>
                                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                {
                                    foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                    {
                                        <div class="alert alert-danger">
                                            <span class="message-error">@modelError.ErrorMessage</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    }
                                }
                                @using (Html.BeginForm("SaveBarang", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-barang" }))
                                {
                                    <div id="form-partial">
                                        @* remark by calvin 24 mei 2019 @Html.Partial("FormBarangPartial")*@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="kosong-tab">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-group">
                                <input id="search_kosong" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_kosong_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-lg-8 col-sm-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-style="expand-right">
                                            <span>Refresh</span>
                                        </button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        @*<div id="loading_kosong_tab" class="text-center">
                                <img src="~/Content/Images/spinner.gif" width="100" />
                            </div>*@
                        <div class="col-sm-12" id="table-barang-kosong-partial">
                            @* remark by calvin 24 mei 2019 @Html.Partial("TableBarangKosongPartial", new List<PenjualanBarang>())*@
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="tidaklaku-tab">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-group">
                                <input id="search_tidaklaku" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_tidaklaku_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-lg-8 col-sm-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-style="expand-right">
                                            <span>Refresh</span>
                                        </button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("", "Dari Tanggal")
                            <div class="input-group date">
                                @*@Html.TextBox("DrTanggal", null, new { @class = "form-control", @disabled = "disable", Value = DateTime.Now.AddMonths(-3).ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("DrTanggal", null, new { @class = "form-control", @ReadOnly = true })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("", "S/d Tanggal")
                            <div class="input-group date">
                                @*@Html.TextBox("SdTanggal", null, new { @class = "form-control", @disabled = "disable", Value = DateTime.Now.ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("SdTanggal", null, new { @class = "form-control", @ReadOnly = true })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        @*<div id="loading_tidak_laku_tab" class="text-center">
                                <img src="~/Content/Images/spinner.gif" width="100" />
                            </div>*@
                        <div class="col-sm-12" id="table-barang-tidak-laku-partial">
                            @* remark by calvin 24 mei 2019 @Html.Partial("TableBarangTidakLakuPartial", new List<PenjualanBarang>())*@
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="minimumstok-tab">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-group">
                                <input id="search_minimumstok" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_minimumstok_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-lg-8 col-sm-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-style="expand-right">
                                            <span>Refresh</span>
                                        </button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("", "Dari Tanggal")
                            <div class="input-group date">
                                @*@Html.TextBox("DrTanggal", null, new { @class = "form-control", @disabled = "disable", Value = DateTime.Now.AddMonths(-3).ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("DrTanggal2", null, new { @class = "form-control", @ReadOnly = true })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("", "S/d Tanggal")
                            <div class="input-group date">
                                @*@Html.TextBox("SdTanggal", null, new { @class = "form-control", @disabled = "disable", Value = DateTime.Now.ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("SdTanggal2", null, new { @class = "form-control", @ReadOnly = true })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div id="loading_minimum_stok_tab" class="text-center">
                            <img src="~/Content/Images/spinner.gif" width="100" />
                        </div>
                        <div class="col-sm-12" id="table-barang-minimum-stok-partial">
                            @* remark by calvin 24 mei 2019 @Html.Partial("TableBarangDibawahMinimumStokPartial", new List<PenjualanBarang>())*@
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content7" aria-labelledby="palinglaku-tab">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="input-group">
                                <input id="search_palinglaku" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_palinglaku_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-sm-3">
                                <h4 style="border-bottom:solid; ">Periode 3 Bulan Terakhir</h4>
                            </div>*@
                        @*<div class="col-lg-8 col-sm-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-style="expand-right">
                                            <span>Refresh</span>
                                        </button>
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("", "Dari Tanggal")
                            <div class="input-group date">
                                @*@Html.TextBox("DrTanggal1", null, new { @class = "form-control", @disabled = "disable", Value = DateTime.Now.AddMonths(-3).ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("DrTanggal1", null, new { @class = "form-control", @ReadOnly = true })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("", "S/d Tanggal")
                            <div class="input-group date">
                                @*@Html.TextBox("SdTanggal1", null, new { @class = "form-control", @disabled = "disable", Value = DateTime.Now.ToString("dd/MM/yyyy") })*@
                                @Html.TextBox("SdTanggal1", null, new { @class = "form-control", @ReadOnly = true })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        @*<div id="loading_palinglaku_tab" class="text-center">
                                <img src="~/Content/Images/spinner.gif" width="100" />
                            </div>*@
                        <div class="col-sm-12" id="table-barang-paling-laku-partial">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Hapus customer -->
<div class="modal fade" id="konfHapusBarang" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus barang <span id="hapus_label"></span>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteBarang()">Ya</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/selectize.js" type="text/javascript"></script>
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        //remark by calvin 24 mei 2019
        //var table = $('#datatable').DataTable();
        //var tableKosong = $('#datatable_kosong').DataTable();
        //var tableTidakLaku = $('#datatable_tidaklaku').DataTable();
        //var tableMinimumStok = $('#datatable_minimumstok').DataTable();
        //var tablePalingLaku = $('#datatable_palinglaku').DataTable();

        //$('#search_barang').keyup(function () {
        //    table.search($(this).val()).draw();
        //});

        //$('#search_palinglaku').keyup(function () {
        //    tablePalingLaku.search($(this).val()).draw();
        //});

        //$('#search_kosong').keyup(function () {
        //    tableKosong.search($(this).val()).draw();
        //});

        //$('#search_tidaklaku').keyup(function () {
        //    tableTidakLaku.search($(this).val()).draw();
        //});

        //$('#search_minimumstok').keyup(function () {
        //    tableMinimumStok.search($(this).val()).draw();
        //});
        //end remark by calvin 24 mei 2019


        $(document).ready(function () {
            var d = new Date();
            d.setMonth(d.getMonth() - 3);
            //tidaklaku-tab
            var f = new Date();
            f.setMonth(f.getMonth() - 1);
            $('#DrTanggal').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', f);
            $('#DrTanggal').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                $('#DrTanggal').val($('#DrTanggal').val());
                $('#DrTanggal').datepicker('hide');
                refreshTableBarangTidakLaku();
            });
            $('#SdTanggal').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', '0');
            $('#SdTanggal').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                $('#SdTanggal').val($('#SdTanggal').val());
                $('#SdTanggal').datepicker('hide');
                refreshTableBarangTidakLaku();
            });
            //palinglaku-tab
            $('#DrTanggal1').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', d);
            $('#DrTanggal1').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                $('#DrTanggal1').val($('#DrTanggal1').val());
                $('#DrTanggal1').datepicker('hide');
                refreshTablePalingLaku();
            });
            $('#SdTanggal1').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', '0');
            $('#SdTanggal1').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                $('#SdTanggal1').val($('#SdTanggal1').val());
                $('#SdTanggal1').datepicker('hide');
                refreshTablePalingLaku();
            });
            //minimumstok-tab
            $('#DrTanggal2').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', d)
            $('#DrTanggal2').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                $('#DrTanggal2').val($('#DrTanggal2').val());
                $('#DrTanggal2').datepicker('hide');
                refreshTableMinimumStok();
            });
            $('#SdTanggal2').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', '0');
            $('#SdTanggal2').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                $('#SdTanggal2').val($('#SdTanggal2').val());
                $('#SdTanggal2').datepicker('hide');
                refreshTableMinimumStok();
            });

            $('#search_barang').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableBarang();
                    return false;
                }
            });
            $('#search_barang_click').click(function () {
                searchTableBarang();
            });
            $('#barang-tab').click(function () {
                refreshTableBarang();
            });

            $('#search_kosong').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableBarangKosong();
                    return false;
                }
            });
            $('#search_kosong_click').click(function () {
                searchTableBarangKosong();
            });
            $('#kosong-tab').click(function () {
                refreshTableBarangKosong();
            });

            $('#search_tidaklaku').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableBarangTidakLaku();
                    return false;
                }
            });
            $('#search_tidaklaku_click').click(function () {
                searchTableBarangTidakLaku();
            });
            $('#tidaklaku-tab').click(function () {
                refreshTableBarangTidakLaku();
            });


            $('#search_palinglaku').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTablePalingLaku();
                    return false;
                }
            });
            $('#search_palinglaku_click').click(function () {
                searchTablePalingLaku();
            });
            $('#palinglaku-tab').click(function () {
                refreshTablePalingLaku();
            });

            $('#search_minimumstok').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableMinimumStok();
                    return false;
                }
            });
            $('#search_minimumstok_click').click(function () {
                searchTableMinimumStok();
            });
            $('#minimumstok-tab').click(function () {
                refreshTableMinimumStok();
            });

            $('#barang-tab').click();
        });

        function searchTableBarang() {
            var link = '@Html.Raw(Url.Action("RefreshTableMenuBarang", "Manage", new { search = "replaceSearch" }))';
            link = link.replace("replaceSearch", $('#search_barang').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-1-partial').hide();
                    $('#loading_barang_tab').show();
                },
                success: function (response) {
                    $('#table-barang-1-partial').html(response);
                    $('#loading_barang_tab').hide();
                    $('#table-barang-1-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function refreshTableBarang() {
            var link = '@Html.Raw(Url.Action("RefreshTableMenuBarang", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            link = link.replace("replaceSearch", $('#search_barang').val());
            link = link.replace("replaceLastPage", $('#txt_last_page_tmb1p').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-1-partial').hide();
                    $('#loading_barang_tab').show();
                },
                success: function (response) {
                    $('#table-barang-1-partial').html(response);
                    $('#loading_barang_tab').hide();
                    $('#table-barang-1-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function searchTableBarangKosong() {
            var link = '@Html.Raw(Url.Action("RefreshTableBarangKosong", "Manage", new { search = "replaceSearch" }))';
            link = link.replace("replaceSearch", $('#search_kosong').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-kosong-partial').hide();
                    $('#loading_kosong_tab').show();
                },
                success: function (response) {
                    $('#table-barang-kosong-partial').html(response);
                    $('#loading_kosong_tab').hide();
                    $('#table-barang-kosong-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function refreshTableBarangKosong() {
            var link = '@Html.Raw(Url.Action("RefreshTableBarangKosong", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            link = link.replace("replaceSearch", $('#search_kosong').val());
            link = link.replace("replaceLastPage", $('#txt_last_page_tbkp').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-kosong-partial').hide();
                    $('#loading_kosong_tab').show();
                },
                success: function (response) {
                    $('#table-barang-kosong-partial').html(response);
                    $('#loading_kosong_tab').hide();
                    $('#table-barang-kosong-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function searchTableBarangTidakLaku() {
            @*change by nurul 16/1/2019 -- var link = '@Url.Action("RefreshTableBarangTidakLaku", "Manage")'; 'change by nurul 15/1/2019 *@
            var link = '@Html.Raw(Url.Action("RefreshTableBarangTidakLaku", "Manage", new { search = "replaceSearch", param = "replacedrtgl;replacesdtgl" }))';
            link = link.replace("replaceSearch", $('#search_tidaklaku').val());
            link = link.replace("replacedrtgl", $('#DrTanggal').val());
            link = link.replace("replacesdtgl", $('#SdTanggal').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-tidak-laku-partial').hide();
                    $('#loading_tidak_laku_tab').show();
                },
                success: function (response) {
                    $('#table-barang-tidak-laku-partial').html(response);
                    $('#loading_tidak_laku_tab').hide();
                    $('#table-barang-tidak-laku-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function refreshTableBarangTidakLaku() {
            @*change by nurul 16/1/2019 -- var link = '@Url.Action("RefreshTableBarangTidakLaku", "Manage")'; 'change by nurul 15/1/2019 *@
            var link = '@Html.Raw(Url.Action("RefreshTableBarangTidakLaku", "Manage", new { page = "replaceLastPage", search = "replaceSearch", param = "replacedrtgl;replacesdtgl" }))';
            link = link.replace("replaceSearch", $('#search_tidaklaku').val());
            link = link.replace("replaceLastPage", $('#txt_last_page_tbtlp').val());
            link = link.replace("replacedrtgl", $('#DrTanggal').val());
            link = link.replace("replacesdtgl", $('#SdTanggal').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-tidak-laku-partial').hide();
                    $('#loading_tidak_laku_tab').show();
                },
                success: function (response) {
                    $('#table-barang-tidak-laku-partial').html(response);
                    $('#loading_tidak_laku_tab').hide();
                    $('#table-barang-tidak-laku-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function searchTablePalingLaku() {
            @*change by nurul 16/1/2019 -- var link = '@Url.Action("RefreshTableBarangTidakLaku", "Manage")'; 'change by nurul 15/1/2019 *@
            var link = '@Html.Raw(Url.Action("RefreshTableBarangPalingLaku", "Manage", new { search = "replaceSearch", param = "replacedrtgl;replacesdtgl" }))';
            link = link.replace("replaceSearch", $('#search_palinglaku').val());
            link = link.replace("replacedrtgl", $('#DrTanggal1').val());
            link = link.replace("replacesdtgl", $('#SdTanggal1').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-paling-laku-partial').hide();
                    $('#loading_palinglaku_tab').show();
                },
                success: function (response) {
                    $('#table-barang-paling-laku-partial').html(response);
                    $('#loading_palinglaku_tab').hide();
                    $('#table-barang-paling-laku-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function refreshTablePalingLaku() {
            @*change by nurul 16/1/2019 -- var link = '@Url.Action("RefreshTableBarangPalingLaku", "Manage")'; 'change by nurul 15/1/2019*@
            var link = '@Html.Raw(Url.Action("RefreshTableBarangPalingLaku", "Manage", new { page = "replaceLastPage", search = "replaceSearch", param = "replacedrtgl;replacesdtgl" }))';
            link = link.replace("replaceSearch", $('#search_palinglaku').val());
            link = link.replace("replaceLastPage", $('#txt_last_page_tbpl').val());
            link = link.replace("replacedrtgl", $('#DrTanggal1').val());
            link = link.replace("replacesdtgl", $('#SdTanggal1').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-paling-laku-partial').hide();
                    $('#loading_palinglaku_tab').show();
                },
                success: function (response) {
                    $('#table-barang-paling-laku-partial').html(response);
                    $('#loading_palinglaku_tab').hide();
                    $('#table-barang-paling-laku-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function searchTableMinimumStok() {
            var link = '@Html.Raw(Url.Action("RefreshTableBarangDibawahMinimumStok", "Manage", new { search = "replaceSearch", param = "replacedrtgl;replacesdtgl" }))';
            link = link.replace("replaceSearch", $('#search_minimumstok').val());
            link = link.replace("replacedrtgl", $('#DrTanggal2').val());
            link = link.replace("replacesdtgl", $('#SdTanggal2').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-minimum-stok-partial').hide();
                    $('#loading_minimum_stok_tab').show();
                },
                success: function (response) {
                    $('#table-barang-minimum-stok-partial').html(response);
                    $('#loading_minimum_stok_tab').hide();
                    $('#table-barang-minimum-stok-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function refreshTableMinimumStok() {
            //change by nurul 6/5/2019
            @*var link = '@Url.Action("RefreshTableBarangDibawahMinimumStok", "Manage")';*@
            var link = '@Html.Raw(Url.Action("RefreshTableBarangDibawahMinimumStok", "Manage", new { page = "replaceLastPage", search = "replaceSearch", param = "replacedrtgl;replacesdtgl" }))';
            link = link.replace("replaceSearch", $('#search_minimumstok').val());
            link = link.replace("replaceLastPage", $('#txt_last_page_tbms').val());
            link = link.replace("replacedrtgl", $('#DrTanggal2').val());
            link = link.replace("replacesdtgl", $('#SdTanggal2').val());
            //end add by nurul 6/5/2019

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-barang-minimum-stok-partial').hide();
                    $('#loading_minimum_stok_tab').show();
                },
                success: function (response) {
                    $('#table-barang-minimum-stok-partial').html(response);
                    $('#loading_minimum_stok_tab').hide();
                    $('#table-barang-minimum-stok-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function ConvertToAngkaRupiah(source) {
            if (source.value == '') {
                source.value = 0;
            }
            source.value = (convertToAngka(source.value));
            source.value = (convertToRupiah(source.value));
        }
    </script>
}