@using MasterOnline.ViewModels
@using PagedList
@model MerkBarangViewModel
@{
    ViewBag.Title = "Merk Barang";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    if (dataSession?.User != null)
    {
        var context = new MoDbContext();
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}

@section styles
{
    <style>
        #merk-section {
            background-color: #fff;
            padding: 20px;
            margin-top: 58px;
        }

        #hapus_label {
            color: orange;
            font-weight: bold;
        }
    </style>
}

<div class="row" id="merk-section">
    <div class="col-lg-12 col-md-12">
        <div class="merk_table_section">
            <div class="row">
                <div class="col-lg-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                        {
                            <div class="alert alert-danger">
                                <span class="message-error">@modelError.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="input-group">
                        <input id="search_merk_input" type="text" class="form-control" placeholder="Pencarian">
                        <span class="input-group-btn">
                            <a id="search_merk_button" href="@Url.Action("MerkBarang", "Manage")" type="button" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="pull-right">
                        <button type="button" class=" btn btn-default" data-style="expand-right">
                            <span>Refresh</span>
                        </button>
                        <button class="btn btn-primary btn_tambah_data" id="tambah_merk">Tambah Baru</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="table-merk-partial" class="col-lg-12">
                    @{
                        var currentPage = (int)ViewData["currentPage"];
                    }

                    @Html.Partial("TableMerkPartial", Model.ListMerk.ToPagedList(currentPage, 10))
                </div>
            </div>
        </div>
        <div class="row merk_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Merk</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 style="font-size: 16px">Data Merk</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                        {
                                            foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                            {
                                                <div class="alert alert-danger">
                                                    <span class="message-error">@modelError.ErrorMessage</span>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            }
                                        }
                                        <br>
                                        @using (Html.BeginForm("SaveMerkBarang", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-merk" }))
                                        {
                                            @Html.HiddenFor(m => m.Merk.LEVEL, new { Value = "2" })
                                            @Html.HiddenFor(m => m.Merk.TOLERANSI, new { Value = 0 })
                                            @Html.HiddenFor(m => m.Merk.RecNum)
                                            @Html.HiddenFor(m => m.Merk.USERNAME, new { Value = username })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Merk.KODE, "Kode Merk *", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Merk.KODE, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Merk.KET, "Nama Merk *", new { @class = "control-label control-label-bold col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-5 col-sm-5 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Merk.KET, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <input type="button" class="btn btn-primary pull-right" value="Simpan" id="simpan_btn" onclick="simpanMerk(this)"/>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hapusMerk" tabindex="-1" role="dialog" aria-labelledby="hapusMerkLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="hapusMerkLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus merk <span id="hapus_label"></span>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteMerk()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
    $merkId = "";
    //add by nurul 12/2/2019
    var $page = window.text;
            //end add by nurul 12/2/2019

    $(document).on('ready', function () {
        //add by nurul 12/2/2019
        $page = 0;
            //end add by nurul 12/2/2019
            $('#search_merk_button').click(function () {
                event.preventDefault();
                var url = $(this).attr('href');
                var searchQuery = $('#search_merk_input').val();
                if (searchQuery != '') {
                    url = url + "?page=1&search=" + searchQuery;
                }
                window.location.href = url;
            });

            $('#search_merk_input').keypress(function (e) {
                if (e.which == 13) {
                    var url = $('#search_merk_button').attr('href');
                    var searchQuery = $(this).val();
                    if (searchQuery != '') {
                        url = url + "?page=1&search=" + searchQuery;
                    }
                    window.location.href = url;
                }
            });

            Initialize();

        $('#search_merk_input').val(getUrlParameter('search'));
        //add by nurul 12/2/2019
        $('#datatable').on('page.dt', function () {
            $page = $('#datatable').DataTable().page.info().page;
        });
        $('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
        });

        function Initialize() {
            $('#tambah_merk').on('click', function () {
                $('.merk_table_section').hide();
                $('.merk_editor_section').show();
            });

            $('#close-editor').on('click', function () {
                $('.merk_table_section').show();
                $('.merk_editor_section').hide();
                $('#Merk_KODE, #Merk_KET, #Merk_RecNum').val("");
                $('#Merk_KODE').removeAttr('disabled');
                resetError();
                //add by nurul 12/2/2019
                $('#datatable').on('page.dt', function () {
                    $page = $('#datatable').DataTable().page.info().page;
                });
                $('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
            });

            if ($('.message-error').text() !== '') {
                $('#tambah_merk').click();
            }

            $('#Merk_KODE').on('change blur',
                function () {
                    if (!$(this).is(':disabled')) {
                        cekKode($(this), 'merk');
                    }
                });

            $('#Merk_KET').on('change blur',
                function () {
                    if (!$(this).is(':disabled')) {
                        //cekField($('#Merk_KET'), 'CekKetMerk', 'Nama Merk ini sudah digunakan!');
                        cekMerk($('#Merk_KET'), $('#Merk_KODE'), 'CekKetMerk', 'Nama Merk ini sudah digunakan!');
                    }
                });
            //add by nurul 12/2/2019
            $('#datatable').on('page.dt', function () {
                $page = $('#datatable').DataTable().page.info().page;
            });
            $('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

    }
    function cekMerk($ket, $kodemerk, $urlAction, $msg) {
            var link = '';

            @*link = '@Url.Action("replaceUrl", "Manage", new { ket = "replaceKet", kode = "replaceKode" })';*@
            link = '@Url.Action("replaceUrl", "Manage", new { param = "replaceKet;replaceKode" })';
            link = link.replace("replaceUrl", $urlAction);
            link = link.replace("replaceKet", $ket.val());
            link = link.replace("replaceKode", $kodemerk.val());

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    if (!response.Available) {
                        $ket.closest('.form-group').addClass('has-error');

                        if (!$ket.closest('div').find('.text-danger').length) {
                            $ket.closest('div').append('<span class="text-danger">' + $msg +'</span>');
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function simpanMerk(btnClicked) {
            if (!validateForm()) return false;

            var $form = $(btnClicked).parents('form');

            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('#table-merk-partial').html(response);
                    Initialize();
                    $('#close-editor').click();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $('#loading_spinner').hide();
                }
            });

            return false;
        }

        function editMerk(rec) {
            var link = '@Url.Action("EditMerk", "Manage", new { recNum = "replaceId" })';
            link = link.replace("replaceId", rec);

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    $('#Merk_LEVEL').val(response.Merk.LEVEL);
                    $('#Merk_TOLERANSI').val(response.Merk.TOLERANSI);
                    $('#Merk_RecNum').val(response.Merk.RecNum);
                    $('#Merk_USERNAME').val(response.Merk.USERNAME);
                    //$('#Merk_KODE').val(response.Merk.KODE).attr('readonly', 'readonly')
                    //    .css('background-color', '#eee')
                    //    .css('cursor', 'not-allowed');;
                    //$('#Merk_KODE').removeAttr("required");
                    $('#Merk_KODE').val(response.Merk.KODE).attr('disabled', 'disabled');
                    $('#Merk_KET').val(response.Merk.KET);
                    $('#tambah_merk').click();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(recNum, namaMerk) {
            this.$recNum = recNum;
            $('#hapus_label').text(namaMerk);
        }

        function deleteMerk() {
            var link = '@Url.Action("DeleteMerk", "Manage", new { recNum = "replaceId" })';
            link = link.replace("replaceId", this.$recNum);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function () {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
</script>
}
