@using System.Globalization
@*@using MasterOnline.ViewModels*@
@using PagedList.Mvc
@model PagedList.IPagedList<PackingPerMP>
@{
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;

}
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#PackingListBlibliFound')) {
            if (parseInt($('#PackingListBlibliFound').val()) > 0) {
                $('#li_pesanan_blibli_tab_focus').show().on('click', function () {
                    $('#blibli_packing_cust_tabs li:first').find('a').click();
                });
            }
        }
    });
    function RequestDropoffPackingBlibli(cust) {
        $('#btnProsesDropoffBlibli__' + cust).attr("disabled", true);
        var $link = '@Html.Raw(Url.Action("BlibliCreatePackage", "Manage", new { cust = "replaceCust",bukti = "replaceBuktiPacking" }))';
        $link = $link.replace("replaceCust", encodeURIComponent(cust));
        $link = $link.replace("replaceBuktiPacking", encodeURIComponent($('#packingList_NO_BUKTI').val()));

        $('#modalPrintBlibli__textarea__' + cust).html('');
        $.ajax({
            type: "GET",
            url: $link,
            success: function (response) {
                if (response.mo_error != undefined) {
                    alert(response.mo_error);
                }
                else {
                    var textareaValue = "";

                    var adaUrl = false;
                    var urlValue = "";
                    //var countUrl = 0;
                    //response.listSuccess.forEach(function (item) {
                    //    adaUrl = true;
                    //    countUrl++;
                    //    var buttonHtml = "<a class='btn btn-success' download='MO_Blibli_Shipping_" + item.no_referensi + '_' + item.orderItemId + ".pdf' target='_blank' href='data:application/octet-stream;base64," + item.pdf64 + "'>Download PDF File</a></br>";
                    //    urlValue += buttonHtml;
                    //});
                    //if (adaUrl) {
                    //    textareaValue += "Shipping Label PDF :</br>";
                    //    textareaValue += urlValue;
                    //}

                    var adaError = false;
                    var errorValue = "";
                    response.listErrors.forEach(function (item) {
                        adaError = true;
                        errorValue += item.errorMessage + ". </br>";
                    });
                    if (adaError) {
                        textareaValue += "</br>";
                        textareaValue += "Errors :</br>";
                        textareaValue += errorValue;
                    }
                    else {
                        textareaValue = "All order success packing.";
                    }
                    $('#modalPrintBlibli__textarea__' + cust).html(textareaValue);
                    $('#modalPrintBlibli__' + cust).modal('show');
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
    function BlibliGetLabelPerPacking(cust) {
        var $link = '@Html.Raw(Url.Action("BlibliLabelPerPacking", "Manage", new { cust = "replaceCust",bukti = "replaceBuktiPacking" }))';
        $link = $link.replace("replaceCust", encodeURIComponent(cust));
        $link = $link.replace("replaceBuktiPacking", encodeURIComponent($('#packingList_NO_BUKTI').val()));

        $('#modalPrintBlibli__textarea__' + cust).html('');
        $.ajax({
            type: "GET",
            url: $link,
            success: function (response) {

                if (response.mo_error != undefined) {
                    alert(response.mo_error);
                }
                else {
                    var textareaValue = "";

                    var adaUrl = false;
                    var urlValue = "";
                    var countUrl = 0;
                    response.listSuccess.forEach(function (item) {
                        adaUrl = true;
                        countUrl++;
                        var buttonHtml = "<a class='btn btn-success' download='MO_Blibli_Shipping_"+ item.no_referensi + '_' + item.orderItemId +".pdf' target='_blank' href='data:application/octet-stream;base64,"+ item.pdf64 +"'>Download PDF File</a></br>";
                        urlValue += buttonHtml;
                    });
                    if (adaUrl) {
                        textareaValue += "Shipping Label PDF :</br>";
                        textareaValue += urlValue;
                    }

                    var adaError = false;
                    var errorValue = "";
                    response.listErrors.forEach(function (item) {
                        adaError = true;
                        errorValue += item.errorMessage + ". </br>";
                    });
                    if (adaError) {
                        textareaValue += "</br>";
                        textareaValue += "Errors :</br>";
                        textareaValue += errorValue;
                    }
                    $('#modalPrintBlibli__textarea__' + cust).html(textareaValue);
                    $('#modalPrintBlibli__' + cust).modal('show');
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
@{
    var distinctCust = Model.Select(p => new { p.CUST, p.NAMA_CUST }).Distinct().ToList();
}
<div class="row">
    <div class="col-12">
        <ul id="blibli_packing_cust_tabs" class="nav nav-tabs">
            @foreach (var item in distinctCust)
            {
                <li><a data-toggle="tab" href="#blibli_tab_content__@(item.CUST)">@(item.NAMA_CUST)</a></li>
            }
        </ul>
        <div class="tab-content">
            @{
                var PackingListBlibliFound = distinctCust.Count();
            }
            @Html.TextBox("PackingListBlibliFound", PackingListBlibliFound, new { @class = "form-control", disabled = "disabled", @style = "display:none;" })
            @foreach (var item in distinctCust)
            {
                <div id="blibli_tab_content__@(item.CUST)" class="tab-pane fade in">
                    <input id="txt_last_page__@(item.CUST)" type="hidden" class="form-control" value="@ViewData["LastPage"]">
                    <div class="modal fade" id="modalPrintBlibli__@(item.CUST)" tabindex="-1" role="dialog" aria-labelledby="modalPrintLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="modalPrintLabel">Print Pesanan Blibli</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12" id="modalPrintBlibli__textarea__@(item.CUST)">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                                    @*<button type="button" class="btn btn-success" onclick="printRekap();">Print</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="search_table_packing_pesanan_blibli__@(item.CUST)" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_table_packing_pesanan_blibli_button__@(item.CUST)" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @*<input id="txtShipment__@(item.CUST)" disabled="disabled" required="required" class="form-control" maxlength="30" data_val_length_max="30">
                                <button id="btnShipment__@(item.CUST)" class="btn btn-default" type="button" style="height: 34px;" onclick="PromptDeliveryProvBlibli('@(item.CUST)')">
                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                </button>*@
                            @*<div class="form-group">
                                <div id="blibli-resi-pickup-address-@(item.CUST)">
                                    <select id="select-blibli-resi-pickup-address-@(item.CUST)" class="selectBlibliResiPickupAddress" data-kodecust="@(item.CUST)" placeholder="Pickup Address" required="required"></select>
                                </div>
                            </div>*@
                            @*<button id="btnPrintBlibli__@(item.CUST)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPrintBlibli">Print</button>*@
                        </div>
                        <div class="col-md-4" style="text-align:right">
                            @*<button id="btnProsesPickupBlibli__@(item.CUST)" type="button" class="btn btn-primary" onclick="RequestPickupPackingBlibli('@(item.CUST)')">Request Pickup</button>*@
                            <button id="btnProsesDropoffBlibli__@(item.CUST)" type="button" class="btn btn-primary" onclick="RequestDropoffPackingBlibli('@(item.CUST)')">Drop Off</button>
                            <button id="btnPrintBlibli__@(item.CUST)" type="button" class="btn btn-primary" onclick="BlibliGetLabelPerPacking('@(item.CUST)')">Print</button>
                        </div>
                    </div>
                    <div class="hscroll table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20%;">No. Pesanan</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 20%;">No Referensi</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 35%;">Nama Pemesan</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 15%;">Kurir</th>
                                    @*<th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 10%;">Jumlah</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.Where(p => p.CUST == item.CUST).ToList())
                                {
                                    <tr>
                                        <td>@order.no_bukti</td>
                                        <td>@order.no_referensi</td>
                                        <td>@order.nama_pemesan</td>
                                        <td>@order.kurir</td>
                                        @*<td>@order.jumlah_item</td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>