@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.SubsViewModel

@{
    var context = new MoDbContext();
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    var kodeSubs = "";
    var tglBerakhir = "";
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        kodeSubs = context.Account.Single(a => a.AccountId == accId).KODE_SUBSCRIPTION;
        tglBerakhir = context.Account.Single(a => a.AccountId == accId).TGL_SUBSCRIPTION?.ToString("dd/MM/yyyy");
        context.Dispose();
    }
    else
    {
        kodeSubs = dataSession?.Account?.KODE_SUBSCRIPTION;
        tglBerakhir = dataSession?.Account?.TGL_SUBSCRIPTION?.ToString("dd/MM/yyyy");
    }
}

<div class="snip1404">
    <div>
        <label>
            Terima kasih Anda telah bergabung bersama MasterOnline. Silakan pilih paket langganan yang sesuai dengan bisnis Anda.
        </label>
        <p>
            JENIS LANGGANAN:
            <span style="color: #2ac52a;">
                @{
                    switch (kodeSubs)
                    {
                        case "01":
                            @("BASIC")
                            break;
                        case "02":
                            @("PREMIUM")
                            break;
                        case "03":
                            @("ENTERPRISE")
                            break;
                    }
                }
            </span>
        </p>
        <p>TANGGAL BERAKHIR: <span style="color: red;">@(kodeSubs == "01" ? "-" : tglBerakhir)</span></p>
        @if (kodeSubs != "01")
        {
            <button style="margin-bottom: 35px;" class="btn btn-danger" data-toggle="modal" data-target="#konfBerhentiBerlangganan" type="button" id="btn_unsubscribe">Berhenti Berlangganan</button>
        }
    </div>
    @foreach (var subs in Model?.ListSubs)
    {
        <div id="plan-@subs.KODE" class="plan @(subs.KODE == "02" ? "featured" : null)">
            <header>
                <h4 class="plan-title">
                    @subs.KETERANGAN
                </h4>
                <div class="plan-cost">
                    <span class="plan-price" id="subs-price-@subs.KODE" data-harga="@subs.HARGA">Rp @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA)</span>
                    <span class="plan-type">/bulan</span>
                </div>
            </header>
            <ul class="plan-features">
                <li><i class="ion-checkmark"> </i>@(subs.JUMLAH_MP == 99 ? "UNLIMITED" : subs.JUMLAH_MP.ToString()) marketplace</li>
                <li><i class="ion-checkmark"> </i>@(subs.JUMLAH_PESANAN == 999999999 ? "UNLIMITED" : subs.JUMLAH_PESANAN.ToString()) pesanan / bulan</li>
                @*<li><i class="ion-checkmark"> </i>Unlimited Email</li>
                    <li><i class="ion-checkmark"> </i>250Gb mo Transfer</li>
                    <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
                    <li><i class="ion-checkmark"> </i>Daily Backups</li>*@
            </ul>
            @*<div class="plan-select"><a href="">@(subs.KODE == kodeSubs ? "Tetap Paket Ini" : "Pindah Paket Ini")</a></div>*@
            @if (subs.KODE != "01")
            {
                <div class="text-center" style="color: #fff; font-size: 12px;">
                    <p>---- Pilih Paket Langganan ----</p>
                </div>
            }
            <div class="text-center btn-section">
                @if (subs.KODE != "01")
                {
                    <div class="row">
                        <button id="btn_times_" type="button" onclick="setBln('@subs.KODE', 3)" class="btn btn-subs subs_active" data-plan-btn="@subs.KODE" data-kali="3">
                            3 bulan<br />
                            <span style="font-weight: bold;">Rp @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 3)</span>
                        </button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-subs" onclick="setBln('@subs.KODE', 6)" data-plan-btn="@subs.KODE" data-kali="5">
                            6 bulan ~ <span style="font-style: italic">Harga 5 bulan</span><br />
                            <span style="font-weight: bold;">Rp @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 5)</span>
                        </button>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-subs" onclick="setBln('@subs.KODE', 12)" data-plan-btn="@subs.KODE" data-kali="10">
                            12 bulan ~ <span style="font-style: italic">Harga 10 bulan</span><br />
                            <span style="font-weight: bold;">Rp @String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 10)</span>
                        </button>
                    </div>
                    <input id="txtBln_@subs.KODE" value="3" style="visibility:hidden" />
                }
                else
                {
                    <img src="~/Content/Images/gratis_new.png" />
                }
            </div>
            <div class="plan-select" @*onclick="clickSub(String(@subs.KODE))"*@>
                @if (subs.KODE != "01")
                {
                    <p class="plan-month-total" id="selected-package-@subs.KODE">Paket 3 Bulan</p>
                    <span class="plan-price-total">
                        Total: <span style="color: #78f345;">Rp <span id="price-total-@subs.KODE">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 3)</span></span>
                    </span>
                    <a class="btn-pindah-paket" style="margin-top: 10px;" onclick="clickSub('@subs.KODE')">Pilih Paket Ini</a>
                }
                else
                {
                    <p class="plan-month-total" style="visibility:hidden" id="selected-package-@subs.KODE">Paket @(subs.KODE == "01" ? "GRATIS" : "3 Bulan")</p>
                    <span class="plan-price-total" style="visibility:hidden">
                        Total: <span style="color: #78f345;">Rp <span id="price-total-@subs.KODE" style="visibility:hidden">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", subs.HARGA * 3)</span></span>
                    </span>
                    <a class="btn-pindah-paket" style="margin-top: 10px;visibility:hidden;" onclick="clickSub('@subs.KODE')">Pilih Paket Ini</a>
                }
            </div>
        </div>
    }
</div>
<div class="text-center" style="margin-top: -15px; border-radius: 10px; padding-top: 40px; padding-bottom: 10px; background: #ffffff6b;">
    <img src="~/Content/Images/payment_logo.png" width="50%" />
</div>

