@model MasterOnline.ViewModels.PromosiViewModel
@{
    ViewBag.Title = "Promosi Barang";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";

    var context = new MoDbContext();
}

@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />
    <link href="~/Content/selectize.css" rel="stylesheet" />

    <style>
        .input-group {
            margin-bottom: 0;
        }

        .btn-success[disabled]:hover {
            background: #6ad6bf;
            border-color: #6ad6bf;
        }

        table#table_tambah_promosi thead tr {
            background-color: #c7f1f5;
        }

        .harga-promosi-input {
            width: 120px;
        }

        .persen-promosi-input {
            width: 50px;
        }

        .batas-pembelanjaan-input {
            width: 50px;
        }

        #GUDANG,
        #GUDANG .selectivity-single-select-input {
            width: 100px !important;
        }

        #promosi_section {
            background-color: #fff;
            padding: 20px;
            margin-top: 58px;
        }

        @@media screen and (max-width: 767px) {
            .modalphapusp {
                width: 50%;
            }

            .modalresponsive {
                width: 100%;
            }
        }
    </style>
}

<div class="row" id="promosi_section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row promosi_table_section">
                <div class="col-lg-4 col-sm-6" style="margin-bottom:7px;">
                    <div class="input-group">
                        <input id="search_promosi" type="text" class="form-control" placeholder="Pencarian">
                        <span class="input-group-btn">
                            <button type="button" id="search_promosi_click" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="pull-right">
                        <button class="btn btn-primary btn_tambah_data" id="tambah_promosi">Tambah Baru</button>
                    </div>
                </div>
            </div>
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab_content1" id="promosi-tab" role="tab" data-toggle="tab" aria-expanded="true">Promosi</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#tab_content2" id="barang-tab" role="tab" data-toggle="tab" aria-expanded="true">Barang</a>
                </li>
            </ul>
        </div>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="pesanan-tab">              
                <div class="row promosi_table_section" style="margin-top: 5px;">
                    <div class="col-sm-12 addpixel" id="table-promosi-partial">
                        @*@Html.Partial("TablePromosiPartial")*@
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="barang-tab">             
                <div class="row promosi_table_section" style="margin-top: 5px;">
                    <div class="col-sm-12 addpixel" id="table-barang-promosi-partial">
                        @*@Html.Partial("TablePromosiPartial")*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row promosi_editor_section" style="display: none;">
            <div class="col-lg-12 modalresponsive">
                <div class="page-editor">
                    <h2 class="editor-title">Promosi</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor-1" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                        {
                            <div class="alert alert-danger">
                                <span class="message-error">@modelError.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                    @using (Html.BeginForm("SavePromosi", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-promosi" }))
                    {
                        <div id="form-partial">
                            @*@Html.Partial("BarangPromosiPartial")*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="konfHapusPromosi" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalphapusp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus promosi ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deletePromosi();">Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="konfHapusBarang" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalphapusp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus barang ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteBarang();">Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTutupEditor" tabindex="-1" role="dialog" aria-labelledby="labelModalTutupEditor">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalphapusp">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelModalTutupEditor">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Ada perubahan data yang belum Anda simpan. <br />Yakin ingin menutup form ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="closeEditor()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/selectize.js" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>

    <script type="text/javascript">
        var $modeEdit = 0; // 0 new, 1 edit
        //add by nurul 12/2/2019
        var $page = window.text;
            //end add by nurul 12/2/2019
        var $TabAktif = 0;
        $(document).ready(function () {
            refreshTablePromosi1();
            //add by nurul 12/2/2019
            $page = 0;
            //end add by nurul 12/2/2019
            var tableSiapProses = $('#datatable_siapproses').DataTable({
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                }
            });

            $('#search_siapproses').keyup(function () {
                tableSiapProses.search($(this).val()).draw();
            });

            $('#promosi-tab').click(function () {
                $TabAktif = 0;
                refreshTablePromosi1();
                $('#tambah_promosi').show();
                $('#refresh_promosi').show();
            });

            $('#barang-tab').click(function () {
                $TabAktif = 1;
                refreshTablePromosi2();
                $('#tambah_promosi').show();
                $('#refresh_promosi').show();
            });
            //Initialize();
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

            $('#search_promosi').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTablePromosi1();
                    return false;
                }
            });
            $('#search_promosi_click').click(function () {
                searchTablePromosi1();
            });

            $('#tambah_promosi').on('click', function () {
                $modeEdit = 0;
                refreshForm1();
            });

            $('#close-editor-1').on('click', function () {
                if ($('#btn-simpan-perubahan-row').is(':visible')) {
                    $('#modalTutupEditor').modal('show');
                } else {
                    $modeEdit = 0;
                    refreshTablePromosi1();
                    $('input, select, .btn-danger').each(function () {
                        $(this).removeAttr('disabled');
                    });
                    $('.promosi_editor_section').hide();
                    $('.promosi_table_section').show();
                    $('.btn-danger').each(function () {
                        $(this).removeAttr('disabled');
                    });
                    //add by nurul 12/2/2019
                    //$('#datatable').on('page.dt', function () {
                    //    $page = $('#datatable').DataTable().page.info().page;
                    //});
                    //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
                }
            });
        });

        function closeEditor() {
            $('#modalTutupEditor').modal('hide');
            $modeEdit = 0;
            refreshTablePromosi1();
            $('input, select, .btn-danger').each(function() {
                $(this).removeAttr('disabled');
            });
            $('.promosi_editor_section').hide();
            $('.promosi_table_section').show();
            $('.btn-danger').each(function () {
                $(this).removeAttr('disabled');
            });
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
        }

        function Initialize() {
            //var table = $('#datatable').DataTable();
            //var tableNunggu = $('#datatable_nunggu').DataTable();
            //var tableSedangProses = $('#datatable_sedangproses').DataTable();
            //var tableSiapKirim = $('#datatable_siapkirim').DataTable();
            //var tableSudahKirim = $('#datatable_sudahkirim').DataTable();
            //var tableSelesai = $('#datatable_selesai').DataTable();

            //$('#search_promosi').keyup(function () {
            //    table.search($(this).val()).draw();
            //});

            $('#search_promosi').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTablePromosi1();
                    return false;
                }
            });
            $('#search_promosi_click').click(function () {
                searchTablePromosi1();
            });

            //$('#search_selesai').keyup(function () {
            //    tableSelesai.search($(this).val()).draw();
            //});

            //$('#search_nunggu').keyup(function () {
            //    tableNunggu.search($(this).val()).draw();
            //});

            //$('#search_sedangproses').keyup(function () {
            //    tableSedangProses.search($(this).val()).draw();
            //});

            //$('#search_siapkirim').keyup(function () {
            //    tableSiapKirim.search($(this).val()).draw();
            //});

            //$('#search_sudahkirim').keyup(function () {
            //    tableSudahKirim.search($(this).val()).draw();
            //});

            //$('input[name="select_all"]').on('click',
            //    function () {
            //        var attr = $(this).attr('checked');

            //        if (typeof attr !== typeof undefined && attr !== false) {
            //            $('input[name="data-1"]').removeAttr('checked');
            //            $('input[name="data-2"]').removeAttr('checked');
            //        } else {
            //            $('input[name="data-1"]').attr('checked', 'checked');
            //            $('input[name="data-2"]').attr('checked', 'checked');
            //        }
            //    });

            //$('#tambah_promosi').on('click', function () {
            //    $modeEdit = 0;
            //    refreshForm1();
            //});

            //$('#close-editor-1').on('click', function () {
            //    if ($('#btn-simpan-perubahan-row').is(':visible')) {
            //        $('#modalTutupEditor').modal('show');
            //    } else {
            //        $modeEdit = 0;
            //        refreshTablePromosi1();
            //        $('input, select, .btn-danger').each(function() {
            //            $(this).removeAttr('disabled');
            //        });
            //        $('.promosi_editor_section').hide();
            //        $('.promosi_table_section').show();
            //        $('.btn-danger').each(function () {
            //            $(this).removeAttr('disabled');
            //        });
            //        //add by nurul 12/2/2019
            //        //$('#datatable').on('page.dt', function () {
            //        //    $page = $('#datatable').DataTable().page.info().page;
            //        //});
            //        //$('#datatable').DataTable().page($page).draw(false);
            //        //end add by nurul 12/2/2019
            //    }
            //});

            if ($('.message-error').text() !== '') {
                //$('#tambah_promosi').click();
                $('.promosi_table_section').hide();
                $('.promosi_editor_section').show();
            }

            $('#table_tambah_promosi > tbody > tr > td.editable-kode').prop('contentEditable', true);

            //getTanggal();
            //getMarketplace();
            //getDataBarang();
            //refreshInputan();
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
        }

        function getTanggal() {
            if ($modeEdit == 1) { // mode edit
                $('#TGL_MULAI').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    $('#Promosi_TGL_MULAI').val($(this).val());
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                        //end add

                    $('#btn-simpan-perubahan-row').show();
                });

                $('#TGL_AKHIR').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    $('#Promosi_TGL_AKHIR').val($(this).val());
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                        //end add

                    $('#btn-simpan-perubahan-row').show();
                });
            }
            else { //new
                $('#TGL_MULAI').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    $('#Promosi_TGL_MULAI').val($(this).val());
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                        //end add

                    $('#btn-simpan-perubahan-row').show();
                });

                $('#TGL_AKHIR').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    $('#Promosi_TGL_AKHIR').val($(this).val());
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                        //end add

                    $('#btn-simpan-perubahan-row').show();
                });
            }
        }

        var $flagPerubahan = 0;

        function refreshInputan() {
            //add by nurul 19/12/2018 ngatur width barang
            $(window).on('resize', function () {
                //var win = $(this); //this = window
                var style = $('.selectivity-dropdown').attr('style');
                if (style !== undefined && style !== null) {
                    $('.selectivity-dropdown').attr('style', style.replace('width: 135px', 'width: 400px; min-width: 400px !important'));
                }
            });

            $(window).scroll(function () {
                //var scrollTop = $(window).scrollTop();
                var style = $('.selectivity-dropdown').attr('style');
                if (style !== undefined && style !== null) {
                    $('.selectivity-dropdown').attr('style', style.replace('width: 135px', 'width: 400px; min-width: 400px !important'));
                }
            });

            $('#BRG').click(function () {
                var checkExist = setInterval(function () {
                    //if ($('.selectivity-dropdown').length) {
                    //    $('html, body').animate({ scrollTop: '-=10px' }, 500);
                    //    clearInterval(checkExist);
                    //}
                    if (window.pageYOffset == 0) {
                        $('html, body').animate({ scrollTop: '+=1px' }, 500);
                        clearInterval(checkExist);
                    } else {
                        $('html, body').animate({ scrollTop: '-=1px' }, 500);
                        clearInterval(checkExist);
                    }
                }, 100);
            });

            $('body').click(function () {
                $('#BRG').css('max-width', '135px').attr('style', 'width: 135px !important');
            });
            //end add

            if ($('#Promosi_TGL_MULAI').val() != '') {
                $('#Promosi_TGL_MULAI').val($('#Promosi_TGL_MULAI').val().split(' ')[0]);
                $('#TGL_MULAI').val($('#Promosi_TGL_MULAI').val());
            } else {
                $('#Promosi_TGL_MULAI').val($('#TGL_MULAI').val());
            }

            if ($('#Promosi_TGL_AKHIR').val() != '') {
                $('#Promosi_TGL_AKHIR').val($('#Promosi_TGL_AKHIR').val().split(' ')[0]);
                $('#TGL_AKHIR').val($('#Promosi_TGL_AKHIR').val());
            } else {
                $('#Promosi_TGL_AKHIR').val($('#TGL_AKHIR').val());
            }

            $("input.num-only").on('keydown',
                function (e) {
                    // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                        // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });

            $('#btn-simpan-perubahan').click(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdatePromosi", "Manage")',
                    data: JSON.stringify({
                        RecNumPromosi: $('#Promosi_RecNum').val(),
                        NamaMarket: $('#Promosi_NAMA_MARKET').val(),
                        TglMulai: $('#Promosi_TGL_MULAI').val(),
                        TglAkhir: $('#Promosi_TGL_AKHIR').val()
                    }),
                    contentType: 'application/json; charset=UTF-8',
                    cache: false,
                    success: function () {
                        alert('Data promosi berhasil di-update');
                        //change by calvin 7 juni 2018
                        //$this.hide();
                        $('#btn-simpan-perubahan-row').hide();
                        //end change by calvin 7 juni 2018
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            });
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
        }
        var $angka;
        function numOnlyAllowDecimalOnKeyDown(e) {
            if ($.inArray(e.keyCode, [46, 8, 27, 190, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }
        function numOnlyOnKeyDown(e) {
            if ($.inArray(e.keyCode, [46, 8, 27]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
            if (e.keyCode === 190 || e.keyCode === 110) e.preventDefault();
        }

        function modeEditTd() {
            $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > .harga-promosi-barang').addClass('editable');
            $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > .persen-promosi-barang').addClass('editable');
            $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > .batas-pembelanjaan').addClass('editable');

            $('#table_tambah_promosi > tbody > tr > td.editable').prop('contentEditable', true);
            $('#table_tambah_promosi > tbody > tr > td.editable').off('click').on('click', function () {
                var $this = $(this);
                var $class = $this.attr('class');
                var $inputClass = '';
                var $trId = $this.parent().attr('data-promosi-id');
                var $trElement = 'tr[data-promosi-id="' + $trId + '"]';
                //var $angka = convertToAngka($this.text());

                if ($this.text() !== '') {
                    //change by calvin 12 nov 2018
                    //$angka = $this.text();
                    $angka = convertToAngka($this.text());
                    //end change by calvin 12 nov 2018
                }

                if ($class == 'harga-promosi-barang editable') {
                    $inputClass = 'harga-promosi-input';
                } else if ($class == 'persen-promosi-barang editable') {
                    $inputClass = 'persen-promosi-input';
                } else if ($class == 'batas-pembelanjaan editable') {
                    $inputClass = 'batas-pembelanjaan-input';
                }

                var $input = $('<input>', {
                    'class': $inputClass + ' num-only',
                    value: $this.val(),
                    //type: 'number',
                    blur: function () {
                        if (this.value === '') {
                            if ($class === 'harga-promosi-barang editable') {
                                $this.html(convertToRupiah(0) + '<input data-val="true" data-val-number="The field HARGA_PROMOSI must be a number." data-val-required="The HARGA_PROMOSI field is required." id="PromosiDetail_HARGA_PROMOSI" name="PromosiDetail.HARGA_PROMOSI" type="hidden" value="">')

                                $($trElement + ' .persen-promosi-barang')
                                    .text(0)
                                    .addClass('editable')
                                    .css('pointer-events', 'auto');

                            } else if ($class === 'persen-promosi-barang editable') {
                                $this.html(0 + '<input data-val="true" data-val-number="The field PERSEN_PROMOSI must be a number." data-val-required="The PERSEN_PROMOSI field is required." id="PromosiDetail_PERSEN_PROMOSI" name="PromosiDetail.PERSEN_PROMOSI" type="hidden" value="">');

                                $($trElement + ' .harga-promosi-barang')
                                    .text(convertToRupiah(0))
                                    .addClass('editable')
                                    .css('pointer-events', 'auto');

                            } else if ($class === 'batas-pembelanjaan editable') {
                                $this.html(1 + '<input data-val="true" data-val-number="The field MAX_QTY must be a number." data-val-required="The MAX_QTY field is required." id="PromosiDetail_MAX_QTY" name="PromosiDetail.MAX_QTY" type="hidden" value="">');
                            }
                        } else {
                            var $hargaBarang = convertToAngka($($trElement + ' .harga-barang').text());

                            if ($class === 'harga-promosi-barang editable') {
                                $this.html(convertToRupiah(this.value) + '<input data-val="true" data-val-number="The field HARGA_PROMOSI must be a number." data-val-required="The HARGA_PROMOSI field is required." id="PromosiDetail_HARGA_PROMOSI" name="PromosiDetail.HARGA_PROMOSI" type="hidden" value="">');

                                if (convertToAngka(this.value) === 0) {
                                    $($trElement + ' .persen-promosi-barang')
                                        .addClass('editable')
                                        .css('pointer-events', 'auto')
                                        .html("0,00" + '<input data-val="true" data-val-number="The field PERSEN_PROMOSI must be a number." data-val-required="The PERSEN_PROMOSI field is required." id="PromosiDetail_PERSEN_PROMOSI" name="PromosiDetail.PERSEN_PROMOSI" type="hidden" value="">');
                                } else {
                                    var $disc = ($hargaBarang - this.value) / $hargaBarang * 100;

                                    $($trElement + ' .persen-promosi-barang')
                                        .removeClass('editable')
                                        .css('pointer-events', 'none')
                                        .html($disc + '<input data-val="true" data-val-number="The field PERSEN_PROMOSI must be a number." data-val-required="The PERSEN_PROMOSI field is required." id="PromosiDetail_PERSEN_PROMOSI" name="PromosiDetail.PERSEN_PROMOSI" type="hidden" value="">');
                                }

                            } else if ($class === 'persen-promosi-barang editable') {
                                $this.html(this.value + '<input data-val="true" data-val-number="The field PERSEN_PROMOSI must be a number." data-val-required="The PERSEN_PROMOSI field is required." id="PromosiDetail_PERSEN_PROMOSI" name="PromosiDetail.PERSEN_PROMOSI" type="hidden" value="">');

                                if (convertToAngka(this.value) === 0) {
                                    $($trElement + ' .harga-promosi-barang')
                                        .addClass('editable')
                                        .css('pointer-events', 'auto')
                                        .html("0,00" + '<input data-val="true" data-val-number="The field HARGA_PROMOSI must be a number." data-val-required="The HARGA_PROMOSI field is required." id="PromosiDetail_HARGA_PROMOSI" name="PromosiDetail.HARGA_PROMOSI" type="hidden" value="">');
                                } else {
                                    var $ndisc1 = convertToRupiah($hargaBarang - (this.value * $hargaBarang / 100));

                                    $($trElement + ' .harga-promosi-barang')
                                        .removeClass('editable')
                                        .css('pointer-events', 'none')
                                        .html($ndisc1 + '<input data-val="true" data-val-number="The field HARGA_PROMOSI must be a number." data-val-required="The HARGA_PROMOSI field is required." id="PromosiDetail_HARGA_PROMOSI" name="PromosiDetail.HARGA_PROMOSI" type="hidden" value="">');
                                }

                            } else if ($class === 'batas-pembelanjaan editable') {
                                $this.html(this.value + '<input data-val="true" data-val-number="The field MAX_QTY must be a number." data-val-required="The MAX_QTY field is required." id="PromosiDetail_MAX_QTY" name="PromosiDetail.MAX_QTY" type="hidden" value="">');
                            }
                        }
                    },
                    focus: function() {
                        if ($angka == 0) {
                            this.value = '';
                        } else {
                            this.value = $angka;
                        }
                        //if ($class === 'harga-promosi-barang editable') {
                        //    $('tr[data-promosi-id="0"] .persen-promosi-barang').text('0')
                        //} else if ($class === 'persen-promosi-barang editable') {
                        //    $('tr[data-promosi-id="0"] .harga-promosi-barang').text('0,00')
                        //}
                    },
                    keyup: function (e) {
                        if (e.which === 13) $input.blur();
                    },
                    keypress: function(e) {
                        if (e.which != 8 && e.which != 0 && e.which < 48 || e.which > 57) e.preventDefault();
                    },
                    keydown: function (e) {
                        var keyCode = e.keyCode || e.which;

                        if ($(this).hasClass('batas-pembelanjaan')) {
                            numOnlyOnKeyDown(e);
                            if (keyCode === 190) e.preventDefault();

                            if (keyCode === 13 || keyCode === 9) {
                                $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > .batas-pembelanjaan').click();
                                e.preventDefault();
                            }
                        } else if ($(this).hasClass('harga-promosi-barang')) {
                            numOnlyAllowDecimalOnKeyDown(e);
                            if (keyCode === 13 || keyCode === 9) {
                                if ($(this).val() == 0) {
                                    $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > td.persen-promosi-barang').click().click();
                                } else {
                                    $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > td.batas-pembelanjaan').click();
                                }

                                e.preventDefault();
                            }
                        } else if ($(this).hasClass('persen-promosi-barang')) {
                            numOnlyOnKeyDown(e);
                            if (keyCode === 190) e.preventDefault();
                            if (keyCode === 13 || keyCode === 9) {
                                if ($(this).val() == '0,00') {
                                    $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > td.harga-promosi-barang').click();
                                } else {
                                    $('#table_tambah_promosi > tbody > tr[data-promosi-id="0"] > td.batas-pembelanjaan').click();
                                }

                                e.preventDefault();
                            }
                        } else {
                            numOnlyOnKeyDown(e);
                            if (keyCode === 190) e.preventDefault();
                            if (keyCode === 13 || keyCode === 9) {
                                $(this).blur();
                            }
                        }
                    },
                    change: function() {
                        if ($(this).attr('class') == 'harga-promosi-input') {
                            if ($(this).val() > 999999999999) {
                                $(this).val(999999999999);
                            }
                        }
                        if ($(this).hasClass('batas-pembelanjaan-input')) {
                            if ($(this).val() > 99) {
                                $(this).val(99);
                            }
                        }
                    }
                }).appendTo($this.empty()).focus();
            });
        }

        @{
            var markets = new Dictionary<string, string>();

            foreach (var marketplace in context.Marketplaces.ToList())
            {
                markets.Add(marketplace.IdMarket.ToString(), marketplace.NamaMarket);
            }
        }

        var $marketCollection = @Html.Raw(Json.Encode(markets));

        function getMarketplace() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPelangganAkun", "Manage")',
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var customerList = [];
                    $.each(data,
                        function (i, item) {
                            var $namaMarket = $marketCollection[item.NAMA];

                            customerList[i] = {
                                id: item.CUST,
                                text: $namaMarket + " (" + item.PERSO + ")",
                                term: item.TOP
                            };
                        });

                    var custSelect = $('#CUSTOMER').selectize({
                        valueField: 'id',
                        searchField: 'text',
                        options: customerList,
                        onChange: function (value) {
                            if (value == null) {
                                $("#Promosi_NAMA_MARKET").val(null);
                            } else {
                                $("#Promosi_NAMA_MARKET").val(value);
                                if ($('.selectivity-single-selected-item-remove')[0] != undefined) {
                                    $('.selectivity-single-selected-item-remove')[0].click();//remove selected brg
                                }

                                if ($("#CUSTOMER").children("option").filter(":selected").text().includes("Lazada (")) {
                                    $("#div_text").show();
                                } else {
                                    $("#div_text").hide();
                                }
                                getDataBarang();
                            }
                            $('#btn-simpan-perubahan-row').show();
                        },
                    });
                    //change by calvin 7 juni 2018, set silent jadi true, agar event onchange tidak jalan saat set Promosi_NAMA_MARKET saat buka form promosi
                    if ($modeEdit == 1) {
                        $('#CUSTOMER')[0].selectize.disable();
                    } else {
                        $('#CUSTOMER')[0].selectize.enable();
                    }
                    custSelect[0].selectize.setValue($('#Promosi_NAMA_MARKET').val(), true);
                    if ($("#CUSTOMER").children("option").filter(":selected").text().includes("Lazada (")) {
                        $("#div_text").show();
                    } else {
                        $("#div_text").hide();
                    }
                    //end change by calvin 7 juni 2018

                    $('#btn-simpan-perubahan-row').hide();
                    //add 15 mei 2019 by Tri, validasi jika promo lazada dan tgl mulai sudah lewat tidak bisa tambah barang baru
                    if ($('#Promosi_RecNum').val() != null) {
                        if ($('#Promosi_RecNum').val() != '' || $('#Promosi_RecNum').val() != '0') {
                            if ($('#CUSTOMER').text().toUpperCase().includes('LAZADA (')) {
                                var dtMonth = new Date().getMonth() + 1;
                                var bln = "";
                                if (dtMonth < 10) {
                                    bln = '0' + dtMonth;
                                } else {
                                    bln += dtMonth;
                                }
                                var dtDay = new Date().getDate();
                                var day = getTwoDigitDateFormat(dtDay);
                                if ($('#TGL_MULAI').val() != (day + '/' + bln + '/' + new Date().getFullYear())) {
                                    $('#trNewData').css('display', 'none');
                                } else {
                                    $('#trNewData').css('display', 'contents');
                                }
                            } else {
                                $('#trNewData').css('display', 'contents');
                            }
                        }
                    }
                    //end add 15 mei 2019 by Tri, validasi jika promo lazada dan tgl mulai sudah lewat tidak bisa tambah barang baru
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function offTab() {
            $(document).keydown(function(objEvent) {
                if (objEvent.keyCode == 9) {
                    objEvent.preventDefault();
                }
            });
        }

        function onTab() {
            $(document).keydown(function (objEvent) {
                if (objEvent.keyCode == 9) {}
            });
        }

        function getDataBarang() {
            var link = '@Url.Action("GetDataBarangPromosi2", "Manage", new { promoId = "replaceId"})';
            link = link.replace("replaceId", $('#Promosi_RecNum').val());
            link += "&cust=" + $('#Promosi_NAMA_MARKET').val();
            $.ajax({
                type: "GET",
                url: link,
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var listKodeBarang = [];

                    $.each(data,
                        function (i, item) {
                            //add by nurul 31/1/2019
                            var nama2 = "";
                            if (item.NAMA2 != null && item.NAMA2 != "null") {
                                nama2 = item.NAMA2;
                            }
                            //end add by nurul 31/1/2019
                            listKodeBarang[i] = {
                                id: item.BRG,
                                //change by nurul 27/11/2018 (tampilin nama barang 2) -- text: item.BRG + ' (' + item.NAMA + ')'
                                text: item.BRG + ' (' + item.NAMA + ' ' + nama2 + ')'
                            };
                        });

                    $('#BRG').selectivity({
                        allowClear: true,
                        items: listKodeBarang,
                        placeholder: 'Harap pilih'
                    }).change(function () {
                        var val = $(this).selectivity('value');
                        var $trId = $(this).closest('tr').attr('data-promosi-id');
                        var $trElement = 'tr[data-promosi-id="' + $trId + '"]';

                        if (val != null) {
                            $.each(data,
                                function (i, item) {
                                    if (item.BRG === val) {
                                        if (item.NAMA2 == null)
                                            $($trElement + ' .nama-barang').text(item.NAMA + " ");
                                        else
                                            $($trElement + ' .nama-barang').text(item.NAMA + " " + item.NAMA2);

                                        $($trElement + ' .harga-barang').html(convertToRupiah(item.HJUAL) + '<input data-val="true" data-val-number="The field HARGA_NORMAL must be a number." data-val-required="The HARGA_NORMAL field is required." id="PromosiDetail_HARGA_NORMAL" name="PromosiDetail.HARGA_NORMAL" type="hidden" value="">');
                                        return;
                                    }
                                });

                            $($trElement + ' .btn-primary').removeAttr('disabled');
                            offTab();
                            modeEditTd();
                        } else {
                            $($trElement + ' .nama-barang').text('-');
                            $($trElement + ' .harga-barang').html('0,00' + '<input data-val="true" data-val-number="The field HARGA_NORMAL must be a number." data-val-required="The HARGA_NORMAL field is required." id="PromosiDetail_HARGA_NORMAL" name="PromosiDetail.HARGA_NORMAL" type="hidden" value="">');
                            $($trElement + ' .harga-promosi-barang').html('0,00' + '<input data-val="true" data-val-number="The field HARGA_PROMOSI must be a number." data-val-required="The HARGA_PROMOSI field is required." id="PromosiDetail_HARGA_PROMOSI" name="PromosiDetail.HARGA_PROMOSI" type="hidden" value="">');
                            $($trElement + ' .persen-promosi-barang').html('0,00' + '<input data-val="true" data-val-number="The field PERSEN_PROMOSI must be a number." data-val-required="The PERSEN_PROMOSI field is required." id="PromosiDetail_PERSEN_PROMOSI" name="PromosiDetail.PERSEN_PROMOSI" type="hidden" value="">');
                            $($trElement + ' .batas-pembelanjaan').html('1' + '<input data-val="true" data-val-number="The field MAX_QTY must be a number." data-val-required="The MAX_QTY field is required." id="PromosiDetail_MAX_QTY" name="PromosiDetail.MAX_QTY" type="hidden" value="">');
                            $($trElement + ' .btn-primary').attr('disabled', 'disabled');
                            onTab();
                            modeEditOff();
                        }
                    });
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function modeEditOff() {
            $('#table_tambah_promosi > tbody > tr > td.editable').prop('contentEditable', false);
            $('#table_tambah_promosi > tbody > tr > td.editable').prop('onclick', null).off('click');
            $('.harga-promosi-barang').removeClass('editable');
            $('.persen-promosi-barang').removeClass('editable');
            $('.batas-pembelanjaan').removeClass('editable');
        }

        function convertToRupiah(angka) {
            //change by calvin 26 september 2018
            //var rupiah = '';
            //var angkarev = angka.toString().split('').reverse().join('');
            //for (var i = 0; i < angkarev.length; i++) if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.';
            //return rupiah.split('', rupiah.length - 1).reverse().join('') + ',00';
            return $.number(angka, 2, ',', '.');
            //end change by calvin 26 september 2018
        }

        function convertToAngka(rupiah) {
            if (rupiah == '') {
                rupiah = '0';
            }
            //change by calvin 26 september 2018
            //return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
            if (rupiah.includes(",00")) {
                return parseFloat(rupiah.replaceAll('.', '').replaceAll(',', '.'));
            }
            else {
                //jika bisa desimal
                return parseFloat(rupiah.replaceAll(',', '.'));
            }
            //end change by calvin 26 september 2018
        }

        var $idPromosi = "";

        function editPromosi1(idPromosi) {
            var link = '@Url.Action("EditPromosi", "Manage", new { orderId = "replaceId" })';
            link = link.replace("replaceId", idPromosi);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $modeEdit = 1;
                    $('#form-partial').html(response);
                    refreshInputan();
                    getTanggal();
                    getDataBarang();
                    getMarketplace();
                    //ADD BY NURUL 2/1/2019 (HIDDEN HEADER KALO UDAH ADA DETAIL)
                    $('#Promosi_NAMA_PROMOSI').attr('readonly', 'readonly').css('background-color', '#eee')
                        .css('cursor', 'not-allowed');
                    $('#TGL_MULAI').attr('readonly', 'readonly').css('background-color', '#eee')
                        .css('cursor', 'not-allowed');
                    $('#TGL_AKHIR').attr('readonly', 'readonly').css('background-color', '#eee')
                        .css('cursor', 'not-allowed');

                    //END ADD
                    //$('#tambah_promosi').click();
                    $('.promosi_table_section').hide();
                    $('.promosi_editor_section').show();

                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(idPromosi) {
            this.$idPromosi = idPromosi;
        }

        function deletePromosi() {
            var $savePage = $('#txt_last_page').val();
            var link = '@Url.Action("DeletePromosi", "Manage", new { orderId = "replaceId" })';
            link = link.replace("replaceId", this.$idPromosi);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('#table-promosi-partial').html(response);
                    //Initialize();
                    refreshTablePromosi1($savePage);
                    $('#loading_spinner').hide();
                    $('#konfHapusPromosi').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        var $brg = '';

        function passBarangInDb($brg) {
            this.$brg = $brg;
        }

        function deleteBarang() {
            var link = '@Url.Action("DeleteBarangPromosi", "Manage", new { noUrut = "replaceBrgId" })';
            link = link.replace("replaceBrgId", this.$brg);

            $.ajax({
                type: "GET",
                url: link,
                contentType: 'application/json',
                cache: false,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $modeEdit = 1;
                    $('#form-partial').html(response);
                    refreshInputan();
                    getTanggal();
                    getDataBarang();
                    getMarketplace();
                    //ADD BY NURUL 2/1/2019 (HIDDEN HEADER KALO UDAH ADA DETAIL)
                    $('#Promosi_NAMA_PROMOSI').attr('readonly', 'readonly').css('background-color', '#eee')
                        .css('cursor', 'not-allowed');
                    $('#TGL_MULAI').attr('readonly', 'readonly').css('background-color', '#eee')
                        .css('cursor', 'not-allowed');
                    $('#TGL_AKHIR').attr('readonly', 'readonly').css('background-color', '#eee')
                        .css('cursor', 'not-allowed');

                                //END ADD
                    $('#konfHapusBarang').modal('hide');
                    $('#loading_spinner').hide();
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        @*function refreshTablePromosi1() {
            var link = '@Url.Action("RefreshTablePromosi", "Manage")';

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('#table-promosi-partial').html(response);
                    var table = $('#datatable').DataTable();
                    $('#search_promosi').keyup(function () {
                        table.search($(this).val()).draw();
                    });
                    //add by nurul 26 nov 2018, setelah di close, search lg
                    table.search($('#search_promosi').val()).draw();
                    //end add by nurul 26 nov 2018, setelah di close, search lg
                    //add by nurul 12/2/2019
                    $('#datatable').on('page.dt', function () {
                        $page = $('#datatable').DataTable().page.info().page;
                    });
                    $('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }*@

        function refreshTablePromosi1($savePage) {
            var $tpPage = "";
            if ($savePage == undefined) {
                $tpPage = $('#txt_last_page').val();
            } else {
                if ($('#txt_last_page').val() == undefined) {
                    $tpPage = $savePage;
                } else {
                    $tpPage = $('#txt_last_page').val();
                }
            }
            var $link = '@Html.Raw(Url.Action("RefreshTablePromosi", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_promosi').val());
            //$link = $link.replace("replaceLastPage", $('#txt_last_page').val());
            $link = $link.replace("replaceLastPage", $tpPage);

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-promosi-partial').hide();
                    $('#loading_promosi_tab').show();
                },
                success: function (response) {
                    $('#table-promosi-partial').html(response);
                    $('#loading_promosi_tab').hide();
                    $('#table-promosi-partial').show();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        
        function refreshTablePromosi2($savePage) {
            var $tpPage = "";
            if ($savePage == undefined) {
                $tpPage = $('#txt_last_page').val();
            } else {
                if ($('#txt_last_page').val() == undefined) {
                    $tpPage = $savePage;
                } else {
                    $tpPage = $('#txt_last_page').val();
                }
            }
            var $link = '@Html.Raw(Url.Action("RefreshTableBarangPromosi", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_promosi').val());
            //$link = $link.replace("replaceLastPage", $('#txt_last_page').val());
            $link = $link.replace("replaceLastPage", $tpPage);

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-barang-promosi-partial').hide();
                    $('#loading_promosi_tab').show();
                },
                success: function (response) {
                    $('#table-barang-promosi-partial').html(response);
                    $('#loading_promosi_tab').hide();
                    $('#table-barang-promosi-partial').show();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function searchTablePromosi1(){
            var $link = '@Html.Raw(Url.Action("RefreshTablePromosi", "Manage", new { search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_promosi').val());

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#search_promosi_click')[0].disabled = true;
                    $('#loading_promosi_tab').show();
                },
                success: function (response) {
                    $('#search_promosi_click')[0].disabled = false;
                    $('#table-promosi-partial').html(response);
                    $('#loading_promosi_tab').hide();
                },
                error: function (xhr, status, error) {
                    $('#search_promosi_click')[0].disabled = false;
                    console.log(error);
                }
            });
        }

        function refreshForm1() {
            var link = '@Url.Action("RefreshPromosiForm", "Manage")';

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('.promosi_table_section').hide();
                    $('.promosi_editor_section').show();
                    $('#form-partial').html(response);
                    refreshInputan();
                    getTanggal();
                    getMarketplace();
                    //getDataBarang();
                    $('#loading_spinner').hide();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function DataIsValid() {
            if ($('#Promosi_TGL_MULAI').val() != '' &&
                $('#Promosi_TGL_AKHIR').val() != '' &&
                $('#Promosi_NAMA_MARKET').val() != '' &&
                $('#Promosi_NAMA_PROMOSI').val() != ''
            ) {
                if (moment($('#Promosi_TGL_AKHIR').val(), 'DD-MM-YYYY') < moment($('#Promosi_TGL_MULAI').val(), 'DD-MM-YYYY')) {
                    alert('Tanggal Akhir harus lebih besar dari Tanggal Mulai');
                    return false;
                }
                if ($('#CUSTOMER').text().toUpperCase().includes('LAZADA (')) {
                    var dtMonth = new Date().getMonth() + 1;
                    var bln = getTwoDigitDateFormat(dtMonth);
                    var dtDay = new Date().getDate();
                    var day = getTwoDigitDateFormat(dtDay);
                    //var bln = "";
                    //if (dtMonth < 10) {
                    //    bln = '0' + dtMonth;
                    //} else {
                    //    bln += dtMonth;
                    //}
                    if ($('#TGL_MULAI').val() != (day + '/' + bln + '/' + new Date().getFullYear())) {
                        alert('Tanggal Mulai untuk promo marketplace Lazada harus di set hari ini.');
                        return false;
                    }
                }
            } else {
                alert('Silakan isi semua field terlebih dahulu!');
                return false;
            }
            return true;
        }

        function getTwoDigitDateFormat(monthOrDate) {
            return (monthOrDate < 10) ? '0' + monthOrDate : '' + monthOrDate;
        }

        function simpanbrg($id) {
            if (!validateForm() || !DataIsValid()) return false;
            if ($id == 'brg-0') {
                //if ($('#Promosi_TGL_MULAI').val() != '' &&
                //    $('#Promosi_TGL_AKHIR').val() != '' &&
                //    $('#Promosi_NAMA_MARKET').val() != '' &&
                //    $('#Promosi_NAMA_PROMOSI').val() != ''
                //) {
                    $('#PromosiDetail_KODE_BRG').val($('#BRG').selectivity('val'));
                    $('#PromosiDetail_HARGA_NORMAL').val(convertToAngka($('tr[data-promosi-id="0"] .harga-barang').text()));
                    $('#PromosiDetail_HARGA_PROMOSI').val(convertToAngka($('tr[data-promosi-id="0"] .harga-promosi-barang').text()));
                    $('#PromosiDetail_PERSEN_PROMOSI').val(convertToAngka($('tr[data-promosi-id="0"] .persen-promosi-barang').text()));
                    $('#PromosiDetail_MAX_QTY').val(convertToAngka($('tr[data-promosi-id="0"] .batas-pembelanjaan').text()));

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SavePromosi", "Manage")',
                        data: $('#form-promosi').serialize(),
                        beforeSend: function() {
                            $('#loading_spinner').show();
                        },
                        success: function (response) {
                            if (response.Errors == null) {
                                //add by nurul 3/1/2019
                                $modeEdit = 1;
                                //end add
                                $('#form-partial').html(response);
                                refreshInputan();
                                getTanggal();
                                getDataBarang();
                                getMarketplace();
                                //ADD BY NURUL 2/1/2019 (HIDDEN HEADER KALO UDAH ADA DETAIL)
                                $('#Promosi_NAMA_PROMOSI').attr('readonly', 'readonly').css('background-color', '#eee')
                                    .css('cursor', 'not-allowed');
                                //$('#Promosi_NAMA_MARKET').attr('readonly', 'readonly').css('background-color', '#eee')
                                //.css('cursor', 'not-allowed');
                                $('#TGL_MULAI').attr('readonly', 'readonly').css('background-color', '#eee')
                                    .css('cursor', 'not-allowed');
                                $('#TGL_AKHIR').attr('readonly', 'readonly').css('background-color', '#eee')
                                    .css('cursor', 'not-allowed');
                                //END ADD
                            } else {
                                console.log(response.Errors);
                                alert(response.Errors[0]);
                            }
                            $('#loading_spinner').hide();
                        },
                        error: function (xhr) {
                            alert('Ada data yang tidak valid!');
                            $('#loading_spinner').hide();
                            console.log(xhr);
                        }
                    });
            //}
            //else {
            //        alert('Silakan isi semua field terlebih dahulu!');
            //    }
            }
        }
    </script>

    <script>
        //Disable Enter Key Submit Form
        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode === 13) && (node.type === "text")) { return false; }
        }
        document.onkeypress = stopRKey;
    </script>
}