@using System.Globalization
@model MasterOnline.ViewModels.ScanBarcodePickingBarangViewModel


<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label>No PL :</label>
            </div>
            <div class="col-md-3">
                <label id="txtNoPL">@Model.NO_PL</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label>Total BRG :</label>
            </div>
            <div class="col-md-3">
                <label id="txtJmlBrg">@Model.jmlBrg</label>
                <label>/</label>
                <label id="txtMaxBrg">@Model.maxBrg</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label>Total QTY :</label>
            </div>
            <div class="col-md-3">
                <label id="txtJmlQty">@Model.jmlQty</label>
                <label>/</label>
                <label id="txtMaxQty">@Model.maxQty</label>
            </div>
        </div>
    </div>
    <input id="maxDataPicking" style="display:none;" value="@Model.dataScan.Count"/>
</div>
<div>
    <table class="table table-striped table-bordered" id="tblScan">
        <thead>
            <tr role="row">
                <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 40px; max-width: 40px; border-left:hidden; align-self:flex-start"><input type="checkbox" onclick="clickAllPicking();" class="dt-checkboxes-select-all center" id="checkbox_all_delete_picking_barang" style="margin-top: 20px; border-left:hidden; align-self:flex-start; width:30px; height:28px;" /></th>
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 130px;">Scan Barcode</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">QTY</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 117px;">Valid</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var brgScan in Model.dataScan)
                {
                <tr>
                    @Html.HiddenFor(m => m.ListHargaJualPermarket[i].RecNum)
                    <td class="get_data_picking kode_barcode" id-brg="@brgScan.brg">@brgScan.code</td>
                    <td class="get_data_picking" id-brg="@brgScan.brg">
                        <input value="@brgScan.qty" />
                    </td>
                    @if (@brgScan.isValid)
                    {
                        <td class="get_data_picking">VALID</td>
                    }
                    else
                    {
                        <td class="get_data_picking">TIDAK VALID</td>
                    }
                </tr>
                }*@
            @for (int i = 0; i < Model.dataScan.Count; i++)
            {
            <tr>
                @Html.HiddenFor(m => m.dataScan[i].code)
                @Html.HiddenFor(m => m.dataScan[i].brg)
                @Html.HiddenFor(m => m.dataScan[i].qty)
                @Html.HiddenFor(m => m.dataScan[i].isValid)
                <td style="width: 40px; max-width: 40px; align-self:flex-start; border-left:hidden">
                    <input type="checkbox" class="dt-checkboxes checkbox_delete_picking_barang center" id-brg="@Model.dataScan[i].brg" style="border-left:hidden; align-self:flex-start; width:30px; height:28px;" />
                </td>
                <td class="get_data_picking kode_barcode" id-brg="@Model.dataScan[i].brg">@Model.dataScan[i].code</td>
                <td class="get_data_picking" id-brg="@Model.dataScan[i].brg">
                    <div class="form-group">
                        <input class="form-control limited_number_textbox num-only" data-val="true" id="data_qty_@i" id-brg="@Model.dataScan[i].brg" 
                               value="@Model.dataScan[i].input_qty" onchange="changeQtyPacking('data_qty_@i', @Model.dataScan[i].qty);"/>
                        @*@Html.TextBoxFor(m => m.dataScan[i].qty, new { @class = "form-control limited_number_textbox num-only", min = 1, max = 99999999, maxlength = 8 })*@
                    </div>
                </td>
                @if (Model.dataScan[i].isValid)
                {
                    <td class="get_data_picking" id="data_isvalid_@i">VALID</td>
                }
                else
                {
                    <td class="get_data_picking" id="data_isvalid_@i">TIDAK VALID</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="utf-8">

    $("input.num-only").off('keydown').on('keydown',
        function (e) {

            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    function changeQtyPacking(id, qty) {
        //alert('id : ' + id + ' ,qty : ' + qty + ' ,value : ' + $('#' + id).val());
        if ($('#' + id).val() != qty) {
            document.getElementById('data_isvalid_' + id.split('_')[2]).innerText = "TIDAK VALID";
        }
        else {
            document.getElementById('data_isvalid_' + id.split('_')[2]).innerText = "VALID";
        }
    }
</script>
