@using System.Globalization
@model MasterOnline.ViewModels.ScanBarcodePackingPesananViewModel


<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label>No PL :</label>
            </div>
            <div class="col-md-3">
                <label id="txtNoPL">@Model.NO_PL</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label>Jumlah Pesanan :</label>
            </div>
            <div class="col-md-3">
                <label id="txtJmlOrder">@Model.jmlOrder</label>
                <label>/</label>
                <label id="txtMaxOrder">@Model.maxOrder</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <label>No Pesanan :</label>
            </div>
            <div class="col-md-3">
                @*<input value="@Model.nobuk" data-val="true" id="promptHiddenField" name="promptHiddenField" type="hidden">*@
                <div class="input-group text">
                    <table>
                        <tr>
                            <td>
                                <input value="@Model.nobuk" class="form-control" disabled="disabled" id="txtNoPesanan" name="txtNoPesanan" type="text">
                            </td>
                            <td>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="btnPromptPesanan" type="button" style="height: 34px;" onclick="PromptPesanan();">
                                        <span class="glyphicon glyphicon-option-horizontal"></span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table table-striped table-bordered" id="tblScan">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 130px;">Kode Barang</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 250px;">Nama Barang</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 50px;">QTY</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 120px;">Kode Barcode</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 70px;">Lokasi Rak</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">Valid</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var barang in Model.dataScan)
            {
            <tr>
                <td>@barang.brg</td>
                <td>@barang.nama</td>
                <td>@barang.qty</td>
                <td>@barang.code</td>
                <td>@barang.rak</td>
                @if (barang.isValid)
                {
                    <td>VALID</td>
                }
                else
                {
                    <td>TIDAK VALID</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function PromptPesanan() {
            showPromptPesananTextBoxWindow();
        }

    function showPromptPesananTextBoxWindow() {
        var $link = '@Url.Action("PromptPesananPL", "Manage")';
        $link += "?nobuk=" + document.getElementById('txtNoPL').innerText;
            window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
        }
        function afterPromptSetPesananPL(val) {
            //$('#promptHiddenField').val(val);
            $('#txtNoPesanan').val(val);

            openModalPacking();
        }
</script>