@using System.Globalization
@model MasterOnline.ViewModels.ScanBarcodeSerahTerimaViewModel


<div class="container">
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-2 col-sm-2">Scan Barcode</label>
            <div class="col-md-10 col-sm-10">
                @*@Html.TextBox("txtScanBarcode", "", new { @class = "form-control" })*@
                @*@Html.Hidden("KURIR_TEMP", new { @class = "form-control", Value = (Model?.KURIR_TEMP == null ? "" : Model.KURIR_TEMP) })*@
                <input class="form-control" data-val="true" id="txtScanBarcode" name="txtScanBarcode" placeholder="No. Pesanan/ No. Referensi/ No. Resi" />
                @*<input id="KURIR_TEMP" type="hidden" class="form-control" value="@Model.KURIR_TEMP">*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group" style="margin-top: 5px;">
            <label class="control-label col-md-2 col-sm-2">Kurir</label>
            <div class="col-md-10 col-sm-10">
                <input id="KURIR_TEMP" class="form-control" value="@Model.KURIR_TEMP" readonly="readonly">
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3" style="text-align:right;">
        <button type="button" class="btn btn-danger" id="btnHapusPesanan" onclick="HapusPesanan();">Hapus</button>
    </div>
</div>
<br />
<div>
    <table class="table table-striped table-bordered" id="tblScan">
        <thead>
            <tr role="row">
                <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 40px; max-width: 40px; align-self:flex-start"><input type="checkbox" onclick="clickAllScan();" class="dt-checkboxes-select-all center" id="checkbox_all_detail_scan" style="margin-top: 20px; border-left:hidden; align-self:flex-start; width:30px; height:28px;" /></th>
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 70px;">No. Pesanan</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 130px;">No.Referensi</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 60px;">Tanggal Pesanan</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 80px;">Marketplace</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 80px;">Pembeli</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 80px;">No. Resi</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 80px;">Kurir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model?.listDataScan)
            {
            <tr>
                <td style="width: 40px; max-width: 40px; align-self:center; text-align:center;">
                    <input type="checkbox" class="dt-checkboxes checkbox_detail_scan center" id-pesanan="@order.RecnumSO" style="border-left:hidden; align-self:flex-start; width:30px; height:28px;" />
                </td>
                <td>@order.NoPesanan</td>
                <td>@order.NoRef</td>
                <td>@order.TglPesanan</td>
                <td>
                    @if (order.Perso != "")
                    {
                        @(order.Marketplace + " (" + order.Perso + ")")
                    }
                    else
                    {
                        @order.Marketplace
                    }
                </td>
                <td>@order.Pembeli</td>
                <td>@order.NoResi</td>
                <td>@order.Kurir</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("input.num-only").off('keydown').on('keydown',
            function (e) {

                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

        $("#txtScanBarcode").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode === 13 || event.keyCode === 9) {
                if ($("#txtScanBarcode").val() == '') {
                    alert('Silahkan scan barcode/masukkan No. Referensi / No. Resi Pesanan / No. Pesanan.');
                }
                else {
                    ScanBarcodeSerahTerima();
                }
            }
            return false;
        });

        //alert('test');
        $("#txtScanBarcode").focus();
    });
    
    //function changeQtyPacking(id, qty) {
    //    //alert('id : ' + id + ' ,qty : ' + qty + ' ,value : ' + $('#' + id).val());
    //    if ($('#' + id).val() != qty) {
    //        if (document.getElementById('data_isvalid_' + id.split('_')[2]).innerText != "TIDAK VALID") {
    //            document.getElementById('txtJmlBrg').innerText = document.getElementById('txtJmlBrg').innerText - 1;
    //            document.getElementById('txtJmlQty').innerText = document.getElementById('txtJmlQty').innerText - qty;
    //        }
    //        $('#dataScan_' + id.split('_')[2] + '__isValid').val('False');
    //        document.getElementById('data_isvalid_' + id.split('_')[2]).innerText = "TIDAK VALID";
    //    }
    //    else {
    //        if (document.getElementById('data_isvalid_' + id.split('_')[2]).innerText != "VALID") {
    //            document.getElementById('txtJmlBrg').innerText = parseInt(document.getElementById('txtJmlBrg').innerText) + 1;
    //            document.getElementById('txtJmlQty').innerText = parseInt(document.getElementById('txtJmlQty').innerText) + parseInt(qty);
    //        }
    //        $('#dataScan_' + id.split('_')[2] + '__isValid').val('True');
    //        document.getElementById('data_isvalid_' + id.split('_')[2]).innerText = "VALID";
            
    //    }
    //}

    

    function ScanBarcodeSerahTerima() {

        var cekList = [];
        $(".checkbox_detail_scan").each(function (z, chk) {
            cekList.push($(chk).attr("id-pesanan"));
        });

        $postdata = {
            Data: cekList,
            DataScan: $("#txtScanBarcode").val(),
            Kurir: $("#KURIR_TEMP").val(),
        };

        var $link = '@Url.Action("ScanBarcodeSerahTerima", "Manage")';
        $.ajax({
            type: "POST",
            url: $link,
            contentType: "application/json; charset=UTF-8",
            cache: false,
            data: JSON.stringify($postdata),
            beforeSend: function () {
                document.getElementById("btnCancelScanBarcode").disabled = true;
                document.getElementById("btnSimpanSerahTerima").disabled = true;
            },
            success: function (response) {
                document.getElementById("btnCancelScanBarcode").disabled = false;
                document.getElementById("btnSimpanSerahTerima").disabled = false;
                //$('#modalPickingBarang').modal('hide');
                if (response.Errors == undefined) {
                    //editPackinglist1(response.Errors[0]);
                    $('#modal-scan-barcode').html(response);
                    $("#txtScanBarcode").focus();
                }
                else {
                    alert(response.Errors[0]);
                    $("#txtScanBarcode").val('');
                    $("#txtScanBarcode").focus();
                }

            },
            error: function (xhr, status, error) {
                console.log(error);
                document.getElementById("btnCancelScanBarcode").disabled = false;
                document.getElementById("btnSimpanSerahTerima").disabled = false;
            }
        });
    }

    function HapusPesanan() {
        var cekTrue = [];
        $(".checkbox_detail_scan").each(function (z, chk) {
            if ($(chk).prop('checked') == true) {
                cekTrue.push($(chk).attr("id-pesanan"));
            }
        });

        if (cekTrue.length == 0) {
            alert('Silahkan pilih data yang anda ingin hapus.');
            return false;
        }

        //listBrg = [];
        //    for (i = 0; i < $('#maxDataPicking').val(); i++) {
        //        listBrg[i] = {
        //            brg: $('#dataScan_' + i + '__brg').val(),
        //            code: $('#dataScan_'+i+'__code').val(),
        //            qty: $('#dataScan_' + i + '__qty').val(),
        //            isValid: $('#dataScan_' + i + '__isValid').val(),
        //            input_qty: $('#data_qty_' + i).val(),
        //            rak: $('#dataScan_' + i + '__rak').val(),
        //        };

        //    }
        //    $postdata = {
        //        NO_PL: document.getElementById('txtNoPL').innerText,
        //        maxBrg: document.getElementById('txtMaxBrg').innerText,
        //        jmlBrg: document.getElementById('txtJmlBrg').innerText,
        //        maxQty: document.getElementById('txtMaxQty').innerText,
        //        jmlQty: document.getElementById('txtJmlQty').innerText,
        //        dataScan: listBrg,
        //        listDelete: cekTrue,
        //    };

        var cekList = [];
        $(".checkbox_detail_scan").each(function (z, chk) {
            cekList.push($(chk).attr("id-pesanan"));
        });

        $postdata = {
            Data: cekList,
            //DataScan: $("#txtScanBarcode").val(),
            Kurir: $("#KURIR_TEMP").val(),
            listDelete: cekTrue,
        };

        var $link = '@Url.Action("HapusDetailSerahTerima", "Manage")';
        $.ajax({
            type: "POST",
            url: $link,
            contentType: "application/json; charset=UTF-8",
            cache: false,
            data: JSON.stringify($postdata),
            beforeSend: function () {
                document.getElementById("btnCancelScanBarcode").disabled = true;
                document.getElementById("btnSimpanSerahTerima").disabled = true;
            },
            success: function (response) {
                document.getElementById("btnCancelScanBarcode").disabled = false;
                document.getElementById("btnSimpanSerahTerima").disabled = false;
                //$('#modalPickingBarang').modal('hide');
                if (response.Errors == undefined) {
                    //editPackinglist1(response.Errors[0]);
                    $('#modal-scan-barcode').html(response);
                }
                else {
                    alert(response.Errors[0]);
                    $("#txtScanBarcode").val('');
                    $("#txtScanBarcode").focus();
                }

            },
            error: function (xhr, status, error) {
                console.log(error);
                document.getElementById("btnCancelScanBarcode").disabled = false;
                document.getElementById("btnSimpanSerahTerima").disabled = false;
            }
        });
    }

</script>
