@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.SecurityUserViewModel
@{
    ViewBag.Title = "SecUserMenu";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    //var dataSession = HttpContext.Current.Session["SessionInfo"] as AccountUserViewModel;
    //add by nurul 8/2/2019
    var context = new MoDbContext("");
    var accountId = new long();
    //if (dataSession?.Account != null)
    //{
    //    accountId = dataSession.Account.AccountId;
    //}
    //else if (dataSession?.User != null)
    //{
    //    accountId = context.Account.SingleOrDefault(a => a.AccountId == dataSession.User.AccountId).AccountId;
    //}

    var sessionAccount = HttpContext.Current.Session["SessionAccount"];
    var sessionAccountUserID = HttpContext.Current.Session["SessionAccountUserID"];
    var sessionAccountUserName = HttpContext.Current.Session["SessionAccountUserName"];
    var sessionAccountEmail = HttpContext.Current.Session["SessionAccountEmail"];
    var sessionAccountTglSub = HttpContext.Current.Session["SessionAccountTglSub"];
    var sessionAccountKodeSub = HttpContext.Current.Session["SessionAccountKodeSub"];
    var sessionAccountDataSourcePathDebug = HttpContext.Current.Session["SessionAccountDataSourcePathDebug"];
    var sessionAccountDataSourcePath = HttpContext.Current.Session["SessionAccountDataSourcePath"];
    var sessionAccountDatabasePathErasoft = HttpContext.Current.Session["SessionAccountDatabasePathErasoft"];

    var sessionUser = System.Web.HttpContext.Current.Session["SessionUser"];
    var sessionUserUserID = System.Web.HttpContext.Current.Session["SessionUserUserID"];
    var sessionUserUsername = System.Web.HttpContext.Current.Session["SessionUserUsername"];
    var sessionUserEmail = System.Web.HttpContext.Current.Session["SessionUserEmail"];
    var sessionUserAccountID = System.Web.HttpContext.Current.Session["SessionUserAccountID"];

    if (sessionAccount != null)
    {
        accountId = Convert.ToInt64(sessionAccount);
    }
    else if (sessionUser != null)
    {
        var userAccID = Convert.ToInt64(sessionUserAccountID);
        accountId = context.Account.SingleOrDefault(a => a.AccountId == userAccID).AccountId;
    }
    //end add
}

@section styles
{
    <style>
        .btn-success {
            background-color: #d7d7d7;
        }

        .btn {
            border: none;
        }

            .btn span.glyphicon {
                opacity: 0;
            }

            .btn.active span.glyphicon {
                opacity: 1;
            }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @ViewData["SuccessMessage"].ToString()
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>

<div class="row user_table_section">
    <div class="col-sm-12">
        <table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 115px;">Username</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 130px;">Email</th>
                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Security</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var user in Model.ListUser.Where(u => u.AccountId == dataSession?.Account?.AccountId).ToList()) //change by nurul 8/2/2019*@
                @foreach (var user in Model.ListUser.Where(u => u.AccountId == accountId).ToList())
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>
                            <a href="@Url.Action("SecUserMenu", "Manage", new {userId = @user.UserId})" style="text-decoration: underline;">Klik di sini</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model.User != null)
{
    <br /><br />
    <div style="background-color: #fff; padding: 20px;">
        <button class="btn btn-primary btn-lg pull-right" type="button" id="submit-sec">Simpan</button>

        @using (Html.BeginForm("SaveSecUser", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-security-user" }))
        {
            <div class="row">
                <div class="col-lg-3">
                    <label class="control-label">Username</label>
                    <input class="form-control" type="text" disabled="disabled" value="@Model.User.Username" />
                </div>
                <div class="col-lg-3">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="text" disabled="disabled" value="@Model.User.Email" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped table-responsive" id="table-security">
                        <thead>
                            <tr>
                                <th>Form</th>
                                <th style="width: 75px; max-width: 75px;">Access</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-top: 4px; padding-bottom: 4px;"><span style="font-weight: bold; ">Dashboard</span></td>
                                <td class="text-center" style="padding-top: 4px; padding-bottom: 4px;">
                                    <div class="btn-group has-child" data-toggle="buttons" data-form-id="2065">
                                        @{
                                            var checkInSecDash = Model.ListSec.FirstOrDefault(s => s.FormId == 2065);

                                            if (checkInSecDash == null)
                                            {
                                                <label class="btn btn-success">
                                                    <input id="2065" data-parent-id="0" type="checkbox" autocomplete="off">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="btn btn-success active">
                                                    <input id="2065" data-parent-id="0" type="checkbox" autocomplete="off" checked>
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </label>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                            @foreach (var form in Model.ListForms)
                            {
                                if (form.HaveChild)
                                {
                                    <tr>
                                        <td style="padding-top: 4px; padding-bottom: 4px;"><span style="font-weight: bold; ">@form.NamaForm</span></td>
                                        <td class="text-center" style="padding-top: 4px; padding-bottom: 4px;">
                                            <div class="btn-group has-child" data-toggle="buttons" data-form-id="@form.ScrId">
                                                @{
                                                    var checkInSec = Model.ListSec.FirstOrDefault(s => s.FormId == form.ScrId);

                                                    if (checkInSec == null)
                                                    {
                                                        <label class="btn btn-success">
                                                            <input id="@form.ScrId" data-parent-id="@form.ParentId" type="checkbox" autocomplete="off">
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="btn btn-success active">
                                                            <input id="@form.ScrId" data-parent-id="@form.ParentId" type="checkbox" autocomplete="off" checked>
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </label>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>

                                    foreach (var formChild in Model.ListForms)
                                    {
                                        if (formChild.ParentId == form.ScrId)
                                        {
                                            <tr>
                                                <td style="padding-top: 4px; padding-bottom: 4px;"><span style="margin-left: 30px; ">@formChild.NamaForm</span></td>
                                                <td class="text-center" style="padding-top: 4px; padding-bottom: 4px;">
                                                    <div class="btn-group has-parent" data-toggle="buttons" data-form-id="@formChild.ScrId" data-form-parent-id="@formChild.ParentId">
                                                        @{
                                                            var childCheckInSec = Model.ListSec.FirstOrDefault(s => s.FormId == formChild.ScrId);

                                                            if (childCheckInSec == null)
                                                            {
                                                                <label class="btn btn-success">
                                                                    <input id="@formChild.ScrId" data-parent-id="@formChild.ParentId" type="checkbox" autocomplete="off">
                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label class="btn btn-success active">
                                                                    <input id="@formChild.ScrId" data-parent-id="@formChild.ParentId" type="checkbox" autocomplete="off" checked>
                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                                </label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else if (!form.HaveChild && form.ParentId == 0)
                                {
                                    <tr>
                                        <td style="padding-top: 4px; padding-bottom: 4px;"><span style="font-weight: bold; ">@form.NamaForm</span></td>
                                        <td class="text-center" style="padding-top: 4px; padding-bottom: 4px;">
                                            <div class="btn-group has-child" data-toggle="buttons" data-form-id="@form.ScrId">
                                                @{
                                                    var checkInSec = Model.ListSec.FirstOrDefault(s => s.FormId == form.ScrId);

                                                    if (checkInSec == null)
                                                    {
                                                        <label class="btn btn-success">
                                                            <input id="@form.ScrId" data-parent-id="@form.ParentId" type="checkbox" autocomplete="off">
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="btn btn-success active">
                                                            <input id="@form.ScrId" data-parent-id="@form.ParentId" type="checkbox" autocomplete="off" checked>
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </label>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.has-child').click(function() {
                var formIdAsParent = $(this).attr('data-form-id');
                var activated = $(this).find('label').hasClass('active');

                if (!activated) {
                    $('.has-parent').each(function() {
                        var formParentId = $(this).attr('data-form-parent-id');

                        if (formParentId === formIdAsParent) {
                            $(this).find('label').addClass('active');
                            $(this).find('input').attr('checked', true);
                        }
                    });
                } else {
                    $('.has-parent').each(function () {
                        var formParentId = $(this).attr('data-form-parent-id');

                        if (formParentId === formIdAsParent) {
                            $(this).find('label').removeClass('active');
                            $(this).find('input').attr('checked', false);
                        }
                    });
                }
            });

            $('.has-parent').click(function() {
                var formParentId = $(this).attr('data-form-parent-id');
                $('.has-child[data-form-id="' + formParentId + '"]').find('label').addClass('active');
                $('.has-child[data-form-id="' + formParentId + '"]').find('input').attr('checked', true);
            });

            $("#submit-sec").click(function () {
                var formSecArray = [];
                var parentSecArray = [];
                var counter = 0;

                $("#table-security tr td label.active").each(function () {
                    formSecArray[counter] = $(this).find("input").attr("id");
                    parentSecArray[counter] = $(this).find("input").attr("data-parent-id");
                    counter++;
                });

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveSecUser", "Manage")',
                    data: JSON.stringify({
                        FormArray: formSecArray,
                        ParentArray: parentSecArray
                    }),
                    contentType: 'application/json; charset=UTF-8',
                    cache: false,
                    success: function () {
                        alert('Data security user berhasil disimpan!');
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            });
        });
    </script>
}