@using System.Globalization
@using MasterOnline.ViewModels
@model StokViewModel
@{
    ViewBag.Title = "Saldo Awal Stok";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";

    ErasoftContext erasoftContext = null;
    var context = new MoDbContext("");

    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    if (dataSession?.Account != null)
    {
        //change by nurul 3/10/2018
        //erasoftContext = new ErasoftContext(dataSession.Account.UserId);
        erasoftContext = new ErasoftContext(dataSession.Account.DataSourcePath, dataSession.Account.DatabasePathErasoft);
    }
    else
    {
        var accFromUser = context.Account.Single(a => a.AccountId == dataSession.User.AccountId);
        //change by nurul 3/10/2018
        //erasoftContext = new ErasoftContext(accFromUser.UserId);
        erasoftContext = new ErasoftContext(accFromUser.DataSourcePath, accFromUser.DatabasePathErasoft);

    }
}
@section styles
{
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/selectize.css" rel="stylesheet" />
    <style>
        .input-group {
            margin-bottom: 0;
        }

        .btn-success[disabled]:hover {
            background: #6ad6bf;
            border-color: #6ad6bf;
        }

        table#table_tambah_stok thead tr {
            background-color: #c7f1f5;
        }

        .qty-input {
            width: 50px;
        }

        .harga-input {
            width: 100px;
        }

        .disc-input {
            width: 50px;
        }

        .ndisc-input {
            width: 100px;
        }

        /*#BRG {
            width: 150px !important;
        }*/

        /*//change by nurul 16/8/2019*/
        /*#GUDANG,
        #GUDANG .selectivity-single-select-input,{
            width: 100px !important;
        }*/

        #GUDANG,
        #GUDANG .selectivity-single-select-input,
        #table_tambah_stok > tbody > tr > .gd-barang {
            width: 70px !important;
        }

            #table_tambah_stok > tbody > tr > .gd-barang .selectize-dropdown {
                width: 250px !important;
            }
        /*//end change by nurul 16/8/2019*/

        #stok-section > div {
            background-color: #fff;
            padding: 20px;
        }
    </style>
}
<div class="row" id="stok-section">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row stok_table_section">
            <div class="col-lg-4 col-sm-6">
                <div class="input-group">
                    <input id="search_stok" type="text" class="form-control" placeholder="Pencarian">
                    <span class="input-group-btn">
                        <button type="button" id="search_stok_click" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="pull-right">
                    @*<button type="button" class=" btn btn-default" data-style="expand-right">
            <span>Refresh</span>
        </button>*@
                    <button class="btn btn-primary " onclick="$('#excelSaldoAwal').modal('show');" id="excel_stok">Excel Saldo Awal</button>
                    <button class="btn btn-primary btn_tambah_data" id="tambah_stok">Tambah Baru</button>
                </div>
            </div>
        </div>
        <div class="row stok_table_section" style="margin-top: 5px;">
            <div class="col-sm-12" id="table-stok-partial">
                @*@Html.Partial("TableStokPartial")*@
            </div>
        </div>
        <div class="row stok_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Stok</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                        {
                            <div class="alert alert-danger">
                                <span class="message-error">@modelError.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                    @using (Html.BeginForm("SaveStok", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-stok" }))
                    {
                        <div id="form-partial">
                            @*@Html.Partial("BarangStokPartial")*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="konfHapusStok" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus stok ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteStok();">Ya</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="konfHapusBarang" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus barang ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteBarang();">Ya</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTutupEditor" tabindex="-1" role="dialog" aria-labelledby="labelModalTutupEditor">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelModalTutupEditor">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Ada perubahan data yang belum Anda simpan. <br />Yakin ingin menutup form ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="closeEditor()">Ya</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="excelSaldoAwal" tabindex="-1" role="dialog" aria-labelledby="labelExcelSaldoAwal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelExcelSaldoAwal">Excel Saldo Awal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Anda dapat menggunakan fitur ini untuk membantu pengisian saldo awal stok.<br />Dengan cara :
                            @*<br />1. Download file excel saldo awal stok
                <br />2. Isi stok barang pada excel
                <br />3. Upload kembali file excel yang sudah anda isi*@
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label>1. Download excel saldo awal stok. </label>
                        <button type="button" class="btn btn-primary" onclick="DownloadExcelSAS()">Download</button>
                    </div>
                    <div class="col-md-12">
                        <label>2. Isi stok barang pada excel. </label>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <label>3. Upload file excel saldo awal stok yang sudah Anda edit.</label>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-6 file_upload_section">
                                <input type='file' id='file_upload_excel' name="file_upload_excel" onchange="checkfile(this);"
                                       accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" id="btnUploadExcelSAS" onclick="uploadExcelSAS();" data-style="expand-right">
                                    <span>Upload</span>
                                </button>
                                @*<button type="button" class="btn btn-primary" id="btnUploadExcelSAS" onclick="alert('Proses upload excel saldo awal stock sedang dalam pengembangan. Silahkan hubungi team support.');" data-style="expand-right">
                        <span>Upload</span>
                    </button>*@
                            </div>
                        </div>
                    </div>
                    @*<div class="row">*@
                    <div class="col-md-12">
                        <div id="loading_upload" class="text-center" hidden="hidden">
                            <div id="loading_upload_image">
                                <img src="~/Content/Images/spinner.gif" />
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                    <br />
                    <br />
                    <br />
                    <div class="col-md-12">
                        <div id="progressBarUpload" class="text-center" style="display:none;">
                            @*<div id="progressBarUpload" class="text-center" >*@
                                <table class="col-md-12" id="tbl_progbar2">
                                    <tr>
                                        <td class="col-md-2">
                                            <label id="lblPBUpload"></label>
                                        </td>
                                        <td class="col-md-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" id="pBar_uploadFile"
                                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                    0% Complete (success)
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                @*<button type="button" class="btn btn-success" onclick="closeEditor()">Ya</button>*@
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/selectize.js" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
    <script type="text/javascript">
        var $flagPerubahan = 0;
        var $modeEdit = 0; // 0 new, 1 edit
        //add by nurul 12/2/2019
        var $page = window.text;
        //end add by nurul 12/2/2019

        $("#excelSaldoAwal").on("hidden.bs.modal", function () {
            // refresh saat tutup modal excel
            refreshTableStok();
        });

        $(document).ready(function () {
            refreshTableStok();
            //add by nurul 12/2/2019
            $page = 0;
            //end add by nurul 12/2/2019
            //Initialize();
            var tableSiapProses = $('#datatable_siapproses').DataTable({
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
            });

            $('#search_siapproses').keyup(function () {
                tableSiapProses.search($(this).val()).draw();
            });
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019


            $('#tambah_stok').on('click', function () {
                refresh();
                //$('.stok_table_section').hide();
                //$('.stok_editor_section').show();
            });

            $('#close-editor').off('click').on('click', function () {
                if ($('#btn-simpan-perubahan-row').is(':visible')) {
                    $('#modalTutupEditor').modal('show');
                } else {
                    //$('#close-editor')[0].disabled = true;
                    $modeEdit = 0;
                    $('input, select, .btn-danger').each(function () {
                        $(this).removeAttr('disabled');
                    });
                    $('.stok_table_section').show();
                    $('.stok_editor_section').hide();
                    $('#form-partial').html('');
                    //refresh();
                    refreshTableStok();
                    //if ($('#search_stok').val() != "") {
                    //    searchTableStok();
                    //} else {
                    //    refreshTableStok();
                    //}
                    //add by nurul 12/2/2019
                    //$('#datatable').on('page.dt', function () {
                    //    $page = $('#datatable').DataTable().page.info().page;
                    //});
                    //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
                }
            });

            //document.getElementById('file_upload_excel').onclick = function (e) { e.preventDefault(); alert('Proses upload excel saldo awal stock sedang dalam pengembangan. Silahkan hubungi team support.');};

            $('#search_stok').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableStok();
                    return false;
                }
            });
            $('#search_stok_click').click(function () {
                searchTableStok();
            });
        });

        //add 24 Juli 2019, untuk excel stok awal
        function checkfile(s) {
            var validExts = new Array(".xlsx", ".xls");
            var fileExt = s.value;
            if (fileExt != null && fileExt != "") {
                fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
                if (validExts.indexOf(fileExt) < 0) {
                    alert("Invalid file selected, valid files are of " +
                        validExts.toString() + " types.");
                    document.getElementById("file_upload_excel").value = "";

                    return false;
                }
                //updateList();
            }
        }
        function DownloadExcelSAS() {
            var link = '@Html.Raw(Url.Action("ListBarangtoExcel", "TransferExcel"))';
            //link += "?cust=" + cust;

            $.ajax({
                type: "GET",
                url: link,
                contentType: 'application/json',
                cache: false,
                async: false,
                beforeSend: function () {
                    //$('#loading_spinner_btn').show();
                    //$('#lblRecord_' + cust).show();
                    //$('#spinner_' + cust).show();
                },
                success: function (response) {
                    //$('#loading_spinner_btn').hide();
                    if (response.Errors.length == 0) {
                        var bytes = new Uint8Array(response.byteExcel);
                        saveByteArray(response.namaFile, bytes);
                        //document.getElementById('lblRecord_' + cust).innerText = 'sukses download';
                    } else {
                        alert(response.Errors[0]);
                        //document.getElementById('lblRecord_' + cust).innerText = 'gagal download : ' + response.Errors[0];
                    }
                    
                },
                error: function (xhr) {
                    //$('#loading_spinner_btn').hide();
                    console.log(xhr);
                    
                }
            });
        }

        function saveByteArray(reportName, byte) {
            var blob = new Blob([byte], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            var fileName = reportName;
            link.download = fileName;
            //document.body.appendChild(link);
            link.click();
            //document.body.removeChild(link);
        };

        function uploadExcelSAS() {
            if ($('#file_upload_excel')[0].files.length < 1) {
                $('#file_upload_excel').click();
                $('#progressBarUpload').hide();
            }
            else
            {
                $('#progressBarUpload').hide();
                uploadFileExcelStockAwal(0, "0;5", "false;false");
            }
        }
   
        function uploadFileExcelStockAwal(vcountAll, vpercentvprogress, vstatusLoopvSuccess) {

            var splitpro = vpercentvprogress.split(';');
            var vpercent = splitpro[0];
            var vprogress = splitpro[1];

            var splitStatus = vstatusLoopvSuccess.split(';');
            var vstatusLoop = splitStatus[0];
            var vstatusSuccess = splitStatus[1];

            if ($('#file_upload_excel')[0].files.length <= 0) {
                $('#progressBarUpload').hide();
                $('#pBar_uploadFile').css('width', '0%').attr('aria-valuenow', 0);
                $('#pBar_uploadFile').html('0% Complete');
                $('#loading_upload').hide();
            }
            else
            {
                $('#btnUploadExcelSAS').attr('disabled', 'disabled');

                var formdata = new FormData(); //FormData object
                var fileInput = document.getElementById('file_upload_excel');
                //Iterating through each files selected in fileInput
                for (i = 0; i < fileInput.files.length; i++) {
                    //Appending each file to FormData object
                    if (i == 0) {
                        formdata.append(fileInput.files[i].name, fileInput.files[i]);
                        $('#lblPBUpload').text('Uploading File : ' + fileInput.files[i].name);
                    }
                }

                $('#progressBarUpload').show();

                var $urlProgress = '@Html.Raw(Url.Action("UploadXcelSaldoAwal", "TransferExcel", new { countAll = "rep2", percentDanprogress = "rep3percent;rep4progress", statusLoopSuccess = "rep5loop;rep6success" }))';
                $urlProgress = $urlProgress.replace("rep2", vcountAll);
                $urlProgress = $urlProgress.replace("rep3percent", vpercent);
                $urlProgress = $urlProgress.replace("rep4progress", vprogress);
                $urlProgress = $urlProgress.replace("rep5loop", String(vstatusLoop));
                $urlProgress = $urlProgress.replace("rep6success", String(vstatusSuccess));
                
                @*var url1 = '@Url.Action("UploadXcelSaldoAwal", "TransferExcel")';*@
                $.ajax({
                    type: "POST",
                    url: $urlProgress,
                    data: formdata,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    beforeSend: function () {
                        //$('#loading_upload').show();
                    },
                    success: function (response) {
                        if (response.countAll != null && response.error == null && response.statusLoop == true && response.statusSuccess == false) {
                            $('#pBar_uploadFile').css('width', response.percent + '%').attr('aria-valuenow', response.percent);
                            $('#pBar_uploadFile').html(response.percent + '% Complete');

                            if (response.progress <= response.countAll) {
                                uploadFileExcelStockAwal(response.countAll, String(response.percent) + ";" + String(response.progress + 1), String(response.statusLoop) + ";" + String(response.statusSuccess));
                            }

                        } else if (response.statusSuccess == true) {
                            $('#progressBarUpload').show();
                            $('#pBar_uploadFile').css('width', '100%').attr('aria-valuenow', 100);
                            $('#pBar_uploadFile').html('100% Complete');
                            alert('Proses upload dan input Saldo awal stok sudah selesai.');

                        } else {
                            $('#progressBarUpload').show();
                            $('#pBar_uploadFile').css('width', '100%').attr('aria-valuenow', 100);
                            $('#pBar_uploadFile').html('0% Complete');
                            $('#btnUploadExcelSAS').removeAttr('disabled');
                        }

                        //if (response.nextFile) {
                        //    //loop = 1;
                        //    //uploadFileExcelStockAwal(fileNum + 1, 0);
                        //} else {
                        //    if (response.Errors.length == 0) {
                        //        $('#loading_upload').hide();
                        //        $('#btnUploadExcelSAS').removeAttr('disabled');
                        //        $('#progressBarUpload').show();
                        //        //$('#pBar_uploadFile').css('width', '100%').attr('aria-valuenow', 100);
                        //        //$('#pBar_uploadFile').html('100% Complete');

                        //        //rows_selected = response.cust;
                        //        //listCustomerUploaded = response.namaCust;
                        //        alert('Proses upload dan input Saldo awal stok sudah selesai.');
                        //        document.getElementById("file_upload_excel").value = "";
                        //    } else {
                        //        var err = "";
                        //        for (i = 0; i < response.Errors.length; i++) {
                        //            err += response.Errors[i] + "\n";
                        //        }
                        //        //$('#progressBarUpload').hide();
                        //        $('#pBar_uploadFile').css('width', '100%').attr('aria-valuenow', 0);
                        //        $('#pBar_uploadFile').html('0% Complete');
                        //        alert(err);
                        //        document.getElementById("file_upload_excel").value = "";
                        //        //document.getElementById('lblListError').innerText = err;
                        //        $('#loading_upload').hide();
                        //        $('#btnUploadExcelSAS').removeAttr('disabled');
                        //    }
                        //}
                        
                    },
                    error: function (xhr, status, error) {
                        var err = "";
                        for (i = 0; i < response.Errors.length; i++) {
                            err += response.Errors[i] + "\n";
                        }
                        alert(err);
                        console.log(error);
                        $('#progressBarUpload').hide();
                        //$('#pBar_uploadFile').css('width', '100%').attr('aria-valuenow', 0);
                        //$('#pBar_uploadFile').html('0% Complete');
                        //$('#loading_upload').hide();
                        $('#btnUploadExcelSAS').removeAttr('disabled');
                    }
                });
                
            }
        }
        //end add 24 Juli 2019, untuk excel stok awal
        

        function closeEditor() {
            //$('#close-editor')[0].disabled = true;
            $('#modalTutupEditor').modal('hide');
            $modeEdit = 0;
            $('input, select, .btn-danger').each(function () {
                $(this).removeAttr('disabled');
            });
            $('.stok_table_section').show();
            $('.stok_editor_section').hide();
            $('#form-partial').html('');
            //refresh();
            refreshTableStok();
            //if ($('#search_stok').val() != "") {
            //    searchTableStok();
            //} else {
            //    refreshTableStok();
            //}
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
        }

        function Initialize() {
            //var table = $('#datatable').DataTable();
            var tableNunggu = $('#datatable_menipis').DataTable();
            var tableSedangProses = $('#datatable_kehabisan').DataTable();
            var tableSiapKirim = $('#datatable_siapkirim').DataTable();
            var tableSudahKirim = $('#datatable_tidaklaku').DataTable();
            var tableSelesai = $('#datatable_promosi').DataTable();

            //change by nurul 14/5/2019
            //$('#search_stok').keyup(function () {
            //    table.search($(this).val()).draw();
            //});

            //end change by nurul 14/5/2019

            $('#search_promosi').keyup(function () {
                tableSelesai.search($(this).val()).draw();
            });

            $('#search_menipis').keyup(function () {
                tableNunggu.search($(this).val()).draw();
            });

            $('#search_kehabisan').keyup(function () {
                tableSedangProses.search($(this).val()).draw();
            });

            $('#search_siapkirim').keyup(function () {
                tableSiapKirim.search($(this).val()).draw();
            });

            $('#search_tidaklaku').keyup(function () {
                tableSudahKirim.search($(this).val()).draw();
            });

            //$('#tambah_stok').on('click', function () {
            //    refresh();
            //    //$('.stok_table_section').hide();
            //    //$('.stok_editor_section').show();
            //});

            //$('#close-editor').on('click', function () {
            //    if ($('#btn-simpan-perubahan-row').is(':visible')) {
            //        $('#modalTutupEditor').modal('show');
            //    } else {
            //        $modeEdit = 0;
            //        $('input, select, .btn-danger').each(function () {
            //            $(this).removeAttr('disabled');
            //        });
            //        $('.stok_table_section').show();
            //        $('.stok_editor_section').hide();
            //        //refresh();
            //        refreshTableStok();
            //        //add by nurul 12/2/2019
            //        //$('#datatable').on('page.dt', function () {
            //        //    $page = $('#datatable').DataTable().page.info().page;
            //        //});
            //        //$('#datatable').DataTable().page($page).draw(false);
            //        //end add by nurul 12/2/2019
            //    }
            //});

            //if ($('.message-error').text() !== '') {
            //    //$('#tambah_stok').click();
            //    $('.stok_table_section').hide();
            //    $('.stok_editor_section').show();
            //}

            if ($('.message-error').text() !== '') {
                //$('#tambah_stok').click();
                $('.stok_table_section').hide();
                $('.stok_editor_section').show();
            }

            $('#table_tambah_stok > tbody > tr > td.editable-kode').prop('contentEditable', true);
            //widthBrg();
            //getDataBarang();test remark
            //getGudang();
            $flagPerubahan = 0;

            //$('#Stok_Tgl').datepicker({
            //    format: 'dd/mm/yyyy',
            //    language: 'id'
            //}).datepicker('setDate', '0').change(function () {
            //    //if ($flagPerubahan == 1) {
            //    if ($flagPerubahan == 0) {
            //        $('#btn-simpan-perubahan-row').show();
            //    }

            //    $flagPerubahan++;
            //    });
            if ($modeEdit == 1) { // mode edit
                $('#Stok_Tgl').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    //if ($flagPerubahan == 1) {
                    if ($flagPerubahan == 0) {
                        $('#btn-simpan-perubahan-row').show();

                    }
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                    //end add

                    $flagPerubahan++;
                });
            }
            else {
                $('#Stok_Tgl').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).datepicker('setDate', '0').change(function () {
                    //if ($flagPerubahan == 1) {
                    if ($flagPerubahan == 0) {
                        $('#btn-simpan-perubahan-row').show();
                    }
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                    //end add

                    $flagPerubahan++;
                });
            }

            $("input.num-only").on('keydown',
                function (e) {
                    // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                        // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });

            $('#btn-simpan-perubahan').click(function () {
                var $this = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateStok", "Manage")',
                    data: JSON.stringify({
                        //change by nurul 25/9/2018
                        //NoBuktiStok: "@(Model?.Stok?.Nobuk)",
                        NoBuktiStok: $('#Stok_Nobuk').val(),
                        TglInput: $('#Stok_Tgl').val()
                    }),
                    contentType: 'application/json; charset=UTF-8',
                    cache: false,
                    success: function () {
                        $('#close-editor')[0].disabled = false;
                        alert('Data stok berhasil di-update');
                        $('#btn-simpan-perubahan-row').hide();
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            });
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

        }
        //add by nurul 19/12/2018 ngatur width barang
        function widthBrg() {

            $(window).on('resize', function () {
                //var win = $(this); //this = window
                var style = $('.selectivity-dropdown').attr('style');
                if (style !== undefined && style !== null) {
                    $('.selectivity-dropdown').attr('style', style.replace('width: 105px', 'width: 400px; min-width: 400px !important'));
                }
            });

            $(window).scroll(function () {
                //var scrollTop = $(window).scrollTop();
                var style = $('.selectivity-dropdown').attr('style');
                if (style !== undefined && style !== null) {
                    $('.selectivity-dropdown').attr('style', style.replace('width: 105px', 'width: 400px; min-width: 400px !important'));
                }
            });
            var cekDropDown = false;
            $('#BRG').click(function () {
                cekDropDown = true;
                var checkExist = setInterval(function () {
                    if (window.pageYOffset == 0) {
                        $('html, body').animate({ scrollTop: '+=1px' }, 500);
                        clearInterval(checkExist);
                    } else {
                        $('html, body').animate({ scrollTop: '-=1px' }, 500);
                        clearInterval(checkExist);
                    }

                }, 100);
            });
            function checkDropDown() {
                if (cekDropDown) {
                    if ($('.selectivity-dropdown').length) {
                        var style = $('.selectivity-dropdown').attr('style');
                        if (style !== undefined && style !== null) {
                            $('.selectivity-dropdown').attr('style', style.replace('width: 105px', 'width: 400px; min-width: 400px !important'));
                            cekDropDown = false;
                        }
                    }
                }
                setTimeout(function () { checkDropDown(); }, 500);
            }
            checkDropDown();

            $('body').click(function () {
                $('#BRG').css('max-width', '105px').attr('style', 'width: 105px !important');
            });

        }
        //end add by nurul

        function modeEditTd() {
            //$('.qty-barang').addClass('editable');
            //$('.harga-barang').addClass('editable');
            $('#table_tambah_stok > tbody > tr[data-stok-id="0"] > .qty-barang').addClass('editable');
            $('#table_tambah_stok > tbody > tr[data-stok-id="0"] > .harga-barang').addClass('editable');
            //$('#table_tambah_stok > tbody > tr > td.editable').prop('contentEditable', true);
            //$('#table_tambah_stok > tbody > tr > td.editable').on('click', function () {
            $('#table_tambah_stok > tbody > tr[data-stok-id="0"] > td.editable').off('click').on('click',
                function () {
                    var $this = $(this);
                    var $class = $this.attr('class');
                    var $inputClass = '';
                    var $trId = $this.parent().attr('data-stok-id');
                    //var $harga = convertToAngka($this.text());
                    if ($this.text() !== '') {
                        $harga = convertToAngka($this.text());
                    }
                    if ($class == 'qty-barang editable') {
                        $inputClass = 'qty-input';
                    } else if ($class == 'harga-barang editable') {
                        $inputClass = 'harga-input';
                    }

                    var $input = $('<input>', {
                        'class': $inputClass + 'num-only',
                        //value: $this.val(),
                        //type: 'number',
                        value: $harga,
                        blur: function () {
                            if (this.value == '') {
                                if ($class === 'qty-barang editable') {
                                    $this.html(0 + '<input data-val="true" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="BarangStok_Qty" name="BarangStok.Qty" type="hidden" value="" maxlength="3">');
                                } else if ($class === 'harga-barang editable') {
                                    $this.html(convertToRupiah(0) + '<input data-val="true" data-val-number="The field Harsat must be a number." data-val-required="The Harsat field is required." id="BarangStok_Harsat" name="BarangStok.Harsat" type="hidden" value="">');
                                }
                                refreshNettoBarang($trId);
                            } else {
                                if ($class === 'qty-barang editable') {
                                    $this.html(this.value + '<input data-val="true" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="BarangStok_Qty" name="BarangStok.Qty" type="hidden" value="" maxlength="3">');
                                } else if ($class === 'harga-barang editable') {
                                    $this.html(convertToRupiah(this.value) + '<input data-val="true" data-val-number="The field Harsat must be a number." data-val-required="The Harsat field is required." id="BarangStok_Harsat" name="BarangStok.Harsat" type="hidden" value="">');
                                    $('#BarangStok_Harsat').val(this.value);
                                }
                                refreshNettoBarang($trId);
                            }
                        },
                        //focus: function () {
                        //    this.value = $harga;
                        //},
                        focus: function () {
                            if ($harga == 0) {
                                this.value = '';
                            } else {
                                this.value = $harga;
                            }
                        },
                        keyup: function (e) {
                            if (e.which === 13) $input.blur();
                        },
                        keypress: function (e) {
                            if (e.which != 8 && e.which != 0 && e.which < 48 || e.which > 57) e.preventDefault();
                            //if ($(this).attr('class') == 'qty-input') {
                            //    if ($(this).val() > 99) {
                            //        $(this).val(99);
                            //    }
                            //}
                        }
                    }).appendTo($this.empty()).focus();
                });
        }

        function getDataBarang() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDataBarang", "Manage")',
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var listKodeBarang = [];

                    $.each(data,
                        function (i, item) {
                            //add by calvin 4 desember 2018
                            var nama2 = "";
                            if (item.NAMA2 != null && item.NAMA2 != "null") {
                                nama2 = item.NAMA2;
                            }
                            //end add by calvin 4 desember 2018

                            listKodeBarang[i] = {
                                id: item.BRG,
                                //change by nurul 27/11/2018 (tampilin nama barang 2) -- text: item.BRG + ' (' + item.NAMA + ')'
                                text: item.BRG + ' (' + item.NAMA + ' ' + nama2 + ')'
                            };
                        });

                    $('#BRG').selectivity({
                        allowClear: true,
                        items: listKodeBarang,
                        placeholder: 'Harap pilih'
                        //Dropdown: function () {
                        //    $(".selectivity-dropdown").css('max-width', '400px').attr('style', style.replace('width: 150px', 'width: 400px; min-width: 400px !important'));
                        //}
                    }).change(function () {
                        var val = $(this).selectivity('value');
                        var $trId = $(this).closest('tr').attr('data-stok-id');
                        var $trElement = 'tr[data-stok-id="' + $trId + '"]';

                        if (val != null) {
                            $.each(data,
                                function (i, item) {
                                    if (item.BRG == val) {
                                        if (item.NAMA2 != null) {
                                            $($trElement + ' .nama-barang').text(item.NAMA + " " + item.NAMA2);
                                        } else {
                                            $($trElement + ' .nama-barang').text(item.NAMA + " ");
                                        }
                                        $($trElement + ' .stn-barang').html(item.STN2 + '<input data-val="true" data-val-length="The field Satuan must be a string with a maximum length of 10." data-val-length-max="10" id="BarangStok_Satuan" name="BarangStok.Satuan" type="hidden" value="">');
                                        //$($trElement + ' .harga-barang').html(convertToRupiah(item.HJUAL) + '<input data-val="true" data-val-number="The field Harsat must be a number." data-val-required="The Harsat field is required." id="BarangStok_Harsat" name="BarangStok.Harsat" type="hidden" value="">');
                                        return;
                                    }
                                });

                            $($trElement + ' .btn-primary').removeAttr('disabled');
                            $('#BarangStok_Kobar').val(val);
                            $('#BarangStok_Satuan').val('2'); // Satuan Kecil
                            $('#BarangStok_Harsat').val(convertToAngka($($trElement + ' .harga-barang').text()));
                            $('#gudang-select').show();
                            $('#gudang-kode').hide();
                            offTab();
                            modeEditTd();
                        } else {
                            $($trElement + ' .nama-barang').text('-');
                            $($trElement + ' .stn-barang').html('-' + '<input data-val="true" data-val-length="The field Satuan must be a string with a maximum length of 10." data-val-length-max="10" id="BarangStok_Satuan" name="BarangStok.Satuan" type="hidden" value="">');
                            $($trElement + ' .harga-barang').html('0,00' + '<input data-val="true" data-val-number="The field Harsat must be a number." data-val-required="The Harsat field is required." id="BarangStok_Harsat" name="BarangStok.Harsat" type="hidden" value="">');
                            //change by calvin 5 juni 2018
                            //$($trElement + ' .gd-barang').html('<span id="gudang-kode">-</span><div id="gudang-select" style="display: none;"><div id="GUDANG" class="selectivity-input" tabindex="0"></div></div>' +
                            //    '<input data-val="true" data-val-number="The field Ke_Gd must be a number." data-val-required="The Ke_Gd field is required." id="BarangStok_Ke_Gd" name="BarangStok.Ke_Gd" type="hidden" value="">');
                            var $cariSelect = $($trElement + ' #GUDANG').selectize();
                            var setselectedindex_selectize = $cariSelect[0].selectize;
                            setselectedindex_selectize.setValue('');
                            $($trElement + ' #gudang-kode').html('-');
                            //end change by calvin 5 juni 2018

                            $($trElement + ' .qty-barang').html('0' + '<input data-val="true" data-val-number="The field Qty must be a number." data-val-required="The Qty field is required." id="BarangStok_Qty" name="BarangStok.Qty" type="hidden" value="">');
                            $($trElement + ' .netto-barang').html('0,00' + '<input data-val="true" data-val-number="The field Harga must be a number." data-val-required="The Harga field is required." id="BarangStok_Harga" name="BarangStok.Harga" type="hidden" value="">');
                            $($trElement + ' .btn-primary').attr('disabled', 'disabled');
                            getGudang();
                            $('#gudang-select').hide();
                            $('#gudang-kode').show();
                            onTab();
                            modeEditOff();
                        }

                        refreshNettoBarang($trId);
                    });
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function offTab() {
            $(document).keydown(function (objEvent) {
                if (objEvent.keyCode == 9) {
                    objEvent.preventDefault();
                }
            });
        }

        function onTab() {
            $(document).keydown(function (objEvent) {
                if (objEvent.keyCode == 9) { }
            });
        }

        function refreshNettoBarang($trId) {
            var $trElement = 'tr[data-stok-id="' + $trId + '"]';
            var $hargaBarang = convertToAngka($($trElement + ' .harga-barang').text());
            var $total = ($($trElement + ' .qty-barang').text() * $hargaBarang);

            $($trElement + ' .netto-barang').html(convertToRupiah($total) + '<input data-val="true" data-val-number="The field Harga must be a number." data-val-required="The Harga field is required." id="BarangStok_Harga" name="BarangStok.Harga" type="hidden" value="">');

            $('#BarangStok_Qty').val($($trElement + ' .qty-barang').text());
            $('#BarangStok_Harga').val(convertToAngka($($trElement + ' .netto-barang').text()));
        }

        function modeEditOff() {
            $('#table_tambah_stok > tbody > tr > td.editable').prop('contentEditable', false);
            $('#table_tambah_stok > tbody > tr > td.editable').prop('onclick', null).off('click');
            $('.qty-barang').removeClass('editable');
            $('.harga-barang').removeClass('editable');
        }

        function convertToRupiah(angka) {
            //change by calvin 26 september 2018
            //var rupiah = '';
            //var angkarev = angka.toString().split('').reverse().join('');
            //for (var i = 0; i < angkarev.length; i++) if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.';
            //return rupiah.split('', rupiah.length - 1).reverse().join('') + ',00';
            return $.number(angka, 2, ',', '.');
            //end change by calvin 26 september 2018
        }

        function convertToAngka(rupiah) {

            if (rupiah == '') {
                rupiah = '0';
            }
            //change by calvin 26 september 2018
            //return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
            if (rupiah.includes(",")) {
                return parseFloat(rupiah.replaceAll('.','').replaceAll(',', '.'));
            }
            else{
                //jika bisa desimal
                return parseFloat(rupiah.replaceAll(',', '.'));
            }
            //end change by calvin 26 september 2018
        }

        var $idStok = "";

        function undeleteable() {
            alert('Transaksi Sudah Posting! \nTidak dapat dihapus!');
        }
        function lihatStok(idStok) {
            var link = '@Url.Action("EditStok", "Manage", new { stokId = "replaceId" })';
            link = link.replace("replaceId", encodeURIComponent(idStok));

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $modeEdit = 1;

                    $('.stok_table_section').hide();
                    $('.stok_editor_section').show();
                    $('#close-editor')[0].disabled = false;

                    $('#form-partial').html(response);
                    ////Initialize();
                    getDataBarang();
                    //$('#tambah_stok').click();
                    ////$('.stok_table_section').hide();
                    ////$('.stok_editor_section').show();

                    $('input, select, .btn-danger').each(function () {
                        $(this).attr('disabled', 'disabled');
                    });
                    $('tr[data-stok-id="0"]').remove();
                    $('#loading_spinner').hide();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $('#loading_spinner').hide();
                }
            });
        }

        function editStok(idStok) {
            var link = '@Url.Action("EditStok", "Manage", new { stokId = "replaceId" })';
            link = link.replace("replaceId", encodeURIComponent(idStok));

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $modeEdit = 1;

                    $('.stok_table_section').hide();
                    $('.stok_editor_section').show();
                    $('#close-editor')[0].disabled = false;

                    $('#form-partial').html(response);
                    ////Initialize();
                    widthBrg();
                    getDataBarang();
                    getGudang();
                    //$('#tambah_stok').click();
                    ////$('.stok_table_section').hide();
                    ////$('.stok_editor_section').show();
                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $('#loading_spinner').hide();
                }
            });
        }

        @*function refreshTableStok() {
            var link = '@Url.Action("RefreshTableStok", "Manage")';

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    $('#table-stok-partial').html(response);
                    var table = $('#datatable').DataTable();
                    $('#search_stok').keyup(function () {
                        table.search($(this).val()).draw();
                    });
                    //add by nurul 26 nov 2018, setelah di close, search lg
                    table.search($('#search_stok').val()).draw();
                    //end add by nurul 26 nov 2018, setelah di close, search lg
                    //add by nurul 12/2/2019
                    $('#datatable').on('page.dt', function () {
                        $page = $('#datatable').DataTable().page.info().page;
                    });
                    $('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

        }*@

        function refreshTableStok() {
            //var link = '@Url.Action("RefreshTableStok", "Manage")';
            var $link = '@Html.Raw(Url.Action("RefreshTableStok", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", encodeURIComponent($('#search_stok').val()));
            $link = $link.replace("replaceLastPage", encodeURIComponent($('#txt_last_page').val()));

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-stok-partial').hide();
                    $('#loading_stok_tab').show();
                },
                success: function (response) {
                    $('#table-stok-partial').html(response);
                    $('#loading_stok_tab').hide();
                    $('#table-stok-partial').show();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function searchTableStok(){
            var $link = '@Html.Raw(Url.Action("RefreshTableStok", "Manage", new { search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", encodeURIComponent($('#search_stok').val()));

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#search_stok_click')[0].disabled = true;
                    $('#loading_stok_tab').show();
                },
                success: function (response) {
                    $('#search_stok_click')[0].disabled = false;
                    $('#table-stok-partial').html(response);
                    $('#loading_stok_tab').hide();
                },
                error: function (xhr, status, error) {
                    $('#search_stok_click')[0].disabled = false;
                    console.log(error);
                }
            });
        }

        function refresh() {
            var link = '@Url.Action("RefreshStokForm", "Manage")';

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('.stok_table_section').hide();
                    $('.stok_editor_section').show();
                    $('#form-partial').html(response);
                    getDataBarang();
                    //Initialize();
                    getGudang();
                    widthBrg();
                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(idStok) {
            this.$idStok = idStok;
        }

        function deleteStok() {
            var link = '@Url.Action("DeleteStok", "Manage", new { stokId = "replaceId" })';
            link = link.replace("replaceId", encodeURIComponent(this.$idStok));

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    if (response.Errors == null) {
                        //change by nurul 14/5/2019
                        //$('#table-stok-partial').html(response);
                        //Initialize();
                        refreshTableStok();
                        //end change by nurul 14/5/2019
                        $('#konfHapusStok').modal('hide');
                    } else {
                        alert(response.Errors[0]);
                    }
                    $('#konfHapusStok').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        var $brg = '';

        function passBarangInDb($brg) {
            this.$brg = $brg;
        }

        function deleteBarang() {
            var link = '@Url.Action("DeleteBarangStok", "Manage", new { noUrut = "replaceBrgId" })';
            link = link.replace("replaceBrgId", encodeURIComponent(this.$brg));

            $.ajax({
                type: "GET",
                url: link,
                contentType: 'application/json',
                cache: false,
                success: function (response) {
                    if (response.Errors == null) {
                        refreshNettoBarang();
                        $('#form-partial').html(response);
                        widthBrg();
                        getDataBarang();
                        getGudang();
                    } else {
                        alert(response.Errors[0]);
                    }
                    $('#konfHapusBarang').modal('hide');
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function getGudang() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetGudang", "Manage")',
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var listGudang = [];

                    $.each(data,
                        function (i, item) {
                            listGudang[i] = {
                                id: item.Kode_Gudang,
                                text: item.Nama_Gudang
                            };
                        });

                    var gudangSelect = $('#GUDANG').selectize({
                        valueField: 'id',
                        searchField: 'text',
                        options: listGudang,
                        onChange: function (value) {
                            $('#BarangStok_Ke_Gd').val(value);

                            if (value != null) {
                                $('#gudang-kode').text(value);
                            } else {
                                $('#gudang-kode').text('-');
                            }
                        }
                    });

                    gudangSelect[0].selectize.setValue($('#BarangStok_Ke_Gd').val());
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function validasiTambahan() {
            var $isValid = true;
            var $Gd = $('#GUDANG');
            var $this = $('tr[data-stok-id="0"] .qty-barang');
            //add by nurul 19/9/2019
            var $total = $('tr[data-stok-id="0"] .netto-barang');
            //end add by nurul 19/9/2019
            if ($Gd.val() == "-" || $Gd.val() == "") {
                if (!$Gd.closest('div').find('.text-danger').length) {
                    if ($Gd.closest('div').hasClass('input-group')) {
                        $('tr[data-stok-id="0"] .gd-barang').parent().parent().append('<span class="text-danger">Gudang tidak boleh kosong!</span>');
                    } else {
                        $('tr[data-stok-id="0"] .gd-barang').closest('div').append('<span class="text-danger">Gudang tidak boleh kosong!</span>');
                    }
                    $isValid = false;
                }
            } else if ($this.text().trim() == "0" || $this.text().trim() == "") {
                if (!$this.closest('div').find('.text-danger').length) {
                    if ($this.closest('div').hasClass('input-group')) {
                        $this.parent().parent().append('<span class="text-danger">Quantity tidak boleh 0!</span>');
                    } else {
                        $this.closest('div').append('<span class="text-danger">Quantity tidak boleh 0!</span>');
                    }
                    $isValid = false;
                }
            }
            //add by nurul 19/9/2019
            else if (convertToAngka($total.text()) == 0 || convertToAngka($total.text()) == "") {
                if (!$total.closest('div').find('.text-danger').length) {
                    if ($total.closest('div').hasClass('input-group')) {
                        $total.parent().parent().append('<span class="text-danger">total tidak boleh 0!</span>');
                    } else {
                        $total.closest('div').append('<span class="text-danger">total tidak boleh 0!</span>');
                    }
                    $isValid = false;
                }
            }
            //end add by nurul 19/9/2019
            else {
                if ($Gd.closest('div').find('.text-danger').length) {
                    $Gd.closest('div').find('.text-danger').remove();
                } else if ($this.closest('div').find('.text-danger').length) {
                    $this.closest('div').find('.text-danger').remove();
                } else if ($total.closest('div').find('.text-danger').length) {
                    $total.closest('div').find('.text-danger').remove();
                }
            }

            return $isValid;

        }
        //end add

        function simpanbrg($id) {
            if (!validateForm()) return false;
            //add by nurul 15/10/2018
            if (!validasiTambahan()) return false;
            //end add
            if ($id == 'brg-0') {
                if ($('#Stok_Tgl').val() != null) {
                    var tgl = $('#Stok_Tgl').val();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveStok", "Manage")',
                        data: $('#form-stok').serialize(),
                        beforeSend: function () {
                            $('#loading_spinner').show();
                        },
                        success: function (response) {
                            if (response.Errors == null) {
                                $('#close-editor')[0].disabled = false;
                                $modeEdit = 1;
                                $('#form-partial').html(response);
                                widthBrg()
                                getDataBarang();
                                getGudang();
                                getTanggal();
                                $('#loading_spinner').hide();
                            } else {
                                alert('Ada data yang tidak valid!');
                                console.log(response.Errors);
                                $('#loading_spinner').hide();
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                        }
                    });
                } else {
                    alert('Silakan isi semua field terlebih dahulu!');
                }
            }
        }

        function getTanggal() {
            //$('#Stok_Tgl').datepicker({
            //    format: 'dd/mm/yyyy',
            //    language: 'id'
            //}).datepicker('setDate', '0').change(function () {
            //    //if ($flagPerubahan == 1) {
            //    if ($flagPerubahan == 0) {
            //        $('#btn-simpan-perubahan-row').show();
            //    }

            //    $flagPerubahan++;
            //    });
            var $flagPerubahan = 0;


            if ($modeEdit == 1) { // mode edit
                $('#Stok_Tgl').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).change(function () {
                    //if ($flagPerubahan == 1) {
                    if ($flagPerubahan == 0) {
                        $('#btn-simpan-perubahan-row').show();

                    }
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                    //end add

                    $flagPerubahan++;
                });
            }
            else {
                $('#Stok_Tgl').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).datepicker('setDate', '0').change(function () {
                    //if ($flagPerubahan == 1) {
                    if ($flagPerubahan == 0) {
                        $('#btn-simpan-perubahan-row').show();
                    }
                    //add by nurul 31/10/2018
                    $(this).datepicker('hide');
                    //end add

                    $flagPerubahan++;
                    $modeEdit = 1;
                });
            }
        }

        function Select() {
            $('#BRG').style.width = "400px";
        }
    </script>
    <script>
        //Disable Enter Key Submit Form
        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode === 13) && (node.type === "text")) { return false; }
        }
        document.onkeypress = stopRKey;
    </script>
}