@using PagedList
@using MasterOnline.ViewModels
@model SupplierViewModel
@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    if (dataSession?.User != null)
    {
        var context = new MoDbContext();
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}

@section styles
{
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />

    <style>
        #supplier-section > div {
            background-color: #fff;
            padding: 20px;
        }

        /*#Supplier_AL {
            resize: vertical;
            height: 100px;
            max-height: 100px;
        }*/

        #hapus_label {
            color: orange;
            font-weight: bold;
        }
    </style>
}

<div class="row" id="supplier-section">
    <div class="col-lg-12 col-md-12">
        <div class="row supplier_table_section">
            <div class="col-lg-4 col-sm-6">
                <div class="input-group">
                    <input id="search_supplier" type="text" class="form-control" placeholder="Pencarian">
                    <span class="input-group-btn">
                        <button type="button" id="search_supp_click" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="pull-right">
                    @*<button type="button" class=" btn btn-default" data-style="expand-right">
                        <span>Refresh</span>
                    </button>*@
                    <button class="btn btn-primary btn_tambah_data" id="tambah_supplier">Tambah Baru</button>
                </div>
            </div>
        </div>
        <div class="row supplier_table_section">
            <div id="table-supplier-partial" class="col-sm-12">
                @*@Html.Partial("TableSupplierPartial")*@
            </div>
        </div>
        <div class="row supplier_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Supplier</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 style="font-size: 16px">Detail supplier</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                        {
                                            foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                            {
                                                <div class="alert alert-danger">
                                                    <span class="message-error">@modelError.ErrorMessage</span>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            }
                                        }
                                        <br>
                                        @using (Html.BeginForm("SaveSupplier", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-supplier" }))
                                        {
                                            @Html.HiddenFor(m => m.Supplier.USERNAME, new { Value = username })
                                            @Html.HiddenFor(m => m.Supplier.KLINK, new { Value = 01 })
                                            @Html.HiddenFor(m => m.Supplier.KODE_CABANG, new { Value = 1 })
                                            @Html.HiddenFor(m => m.Supplier.VLT, new { Value = "IDR" })
                                            @Html.HiddenFor(m => m.Supplier.ADAPPN, new { Value = false })
                                            @Html.HiddenFor(m => m.Supplier.STATUS_SUPP, new { Value = true })
                                            @Html.HiddenFor(m => m.Supplier.RecNum)
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.SUPP, "Kode Supplier *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Supplier.SUPP, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.NAMA, "Nama Supplier *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Supplier.NAMA, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.AL, "Alamat *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Supplier.AL, new { @class = "form-control", required = "required", maxlength = 100 })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.AL3, "Provinsi *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.HiddenFor(m => m.Supplier.AL3, new { @class = "form-control", required = "required" })
                                                    <div id="KODEPROV" class="selectivity-input" tabindex="0" required="required"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.AL2, "Kota *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @*@Html.TextBoxFor(m => m.Supplier.AL2, new { @class = "form-control", required = "required" })*@
                                                    @Html.HiddenFor(m => m.Supplier.AL2, new { @class = "form-control", required = "required" })
                                                    <div id="KODEKABKOT" class="selectivity-input" tabindex="0" required="required"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.AL4, "Kode Pos *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @*@Html.TextBoxFor(m => m.Supplier.AL4, new { @class = "form-control limited_number_textbox", type = "number", required = "required", maxlength = 7 })*@
                                                    @*@Html.TextBoxFor(m => m.Supplier.AL4, new { @class = "form-control limited_number_textbox num-only", required = "required", maxlength = 5 })*@
                                                    @Html.TextBoxFor(m => m.Supplier.AL4, new { @class = "form-control num-only", required = "required", maxlength = 5, max = 99999, @data_val_length_max = 5 })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.TERM, "Term Of Payment (TOP) *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-2 col-sm-2 col-xs-6">
                                                    @*@Html.TextBoxFor(m => m.Supplier.TERM, new { @class = "form-control limited_number_textbox", type = "number", required = "required", maxlength = 3, min = 0, max = 999 })*@
                                                    @Html.TextBoxFor(m => m.Supplier.TERM, new { @class = "form-control limited_number_textbox num-only", required = "required", maxlength = 3, min = 0, max = 999 })
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-6">
                                                    <h5>Hari</h5>
                                                </div>
                                            </div>
                                            @*<div class="form-group">
                                                    @Html.LabelFor(m => m.Supplier.RekBca, "No. Rekening BCA", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        @Html.TextBoxFor(m => m.Supplier.RekBca, new { @class = "form-control limited_number_textbox num-only", maxlength = 12 })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Supplier.NamaRekBca, "Nama Rekening BCA", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        @Html.TextBoxFor(m => m.Supplier.NamaRekBca, new { @class = "form-control", maxlength = 12 })
                                                    </div>
                                                </div>*@
                                            <br />
                                            <h4>Kontak Person</h4>
                                            <hr />
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.PERSO, "Nama *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Supplier.PERSO, new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.NPWP, "NPWP", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @*@Html.TextBoxFor(m => m.Supplier.NPWP, new { @class = "form-control limited_number_textbox", type = "number", required = "required", maxlength = 20 })*@
                                                    @*@Html.TextBoxFor(m => m.Supplier.NPWP, new { @class = "form-control limited_number_textbox num-only", required = "required", maxlength = 20 })*@
                                                    @Html.TextBoxFor(m => m.Supplier.NPWP, new { @class = "form-control limited_number_textbox num-only", maxlength = 20 })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Supplier.TLP, "Telepon *", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @*@Html.TextBoxFor(m => m.Supplier.TLP, new { @class = "form-control limited_number_textbox", type = "number", required = "required", maxlength = 20 })*@
                                                    @Html.TextBoxFor(m => m.Supplier.TLP, new { @class = "form-control limited_number_textbox num-only", required = "required", maxlength = 20 })
                                                </div>
                                            </div>
                                            <input type="button" class="btn btn-primary pull-right" value="Simpan" id="simpan_btn" onclick="simpanSupplier(this)" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Hapus supplier -->
<div class="modal fade" id="konfHapusSupplier" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus supplier <span id="hapus_label"></span>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteSupplier()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $supplierId = "";
        //add by nurul 12/2/2019
        var $page = window.text;
            //end add by nurul 12/2/2019

        $(document).on('ready',
            function () {
                //add by nurul 12/2/2019
                $page = 0;
            //end add by nurul 12/2/2019
                refreshTableSupp();
                Initialize();
                
                //add by nurul 12/2/2019
                //$('#datatable').on('page.dt', function () {
                //    $page = $('#datatable').DataTable().page.info().page;
                //});
                //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
            });

        function Initialize() {
            //var table = $('#datatable').DataTable();

            
            //change by nurul 7/5/2019
            //$('#search_supplier').keyup(function () {
            //    table.search($(this).val()).draw();
            //});
            $('#search_supplier').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableSupp();
                    return false;
                }
            });
            $('#search_supp_click').click(function () {
                searchTableSupp();
            });
            //end add by nurul 7/5/2019

            $('#tambah_supplier').on('click', function () {
                $('.supplier_table_section').hide();
                $('.supplier_editor_section').show();
                //add by nruul 18/10/2018
                $("#Supplier_AL4").keydown(
                    function () {
                        validateInput($(this), 'TOP');
                    });
                $("#Supplier_TERM").keydown(
                    function () {
                        validateInput($(this), 'TOP');
                    });
                //$("#Supplier_RekBca").keydown(
                //    function () {
                //        validateInput($(this), 'ANGKA');
                //    });
                $("#Supplier_NPWP").keydown(
                    function () {
                        validateInput($(this), 'ANGKA');
                    });
                $("#Supplier_TLP").keydown(
                    function () {
                        validateInput($(this), 'ANGKA');
                    });
            //END ADD
            });

            $('#close-editor').on('click', function () {
                $('.supplier_table_section').show();
                $('.supplier_editor_section').hide();
                $('#Supplier_RecNum').val('');
                $('#Supplier_USERNAME').val('@(username)');
                $('#Supplier_SUPP').val('').removeAttr('disabled');
                $('#Supplier_NAMA').val('');
                $('#Supplier_AL').val('');
                $('#Supplier_AL2').val('');
                $('#Supplier_AL3').val('');
                $('#Supplier_AL4').val('');
                $('#Supplier_TERM').val('');
                //add by nurul 21/9/2018
                //$('#Supplier_RekBca').val('');
                //$('#Supplier_NamaRekBca').val('');
                //end add
                $('#Supplier_PERSO').val('');
                $('#Supplier_NPWP').val('');
                $('#Supplier_TLP').val('');
                $('#KODEPROV').selectivity('value', null);
                //add by nurul 31/10/2018
                $('#KODEKABKOT').selectivity('value', null);
                resetError();
                //add by nurul 12/2/2019
                //$('#datatable').on('page.dt', function () {
                //    $page = $('#datatable').DataTable().page.info().page;
                //});
                //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
            });

            if ($('.message-error').text() !== '') {
                $('#tambah_supplier').click();
            }

            //change by nurul 31/10/2018
            //getProvinsi();
            getKabKot();
            resetKabKot();
            //end change
            refreshTableSupp();
            $('#Supplier_SUPP').on('change blur',
                function () {
                    if (!$(this).is(':disabled')) {
                        cekKode($(this), 'supp');
                    }
                });

            $('#Supplier_NAMA').on('change blur',
                function () {
                    if (!$(this).is(':disabled')) {
                        cekField($(this), 'CekNmSupplier', 'Nama Supplier ini sudah digunakan!');
                    }
                });
            //add by nurul 5/10/2018
            $('#Supplier_AL4').on('change blur',
                function () {
                    if (convertToAngka($("#Supplier_AL4").val()) > 99999) {
                        addError($("#Supplier_AL4").parent(), "Maxlength is 5 digits !");
                        return false;
                    }
                });
            //end add
            //add by nurul 7/11/2018
            $('#Supplier_AL2, #KODEKABKOT').keydown(
                function () {
                    if ($('#Supplier_AL2').val() == "") {
                        addError($("#Supplier_AL2").parent(), "Kolom ini tidak boleh kosong!");
                    }
                });
            $('#Supplier_AL3, #KODEPROV').keydown(
                function () {
                    if ($('#Supplier_AL3').val() == "") {
                        addError($('#Supplier_AL3').parent(), "Kolom ini tidak boleh kosong!");
                    }
                });
            //end add

            //add by nruul 18/10/2018
            $("#Supplier_AL4").keydown(
                function () {
                    validateInput($(this), 'TOP');
                });
            $("#Supplier_TERM").keydown(
                function () {
                    validateInput($(this), 'TOP');
                });
            //$("#Supplier_RekBca").keydown(
            //    function () {
            //        validateInput($(this), 'ANGKA');
            //    });
            $("#Supplier_NPWP").keydown(
                function () {
                    validateInput($(this), 'ANGKA');
                });
            $("#Supplier_TLP").keydown(
                function () {
                    validateInput($(this), 'ANGKA');
                });
            //END ADD
            //add by nurul 26 nov 2018, setelah di close, search lg
            //table.search($('#search_supplier').val()).draw();
            ////end add by nurul 26 nov 2018, setelah di close, search lg
            ////add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
        }

        //remark by nurul 31/10/2018
        @*function getProvinsi() {
            $.ajax({
                type: "GET",
                /**/
                url: '@Url.Action("GetProvinsi", "Manage")',
                /**/
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var provList = [];

                    $.each(data,
                        function (i, item) {
                            provList[i] = {
                                id: item.KodeProv,
                                text: item.NamaProv
                            };
                        });

                    $('#KODEPROV').selectivity({
                        allowClear: true,
                        items: provList,
                        placeholder: 'Harap pilih'
                    });

                    var $kdProv = $('#Supplier_AL3').val();

                    $('#KODEPROV').change(function () {
                        var $val = $(this).selectivity('value');

                        if ($val === null) {
                            $("#Supplier_AL3").val(null);
                        } else {
                            $("#Supplier_AL3").val($val);
                        }
                    });

                    if ($kdProv !== null) {
                        $('#KODEPROV').selectivity('value', $kdProv);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }*@

        //add by nurul 31/10/2018
        function getKabKot() {
            $.ajax({
                type: "GET",
                /**/
                url: '@Url.Action("GetProvinsi", "Manage")',
                /**/
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var provList = [];

                    $.each(data,
                        function (i, item) {
                            provList[i] = {
                                id: item.KodeProv,
                                text: item.NamaProv
                            };
                        });

                    $('#KODEPROV').selectivity({
                        allowClear: true,
                        items: provList,
                        placeholder: 'Harap pilih'
                    });

                    var $kdProv = $('#Supplier_AL3').val();

                    $('#KODEPROV').change(function () {
                        var $val = $(this).selectivity('value');

                        if ($val === null) {
                            $("#Supplier_AL3").val(null);
                            resetKabKot();
                        } else {
                            $("#Supplier_AL3").val($val);
                            loadDataKabupatenKota($val);
                        }
                    });

                    if ($kdProv !== null) {
                        $('#KODEPROV').selectivity('value', $kdProv);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function resetKabKot() {
            $('#KODEKABKOT').selectivity({
                allowClear: true,
                items: [],
                placeholder: 'Harap pilih'
            });
            $('#KODEKABKOT').selectivity('value', 'Harap pilih');
        }

        function loadDataKabupatenKota(kdProv) {
            var link = '@Url.Action("GetKabKot", "Manage", new { kodeProv = "replaceId" })';
            link = link.replace("replaceId", kdProv);

            $.ajax({
                type: "GET",
                /**/
                url: link,
                /**/
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var kabkotList = [];

                    $.each(data,
                        function (i, item) {
                            kabkotList[i] = {
                                id: item.KodeKabKot,
                                text: item.NamaKabKot
                            };
                        });

                    $('#KODEKABKOT').selectivity({
                        allowClear: true,
                        items: kabkotList,
                        placeholder: 'Harap pilih'
                    });

                    $('#KODEKABKOT').change(function () {
                        var $val = $(this).selectivity('value');

                        if ($val === null) {
                            $("#Supplier_AL2").val(null);
                        } else {
                            $("#Supplier_AL2").val($val);
                        }
                    });

                    var $kdKabKot = $('#Supplier_AL2').val();

                    if ($kdKabKot !== null) {
                        $('#KODEKABKOT').selectivity('value', $kdKabKot);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        //end add by nurul 31/10/2018
        function convertToAngka(rupiah) {

            if (rupiah == '') {
                rupiah = '0';
            }
            //change by calvin 26 september 2018
            //return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
            if (rupiah.includes(",")) {
                return parseFloat(rupiah.replaceAll('.', '').replaceAll(',', '.'));
            }
            else {
                //jika bisa desimal
                return parseFloat(rupiah.replaceAll(',', '.'));
            }
            //end change by calvin 26 september 2018
        }
        function addError(obj, msg) {
            $this = obj;
            $this.closest('.form-group').addClass('has-error');
            if (!$this.closest('div').find('.text-danger').length) {
                $this.closest('div').append('<span class="text-danger">' + msg + '</span>');
            }
        }
        function simpanSupplier(btnClicked) {
            if (!validateForm()) return false;
            //add by nurul 5/10/2018
            if (convertToAngka($("#Supplier_AL4").val()) > 99999) {
                addError($("#Supplier_AL4").parent(), "Maxlength is 5 digits !");
                return false;
            }
            if ($("#Supplier_AL3").val() == "") {
                alert('Silakan isi semua field terlebih dahulu!');
                addError($("#Supplier_AL3").parent(), "Kolom ini tidak boleh kosong!");
                return false;
            }
            if ($("#Supplier_AL2").val() == "") {
                alert('Silakan isi semua field terlebih dahulu!');
                addError($("#Supplier_AL2").parent(), "Kolom ini tidak boleh kosong!");
                return false;
            }
            //end add
            var $form = $(btnClicked).parents('form');

            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: $form.serialize(),
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    //$('#table-supplier-partial').html(response);
                    //Initialize();
                    $('#close-editor').click();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $('#loading_spinner').hide();
                    refreshTableSupp();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $('#loading_spinner').hide();
                }
            });

            return false;
        }

        function editSupplier(supplierId) {
            var link = '@Url.Action("EditSupplier", "Manage", new { recNum = "replaceId" })';
            link = link.replace("replaceId", supplierId);

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    //add by nurul 31/10/2018
                    getKabKot();
                    resetKabKot();
                    //end add
                    $('#Supplier_USERNAME').val(response.Supplier.USERNAME);
                    $('#Supplier_KLINK').val(response.Supplier.KLINK);
                    $('#Supplier_KODE_CABANG').val(response.Supplier.KODE_CABANG);
                    $('#Supplier_USERNAME').val(response.Supplier.USERNAME);
                    $('#Supplier_VLT').val(response.Supplier.VLT);
                    $('#Supplier_ADAPPN').val(response.Supplier.ADAPPN);
                    $('#Supplier_STATUS_SUPP').val(response.Supplier.STATUS_SUPP);
                    $('#Supplier_RecNum').val(response.Supplier.RecNum);
                    $('#Supplier_SUPP').val(response.Supplier.SUPP).attr('disabled', 'disabled');
                    $('#Supplier_NAMA').val(response.Supplier.NAMA);
                    $('#Supplier_AL').val(response.Supplier.AL);
                    $('#Supplier_AL2').val(response.Supplier.AL2);
                    $('#Supplier_AL3').val(response.Supplier.AL3);
                    $('#Supplier_AL4').val(response.Supplier.AL4);
                    $('#Supplier_TERM').val(response.Supplier.TERM);
                    //add by nurul 21/9/2018
                    //$('#Supplier_RekBca').val(response.Supplier.RekBca);
                    //$('#Supplier_NamaRekBca').val(response.Supplier.NamaRekBca);
                    //end add
                    $('#Supplier_PERSO').val(response.Supplier.PERSO);
                    $('#Supplier_NPWP').val(response.Supplier.NPWP);
                    $('#Supplier_TLP').val(response.Supplier.TLP);
                    //getProvinsi();
                    $('#tambah_supplier').click();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(supplierId, namaSup) {
            this.$supplierId = supplierId;
            $('#hapus_label').text(namaSup);
        }

        function deleteSupplier() {
            var link = '@Url.Action("DeleteSupplier", "Manage", new { recNum = "replaceId" })';
            link = link.replace("replaceId", this.$supplierId);

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    //change by nurul 30/7/2018
                    //$('#table-supplier-partial').html(response);
                    //Initialize();
                    //$('#konfHapusSupplier').modal('hide');
                    if (response.Errors != undefined) {
                        $('#konfHapusSupplier').modal('hide');
                        alert(response.Errors[0]);
                    } else {
                        //$('#table-supplier-partial').html(response);
                        //Initialize();
                            refreshTableSupp();
                        
                        $('#konfHapusSupplier').modal('hide');
                    }
                    //end change
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        //add by nurul 22/10/2018
        function validateInput(obj, option) {
            var x = obj;
            setTimeout(function () {
                ValidateFullNamePaste2(x, option);
            }, 2);
        }

        function ValidateFullNamePaste2(obj, option) {
            var x = obj;
            var strValidChars = "";
            var totalCharacterCount = x.val();  //window.clipboardData.getData('Text');

            if (option == 'HURUF')
                strValidChars = "1234567890~!#$%^&*()_+|}{':;?/>.<,\"[]\\=";
            if (option == 'HURUFANGKA')
                strValidChars = "~!#$%^&*()_+|}{':;?/>.<,\"[]\\=";
            if (option == 'ANGKA')
                strValidChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~!#$%^&*()_+|}{':;?/><,\"[]\\=";
            if (option == 'TOP')
                strValidChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~!#$%^&*()_+|}{':;?/>.<,-\"[]\\=";

            var strChar;
            var FilteredChars = "";
            for (i = 0; i < totalCharacterCount.length; i++) {
                strChar = totalCharacterCount.charAt(i);
                if (strValidChars.indexOf(strChar) == -1) {
                    FilteredChars = FilteredChars + strChar;
                }
            }
            obj.val(FilteredChars);
            return false;
        }
        //end add by nurul

        //add by nurul 7/5/2019
        function refreshTableSupp() {
            //var link = '@Url.Action("RefreshTableSupplier", "Manage")';
            var $link = '@Html.Raw(Url.Action("RefreshTableSupplier", "Manage", new { page = "replaceLastPage", search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_supplier').val());
            $link = $link.replace("replaceLastPage", $('#txt_last_page').val());

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-supplier-partial').hide();
                    $('#loading_supp_tab').show();
                },
                success: function (response) {
                    $('#table-supplier-partial').html(response);
                    $('#loading_supp_tab').hide();
                    $('#table-supplier-partial').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function searchTableSupp(){
            var $link = '@Html.Raw(Url.Action("RefreshTableSupplier", "Manage", new { search = "replaceSearch" }))';
            $link = $link.replace("replaceSearch", $('#search_supplier').val());

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#search_supp_click')[0].disabled = true;
                    $('#loading_supp_tab').show();
                },
                success: function (response) {
                    $('#search_supp_click')[0].disabled = false;
                    $('#table-supplier-partial').html(response);
                    $('#loading_supp_tab').hide();
                },
                error: function (xhr, status, error) {
                    $('#search_supp_click')[0].disabled = false;
                    console.log(error);
                }
            });
        }
        //end add by nurul 7/5/2019
    </script>
}