@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.SyncMenuViewModel
@{
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext();
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        //context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2 style="font-size: 16px">Detail Barang di Marketplace</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content" style="font-size:15px;">
                    <div id="div_with_list">
                        <div class="row">
                            <div class="col-md-3">
                                List Toko :
                            </div>
                            <div class="col-md-9" id="lblPleaseWait" hidden="hidden">
                                <b>Proses sinkronisasi sedang berlangsung, Dimohon tunggu beberapa saat.</b>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model != null)
                            {
                                foreach (var customer in Model.Customers)
                                {
                                    <div class="row" style="margin-bottom:5px;">
                                        <div class="col-md-1" style="padding-bottom:10px">
                                            <label class="checkbox-container">
                                                <input id="cb_@customer.cust" type="checkbox" data-cust="@customer.cust" class="cbx ckCustomers" name="cb_@customer.cust" />
                                                <span id="cbsp_@customer.cust" class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-md-3" style="padding-top: 7px;">
                                            <label id="lblNama_@customer.cust">@customer.namaMarket (@customer.namaCust)</label>
                                        </div>
                                        <div class="col-md-3" style="padding-top: 7px;">
                                            <label id="lblRecord_@customer.cust" class="label_record" hidden="hidden"></label>
                                        </div>
                                        <div class="col-md-3" style="padding-top: 7px;">
                                            <label id="lblTotalData_@customer.cust" class="label_record" hidden="hidden"></label>
                                        </div>
                                        <div class="col-md-1 div-spinner" style="padding-top: 7px;" hidden="hidden" id="spinner_@customer.cust">
                                            <i class='fa fa-spinner fa-spin pull-right' style="color:red"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <label id="hiddenlbl_@customer.cust" hidden="hidden">0</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div id="div_with_upload">
                        <div>
                            Upload file excel yang sudah anda edit, Anda dapat memilih beberapa file sekaligus pada saat browse file.
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-4 file_upload_section">
                                <input type='file' id='file_upload_excel' name="file_upload_excel" onchange="checkfile(this);" multiple
                                       accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" onclick="uploadfileexcel();" data-style="expand-right">
                                    <span>Upload dan Update</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div>
                            Selected files:
                            <div id="fileList"></div>
                        </div>
                        <div id="div_with_pbar" class="col-md-12" style="margin-bottom:20px;"></div>
                    </div>
                    <div>
                        <input type="button" class="btn btn-primary pull-right" id="proses_btn" value="Ambil Data" onclick="GetAllDataBrg()" />
                        <input type="button" class="btn btn-primary pull-right" id="download_btn" value="Download ke Excel" onclick="ApproveDl()" />
                        <input type="button" class="btn btn-primary pull-right" id="log_btn" value="Lihat Log" onclick="$('#modalLog').modal('show'); $('#uploadbrgviewdiv').html('');" />
                        <div id="upload_btn">
                            <hr />
                            <table align="right">
                                <tr>
                                    <td style="padding-right:10px">
                                        <label>Sinkronisasi</label>
                                    </td>
                                    <td style="padding-right:10px">
                                        @*<input type="button" class="btn btn-primary pull-right" id="link_btn" value="Satu per Satu " onclick="GetAllDataBrg()" />*@
                                        <a class="btn btn-primary pull-right" href="@Url.Action("master/uploadbarang")">Satu per Satu</a>
                                    </td>
                                    <td style="padding-right:10px">
                                        <label>atau</label>
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-primary pull-right" id="sync_btn" value="Semua Data" onclick="startSyncAll();showProgressBar();" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="modalLogLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalErrorLabel">Log Sinkronisasi</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                    @if (Model != null)
                    {
                        foreach (var customer in Model.Customers)
                        {
                            <div class="row" style="margin-bottom:5px;">
                                <div class="col-md-1" style="padding-bottom:10px">
                                    <label class="checkbox-container">
                                        <input id="cb2_@customer.cust" type="checkbox" data-log="@customer.cust" class="cbx logCustomers" name="cb2_@customer.cust" />
                                        <span id="cbsp2_@customer.cust" class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6" style="padding-top: 7px;">
                                    <label id="lblNama2_@customer.cust">@customer.namaMarket (@customer.namaCust)</label>
                                </div>
                            </div>
                        }
                    }
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="loading_upload_log" class="text-center" hidden="hidden">
                            <div id="loading_upload_log_image">
                                <img src="~/Content/Images/spinner.gif" />
                            </div>
                        </div>
                        <div id="uploadbrgviewdiv" class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-success" onclick="ViewLog()">Lihat List Log</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('.ckCustomers').each(function (i, item) {
            $(item).prop('checked', false);
        });
        //alert('ready');
        //debugger;
        if (window.selected_cust.length > 0) {
            for (j = 0; j < window.selected_cust.length; j++) {
                $('#cb_' + window.selected_cust[j]).prop('checked', true);
            }
        } else {
            $('.ckCustomers').each(function (i, item) {
                $(item).prop('checked', true);
            });
        }

    });
</script>
