@model MasterOnline.ViewModels.InvoiceViewModel
<table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">
    <thead>
        <tr role="row">
            <th class="sorting text-center center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 40px; max-width: 40px; align-self:flex-start"><input type="checkbox" class="dt-checkboxes-select-all center" id="all_checkbox_barang" style="border-left:hidden; align-self:flex-start; width:30px; height:28px;" /></th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 130px;">Kode Barang</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Nama Barang</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px;">Qty</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px;">Qty Retur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var barang in Model.listBarangReturInv)
        {
        <tr>
            <td style="text-align:center">
                <input type="checkbox" class="dt-checkboxes center checkbox_barang" data-recnum="@barang.recnum" style="align-self:flex-start; width:30px; height:28px;" />
            </td>
            <td>@barang.brg</td>
            <td>@barang.nama</td>
            <td  style="text-align:center">@barang.qty</td>
            <td>
                @Html.TextBox($"Qty-{barang.recnum}", barang.qty, new { @class = "form-control qty-brg-num-only", Value = barang.qty, @style = "width:50px;" })
            </td>
        </tr>
        }
    </tbody>
</table>

<script  type="text/javascript">
    $(".gudang-qty-num-only").on('keydown',
        function(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    $(".gudang-qty-num-only").on('blur',
        function(e) {
            if($(this).val().trim() == ''){
                $(this).val(0);
            }
        });
</script>
