@using System.Globalization
@*@model MasterOnline.ViewModels.PesananViewModel*@
@using PagedList.Mvc
@model PagedList.IPagedList<mdlPesanan>
@{
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;

}
<style>
    #loading_pesanan_nunggu_tab {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
    }

    #loading_pesanan_nunggu_tab_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }

    @@media screen and (max-width: 425px) {
        .table-responsivetsdhbyr {
            width: 47%;
        }
    }

    @@media screen and (max-width: 375px) {
        .table-responsivetsdhbyr {
            width: 40%;
        }
    }


    @@media screen and (max-width: 325px) {
        .table-responsivetsdhbyr {
            width: 34%;
        }
    }

    
    
</style>
<div id="loading_pesanan_nunggu_tab">
    <div id="loading_pesanan_nunggu_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
<input id="txt_last_page_2" type="hidden" class="form-control" value="@ViewData["LastPage"]">
<div class="hscroll table-responsive table-responsivetsdhbyr">
    <table class="table table-striped table-bordered table-hover">
        @*<table id="datatable_nunggu" class="table table-striped table-bordered dataTable display select" role="grid" aria-describedby="datatable_info">*@
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 130px;">No. Pesanan</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Tanggal Pesanan</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 117px;">Marketplace</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 90px;">Pembeli</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 115px;">Total</th>
                @*<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 80px; max-width: 50px;">Siap Kirim</th>*@
                <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px; max-width: 50px; border-right:hidden;">Ubah Status</th>
                <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 40px; max-width: 40px; border-left:hidden; align-self:flex-start"><input type="checkbox" class="dt-checkboxes-select-all center" id="checkbox_all_gntstatus_sudahdibayar" style="margin-top: 20px; border-left:hidden; align-self:flex-start; width:30px; height:28px;" /></th>
                @*<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 40px; max-width: 40px; border-left:hidden; align-self:flex-start"><input type="checkbox" class="checkbox_all_gntstatus_sudahdibayar" name="checkbox_all_gntstatus_sudahdibayar" style="border-left:hidden; align-self:flex-start; width:30px; height:28px; align-content:center;" /></th>*@
                <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 80px;">Lihat Detail</th>
                @*<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50px; max-width: 50px;">Edit</th>*@
                @*<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px; max-width: 50px;">Hapus</th>*@
                <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px; max-width: 50px;">Batal</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var pesanan in Model.ListPesanan)*@
            @foreach (var pesanan in Model)
            {
                ////change by Tri, buyer_code = pemesan
                ////var buyer = Model.ListPembeli.Single(m => m.BUYER_CODE == pesanan.NAMAPEMESAN);
                //var buyer = Model.ListPembeli.FirstOrDefault(m => m.BUYER_CODE == pesanan.PEMESAN);
                ////end change by Tri, buyer_code = pemesan

                //var buyerNama = "";
                //var buyerPerso = "";
                //if (buyer != null)
                //{
                //    buyerNama = buyer.NAMA;
                //    buyerPerso = buyer.PERSO;
                //}

                //var pelanggan = Model.ListPelanggan.FirstOrDefault(m => m.CUST == pesanan.CUST);
                //var idMarket = 0;
                //var Perso = pesanan.CUST;
                //if (pelanggan != null)
                //{
                //    idMarket = Convert.ToInt32(pelanggan.NAMA);
                //    Perso = Convert.ToString(pelanggan.PERSO);
                //}
                //var market = Model.ListMarketplace.FirstOrDefault(m => m.IdMarket == idMarket);
                //var NamaMarket = "";
                //if (market != null)
                //{
                //    NamaMarket = market.NamaMarket;
                //}
            <tr>
                <td>@pesanan.NOSO</td>
                <td>@(pesanan.TGL?.ToString("dd/MM/yyyy"))</td>
                @*<td>@NamaMarket</td> 'change by nurul 14/2/2019*@
                <td>
                    @if (pesanan?.PERSO != "")
                        {
                        @(pesanan.MARKET + " (" + pesanan.PERSO + ")")
                        }
                        else
                        {
                        @pesanan.MARKET
                        }
                </td>
                <td>
                    @*@(buyer.NAMA + " (" + buyer.PERSO + ")")*@
                    @*remark by nurul 24/9/2018 @(buyerNama + " (" + buyerPerso + ")")*@
                    @*@(buyerNama + " (" + pelanggan.PERSO + ")")*@
                    @*@(buyer == null ? "" : buyer.NAMA)*@
                    @pesanan.PEMBELI
                </td>
                <td style="text-align:right">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", pesanan.TOTAL)</td>
                <td class="edit-hapus-col" style="border-right:hidden; width: 50px; max-width: 50px;">
                    @if (pesanan.MARKET != "")
                    {
                        <button class="btn btn-success ubah-dibayar" data-toggle="modal" id="ubah1_dibayar" data-target="#konfUbahStatusDibayar" onclick="passRecStatus(@pesanan.RECNUM, '02', '@pesanan.NOSO')">
                            @*<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>*@
                            @*<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>*@
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button style="background-color:darkgray; cursor:not-allowed">
                            <span class="glyphicon glyphicon-edit" aria-hidden="false"></span>
                        </button>
                    }
                </td>
                <td style="width: 40px; max-width: 40px; align-self:flex-start; border-left:hidden">
                    @if (pesanan.MARKET != "")
                    {
                        <input type="checkbox" class="dt-checkboxes center checkbox_gntstatus_sudahdibayar" data-recnum="@pesanan.RECNUM" style="border-left:hidden; align-self:flex-start; width:30px; height:28px;" />
                        @*<input type="checkbox" class="checkbox_gntstatus_sudahdibayar" name="checkbox_gntstatus_sudahdibayar" data-recnum="@pesanan.RECNUM" style="border-left:hidden; align-self:flex-start; width:30px; height:28px;" />*@
                    }
                    else
                    {
                        <input type="checkbox" class="dt-checkboxes center" data-recnum="@pesanan.RECNUM" style="border-left:hidden; align-self:flex-start; width:30px; height:28px;" disabled="disabled" />
                    }
                </td>
                <td class="edit-hapus-col">
                    <button class="btn btn-primary" onclick="lihatPesananSudahDibayar(@(pesanan.RECNUM))">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="edit-hapus-col">
                    @if (pesanan.MARKET != "")
                    {
                        <button class="btn btn-warning" data-toggle="modal" data-target="#konfBatalPesanan" onclick="passRecStatus(@pesanan.RECNUM, '11', '@pesanan.NOSO')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button style="background-color:darkgray; cursor:not-allowed">
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                        </button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    @* add by nurul 7/5/2019, paging *@
    @if (Model.PageCount > 1)
    {
        <div id="tabelpesanannunggupartialpager" class="pager">
            @Html.PagedListPager(Model, page => Url.Action("RefreshTablePesananSudahDibayar", new
       {
           page,
           search = ViewData["searchParam"],
           take = ViewData["takeRecord"],
       }),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "prev",
            LinkToNextPageFormat = "next",
            LinkToLastPageFormat = ">>",
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
        })
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#tabelpesanannunggupartialpager').on('click', 'a', function () {
            if (this.href != "") {
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    beforeSend: function () {
                        $('#loading_pesanan_nunggu_tab').show();
                    },
                    success: function (response) {
                        $('#table-pesanan-sudah-dibayar-partial').html(response);
                        $('#loading_pesanan_nunggu_tab').hide();
                        //$('.checkbox_all_gntstatus_sudahdibayar').on('click', function () {
                        //    $(this).closest('table').find('tbody :checkbox')
                        //        .prop('checked', this.checked)
                        //        .closest('tr').toggleClass('selected', this.checked);
                        //});

                        //$('tbody :checkbox').on('click', function () {
                        //    $(this).closest('tr').toggleClass('selected', this.checked); //Classe de seleção na row

                        //    $(this).closest('table').find('.checkbox_all_gntstatus_sudahdibayar').prop('checked', ($(this).closest('table').find('tbody :checkbox:checked').length == $(this).closest('table').find('tbody :checkbox').length)); //Tira / coloca a seleção no .checkAll
                        //});
                        $("#checkbox_all_gntstatus_sudahdibayar").click(function () {
                            $(".checkbox_gntstatus_sudahdibayar").prop('checked',
                                $(this).prop('checked'));
                            if ($("#checkbox_all_gntstatus_sudahdibayar").prop('checked') == true) {
                                $(".ubah-dibayar").attr('disabled', 'disabled');
                            } else {
                                $(".ubah-dibayar").removeAttr('disabled');
                            }
                        });
                        $(".checkbox_gntstatus_sudahdibayar").each(function (i, item) {
                            $(item).on('click', function () {
                                //$(".checkbox_gntstatus_sudahdibayar").each(function (i, item) {
                                if ($(item).prop('checked') == true) {
                                    $(".ubah-dibayar").attr('disabled', 'disabled');
                                } else {
                                    var cekTrue = [];
                                    $(".checkbox_gntstatus_sudahdibayar").each(function (z, chk) {
                                        if ($(chk).prop('checked') == true) {
                                            cekTrue.push($(chk).attr("data-rec"));
                                        }
                                    });
                                    if (cekTrue.length == 0) {
                                        $(".ubah-dibayar").removeAttr('disabled');
                                    }
                                }
                                //});
                            });
                        });


                    }
                });
            }
            return false;
        });
    });
</script>
@* end add by nurul 30/4/2019, paging *@
