@using PagedList.Mvc
@*@model MasterOnline.ViewModels.BuyerViewModel
    @{
        var context_ = new MoDbContext();
        var prov = context_.Provinsi.ToList();
        var kota = context_.KabupatenKota.ToList();
    }*@
@model PagedList.IPagedList<ARF01C>
@{
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;

    var context_ = new MoDbContext();
    var prov = context_.Provinsi.ToList();
    var kota = context_.KabupatenKota.ToList();
}
<style>
    #loading_buyer_tab {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
    }

    #loading_buyer_tab_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }
</style>
<div id="loading_buyer_tab">
    <div id="loading_buyer_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
<table class="table table-striped table-bordered table-hover">
    @*<table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">*@
    <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 90px;">Kode Pembeli</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 115px;">Nama Pembeli</th>
            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Provinsi</th>
            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Kota</th>
            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 130px;">Email</th>
            @*<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Alamat</th>*@
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">No. HP</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px; max-width: 40px;">Edit</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px; max-width: 40px;">Hapus</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var pembeli in Model.ListPembeli)*@
        @foreach (var pembeli in Model)
        {
            //add by nurul 6/3/2019
            var isiprov = "";
            var isikota = "";
            if (pembeli?.KODEPROV != null)
            {
                isiprov = prov.SingleOrDefault(a => a.KodeProv == pembeli.KODEPROV).NamaProv;
            }
            if (pembeli?.KODEKABKOT != null)
            {
                isikota = kota.SingleOrDefault(a => a.KodeKabKot == pembeli.KODEKABKOT).NamaKabKot;
            }
            //end add by nurul 6/3/2019
            <tr>
                <td>@pembeli.BUYER_CODE</td>
                <td>@pembeli.NAMA</td>
                <td class="text-center">@isiprov</td>
                <td class="text-center">@isikota</td>
                <td>@pembeli.EMAIL</td>
                @*<td>@pembeli.AL</td>*@
                <td>@pembeli.TLP</td>
                <td class="edit-hapus-col">
                    <button class="btn btn-primary" onclick="editPembeli(@pembeli.RecNum)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </td>
                <td class="edit-hapus-col">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#konfHapusPembeli" onclick="pass(@pembeli.RecNum, '@pembeli.NAMA (@pembeli.BUYER_CODE)')">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@* add by nurul 30/4/2019, paging *@
@if (Model.PageCount > 1)
{
    <div id="tabelbuyerpartialpager" class="pager">
        @Html.PagedListPager(Model, page => Url.Action("RefreshTableBuyer", new
   {
       page,
       search = ViewData["searchParam"]
   }),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "prev",
            LinkToNextPageFormat = "next",
            LinkToLastPageFormat = ">>",
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
        })
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#tabelbuyerpartialpager').on('click', 'a', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                beforeSend: function () {
                    //$('#table-barang-1-partial').hide();
                    $('#loading_buyer_tab').show();
                },
                success: function (response) {
                    $('#table-buyer-partial').html(response);
                    $('#loading_buyer_tab').hide();
                    //$('#table-barang-1-partial').show();
                }
            });
            return false;
        });
    });
</script>
@* end add by nurul 30/4/2019, paging *@
