@using System.Globalization
@using PagedList.Mvc
@model PagedList.IPagedList<mdlBundlingDetail>
@{
                /**/

                string currentFilter = ViewBag.CurrentFilter;
                string currentSort = ViewBag.CurrentSort;

}
<style>
    #loading_Bundling_detail_tab {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
    }

    #loading_Bundling_detail_tab_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }
</style>
<div id="loading_Bundling_detail_tab">
    <div id="loading_Bundling_detail_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
<input id="txt_last_page2" type="hidden" class="form-control" value="@ViewData["LastPage"]">
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Kode Barang Komponen</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Nama Barang Komponen</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 30px;">Qty</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Kode Barang Bundling</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 85px;">Nama Barang</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Komponen in Model)
        {
            <tr>
                <td>@Komponen.brg_komponen</td>
                <td>@Komponen.nama_komponen</td>
                <td>@Komponen.qty</td>
                <td>@Komponen.brg_bundling</td>
                <td>@Komponen.nama_bundling</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1)
{
    <div id="tabelKomponenpartialpager" class="pager">
        @Html.PagedListPager(Model, page => Url.Action("RefreshTableKomponen", new
       {
           page,
           search = ViewData["searchParam"]
       }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<<",
                LinkToPreviousPageFormat = "prev",
                LinkToNextPageFormat = "next",
                LinkToLastPageFormat = ">>",
                DisplayEllipsesWhenNotShowingAllPageNumbers = false
            })
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    </div>
}
<script type="text/javascript">
    $(function () {
        $('#tabelKomponenpartialpager').on('click', 'a', function () {
            if (this.href != "") {
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    beforeSend: function () {
                        $('#loading_Bundling-detail_tab').show();
                    },
                    success: function (response) {
                        $('#table-Bundling-detail-partial').html(response);
                        $('#loading_Bundling-detail_tab').hide();
                    }
                });
            }
            return false;
        });
    });
</script>
