@using System.Globalization
@using PagedList.Mvc
@using MasterOnline.ViewModels

@model PagedList.IPagedList<TableMenuBarang1PartialViewModel>
@{
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;
}
<style>
    #loading_kosong_tab {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
    }

    #loading_kosong_tab_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }

    @@media screen and (max-width: 445px) {
        .brgtblbrgksg {
            width: 56%;
        }
    }

    @@media screen and (max-width: 375px) {
        .brgtblbrgksg {
            width: 48%;
        }
    }

    @@media screen and (max-width: 325px) {
        .brgtblbrgksg {
            width: 40%;
        }
    }

</style>
<div id="loading_kosong_tab" class="text-center">
    <div id="loading_kosong_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
<input id="txt_last_page_tbkp" type="hidden" class="form-control" value="@ViewData["LastPage"]">
<div class="hscroll table-responsive brgtblbrgksg">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr role="row">
                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending" style="width: 50px;">Gambar</th>
                <th class="sorting_asc" rowspan="1" colspan="1" aria-sort="ascending" style="width: 90px;">Kode</th>
                <th class="sorting" rowspan="1" colspan="1" style="width: 150px;">Nama</th>
                <th class="sorting" rowspan="1" colspan="1" style="width: 117px;">Kategori</th>
                <th class="sorting" rowspan="1" colspan="1" style="width: 85px;">Merk</th>
                @*<th class="sorting"  rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 60px;">Qty</th>
        <th class="sorting"  rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 110px;">Harga Pokok</th>*@
                <th class="sorting" rowspan="1" colspan="1" style="width: 110px;">Harga Jual</th>
                @*add by nurul 16/11/2018*@
                <th class="sorting" rowspan="1" colspan="1" style="width: 60px;">Stok</th>
                <th class="sorting" rowspan="1" colspan="1" style="width: 60px;">Qty Pesanan</th>
                @*<th class="sorting" rowspan="1" colspan="1" style="width: 60px;">Sisa Qty</th>*@
                <th class="sorting" rowspan="1" colspan="1" style="width: 60px;">Qty Siap Jual</th>
                @*end add by nurul*@
            </tr>
        </thead>
        <tbody>
            @foreach (var barang in Model.ToList())
            {
                //double QOH = 0;
                //var getQOH = barang?.Stok?.SingleOrDefault(b => b.BRG == barang.KodeBrg && b.JENIS == "QOH");
                //if (getQOH != null)
                //{
                //    QOH = getQOH.JUMLAH;
                //}
                //double QOO = 0;
                //var getQOO = barang.Stok.SingleOrDefault(b => b.BRG == barang.KodeBrg && b.JENIS == "QOO");
                //if (getQOO != null)
                //{
                //    QOO = getQOO.JUMLAH;
                //}
                var fordetailPesanan = barang.BRG + '|' + barang.NAMA + ' ' + barang.NAMA2 + '|' + barang.QOO;
                var forDetailStok = barang.BRG + '|' + barang.NAMA + ' ' + barang.NAMA2 + '|' + barang.QOH;
            <tr>
                @*<td class="text-center"><img width="50" height="50" src="@Url.Content($"/Content/Uploaded/FotoProduk-{username}-{barang.KodeBrg}-foto-1.jpg")" /></td>*@
                <td class="text-center"><img width="50" height="50" src="@barang.LINK_GAMBAR_1" /></td>
                <td>@barang.BRG</td>
                <td>@barang.NAMA @barang.NAMA2</td>
                <td>@barang.KET_SORT1</td>
                <td>@barang.KET_SORT2</td>
                @*<td>@barang.ISI</td>
        <td>@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", barang.HBELI)</td>*@
                @*<td style="text-align:right">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", barang.HJUAL)</td>*@
                <td style="text-align:right">@(barang.HJUAL > 0 ? String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", barang.HJUAL) : "---")</td>
                @*add by nurul 16/11/2018*@
                @*<td>@barang.QOH</td>*@
                <td>
                    @if (barang.QOH != 0)
                    {
                        <div data-tip="Lihat Detail">
                            <a class="user-link" href="#" data-toggle="modal" data-target="#modalDetailStok" onclick="LihatDetailStok('@forDetailStok')">@barang.QOH</a>
                        </div>
                    }
                    else
                    {
                        @barang.QOH
                    }
                </td>
                @*<td>@barang.QOO</td>*@
                <td>
                    @if (barang.QOO != 0)
                    {
                        <div data-tip="Lihat Detail">
                            <a class="user-link" href="#" data-toggle="modal" data-target="#modalDetailPesanan" onclick="LihatDetailPesanan('@fordetailPesanan')">@barang.QOO</a>
                        </div>
                    }
                    else
                    {
                        @barang.QOO
                    }
                </td>
                <td>@(barang.QOH - barang.QOO)</td>
                @*end add by nurul*@
            </tr>
            }
        </tbody>
    </table>
    @* add by calvin 24 mei 2019, paging *@
    @if (Model.PageCount > 1)
    {
        <div id="tabelbarangkosongpartialpager" class="pager">
            @Html.PagedListPager(Model, page => Url.Action("RefreshTableBarangKosong", new
       {
           page,
           search = ViewData["searchParam"]
       }),
            new PagedListRenderOptions
            {
                LinkToFirstPageFormat = "<<",
                LinkToPreviousPageFormat = "prev",
                LinkToNextPageFormat = "next",
                LinkToLastPageFormat = ">>",
                DisplayEllipsesWhenNotShowingAllPageNumbers = false
            })
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
    }
</div>
    <script type="text/javascript">
        $(function () {
            $('#tabelbarangkosongpartialpager').on('click', 'a', function () {
                if (this.href != "") {
                    $.ajax({
                        url: this.href,
                        type: 'GET',
                        cache: false,
                        beforeSend: function () {
                            //$('#table-barang-1-partial').hide();
                            $('#loading_kosong_tab').show();
                        },
                        success: function (response) {
                            $('#table-barang-kosong-partial').html(response);
                            $('#loading_kosong_tab').hide();
                            //$('#table-barang-1-partial').show();
                        }
                    });
                    return false;
                }
            });
        });
    </script>
    @* end add by calvin 24 mei 2019, paging *@
