@using System.Globalization
@using MasterOnline.ViewModels
@model List<MasterOnline.Models.PenjualanBarang>
@{
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext();
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Username == dataSession.User.Username).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account.Username;
    }
}
<table id="datatable_tidaklaku" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 50px;">Gambar</th>
            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 90px;">Kode</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 150px;">Nama</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 117px;">Kategori</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 85px;">Merk</th>
            @*<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 60px;">Qty</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 110px;">Harga Pokok</th>*@
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 110px;">Harga Jual</th>
            @*add by nurul 16/11/2018*@
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 60px;">Stok</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 60px;">Qty Pesanan</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 60px;">Sisa Qty</th>
            @*end add by nurul*@
        </tr>
    </thead>
    <tbody>
        @foreach (var barang in Model.ToList())
        {
            //double QOH = 0;
            //var getQOH = barang?.Stok?.SingleOrDefault(b => b.BRG == barang.KodeBrg && b.JENIS == "QOH");
            //if (getQOH != null)
            //{
            //    QOH = getQOH.JUMLAH;
            //}
            //double QOO = 0;
            //var getQOO = barang.Stok.SingleOrDefault(b => b.BRG == barang.KodeBrg && b.JENIS == "QOO");
            //if (getQOO != null)
            //{
            //    QOO = getQOO.JUMLAH;
            //}
        <tr>
            <td class="text-center"><img width="50" height="50" src="@Url.Content($"/Content/Uploaded/FotoProduk-{username}-{barang.KodeBrg}-foto-1.jpg")" /></td>
            <td>@barang.KodeBrg</td>
            <td>@barang.NamaBrg</td>
            <td>@barang.Kategori</td>
            <td>@barang.Merk</td>
            @*<td>@barang.ISI</td>
        <td>@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", barang.HBELI)</td>*@
            <td>@(barang.HJual > 0 ? String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", barang.HJual) : "---")</td>
            @*add by nurul 16/11/2018*@
            <td>@barang.Qoh</td>
            <td>@barang.Qoo</td>
            <td>@(barang.Qoh - barang.Qoo)</td>
            @*end add by nurul*@
        </tr>
        }
    </tbody>
</table>


