@using System.Globalization
@*@model MasterOnline.ViewModels.PesananViewModel*@
@using PagedList.Mvc
@model PagedList.IPagedList<mdlPesanan>
@{
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;

}
<style>
    #loading_pesanan_tab {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0);
    }

    #loading_pesanan_tab_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }
</style>
@* add style by didi 23/04/2019 *@
<style>
    @@media screen and (max-width: 767px) {
        .table-responsive {
            width: 44%;
        }

        .dataTables_paginate a {
            padding: 3px !important;
        }
    }

    @@media screen and (max-width: 425px) {
        .table-responsive {
            width: 40%;
        }
    }

    @@media screen and (max-width: 375px) {
        .table-responsive {
            width: 33%;
        }
    }

    @@media screen and (max-width: 325px) {
        .table-responsive {
            width: 29%;
        }
    }

    .hscroll {
        overflow-x: auto; /* Horizontal */
    }

    .headcol {
        position: absolute;
        left: 0;
    }
</style>

<div id="loading_pesanan_tab">
    <div id="loading_pesanan_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
<input id="txt_last_page_1" type="hidden" class="form-control" value="@ViewData["LastPage"]">
<div class="hscroll table-responsive">
    <table class="table table-striped table-bordered table-responsive w-auto">
        @*<table id="datatable" class="table table-striped table-bordered" width="100%" role="grid" aria-describedby="datatable_info">*@
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">No. Pesanan</th>
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">No. Referensi</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 115px;">Tanggal Pesanan</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 115px;">Tanggal Kirim</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 117px;">Marketplace</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 120px;">Pembeli</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50px;">Tipe Pesanan</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 100px;">Kurir</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 115px;">Total</th>
                @*add by nurul 22/1/2019*@
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 90px;">Status</th>
                @*end add by nurul 22/1/2019*@
                @* change by nurul 8/10/2018 <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 90px; text-align: center;">Sdh. Dibayar</th>*@
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px; max-width: 50px; text-align: center;">Ubah Status</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50px; max-width: 50px; text-align: center;">Edit</th>
                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px; max-width: 50px; text-align: center;">Hapus</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var pesanan in Model.ListPesanan)*@
            @foreach (var pesanan in Model)
            {
                //var buyer = Model.ListPembeli.Single(m => m.BUYER_CODE == pesanan.PEMESAN);
                //var buyer = Model.ListPembeli.SingleOrDefault(m => m.BUYER_CODE == pesanan.PEMESAN);
                //var pelanggan = Model.ListPelanggan.FirstOrDefault(m => m.CUST == pesanan.CUST);
                //var idMarket = 0;

                //var buyerNama = "";
                //var buyerPerso = "";
                //if (buyer != null)
                //{
                //    buyerNama = buyer.NAMA;
                //    buyerPerso = buyer.PERSO;
                //}

                //var perso = "";
                //if (pelanggan != null)
                //{
                //    idMarket = Convert.ToInt32(pelanggan.NAMA);
                //    perso = pelanggan.PERSO;
                //}
                //var market = Model.ListMarketplace.FirstOrDefault(m => m.IdMarket == idMarket);
                //var NamaMarket = "";
                //if (market != null)
                //{
                //    NamaMarket = market.NamaMarket;
                //}

                //add by calvin 19 juni 2019
                var pesananAutoFromAPI = new List<string>();
                pesananAutoFromAPI.Add("Auto Elevenia");
                pesananAutoFromAPI.Add("Auto Blibli");
                pesananAutoFromAPI.Add("Auto Bukalapak");
                pesananAutoFromAPI.Add("Auto Lazada");
                pesananAutoFromAPI.Add("Auto Tokped");
                pesananAutoFromAPI.Add("Auto Shopee");
                pesananAutoFromAPI.Add("Auto JDID");
                pesananAutoFromAPI.Add("Auto Shopify");
                pesananAutoFromAPI.Add("Auto 82Cart");
                //end add by calvin 19 juni 2019

                //add by nurul 22/1/2019
                var StatusTx = "";
                if (pesanan.STATUS == "0")
                {
                    StatusTx = "Belum Bayar";
                }
                else if (pesanan.STATUS == "01")
                {
                    StatusTx = "Sudah Bayar";
                }
                else if (pesanan.STATUS == "02")
                {
                    StatusTx = "Packing";
                }
                else if (pesanan.STATUS == "03")
                {
                    StatusTx = "Faktur";
                }
                else if (pesanan.STATUS == "04")
                {
                    StatusTx = "Selesai";
                }
                else if (pesanan.STATUS == "11")
                {
                    StatusTx = "Batal";
                }
                //end add by nurul 22/1/2019

                //add by Tri 17 feb 2021
                var tipe_pesanan = "";
                if (pesanan.TIPE_KIRIM.Value == 1)
                {
                    tipe_pesanan = "COD";
                }
                else if (pesanan.TIPE_KIRIM.Value == 2)
                {
                    tipe_pesanan = "Preorder";
                }
                if (pesanan.N_UCAPAN != "" && pesanan.N_UCAPAN != "-" && pesanan.N_UCAPAN != " ")
                {
                    if (tipe_pesanan != "")
                    {
                        tipe_pesanan += " " + pesanan.N_UCAPAN;
                    }
                    else
                    {
                        tipe_pesanan = pesanan.N_UCAPAN;
                    }
                }
                //end add by Tri 17 feb 2021
            <tr>
                @*<td>@pesanan.NO_BUKTI</td>*@
                <td>@pesanan.NOSO</td>
                <td>@pesanan.REFERENSI</td>
                <td>@(pesanan.TGL?.ToString("dd/MM/yyyy"))  @(pesanan.TGL?.ToString("HH:mm"))</td>
                <td>@(pesanan.TGLKIRIM?.ToString("dd/MM/yyyy HH:mm"))</td>
                @*<td>@NamaMarket</td> 'change by nurul 14/2/2019*@
                <td>
                    @if (pesanan.PERSO != "")
                    {
                        @(pesanan.MARKET + " (" + pesanan.PERSO + ")")
                    }
                    else
                    {
                        @pesanan.MARKET
                    }
                </td>
                <td>
                    @*change by nurul 30/1/2019 -- @(buyer.NAMA + " (" + perso + ")")*@
                    @*@(buyerNama + " (" + perso + ")") 'change by nurul 14/2/2019*@
                    @*@buyerNama*@
                    @*@pesanan.NAMAPEMESAN*@
                    @pesanan.PEMBELI
                </td>
                <td>@tipe_pesanan</td>
                <td>@pesanan.SHIPMENT</td>
                @*<td style="text-align:right">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", pesanan.NETTO)</td>*@
                <td style="text-align:right">@String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", pesanan.TOTAL)</td>
                @*add by nurul 22/1/2019*@
                <td>@StatusTx</td>
                @*end add by nurul 22/1/2019*@
                <td class="edit-hapus-col">
                    @if (StatusTx == "Belum Bayar" && !pesananAutoFromAPI.Contains(pesanan.USER_NAME) ||
                        StatusTx == "Belum Bayar" && pesanan.USER_NAME.Contains("Auto 82Cart") ||
                        StatusTx == "Belum Bayar" && pesanan.USER_NAME.Contains("Auto Shopify"))
                    {
                        @*<button class="btn btn-success" data-toggle="modal" data-target="#konfUbahStatus" onclick="passRecStatus(@pesanan.RecNum, '01', '@pesanan.NO_BUKTI')">*@
                        <button class="btn btn-success" data-toggle="modal" data-target="#konfUbahStatus" onclick="passRecStatus(@pesanan.RECNUM, '01', '@pesanan.NOSO')">
                            @* change by nurul 8/10/2018 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>*@
                            @*<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>*@
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button style="background-color:darkgray; cursor:not-allowed">
                            <span class="glyphicon glyphicon-edit" aria-hidden="false"></span>
                        </button>
                    }
                </td>
                <td class="edit-hapus-col">
                    @if (StatusTx == "Belum Bayar" && !pesananAutoFromAPI.Contains(pesanan.USER_NAME))
                    {
                        <button class="btn btn-primary" onclick="editPesanan1(@pesanan.RECNUM)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick="LihatPesanan1(@(pesanan.RECNUM))">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    }
                </td>
                <td class="edit-hapus-col">
                    @if (StatusTx == "Belum Bayar" && !pesananAutoFromAPI.Contains(pesanan.USER_NAME))
                    {
                        @*<button class="btn btn-danger" data-toggle="modal" data-target="#konfHapusPesanan" onclick="pass(@pesanan.RecNum, '@pesanan.NO_BUKTI')">*@
                        <button class="btn btn-danger" data-toggle="modal" data-target="#konfHapusPesanan" onclick="pass(@pesanan.RECNUM, '@pesanan.NOSO')">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    }
                    else
                    {
                        <button style="background-color:darkgray; cursor:not-allowed">
                            <span class="glyphicon glyphicon-trash" aria-hidden="false"></span>
                        </button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    @* add by nurul 7/5/2019, paging *@
    @if (Model.PageCount > 1)
    {
        <div id="tabelpesananpartialpager" class="pager">
            @Html.PagedListPager(Model, page => Url.Action("RefreshTablePesanan", new
       {
           page,
           search = ViewData["searchParam"]
       }),
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "prev",
            LinkToNextPageFormat = "next",
            LinkToLastPageFormat = ">>",
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
        })
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $('#tabelpesananpartialpager').on('click', 'a', function () {
            if (this.href != "") {
                //add by nurul 4/12/2019
                var filterby = get_pesanan_filterby();
                var filtervalue = get_pesanan_filtervalue(filterby);
                var link = this.href;
                link += "&filter=replaceFilter&filtervalue=replaceValueFilter";
                link = link.replace("replaceFilter", encodeURIComponent(filterby));
                link = link.replace("replaceValueFilter", encodeURIComponent(filtervalue));
                //end add by nurul 4/12/2019

                $.ajax({
                    //url: this.href,
                    url: link,
                    type: 'GET',
                    cache: false,
                    beforeSend: function () {
                        $('#loading_pesanan_tab').show();
                    },
                    success: function (response) {
                        $('#table-pesanan-partial').html(response);
                        $('#loading_pesanan_tab').hide();
                        $page = @Model.PageNumber;
                        $GetPage = @Model.PageCount;

                    }
                });
            }
            return false;
        });
    });
</script>
@* end add by nurul 30/4/2019, paging *@
