@using System.Globalization
@using MasterOnline.Models
@model MasterOnline.ViewModels.DashboardViewModel
<script type="text/javascript">
    @*@{
        var listBarangMin = Model.ListBarangMiniStok;
    }
    var listBarangMin = @Html.Raw(Json.Encode(listBarangMin));*@
</script>
<div class="row">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Kode Barang</th>
                <th class="text-center">Nama Barang</th>
                <th class="text-center">Qty Terjual</th>
                <th class="text-center">Min Stok</th>
                <th class="text-center">Qty Siap Jual</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.ListBarangMiniStok?.Count > 0)
            {
                foreach (var barangMini in Model.ListBarangMiniStok)
                {
                    <tr>
                        <td>@barangMini.KodeBrg</td>
                        <td>@barangMini.NamaBrg</td>
                        <td>@barangMini.QtySales</td>
                        <td>@barangMini.Min</td>
                        <td>@barangMini.Qty</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
            }
        </tbody>
    </table>
</div>

