@using MasterOnline.ViewModels
@model PackingListViewModel
@*@model PackingListViewModel
    @{
        string currentFilter = ViewBag.CurrentFilter;
        string currentSort = ViewBag.CurrentSort;
    }*@


@*//add by fauzi 21/01/2021*@
@*<div class="row">
    <div class="col-md-2">
        @Html.Label("", "Dari Tanggal")
        <div class="input-group date">
            @Html.TextBox("DrTanggalDashboard", null, new { @class = "form-control", @ReadOnly = true })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "S/d Tanggal")
        <div class="input-group date">
            @Html.TextBox("SdTanggalDashboard", null, new { @class = "form-control", @ReadOnly = true })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>
<br />*@
<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Rekap Packing List</h2>
                @*<div class="nav navbar-right panel_toolbox" style="width:90px !important; ">
                    <h5><span class="label label-success" style="color:white">Hari ini</span></h5>
                </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>
                    <h3 class="no-margins">
                        @(Model?.JumlahPackingList ?? 0)
                    </h3>
                    <small>Jumlah Packing List</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Rekap Pesanan</h2>
                @*<div class="nav navbar-right panel_toolbox" style="width:90px !important; ">
                    <h5><span class="label label-success" style="color:white">Hari ini</span></h5>
                </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>
                    <h3 class="no-margins">
                        @(Model?.JumlahPesanan ?? 0)
                    </h3>
                    <small>Jumlah Pesanan</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Rekap Barang </h2>
                @*<div class="nav navbar-right panel_toolbox" style="width:90px !important; ">
                    <h5><span class="label label-success" style="color:white">Hari ini</span></h5>
                </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>
                    <h3 class="no-margins">
                        @(Model?.JumlahRekapBarang ?? 0)
                    </h3>
                    <small>Jumlah Barang</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Rekap Qty Barang </h2>
                @*<div class="nav navbar-right panel_toolbox" style="width:90px !important; ">
                    <h5><span class="label label-success" style="color:white">Hari ini</span></h5>
                </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>
                    <h3 class="no-margins">
                        @(Model?.JumlahRekapQtyBarang ?? 0)
                    </h3>
                    <small>Jumlah Qty Barang</small>
                </div>
            </div>
        </div>
    </div>
</div>
@*//end add by fauzi 21/01/2021*@
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab_content1" id="packinglist-tab" role="tab" data-toggle="tab" aria-expanded="true">Packing List</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="rekapbarang-tab" data-toggle="tab" aria-expanded="false">Rekap Barang</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="packinglist-tab">
                    <div class="row packinglist_table_section" style="margin-top:13px;">
                        <div class="col-lg-4 col-sm-6 mrgbttmpesanan">
                            <div class="input-group">
                                <input id="search_packing2list" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_packing2list_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-5"></div>
                        <div class="col-lg-1 col-sm-1 pull-right">
                            <div class="input-group" style="padding-top:13px">
                                <select class="form-control" style="width:75px;" id="TakeRecordPacking" name="TakeRecordPacking" required="required">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row packinglist_table_section" style="margin-top: 5px;">
                        <div class="col-sm-12" id="table-packinglist2-partial">
                        </div>
                    </div>
                    <div class="row packinglist_editor_section" style="display: none;">
                        <div class="col-lg-12 modalresponsive">
                            <div class="page-editor">
                                <h2 class="editor-title">Packing List</h2>
                                <span class="title-accent"></span>
                                <button id="close-editor-1" type="button" class="pull-right page-close">
                                    <span class="close-btn thick"></span>
                                </button>
                                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                {
                                    foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                    {
                                        <div class="alert alert-danger">
                                            <span class="message-error">@modelError.ErrorMessage</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    }
                                }
                                @using (Html.BeginForm("SavePackinglist", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-packinglist" }))
                                {
                                    <div id="form-partial">
                                        @*@Html.Partial("BarangPromosiPartial")*@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="rekapbarang-tab">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6" style="margin-top:13px;">
                            <div class="input-group">
                                <input id="search_rekapbarang" type="text" class="form-control" placeholder="Pencarian">
                                <span class="input-group-btn">
                                    <button type="button" id="search_rekapbarang_click" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-lg-6 col-sm-12" style="text-align:left"></div>*@
                        <div class="col-lg-7 col-sm-5"></div>
                        
                    </div>
                    <div class="row">
                        <label class="col-lg-2 col-sm-12 col-md-2" style="padding-top:20px;">Urut Berdasarkan</label>
                        <div class="col-lg-2 col-sm-6 col-md-2" style="margin-top:13px;">
                            <select class="form-control" id="filter_barang_field" required="required">
                                <option>Harap Pilih</option>
                                <option value="kode">Kode Barang</option>
                                <option value="nama">Nama Barang</option>
                                <option value="rak">Lokasi Rak</option>
                                <option value="qty">Qty</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-6" style="margin-top:13px;">
                            <div class="col-12" id="filter_barang_field_urutan_div">
                                <select class="form-control" id="filter_barang_field_urutan" required="required">
                                    <option>Harap Pilih</option>
                                    <option value="desc">Z-A</option>
                                    <option value="asc">A-Z</option>
                                </select>
                            </div>
                            <div class="col-12" id="filter_barang_field_qty_div">
                                <select class="form-control" id="filter_barang_field_qty" required="required">
                                    <option>Harap Pilih</option>
                                    <option value="desc">Terbesar</option>
                                    <option value="asc">Terkecil</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6" style="margin-top:13px;">
                            <div class="input-group pull-right">
                                @*<button type="button" id="btn_refresh_barang" class="btn btn-default" data-style="expand-right">
            <span>Refresh</span>
        </button>*@
                                @*<button type="button" id="btn_refresh_barang" class="btn btn-primary" data-style="expand-right">
                                    <span>Download</span>
                                </button>*@
                                <button id="download-btn" class="btn btn-primary" onclick="DownloadExcelRekapBarang()">Download</button>
                                <select class="form-control pull-right" style="width:75px;" id="TakeRecordBarang" name="TakeRecordBarang" required="required">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-sm-12" id="table-rekapbarang-partial">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section scripts
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var d = new Date();
            
            
        });

        
    </script>

}*@