@using MasterOnline.Models
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.UploadBarangViewModel
@{
    ViewBag.Title = "Upload Barang";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var context_ = new MoDbContext();

}
@section styles
{
    <link href="~/Content/selectize.css" rel="stylesheet" />
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />
    <style>
        #statusBorder {
            position: relative;
            height: 5px;
            width: 100px;
            border: solid 1px gray;
            display: none;
        }

        #statusFill {
            position: absolute;
            top: 0;
            left: 0;
            width: 0px;
            background-color: Blue;
            height: 5px;
        }

        [data-tip] {
            position: relative;
        }

            [data-tip]:before {
                content: '';
                /* hides the tooltip when not hovered */
                display: none;
                content: '';
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #1a1a1a;
                position: absolute;
                top: 30px;
                left: 35px;
                z-index: 8;
                font-size: 0;
                line-height: 0;
                width: 0;
                height: 0;
            }

            [data-tip]:after {
                display: none;
                content: attr(data-tip);
                position: absolute;
                top: 35px;
                left: 0px;
                padding: 2px 5px;
                background: #1a1a1a;
                color: #fff;
                z-index: 9;
                font-size: 0.85em;
                height: auto;
                line-break: normal;
                max-width: 200px;
                line-height: 18px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                white-space: normal;
                word-wrap: normal;
            }

            [data-tip]:hover:before,
            [data-tip]:hover:after {
                display: block;
            }

        #Stf02_Deskripsi {
            resize: vertical;
            height: 100px;
            max-height: 150px;
        }

        .satuan {
            text-align: left !important;
            font-size: 10px;
        }

        #hapus_label {
            color: orange;
            font-weight: bold;
        }

        .foto_produk_section {
            padding: 10px;
        }

            .foto_produk_section > .box_upload {
                width: 250px;
                height: 250px;
                border: dashed 1.5px #bbb;
                border-radius: 10px;
                background-color: #f7f7f7;
                background-image: url('');
                text-align: center;
                display: table;
                margin: 0 auto;
                cursor: pointer;
            }

        .box_upload > .box_upload_placeholder {
            color: #ccc;
            font-size: 20px;
            display: table-cell;
            vertical-align: middle;
        }

        .btn_hapus_foto_produk {
            position: absolute;
            bottom: 15px;
            left: 48px;
        }

        /* =============== Checkbox ================ */

        /* Customize the label (the container) */
        .checkbox-container {
            display: block;
            position: relative;
            /*padding-left: 35px;*/
            margin-top: 4px;
            cursor: pointer;
            font-size: 11px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .checkbox-container input {
                position: relative;
                opacity: 100;
                cursor: pointer;
                display: none;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 18px;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border: solid 1px #ccc;
        }

        /* On mouse-over, add a grey background color */
        .checkbox-container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 6px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
}
<!DOCTYPE html>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row barang_table_section">
            <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="col-md-2 col-sm-2 col-xs-6" style="padding-top:5px;">
                    <label>Akun</label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <input value="" data-val="true" id="promptHiddenField" name="promptHiddenField" type="hidden" maxlength="10">
                    <input value="" data-val="true" id="promptHiddenField2" name="promptHiddenField2" type="hidden" maxlength="10">
                    <div class="input-group text">
                        <table>
                            <tr>
                                <td>
                                    <input maxlength="10" value="" class="form-control" disabled="disabled" id="txtCustomer" name="txtCustomer" type="text">
                                </td>
                                <td>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="btnPromptCust" type="button" style="height: 34px;" onclick="PromptCustomer();">
                                            <span class="glyphicon glyphicon-option-horizontal"></span>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                @*<div class="input-group">
                        <input id="search_barang" type="text" class="form-control" placeholder="Pencarian">
                        <span class="input-group-btn">
                            <button type="button" id="search_barang_click" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>*@
            </div>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="pull-right">
                    @*<button type="button" class=" btn btn-default" data-style="expand-right">
                            <span>Refresh</span>
                        </button>*@
                    <button class="btn btn-primary" id="delete_brg" onclick="$('#konfTarikData').modal('show'); setModalMode(1);">Hapus Semua barang</button>
                    <button class="btn btn-primary" id="get_data" onclick="$('#konfTarikData').modal('show'); setModalMode(2);">Ambil data dari Marketplace</button>
                    @*<button class="btn btn-primary" id="upload_brg" onclick="$('#konfTarikData').modal('show'); setModalMode(3);">Update data barang ke Master Online</button>*@
                    @*<button class="btn btn-primary" id="generate_brg" onclick="$('#konfGenerateTokped').modal('show');">Generate barang Tokopedia</button>*@
                </div>
            </div>
        </div>
        <div class="row barang_table_section" style="padding-left:10px;">
            <div class="input-group col-sm-5 col-md-5">
                <input id="search_barang" type="text" class="form-control" placeholder="Pencarian">
                <span class="input-group-btn">
                    <button type="button" id="search_barang_click" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div id="lblPleasewait" class="text-center">
                <label>Proses sinkronisasi sedang berlangsung, Dimohon tunggu beberapa saat.</label>
            </div>
            <div id="loading_barang_tab" class="text-center">
                <img src="~/Content/Images/spinner.gif" width="100" />
            </div>
            <div class="col-sm-12 barang_table_section" id="table-upload-barang-partial">
                @*@Html.Partial("TableUploadBarangPartial")*@
            </div>
        </div>
        <div class="row barang_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Barang</h2>
                    <span class="title-accent"></span>
                    <button id="close-editor-1" type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                        {
                            <div class="alert alert-danger">
                                <span class="message-error">@modelError.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                    @using (Html.BeginForm("UploadSatuBarang", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-barang" }))
                    {
                        <div id="form-partial">
                            @*@Html.Partial("FormBarangUploadsPartial")*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="konfTarikData" tabindex="-1" role="dialog" aria-labelledby="konfTarikDataLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfTarikDataLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4 id="txtDeskripsi">Apakah Anda ingin mengambil semua data barang dari Akun ini?</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group text">
                            <table>
                                <tr>
                                    <td>
                                        <input maxlength="10" value="" class="form-control" disabled="disabled" id="txtCustomer2" name="txtCustomer2" type="text">
                                    </td>
                                    <td>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="height: 34px;" onclick="PromptCustomer();">
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        @*<div id="upload_excel" class="row">
                                <div class="col-md-4 file_upload_section">
                                    <input type='file' id='file_upload_brg' name="file_upload_brg" onchange="checkfile(this);"
                                           accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" onclick="uploadfilebrg();" data-style="expand-right">
                                        <span>Upload</span>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteAll" class="btn btn-success" onclick="deleteAllBrg();">Ya</button>
                <button type="button" id="btnGetDataBrg" class="btn btn-success" onclick="GetDataBrgWithRecord(0, 0, 1, 0);exGetData = 0;">Ya</button>
                <button type="button" id="btnSyncAll" class="btn btn-success" onclick="startSyncAll();">Ya</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="konfSyncAll" tabindex="-1" role="dialog" aria-labelledby="konfSyncAllLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfSyncAllLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda ingin mengupdate semua data barang dari Akun ini ke Master Online?</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group text">
                            <table>
                                <tr>
                                    <td>
                                        <input maxlength="10" value="" class="form-control" disabled="disabled" id="txtCustomer3" name="txtCustomer3" type="text">
                                    </td>
                                    <td>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="height: 34px;" onclick="PromptCustomer();">
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="startSyncAll();">Ya</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="konfGenerateTokped" tabindex="-1" role="dialog" aria-labelledby="konfGenerateTokpedLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfGenerateTokpedLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda ingin men-generate semua data barang anda ke Akun ini di Master Online?</h4>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group text">
                            <table>
                                <tr>
                                    <td>
                                        <input maxlength="10" value="" class="form-control" disabled="disabled" id="txtCustomer4" name="txtCustomer4" type="text">
                                    </td>
                                    <td>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="height: 34px;" onclick="PromptCustomer();">
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="GenerateTokped();">Ya</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="konfHapusBarang" tabindex="-1" role="dialog" aria-labelledby="konfirmasiHapusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfirmasiHapusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus barang <span id="hapus_label"></span>?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="DeleteBarangTemp()">Ya</button>
            </div>
        </div>
    </div>
</div>
@* add 18 Juli 2019, modal loading get barang *@
<div class="modal fade" id="loadingGetBarang" tabindex="-1" role="dialog" aria-labelledby="loadingGetBarangLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" style="text-align:center;" id="loadingGetBarangLabel">Proses sinkronisasi sedang berlangsung</h4>
                <h4 class="modal-title" style="text-align:center;" id="loadingGetBarangLabel2">dimohon tunggu beberapa saat</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <div id="loading_barang_tab_in_modal" class="text-center">
                        <img src="~/Content/Images/spinner.gif" width="100" />
                    </div>
                    <label id="lblModalDataSaved">Jumlah data berhasil tersimpan ke Master Online : 0</label>
                    <label id="lblModalDataChecked">Jumlah data yang didapat dari marketplace : 0</label>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                    <button type="button" class="btn btn-success" onclick="DeleteBarangTemp()">Ya</button>
                </div>*@
        </div>
    </div>
</div>
@* end add 18 Juli 2019, modal loading get barang *@

<div class="row" id="progressDiv">
    <div class="col-md-12">
        <label class="labelPosting">Proses upload data barang ke Master Online</label>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                0% Complete (success)
            </div>
        </div>
        <div>
            <label id="txtMessage"></label>
        </div>
        <div>
            <button type="button" id="btnSelesai" class="btn btn-success" onclick="selesaiProgressBar();">Selesai</button>
        </div>
    </div>
</div>
<div id="statusBorder">
    <div id="statusFill">
    </div>
</div>
<div class="row" id="info_record" style="text-align:center;">
    <br />
    <label id="txtInfo" style="text-align:center"></label>
    <br />
    <label id="txtInfo2" style="text-align:center"></label>
</div>
@section scripts{
    <script src="~/Content/selectize.js" type="text/javascript"></script>
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.ajax-progress.js"></script>
    <script type="text/javascript">
        //var table = $('#datatable').DataTable();

        //add by nurul 12/2/2019
        var $page = window.text;
        //end add by nurul 12/2/2019

        //$('#search_barang').keyup(function () {
        //    table.search($(this).val()).draw();
        //});


        function setModalMode(value) {
            $('#btnDeleteAll').hide();
            $('#btnSyncAll').hide();
            $('#btnGetDataBrg').hide();
            if (value == 1) {
                $('#btnDeleteAll').show();
                document.getElementById('txtDeskripsi').innerText = 'Apakah Anda ingin menghapus semua data barang yang belum di sinkronisasi dari akun ini?';
            }
            else if (value == 3) {
                $('#btnSyncAll').show();
                document.getElementById('txtDeskripsi').innerText = 'Apakah Anda ingin mengupdate semua data barang dari Akun ini ke Master Online?';
            }
            else if (value == 2) {
                $('#btnGetDataBrg').show();
                document.getElementById('txtDeskripsi').innerText = 'Apakah Anda ingin mengambil semua data barang dari Akun ini?';
            }
        }
        function controlButton(status) {
            if (status == 1) {
                $('#upload_brg').prop('disabled', false);
                $('#get_data').prop('disabled', false);
                $('#btnPromptCust').prop('disabled', false);
            } else {
                $('#upload_brg').prop('disabled', true);
                $('#get_data').prop('disabled', true);
                $('#btnPromptCust').prop('disabled', true);
            }
        }
        function selesaiProgressBar() {
            refreshTableBarangUpload();
            $('#progressDiv').hide();
            $('#table-upload-barang-partial').show();
            //var table = $('#datatable').DataTable();
            //$('#search_barang').keyup(function () {
            //    table.search($(this).val()).draw();
            //});
            controlButton(1);
        }
        function getStatus() {
            var url = '@Url.Action("StartLongRunningProcess", "Manage")' + '?id=' + uniqueId;
            $.get(url, function (data) {
                if (data != "100") {
                    $('#status').html(data);
                    $('#statusFill').width(data);
                    window.setTimeout("getStatus()", 100);
                }
                else {
                    $('#status').html("Done");
                    $('#statusBorder').hide();
                    alert("The Long process has finished");
                };
            });
        }


        var uniqueId = '@Guid.NewGuid().ToString()';
        //var uniqueId = '<%= Guid.NewGuid().ToString() %>';

        $(document).ready(function () {
            $('#lblPleasewait').hide();
            //add by nurul 12/2/2019
            $page = 0;
            //end add by nurul 12/2/2019
            $('#promptHiddenField').val('');
            $('#txtCustomer').val('');
            $('#txtCustomer2').val('');
            $('#txtCustomer3').val('');
            $('#txtCustomer4').val('');
            //document.getElementById('txtInfo').innerText = '';
            document.getElementById('txtInfo').innerText = 'Jumlah data berhasil tersimpan ke Master Online : 0';
            document.getElementById('txtInfo2').innerText = 'Jumlah data yang didapat dari marketplace : 0';

            $('#close-editor-1').off('click').on('click', function () {
                $('#close-editor-1')[0].disabled = true;
                $('.barang_table_section').show();
                $('.barang_editor_section').hide();
                refreshTableBarangUpload();
            });
            $('#info_record').hide();
            $('#progressDiv').hide();
            refreshTableBarangUpload();
            @*$.post('@Url.Action("StartLongRunningProcess", "Manage")', { id: uniqueId }, function () {
                $('#statusBorder').show();
                getStatus();
            });*@
            //event.preventDefault;
            //startSyncAll();
            //add by nurul 12/2/2019
            //$('#datatable').on('page.dt', function () {
            //    $page = $('#datatable').DataTable().page.info().page;
            //});
            //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

            //add by nurul 17/6/2019, paging
            $('#search_barang').keypress(function (e) {
                var key = e.which;
                if (key == 13)// the enter key code
                {
                    searchTableBarangUpload();
                    return false;
                }
            });
            $('#search_barang_click').click(function () {
                searchTableBarangUpload();
            });
            //end add by nurul 17/6/2019, paging
        });

        //change by nurul 17/6/2019, paging
        @*function refreshTableBarangUpload() {
            var link = '@Url.Action("RefreshTableUploadBarang", "Manage", new { cust = "replaceCust" })';
            link = link.replace("replaceCust", $('#promptHiddenField').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    //$('#datatable').hide();
                    $('#table-upload-barang-partial').hide();

                    $('#loading_barang_tab').show();
                },
                success: function (response) {
                    $('#table-upload-barang-partial').html(response);
                    //var table = $('#datatable').DataTable();
                    //$('#search_barang').keyup(function () {
                    //    table.search($(this).val()).draw();
                    //});
                    $('#loading_barang_tab').hide();
                    //$('#datatable').show();
                    $('#table-upload-barang-partial').show();

                    //add by nurul 3 des 2018, setelah di close, search lg
                    //table.search($('#search_barang').val()).draw();
                    //end add by nurul 3 des 2018, setelah di close, search lg
                    //add by nurul 12/2/2019
                    //$('#datatable').on('page.dt', function () {
                    //    $page = $('#datatable').DataTable().page.info().page;
                    //});
                    //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }*@

        function refreshTableBarangUpload() {
            var $link = '@Html.Raw(Url.Action("RefreshTableUploadBarang", "Manage", new { cust = "replaceCust", page = "replaceLastPage", search = "replaceSearch" }))';
            $link = $link.replace("replaceCust", encodeURIComponent($('#promptHiddenField').val()));
            $link = $link.replace("replaceSearch", encodeURIComponent($('#search_barang').val()));
            $link = $link.replace("replaceLastPage", encodeURIComponent($('#txt_last_page').val()));

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-upload-barang-partial').hide();
                    $('#loading_barang_tab').show();
                    $('#loading_uploadbarang_tab').show();
                },
                success: function (response) {
                    $('#table-upload-barang-partial').html(response);
                    $('#loading_uploadbarang_tab').hide();
                    $('#loading_barang_tab').hide();
                    $('#table-upload-barang-partial').show();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
        function searchTableBarangUpload(){
            var $link = '@Html.Raw(Url.Action("RefreshTableUploadBarang", "Manage", new { cust = "replaceCust", search = "replaceSearch" }))';
            $link = $link.replace("replaceCust", encodeURIComponent($('#promptHiddenField').val()));
            $link = $link.replace("replaceSearch", encodeURIComponent($('#search_barang').val()));

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#search_barang_click')[0].disabled = true;
                    $('#loading_barang_tab').show();
                    $('#loading_uploadbarang_tab').show();
                },
                success: function (response) {
                    $('#search_barang_click')[0].disabled = false;
                    $('#table-upload-barang-partial').html(response);
                    $('#loading_barang_tab').hide();
                    $('#loading_uploadbarang_tab').hide();
                },
                error: function (xhr, status, error) {
                    $('#search_barang_click')[0].disabled = false;
                    console.log(error);
                }
            });
        }
        //end change by nurul 17/6/2019, paging

        function refreshFormBarang() {
            var link = '@Url.Action("RefreshFormUploadBarang", "Manage")';

            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    $('#form-partial').html(response);
                    Initialize();
                    initRequired();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function PromptCustomer() {
            showPromptCustomerTextBoxWindow();
        }

        function showPromptCustomerTextBoxWindow() {
            var $link = '@Url.Action("PromptCustomer", "Manage")';
            window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
        }
        function afterPromptDelTempCust(val, val2, val3) {
            $('#promptHiddenField').val(val);
            $('#promptHiddenField2').val(val3);
            $('#txtCustomer').val(val2);
            $('#txtCustomer2').val(val2);
            $('#txtCustomer3').val(val2);
            $('#txtCustomer4').val(val2);

            refreshTableBarangUpload();
        }

        function GetDataBrg() {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "" ) {
                alert('Anda belum memilih Toko');
            } else {
                var link = '@Url.Action("ImportDataMP", "Manage", new { cust = "replaceCust" })';
                link = link.replace("replaceCust", encodeURIComponent($('#promptHiddenField').val()));

                $.ajax({
                    type: "GET",
                    url: link,
                    beforeSend: function () {
                        //$('#datatable').hide();
                        $('#table-upload-barang-partial').hide();
                        $('#loading_barang_tab').show();
                    },
                    success: function (response) {
                        $('#table-upload-barang-partial').html(response);
                        //var table = $('#datatable').DataTable();
                        //$('#search_barang').keyup(function () {
                        //    table.search($(this).val()).draw();
                        //});
                        $('#loading_barang_tab').hide();
                        $('#table-upload-barang-partial').show();
                        //$('#datatable').show();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
                $('#konfTarikData').modal('hide');
                $('#konfSyncAll').modal('hide');
            }

        }

        var exGetData = 0;
        var namaFileLog = '';
        var lastPage = 0;
        var loop = 1;
        function GetDataBrgWithRecord(page, recordCount, statBL, totalData) {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "" ) {
                alert('Anda belum memilih Toko');
            } else {
                @*var link = '@Url.Action("ImportDataMP", "Manage", new { cust = "replaceCust"})';
                link = link.replace("replaceCust", $('#promptHiddenField').val());*@
                 var link = '@Url.Action("ImportDataMP", "Manage")';
                link += '?cust=' + encodeURIComponent($('#promptHiddenField').val()) + '&page=' + encodeURIComponent(page) + '&recordCount=' + encodeURIComponent(recordCount) + '&statBL=' + encodeURIComponent(statBL) + '&totalData=' + encodeURIComponent(totalData);
                $.ajax({
                    type: "GET",
                    url: link,
                    timeout: 0,                    
                    beforeSend: function () {
                        //$('#datatable').hide();
                        $('#table-upload-barang-partial').hide();
                        $('#lblPleasewait').show();
                        $('#loading_barang_tab').show();
                        //$('#loadingGetBarang').modal({ backdrop: 'static', keyboard: false });
                        $('#info_record').show();
                    },
                    success: function (response) {
                        lastPage = page;
                        if (response.Errors == null || response.Errors.length == 0) {
                            if (response.RecordCount != null) {
                                //document.getElementById('txtInfo').innerText = 'Jumlah data berhasil tersimpan ke Master Online : ' + response.RecordCount + '\nJumlah data yang didapat dari marketplace : ' + response.totalData;
                                document.getElementById('txtInfo').innerText = 'Jumlah data berhasil tersimpan ke Master Online : ' + response.RecordCount;
                                document.getElementById('txtInfo2').innerText = 'Jumlah data yang didapat dari marketplace : ' + response.totalData;

                            }
                            if (response.exception == 1)
                                exGetData = 1;
                            if (response.Recursive) {
                                if (response.BLProductActive == 1) {
                                    GetDataBrgWithRecord(response.Page, response.RecordCount, 1, response.totalData);
                                } else {
                                    GetDataBrgWithRecord(response.Page, response.RecordCount, 0, response.totalData);
                                }
                            } else {
                                //document.getElementById('txtInfo').innerText = '';
                                //$('#loadingGetBarang').modal('hide');
                                //document.getElementById('lblModalDataSaved').innerText = '';
                                //document.getElementById('lblModalDataSaved').innerText = '';
                                var msg = "Jumlah data berhasil tersimpan :" + response.RecordCount + '\nJumlah data yang didapat dari marketplace : ' + response.totalData;
                                if (exGetData == 1) {
                                    msg += '\nAda data barang yang tidak masuk ke MO. Silahkan lakukan pengambilan data lagi. \nJika anda masih mendapat pesan error ini setelah mencoba lagi, silahkan hubungi tim support MO.';
                                }
                                alert(msg);
                                //$('#table-upload-barang-partial').html(response);
                                //var table = $('#datatable').DataTable();
                                //$('#search_barang').keyup(function () {
                                //    table.search($(this).val()).draw();
                                //});
                                refreshTableBarangUpload();
                                //$('#loading_barang_tab').hide();
                                $('#lblPleasewait').hide();
                                $('#info_record').hide();
                                document.getElementById('txtInfo').innerText = 'Jumlah data berhasil tersimpan ke Master Online : 0';
                                document.getElementById('txtInfo2').innerText = 'Jumlah data yang didapat dari marketplace : 0';
                                //document.getElementById('lblModalDataSaved').innerText = 'Jumlah data berhasil tersimpan ke Master Online : 0';
                                //document.getElementById('lblModalDataChecked').innerText = 'Jumlah data yang didapat dari marketplace : 0';
                                //$('#datatable').show();
                            }
                        } else {
                            alert(response.Errors);
                            $('#lblPleasewait').hide();
                            //$('#loading_barang_tab').hide();
                            //$('#datatable').show();
                            $('#loadingGetBarang').modal('hide');
                            $('#table-upload-barang-partial').show();
                            $('#info_record').hide();
                        }


                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        //var err = JSON.parse(xhr.responseText);
                        //alert(err.Message);
                        //console.log(err.error);
                        if (xhr.status == 524) {
                            if (lastPage == page) {
                                loop = loop + 1;
                            } else {
                                loop = 1;
                            }
                            if (loop <= 3) {
                                GetDataBrgWithRecord(page, recordCount, statBL, totalData);
                            } else {
                                alert('Terdapat Error saat mengambil data barang marketplace ini.\nSilahkan hubungi tim support MO');
                                refreshTableBarangUpload();
                                $('#lblPleasewait').hide();
                                $('#info_record').hide();
                            }
                        }
                    }
                });
                $('#konfTarikData').modal('hide');
                $('#konfSyncAll').modal('hide');
            }

        }
        function UploadAllBrg() {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "" ) {
                alert('Anda belum memilih Toko');
            } else {
                @*var link = '@Url.Action("UploadItemByCust", "Manage", new { cust = "replaceCust"})';
                link = link.replace("replaceCust", $('#promptHiddenField').val());*@
                var link = '@Url.Action("UploadItemByCust", "Manage")';
                link += "?cust=" + encodeURIComponent($('#promptHiddenField').val()) + /*"&page=" + currentPage +*/ "&dataPerPage=&skipDataError=0";

                $.ajax({
                    type: "GET",
                    url: link,
                    beforeSend: function () {
                        $('#konfSyncAll').modal('hide');
                        //$('#datatable').hide();
                        $('#table-upload-barang-partial').hide();
                        $('#loading_barang_tab').show();
                    },
                    //progress: function (e) {
                    //    //make sure we can compute the length
                    //    if (e.lengthComputable) {
                    //        //calculate the percentage loaded
                    //        var pct = (e.loaded / e.total) * 100;

                    //        //log percentage loaded
                    //        console.log(pct);
                    //    }
                    //    //this usually happens when Content-Length isn't set
                    //    else {
                    //        console.warn('Content Length not reported!');
                    //    }
                    //},
                    success: function (response) {
                        if (response.Errors == null) {
                            $('#table-upload-barang-partial').html(response);
                            //var table = $('#datatable').DataTable();
                            //$('#search_barang').keyup(function () {
                            //    table.search($(this).val()).draw();
                            //});
                        } else {
                            if (response.Errors.length > 0) {
                                response.Errors.forEach(ErrorMessageDialog);
                                alert(listErrorMessage);
                            }
                            //else {
                            //    var error = response.Errors[0].split(';');
                            //    if (error.length > 1) {
                            //        alert('\nKode Barang :' + error[0] + '\nError message :' + error[1]);
                            //    } else {
                            //        alert(error);
                            //    }
                            //}
                        }
                        $('#table-upload-barang-partial').show();
                        $('#loading_barang_tab').hide();
                        //$('#datatable').show();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        }
        //function removeTag(html) {
        //    var tmp = document.createElement("DIV");
        //    tmp.innerHTML = html;
        //    return tmp.textContent || tmp.innerText || "";
        //}

        function GenerateTokped() {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "") {
                alert('Anda belum memilih Toko');
            } else {
                var link = '@Url.Action("CreateSTF02HTokped", "Manage")';
                link += '?cust=' + encodeURIComponent($('#promptHiddenField').val());
            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    //$('#loading_spinner').show();
                    $('#konfGenerateTokped').modal('hide');
                },
                success: function (response) {
                    if (response.Errors == null) {
                        alert('Generate barang berhasil!');
                    } else {
                        alert(response.Errors);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
            }
        }

        function UploadAllBrgWithProgressBar(currentPage, maxPage, dataPerPage, failedToSync) {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "" ) {
                alert('Anda belum memilih Toko');
            } else {
                @*@{
                    var tokped = context_.Marketplaces?.SingleOrDefault(m => m.NamaMarket.ToUpper().Equals("TOKOPEDIA"))?.IdMarket.ToString();
                }*@
                @*var link = '@Url.Action("UploadItemByCust", "Manage", new { cust = "replaceCust"})';
                link = link.replace("replaceCust", $('#promptHiddenField').val());*@
                //if ('' != $('#promptHiddenField2').val()) {
                    var link = '@Url.Action("UploadItemByCust", "Manage")';
                link += "?cust=" + encodeURIComponent($('#promptHiddenField').val()) + /*"&page=" + currentPage +*/ "&dataPerPage=" + encodeURIComponent(dataPerPage) + "&skipDataError=" + encodeURIComponent(failedToSync) + '&namaFileLog=' + encodeURIComponent(namaFileLog);

                    $.ajax({
                        type: "GET",
                        url: link,
                        //beforeSend: function () {
                        //    $('#loading_barang_tab').show();
                        //},
                        success: function (response) {
                            if (response.Errors != null) {
                                if (response.Errors.length > 0) {
                                    response.Errors.forEach(ErrorMessageDialog);
                                    //alert(listErrorMessage);
                                    document.getElementById('txtMessage').innerText = listErrorMessage;
                                }
                                //else
                                //{
                                //   var error = response.Errors[0].split(';');
                                //   if (error.length > 1) {
                                //       //alert('\nKode Barang :' + error[0] + '\nError message :' + error[1]);
                                //       document.getElementById('txtMessage').innerText += '\nKode Barang :' + error[0] + '\nError message :' + error[1] + '\n';
                                //   } else {
                                //       //alert(error);
                                //       document.getElementById('txtMessage').innerText += error +  '\n';
                                //   }
                                // }
                            }
                            if (response.contRecursive == "1") {
                                $('.progress-bar').css('width', ((currentPage + 1) / (maxPage + 1) * 100) + '%').attr('aria-valuenow', (currentPage + 1) / (maxPage + 1) * 100);
                                $('.progress-bar').html(((currentPage + 1) / (maxPage + 1) * 100) + '% Complete');
                                if ((currentPage + 1) > maxPage) {
                                    alert('Sinkronisasi barang selesai');
                                    //$('#table-upload-barang-partial').show();
                                    $('#btnSelesai').prop('disabled', false)

                                    //$('#progressDiv').hide();
                                    //$('#datatable').show();

                                    //$('#table-upload-barang-partial').html(response);
                                    //var table = $('#datatable').DataTable();
                                    //$('#search_barang').keyup(function () {
                                    //    table.search($(this).val()).draw();
                                    //});
                                } else {

                                    UploadAllBrgWithProgressBar((currentPage + 1), maxPage, dataPerPage, response.failedRecord);
                                }
                            } else {
                                //$('#table-upload-barang-partial').show();
                                $('#btnSelesai').prop('disabled', false)
                            }
                            //else {
                            //    if (response.Errors.length > 0) {
                            //        response.Errors.forEach(ErrorMessageDialog);
                            //        //alert(listErrorMessage);
                            //        document.getElementById('txtMessage').innerText += ErrorMessageDialog + '\n';
                            //    } else {
                            //        var error = response.Errors[0].split(';');
                            //        if (error.length > 1) {
                            //            //alert('\nKode Barang :' + error[0] + '\nError message :' + error[1]);
                            //            document.getElementById('txtMessage').innerText += '\nKode Barang :' + error[0] + '\nError message :' + error[1] + '\n';
                            //        } else {
                            //            //alert(error);
                            //            document.getElementById('txtMessage').innerText += error +  '\n';
                            //        }
                            //    }
                            //}
                            //$('#loading_spinner').hide();

                            //$('#loading_barang_tab').hide();
                            //$('#datatable').show();
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                            //$('#table-upload-barang-partial').show();
                            $('#btnSelesai').prop('disabled', false)
                        }
                    });
                //} else {
                //    alert("Silahkan edit per barang untuk sikronisasi barang dari marketplace Tokopedia.");
                //}

            }
        }
        var listErrorMessage = "";
        function ErrorMessageDialog(item, index) {
            var error = item.split(';');
            if (error.length > 1) {
                if (error.length > 2) {
                    listErrorMessage += '\nKode Barang :' + error[0] + '\nError message :' + error[2] + '\n';
                } else {
                    listErrorMessage += '\nKode Barang :' + error[0] + '\nError message :' + error[1] + '\n';
                }
            } else {
                listErrorMessage += error;
            }
        }
        function editBarang(idBarang) {
            var link = '@Url.Action("EditBarangUpload", "Manage"@*, new { brg_mp = "replaceId" }*@)';
            //link = link.replace("replaceId", idBarang);
            link += '?brg_mp=' + encodeURIComponent(idBarang) + '&cust=' + encodeURIComponent($('#promptHiddenField').val());
            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    //$('#datatable').hide();
                    $('#table-upload-barang-partial').hide();

                    $('.barang_table_section').hide();
                    $('.barang_editor_section').show();
                    $('#form-partial').html(response);
                    $('#txtBrg').val($('#TempBrg_SELLER_SKU').val()).change();
                    $('#txtBrgInduk').val($('#TempBrg_KODE_BRG_INDUK').val());
                    //Initialize();
                    //$('#Stf02_BRG').attr('disabled', 'disabled');
                    initRequired();
                    //$('#tambah_barang').click();
                    $('#close-editor-1')[0].disabled = false;
                    $('#loading_spinner').hide();
                    //add by nurul 12/2/2019
                    //$('#datatable').on('page.dt', function () {
                    //    $page = $('#datatable').DataTable().page.info().page;
                    //});
                    //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function pass(idBarang, namaBarang) {
            this.$idBarang = idBarang;
            $('#hapus_label').text(namaBarang);
        }

        function DeleteBarangTemp() {
            var link = '@Url.Action("DeleteBarangTemp", "Manage", new { barangId = "replaceId"})';
            link = link.replace("replaceId", encodeURIComponent(this.$idBarang));
            link += '&cust=' + encodeURIComponent($('#promptHiddenField').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    //$('#datatable').hide();
                    //////$('#table-upload-barang-partial').hide();

                    $('#loading_barang_tab').show();
                    $('#konfHapusBarang').modal('hide');
                },
                //success: function (response) {
                success: function () {
                    //change by calvin 14 januari 2019
                    ////change by nurul 30/7/2018
                    ////$('#table-barang-1-partial').html(response);
                    ////Initialize();
                    //if (response.Errors != undefined && response.Errors.length > 0) {
                    //    //$('#konfHapusBarang').modal('hide');
                    //    alert(response.Errors[0]);
                    //} else {
                    //    //$('#TableUploadBarangPartial').html(response);
                    //    //Initialize();
                    //    refreshTableBarangUpload();
                    //    //$('#konfHapusBarang').modal('hide');
                    //}
                    ////end change
                    //////$('#table-upload-barang-partial').html(response);
                    refreshTableBarangUpload();
                    //var table = $('#datatable').DataTable();
                    //$('#search_barang').keyup(function () {
                    //    table.search($(this).val()).draw();
                    //});
                    $('#loading_barang_tab').hide();
                    //$('#datatable').show();
                    //////$('#table-upload-barang-partial').show();

                    //table.search($('#search_barang').val()).draw();
                    //end change by calvin 14 januari 2019
                    //add by nurul 12/2/2019
                    //$('#datatable').on('page.dt', function () {
                    //    $page = $('#datatable').DataTable().page.info().page;
                    //});
                    //$('#datatable').DataTable().page($page).draw(false);
                    //end add by nurul 12/2/2019

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function deleteAllBrg() {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "") {
                alert('Anda belum memilih Toko');
            } else {
                var link = '@Url.Action("DeleteAllSyncBrg", "Manage", new { cust = "replaceId" })';
                link = link.replace("replaceId", encodeURIComponent($('#promptHiddenField').val()));
                $.ajax({
                    type: "GET",
                    url: link,
                    beforeSend: function () {
                        $('#loading_barang_tab').show();
                        //$('#konfHapusBarang').modal('hide');
                        $('#konfTarikData').modal('hide');
                    },
                    success: function () {
                        refreshTableBarangUpload();
                        $('#loading_barang_tab').hide();

                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        }

        function downloadLogUploadBarang(txt){
            window.open('/Manage/DownloadLogUploadFaktur?filename=' + txt,'_blank');

            //var link = '@Url.Action("DownloadLogUploadFaktur", "Manage")';
            //link += '?filename=' + txt;

        }

        function startSyncAll() {
            if ($('#promptHiddenField').val() == null || $('#promptHiddenField').val() == "") {
                alert('Anda belum memilih Toko');
            } else {
                $('.progress-bar').css('width', '0%').attr('aria-valuenow', 0 * 100);
                $('.progress-bar').html('0% Complete');
                $('#table-upload-barang-partial').hide();
                listErrorMessage = '';
                document.getElementById('txtMessage').innerText = '';
                //$('#datatable').hide();
                $('#konfSyncAll').modal('hide');
                $('#btnSelesai').prop('disabled', true);
                var link = '@Url.Action("GetTotalData", "Manage", new { cust = "replaceId" })';
                link = link.replace("replaceId", encodeURIComponent($('#promptHiddenField').val()) /*'000004'*/);
                var maxPage = "";
                var dataPerPage = 0;
                $.ajax({
                    type: "GET",
                    url: link,
                    beforeSend: function () {
                        //$('#loading_spinner').show();
                    },
                    success: function (response) {

                        //$('#progressDiv').hide();
                        //$('#datatable').show();
                        if (response.Errors == null) {
                            if (response.Total != null && response.Total != "") {
                                namaFileLog = response.fileName;
                                if (parseInt(response.Total) > 0) {
                                    if (parseInt(response.Total) <= 10) {
                                        //alert('loading image');
                                        //$('#loading_spinner').show();
                                        UploadAllBrg();
                                    } else {
                                        $('#progressDiv').show();
                                        controlButton();
                                        if (parseInt(response.Total) <= 50) {
                                            maxPage = 4;
                                            dataPerPage = parseInt(parseInt(response.Total) / 5) + 1;
                                        } else {
                                            maxPage = 9;
                                            dataPerPage = parseInt(parseInt(response.Total) / 10) + 1;
                                            //alert(dataPerPage + ";" + response.Total);
                                        }
                                        //UploadAllBrgWithProgressBar(currentPage, maxPage, dataPerPage, failedToSync)
                                        UploadAllBrgWithProgressBar(0, maxPage, dataPerPage, 0)
                                    }
                                } else {
                                    alert('Tidak ada data barang untuk di update dari Akun ini.\nSilahkan lakukan Ambil data dari Marketplace terlebih dahulu.');
                                    $('#table-upload-barang-partial').show();
                                }
                            } else {
                                alert('Tidak ada data barang untuk di update dari Akun ini.\nSilahkan lakukan Ambil data dari Marketplace terlebih dahulu.');
                                $('#table-upload-barang-partial').show();
                            }
                        } else {
                            alert(response.Errors);
                            $('#table-upload-barang-partial').show();
                        }
                        //$('#btnSelesai').prop('disabled', false)
                    },
                    error: function (xhr, status, error) {
                        $('#table-upload-barang-partial').show();
                        console.log(error);
                    }
                });
                //testProgressBar(0 , 4);
            }
        }

        function Initialize() {
            $('input[name="select_all"]').off('click').on('click',
                function () {
                    var attr = $(this).attr('checked');

                    if (typeof attr !== typeof undefined && attr !== false) {
                        $('input[name="data-1"]').removeAttr('checked');
                        $('input[name="data-2"]').removeAttr('checked');
                    } else {
                        $('input[name="data-1"]').attr('checked', 'checked');
                        $('input[name="data-2"]').attr('checked', 'checked');
                    }
                });

            getKategori();
            getMerk();

            $("#Stf02_HJUAL").off('focus').focus(function () {
                $(this).val(convertToAngka($(this).val()));
            });

            $("#Stf02_HJUAL").off('keydown').on('keydown',
                function (e) {
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                        // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });

            $("#Stf02_HJUAL").off('change').on('change', function () {
                if ($(this).val() == '') {
                    $(this).val(0);
                }
                $(this).val(convertToAngka($(this).val()));

                var $input = $(this).val();
                var $rupiah = convertToRupiah($input);
                $(this).val($rupiah);

                //applyHargaPerMarket($rupiah);
            });

        }

        function ConvertToAngkaRupiah(source) {
            if (source.value == '') {
                source.value = 0;
            }
            source.value = (convertToAngka(source.value));
            source.value = (convertToRupiah(source.value));
        }

        function convertToRupiah(angka) {
            //change by calvin 26 september 2018
            //var rupiah = '';
            //var angkarev = angka.toString().split('').reverse().join('');
            //for (var i = 0; i < angkarev.length; i++) if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.';
            //return rupiah.split('', rupiah.length - 1).reverse().join('') + ',00';
            return $.number(angka, 2, ',', '.');
            //end change by calvin 26 september 2018
        }

        function convertToAngka(rupiah) {

            //change by calvin 26 september 2018
            //return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
            return parseFloat(rupiah.replaceAll('.', '').replaceAll(',', '.'));
            //end change by calvin 26 september 2018
        }
        function DataIsValid() {
            var ret = true;
            if ($("#txtBrg").val().length > 20) {
                addError($("#Stf02_BRG").parent().parent(), "Kode barang maksimal 20 karakter.");
                ret = false;
            }
            else if ($("#txtBrg").val().length > 11 && $('#cmbVar').val() == "2") {
                addError($("#Stf02_BRG").parent().parent(), "Kode barang untuk Barang Induk maksimal 11 karakter.");
                ret = false;
            }
            else {
                $("#Stf02_BRG").closest('div').append('<span class="text-danger"></span>');
            }
            if ($("#Stf02_Deskripsi").val().length < 30) {
                addError($("#Stf02_Deskripsi").parent().parent(), "Deskripsi barang minimal 30 karakter.");
                ret = false;
            }
            if (convertToAngka($("#Stf02_HJUAL").val()) <= 0) {
                addError($("#Stf02_HJUAL").parent().parent(), "Harga Jual harus lebih dari 0.");
                ret = false;
            }
            if ($('#cmbVar').val() == "1") {
                if ($('#txtBrgInduk').val() == "") {
                    addError($("#txtBrgInduk").parent().parent(), "Kode Barang Induk harus diisi.");
                    ret = false;
                }
                else if ($("#txtBrgInduk").val().length > 11) {
                    addError($("#TempBrg_KODE_BRG_INDUK").parent().parent(), "Kode barang Induk maksimal 11 karakter.");
                    ret = false;
                } else if ($('#txtBrgInduk').val() == $('#txtBrg').val()) {
                    addError($("#txtBrgInduk").parent().parent(), "Kode Barang Induk tidak boleh sama dengan Kode Barang MO.");
                    ret = false;
                }
            }
            return ret;
        }

        function addError(obj, msg) {
            $this = obj;
            $this.closest('.form-group').addClass('has-error');
            if (!$this.closest('div').find('.text-danger').length) {
                $this.closest('div').append('<span class="text-danger">' + msg + '</span>');
            }
        }
        function ChangeCmbVar(val) {
            if (val == '1') {
                $("#divBrgInduk").show();
            } else {
                //$("#txtBrgInduk").val('');
                $("#divBrgInduk").hide();
                $('#txtBrgInduk').val('');
            }
        }
        function uploadBarang(btnClicked) {
            var valid = validateForm();
            var valid2 = DataIsValid();

            if (valid && valid2) {
                var input = $("#Stf02_HJUAL").val();
                var angka = convertToAngka(input);
                $("#Stf02_HJUAL").val(angka);
                $('#Stf02_STN').val($('#Stf02_STN2').val());

                var desc = $('#TempBrg_Deskripsi').val();
                var enc_desc = $('<div/>').text(desc).html();
                $('#TempBrg_Deskripsi').val(enc_desc);

                var desc2 = $('#TempBrg_AVALUE_1').val();
                var enc_desc2 = $('<div/>').text(desc2).html();
                $('#TempBrg_AVALUE_1').val(enc_desc2);

                //if ($("#TempBrg_KODE_BRG_INDUK").val() != '' || $("#TempBrg_KODE_BRG_INDUK").val() != null) {
                    $('#TempBrg_KODE_BRG_INDUK').val($('#txtBrgInduk').val());
                //}

                $('#Stf02_BRG').val($('#txtBrg').val());

                $('#tipeBarang').val($('#cmbVar').val());

                var $form = $(btnClicked).parents('form');
                var $formData = new FormData($('form').get(0));

                $.ajax({
                    type: "POST",
                    url: $form.attr('action'),
                    data: $formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    beforeSend: function () {
                        $('#loading_spinner').show();
                    },
                    success: function (response) {
                        if (response.Errors == null) {
                            //refreshTableBarang();
                            $('#close-editor-1')[0].click();
                            //document.body.scrollTop = 0; // For Safari
                            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                        } else {
                            alert(response.Errors[0]);
                        }
                        $('#loading_spinner').hide();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        var errorData = $.parseJSON(xhr.responseText);
                        //if (errorData != null)
                        //    alert(errorData);
                        $('#loading_spinner').hide();
                    }
                });
            }

        }
        function getKategori() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetKategoriBarang", "Manage")',
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var listKategori = [];

                    $.each(data,
                        function (i, item) {
                            listKategori[i] = {
                                id: item.KODE,
                                text: item.KET
                            };
                        });

                    var kategoriSelect = $('#KATEGORI').selectize({
                        valueField: 'id',
                        searchField: 'text',
                        options: listKategori,
                        onChange: function (value) {
                            $('#Stf02_Sort1').val(value);
                            $('#Stf02_KET_SORT1').val($("#KATEGORI option:selected").text());
                        }
                    });

                    kategoriSelect[0].selectize.setValue($('#Stf02_Sort1').val());
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        function getMerk() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMerkBarang", "Manage")',
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    var listMerk = [];

                    $.each(data,
                        function (i, item) {
                            listMerk[i] = {
                                id: item.KODE,
                                text: item.KET
                            };
                        });

                    var merkSelect = $('#MERK').selectize({
                        valueField: 'id',
                        searchField: 'text',
                        options: listMerk,
                        onChange: function (value) {
                            $('#Stf02_Sort2').val(value);
                            $('#Stf02_KET_SORT2').val($("#MERK option:selected").text());
                        }
                    });

                    merkSelect[0].selectize.setValue($('#Stf02_Sort2').val());
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        function PromptBarang(typeBrg) {
            showPromptBarangTextBoxWindow(typeBrg);
        }

        function showPromptBarangTextBoxWindow(typeBrg) {
            var $link = '@Url.Action("PromptBarang", "Manage")';
            //$link = $link.replace("replaceCust", $('#promptHiddenField').val());
            //$link += '?cust=' + $('#promptHiddenField').val() + '&nama=' + $('#TempBrg_NAMA').val() + '&typeBrg=' + typeBrg;
            $link += '?cust=' + $('#promptHiddenField').val() + '&nama=' + $('#TempBrg_NAMA').val() + '&typeBrg=' + typeBrg;
            window.open($link, "popupWindow", "width=700, height=500, scrollbars=yes");
        }
        function afterPromptDelTempBrg(val, typeBrg) {
            if (typeBrg == "3") {
                $('#txtBrg').val(val).change();
            } else {
                $('#txtBrgInduk').val(val);
            }
            //$('#txtCustomer').val(val2);
            //AutoCompleteBrg();
        }

        function AutoCompleteBrg() {
            var link = '@Url.Action("AutoCompleteBrg", "Manage"@*, new { brg = "replaceId", brg_mp = "replaceBrgMp" }*@)';
            //link = link.replace("replaceId", $('#txtBrg').val());
            //link = link.replace("replaceBrgMp", $('#TempBrg_BRG_MP').val());
            link += '?brg=' + encodeURIComponent($('#txtBrg').val()) + '&brg_mp=' + encodeURIComponent($('#TempBrg_BRG_MP').val()) + '&cust=' + encodeURIComponent($('#promptHiddenField').val());
            $.ajax({
                type: "GET",
                url: link,
                success: function (response) {
                    if (response != null) {
                        if (response.Errors == null) {
                            setFormBrg(response);
                            //$('#form-partial').html(response);
                            //getFotoProduk();
                            //if (response.Stf02.Sort1 != null) {
                            //    document.getElementById('statBarang').innerText = ' Link dengan barang yang sudah ada';
                            //} else {
                            //    document.getElementById('statBarang').innerText = ' Create barang baru';
                            //}
                        } else {
                            alert(response.Errors[0]);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function setFormBrg(data) {
            if (data != null) {
                $('#Stf02_NAMA').val(data.NAMA);
                $('#Stf02_NAMA2').val(data.NAMA2);
                $('#Stf02_STN2').val(data.STN2);
                $('#Stf02_MINI').val(data.MINI);
                $('#Stf02_MAXI').val(data.MAXI);
                if (data.Deskripsi != '') {
                    $('#Stf02_Deskripsi').val(data.Deskripsi);
                    CKEDITOR.instances['Stf02_Deskripsi'].setData(data.Deskripsi);
                }
                $('#Stf02_BERAT').val(data.BERAT);
                $('#Stf02_PANJANG').val(data.PANJANG);
                $('#Stf02_LEBAR').val(data.LEBAR);
                $('#Stf02_TINGGI').val(data.TINGGI);
                $('#Stf02_HJUAL').val(convertToRupiah(data.HJUAL));
                $('#Stf02_BRG').val(data.BRG);
                if (data.LINK_GAMBAR_1 != '')
                    $('#hidden_url_gambar_1').val(data.LINK_GAMBAR_1);
                if (data.LINK_GAMBAR_2 != '')
                    $('#hidden_url_gambar_2').val(data.LINK_GAMBAR_2);
                if (data.LINK_GAMBAR_3 != '')
                    $('#hidden_url_gambar_3').val(data.LINK_GAMBAR_3);
                if (data.LINK_GAMBAR_4 != '')
                    $('#hidden_url_gambar_4').val(data.LINK_GAMBAR_4);
                if (data.LINK_GAMBAR_5 != '')
                    $('#hidden_url_gambar_5').val(data.LINK_GAMBAR_5);
                getFotoProduk();
                if (data.Sort1 != null) {
                    //$('#KATEGORI')[0].selectize.setValue(data.Sort1, true);
                    $('#Stf02_Sort1').val(data.Sort1);
                    //$('#MERK')[0].selectize.setValue(data.Sort2, true);
                    $('#Stf02_Sort2').val(data.Sort2);

                }
                //else {
                //    document.getElementById('statBarang').innerText = 'Kode Barang belum ada\nBuat barang baru';
                //}
                if (data.ID > 0) {
                    document.getElementById('statBarang').innerText = 'Kode Barang sudah ada dan akan\nDi-Link dengan barang ini.';
                } else {
                    document.getElementById('statBarang').innerText = 'Kode Barang belum ada\nBuat barang baru';
                }
                if ($("#TempBrg_KODE_BRG_INDUK").val() != '') {
                    if (data.PART != null) {
                        $('#txtBrgInduk').val(data.PART);
                        $("#cmbVar").val('1').change();//brg varian
                    }
                } else if (data.TYPE == "3") {
                    $("#cmbVar").val('0').change();
                } else if (data.TYPE == "4") {
                    $("#cmbVar").val('2').change();
                } else {//default barang varian
                    $("#cmbVar").val('1').change();
                }
            }
            Initialize();
        }

        function getFotoProduk() {
            if ($('#hidden_url_gambar_1').val() != "") {
                $('#box_upload_1').css({
                    'background-image': 'url("' + $('#hidden_url_gambar_1').val() + '")',
                    'background-size': 'cover'
                });
                //$('#box_upload_1 span').hide();
                //$('#btn_hapus_1').show();
            } else {
                $('#box_upload_1').css({
                    'background-image': '',
                });
            }

            if ($('#hidden_url_gambar_2').val() != "") {
                $('#box_upload_2').css({
                    'background-image': 'url("' + $('#hidden_url_gambar_2').val() + '")',
                    'background-size': 'cover'
                });
                //$('#box_upload_2 span').hide();
                //$('#btn_hapus_2').show();
            } else {
                $('#box_upload_2').css({
                    'background-image': '',
                });
            }

            if ($('#hidden_url_gambar_3').val() != "") {
                $('#box_upload_3').css({
                    'background-image': 'url("' + $('#hidden_url_gambar_3').val() + '")',
                    'background-size': 'cover'
                });
                //$('#box_upload_3 span').hide();
                //$('#btn_hapus_3').show();
            } else {
                $('#box_upload_3').css({
                    'background-image': '',
                });
            }

            if ($('#hidden_url_gambar_4').val() != "") {
                $('#box_upload_4').css({
                    'background-image': 'url("' + $('#hidden_url_gambar_4').val() + '")',
                    'background-size': 'cover'
                });
                //$('#box_upload_2 span').hide();
                //$('#btn_hapus_2').show();
            } else {
                $('#box_upload_4').css({
                    'background-image': '',
                });
            }

            if ($('#hidden_url_gambar_5').val() != "") {
                $('#box_upload_5').css({
                    'background-image': 'url("' + $('#hidden_url_gambar_5').val() + '")',
                    'background-size': 'cover'
                });
                //$('#box_upload_3 span').hide();
                //$('#btn_hapus_3').show();
            } else {
                $('#box_upload_5').css({
                    'background-image': '',
                });
            }
        }
    </script>
}
