@using MasterOnline.Models
@using MasterOnline.ViewModels
@{
    MoDbContext context = new MoDbContext("");
    var dataSession = HttpContext.Current.Session["SessionInfo"] as AccountUserViewModel;
    var nama = "";
    var namaPerAccount = "";//add by calvin 1 april 2019

    //add by nurul 26/7/2019
    DateTime? drTgl = null;
    DateTime? sdTgl = null;
    string member = "";
    string nmMember = "";
    //end add by nurul 26/7/2019

    if (dataSession?.Account != null)
    {
        nama = dataSession.Account.Username;
        namaPerAccount = dataSession.Account.DatabasePathErasoft;//add by calvin 1 april 2019

        //add by nurul 26/7/2019
        sdTgl = dataSession.Account.TGL_SUBSCRIPTION;
        var cekHistoryPembayaran = context.AktivitasSubscription.Where(a => a.Email == dataSession.Account.Email).ToList();
        if (cekHistoryPembayaran.Count() > 0)
        {
            drTgl = cekHistoryPembayaran.OrderByDescending(a => a.TanggalBayar).FirstOrDefault().DrTGL;
        }
        member = dataSession.Account.KODE_SUBSCRIPTION;
        nmMember = context.Subscription.Where(a => a.KODE == member).Single().KETERANGAN;
        //end add by nurul 26/7/2019
    }
    else
    {
        nama = dataSession?.User.Username;
        var accFromUser = context.Account.Single(a => a.AccountId == dataSession.User.AccountId);
        namaPerAccount = accFromUser.DatabasePathErasoft;//add by calvin 1 april 2019

        //add by nurul 26/7/2019
        sdTgl = accFromUser.TGL_SUBSCRIPTION;
        var cekHistoryPembayaran = context.AktivitasSubscription.Where(a => a.Email == accFromUser.Email).ToList();
        if (cekHistoryPembayaran.Count() > 0)
        {
            drTgl = cekHistoryPembayaran.OrderByDescending(a => a.TanggalBayar).FirstOrDefault().DrTGL;
        }
        member = accFromUser.KODE_SUBSCRIPTION;
        nmMember = context.Subscription.Where(a => a.KODE == member).Single().KETERANGAN;
        //end add by nurul 26/7/2019
    }

    var listParent = context.FormMoses.Where(m => m.ParentId == 0).OrderBy(m => m.ScrId).ToList();
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Situs Jualan Online Terpusat</title>
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/ManageSite.css" rel="stylesheet" />
    <!--add by calvin 1 april 2019-->
    <link href="~/Content/jquery.notify.css" rel="stylesheet" />
    <!--end add by calvin 1 april 2019-->
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->

    @RenderSection("styles", required: false)
    @*<style>
            table.dataTable thead tr {
                background-color: #ffe8e8;
            }

            ul.bar_tabs > li a {
                background-color: #ffe8e8;
            }

            body {
                background: #891539;
            }

            #menu_toggle,
            #menu_toggle:focus,
            #menu_toggle:hover {
                color: #891539;
            }

            .nav_title,
            .left_col {
                background: #891539;
            }

            .nav.side-menu > li.active,
            .nav.side-menu > li.current-page {
                border-right: 5px solid #ff85ab;
            }

                .nav.side-menu > li.active > a {
                    background: linear-gradient(#b31949,#891539),#891539;
                }

            .nav-md ul.nav.child_menu li:before {
                background: #ff85ab;
            }

            .nav-md ul.nav.child_menu li:after {
                border-left: 1px solid #ff85ab;
            }

            .tile-stats .iconreport {
                width: 20px;
                height: 20px;
                color: #BAB8B8;
                position: absolute;
                left: 14px;
                top: 16px;
                z-index: 1
            }

            .tile-stats .iconreport i {
                margin: 0;
                font-size: 40px;
                line-height: 0;
                vertical-align: bottom;
                padding: 0
            }

            .tile-stats .countreport {
                position: relative;
                margin: 0;
                margin-left: 60px;
                z-index: 5;
                padding: 0
            }
        </style>*@

    <style>
        .member-profile {
            color: #5E6974 !important;
            border-radius: 50%;
            background: none !important;
        }

        .member-label-gold {
            color: goldenrod;
        }

        .member-label-silver {
            color: darkgrey;
        }

        [data-tip] {
            position: relative;
        }

            [data-tip]:before {
                content: '';
                /* hides the tooltip when not hovered */
                display: none;
                content: '';
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #1a1a1a;
                position: absolute;
                top: 30px;
                left: 35px;
                z-index: 8;
                font-size: 0;
                line-height: 0;
                width: 0;
                height: 0;
            }

            [data-tip]:after {
                display: none;
                content: attr(data-tip);
                position: absolute;
                top: 35px;
                left: 0px;
                padding: 2px 5px;
                background: #1a1a1a;
                color: #fff;
                z-index: 9;
                font-size: 0.85em;
                height: auto;
                line-break: normal;
                max-width: 200px;
                line-height: 18px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                white-space: normal;
                word-wrap: normal;
            }

            [data-tip]:hover:before,
            [data-tip]:hover:after {
                display: block;
            }

        .page-editor {
            overflow: inherit !important;
        }

        table thead tr {
            background-color: #ffe8e8;
        }

        ul.bar_tabs > li a {
            background-color: #ffe8e8;
        }

        body {
            background: #000;
        }

        #menu_toggle,
        #menu_toggle:focus,
        #menu_toggle:hover {
            color: #000;
        }

        .nav_title,
        .left_col {
            /*background: #891539;*/
            background: #000;
        }

        .nav.side-menu > li.active,
        .nav.side-menu > li.current-page {
            /*border-right: 5px solid #ff85ab;*/
            border-right: 5px solid #d51339;
        }

            .nav.side-menu > li.active > a {
                /*background: linear-gradient(#b31949,#891539),#891539;*/
                background: linear-gradient(#d51339, #000), #000;
            }

        .nav-md ul.nav.child_menu li:before {
            /*background: #ff85ab;*/
            background: #d51339;
        }

        .nav-md ul.nav.child_menu li:after {
            /*border-left: 1px solid #ff85ab;*/
            border-left: 1px solid #d51339;
        }

        .tile-stats .iconreport {
            width: 20px;
            height: 20px;
            color: #BAB8B8;
            position: absolute;
            left: 14px;
            top: 16px;
            z-index: 1
        }

            .tile-stats .iconreport i {
                margin: 0;
                font-size: 40px;
                line-height: 0;
                vertical-align: bottom;
                padding: 0
            }

        .tile-stats .countreport {
            position: relative;
            margin: 0;
            margin-left: 60px;
            z-index: 5;
            padding: 0
        }

        #loading_spinner {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        #loading_spinner_image {
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -90px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-width: 30px;
            border-radius: 50%;
        }

        #loading_spinner_btn {
            display: none;
            width: 100%;
            height: 100%;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #loading_spinner_image_btn {
            width: 20px;
            height: 40px;
            border-width: 30px;
            border-radius: 50%;
        }

        #spinner_btn {
            width: 45px;
            height: 45px;
            position: absolute;
            right: 30px;
        }

        #modal-gudang-qty-body .selectivity-dropdown {
            left: 206.828px !important;
        }

        .site_title {
            overflow: visible;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130203101-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-130203101-1');
        gtag('config', 'AW-778375246');
    </script>

    <!-- Event snippet for Sign-up conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) { var callback = function () { if (typeof (url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-778375246/mXAzCP3X5pQBEM6glPMC', 'value': 30.0, 'currency': 'USD', 'event_callback': callback }); return false; }
    </script>
    <!-- Facebook Pixel Code -->
    @*<script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '2320855488162974');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=2320855488162974&ev=PageView&noscript=1" />
        </noscript>*@
    <!-- End Facebook Pixel Code -->
    <!-- Facebook Pixel Code NEW UPDATE ON 23 JUNI 2020 -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '294358668412896');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=294358668412896&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @*change by nurul 26/7/2018*@
                        @*<a href="@Url.Action("Index", "Manage")" class="site_title">
                                <img alt="logo" style="width: 85%; height: 85%; margin-left: 10px;" src="~/Content/Images/Logo_Top_MO_Manage.png">
                            </a>*@
                        <a href="@Url.Action("Index", "Manage")" class="site_title">
                            <img alt="logo" style="width: 85%; height: 85%; margin-left: 10px; margin-top: 25px;" src="~/Content/Images/MO_new_logo_v2_white_text.png">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    @*remark by nurul 26/7/2018*@
                    <!-- menu profile quick info -->
                    @*<div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/Content/Images/temp-ava.png" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Selamat Datang,</span>
                                <h2>@nama</h2>
                            </div>
                        </div>*@
                    <!-- /menu profile quick info -->
                    @*end remark*@
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @*<h3>General</h3>*@
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Manage")"><i class="fa fa-home"></i> Dashboard</a>
                                </li>
                                @*//change by nurul 23/1/2020, samain dg layoutmanage*@
                                @*@{
                                        var listAnak = context.FormMoses.Where(m => m.ParentId != 0).OrderBy(m => m.ScrId);
                                        var listChild = listAnak.ToList();
                                        //add by nurul 26/7/2018
                                        var listChildFromChild = context.FormMoses.Where(m => m.ParentId != 0 && m.HaveChildFromChild).ToList();
                                        //end add
                                        var listSec = new List<SecUser>();

                                        if (dataSession?.User != null)
                                        {
                                            listSec = context.SecUser.Where(s => s.UserId == dataSession.User.UserId && s.Permission).ToList();
                                        }
                                    }
                                    @foreach (var parent in listParent)
                                    {
                                        if (parent.Show)
                                        {
                                            <li class="parent-li" id="@parent.ScrId">
                                                <a id="a_@parent.ScrId" @(!parent.HaveChild ? "href=" + parent.Url : "")>
                                                    <i class="fa @parent.Icon"></i> @parent.NamaForm
                                                    @if (parent.HaveChild)
                                                    {
                                                        <span class="fa fa-chevron-down"></span>
                                                    }
                                                    @*//add by calvin 5 april 2019
                                                        else
                                                        {
                                                            if (parent.ScrId == 9) //Pesanan
                                                            {
                                                                <img id="new_order_icon" alt="logo" style="display:none; width: 25px; height: 25px;" src="~/Content/Images/order_notification_trans.png">
                                                            }
                                                            if (parent.ScrId == 1056) //Log Error
                                                            {
                                                                <img id="new_log_error_icon" alt="logo" style="display:none; width: 25px; height: 25px;" src="~/Content/Images/order_notification_trans.png">
                                                            }
                                                        }
                                                </a>
                                                @*<ul class="nav child_menu">
                                                        @foreach (var child in listChild)
                                                        {
                                                            if (listSec.Count > 0)
                                                            {
                                                                var secUserMenu = listSec.SingleOrDefault(s => s.FormId == child.ScrId);

                                                                if (child.ParentId == parent.ScrId && secUserMenu != null)
                                                                {
                                                                    if (child.Show)
                                                                    {
                                                                        <li><a href="@child.Url">@child.NamaForm</a></li>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (child.ParentId == parent.ScrId)
                                                                {
                                                                    if (child.Show)
                                                                    {
                                                                        <li><a href="@child.Url">@child.NamaForm</a></li>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </ul>

                                                            @*change by nurul 26/7/2018

                                                <ul class="nav child_menu">
                                                    @foreach (var child in listChild)
                                                    {
                                                        if (listSec.Count > 0)
                                                        {
                                                            //change by nurul 21/1/2020, ubah jadi firstordefault karna master nya ada 2 pilihan
                                                            //var secUserMenu = listSec.SingleOrDefault(s => s.FormId == child.ScrId);
                                                            var secUserMenu = listSec.FirstOrDefault(s => s.FormId == child.ScrId);
                                                            //end change by nurul 21/1/2020, ubah jadi firstordefault karna master nya ada 2 pilihan

                                                            if (child.ParentId == parent.ScrId && secUserMenu != null)
                                                            {
                                                                //change by nurul 22/1/2020, perbaikan tampilan navbar jika login user
                                                                @*if (child.Show)
                                                                    {
                                                                        <li><a href="@child.Url">@child.NamaForm</a></li>
                                                                    }

                                                                if (child.Show && !child.HaveChild)
                                                                {
                                                                    <li>
                                                                        <a @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                            @if (child.Icon != null)
                                                                            {
                                                                                <i class="fa @child.Icon"></i>
                                                                            }
                                                                            @child.NamaForm
                                                                            @if (child.HaveChild)
                                                                            {
                                                                                <span class="fa fa-chevron-down"></span>
                                                                            }
                                                                        </a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="parent-li" id="@child.ScrId">
                                                                        <a @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                            <i class="fa @child.Icon"></i> @child.NamaForm
                                                                            @if (child.HaveChild)
                                                                            {
                                                                                <span class="fa fa-chevron-down"></span>
                                                                            }
                                                                        </a>
                                                                        <ul class="nav child_menu">
                                                                            @foreach (var childFromChild in listChildFromChild)
                                                                            {
                                                                                if (listSec.Count > 0)
                                                                                {
                                                                                    var secUserMenuChild = listSec.FirstOrDefault(s => s.FormId == childFromChild.ScrId);

                                                                                    if (childFromChild.ParentId == child.ScrId && secUserMenuChild != null)
                                                                                    {
                                                                                        if (childFromChild.Show)
                                                                                        {
                                                                                            <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                        }
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (childFromChild.ParentId == child.ScrId)
                                                                                    {
                                                                                        if (childFromChild.Show)
                                                                                        {
                                                                                            <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                                //end change by nurul 22/1/2020, perbaikan tampilan navbar jika login user
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (child.ParentId == parent.ScrId)
                                                            {
                                                                if (child.Show && !child.HaveChild)
                                                                {
                                                                    <li>
                                                                        <a @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                            @if (child.Icon != null)
                                                                            {
                                                                                <i class="fa @child.Icon"></i>
                                                                            }
                                                                            @child.NamaForm
                                                                            @if (child.HaveChild)
                                                                            {
                                                                                <span class="fa fa-chevron-down"></span>
                                                                            }
                                                                        </a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="parent-li" id="@child.ScrId">
                                                                        <a @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                            <i class="fa @child.Icon"></i> @child.NamaForm
                                                                            @if (child.HaveChild)
                                                                            {
                                                                                <span class="fa fa-chevron-down"></span>
                                                                            }
                                                                        </a>
                                                                        <ul class="nav child_menu">
                                                                            @foreach (var childFromChild in listChildFromChild)
                                                                            {
                                                                                if (listSec.Count > 0)
                                                                                {
                                                                                    //change by nurul 21/1/2020, ubah jadi firstordefault karna master nya ada 2 pilihan
                                                                                    //var secUserMenu = listSec.SingleOrDefault(s => s.FormId == childFromChild.ScrId);
                                                                                    var secUserMenu = listSec.FirstOrDefault(s => s.FormId == childFromChild.ScrId);
                                                                                    //end change by nurul 21/1/2020, ubah jadi firstordefault karna master nya ada 2 pilihan

                                                                                    if (childFromChild.ParentId == child.ScrId && secUserMenu != null)
                                                                                    {
                                                                                        if (childFromChild.Show)
                                                                                        {
                                                                                            <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                        }
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (childFromChild.ParentId == child.ScrId)
                                                                                    {
                                                                                        if (childFromChild.Show)
                                                                                        {
                                                                                            <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </ul>

                                                @*end change
                                            </li>
                                        }
                                    }*@

                                @{
                                    //change by Tri, sort by scrid
                                    //var listAnak = context.FormMoses.Where(m => m.ParentId != 0);
                                    var listAnak = context.FormMoses.Where(m => m.ParentId != 0).OrderBy(m => m.ScrId);
                                    //end change by Tri, sort by scrid
                                    var listChild = listAnak.ToList();
                                    //change by nurul 28/9/2020
                                    //var listChildFromChild = context.FormMoses.Where(m => m.ParentId != 0 && m.HaveChildFromChild).ToList();
                                    var listChildFromChild = context.FormMoses.Where(m => m.ParentId != 0 && m.HaveChildFromChild).OrderBy(a => a.ScrId).ToList();
                                    //end change by nurul 28/9/2020

                                    var listSec = new List<SecUser>();

                                    if (dataSession?.User != null)
                                    {
                                        listSec = context.SecUser.Where(s => s.UserId == dataSession.User.UserId && s.Permission).ToList();
                                    }
                                }

                                @foreach (var parent in listParent)
                                {
                                    if (parent.Show && dataSession.User == null)
                                    {
                                        <li class="parent-li" id="@parent.ScrId">
                                            <a id="a_@parent.ScrId" @(!parent.HaveChild ? "href=" + parent.Url : "")>
                                                @*<i class="fa @parent.Icon"></i> @parent.NamaForm*@
                                                @if (!string.IsNullOrEmpty(parent.Icon))
                                                {
                                                    <i class="fa @parent.Icon"></i> @parent.NamaForm
                                                }
                                                else
                                                {
                                                    <i class=""></i> @parent.NamaForm
                                                }
                                                @if (parent.HaveChild)
                                                {
                                                    <span class="fa fa-chevron-down"></span>
                                                }
                                                //add by calvin 5 april 2019
                                                else
                                                {
                                                    if (parent.ScrId == 9) //Pesanan
                                                    {
                                                        <img id="new_order_icon" alt="logo" style="display:none; width: 25px; height: 25px;" src="~/Content/Images/order_notification_trans.png">
                                                    }
                                                    if (parent.ScrId == 1056) //Log Error
                                                    {
                                                        <img id="new_log_error_icon" alt="logo" style="display:none; width: 25px; height: 25px;" src="~/Content/Images/order_notification_trans.png">
                                                    }
                                                }
                                            </a>
                                            <ul class="nav child_menu">
                                                @foreach (var child in listChild)
                                                {
                                                    if (listSec.Count > 0)
                                                    {
                                                        var secUserMenu = listSec.FirstOrDefault(s => s.FormId == child.ScrId);

                                                        if (child.ParentId == parent.ScrId && secUserMenu != null)
                                                        {
                                                            if (child.Show)
                                                            {
                                                                <li><a href="@child.Url">@child.NamaForm</a></li>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (child.ParentId == parent.ScrId)
                                                        {
                                                            if (child.Show && !child.HaveChild)
                                                            {
                                                                <li>
                                                                    <a @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                        @if (child.Icon != null)
                                                                        {
                                                                            <i class="fa @child.Icon"></i>
                                                                        }
                                                                        @child.NamaForm
                                                                        @if (child.HaveChild)
                                                                        {
                                                                            <span class="fa fa-chevron-down"></span>
                                                                        }
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="parent-li" id="@child.ScrId">
                                                                    <a id="a_@child.ScrId" @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                        <i class="fa @child.Icon"></i> @child.NamaForm
                                                                        @if (child.HaveChild)
                                                                        {
                                                                            <span class="fa fa-chevron-down"></span>
                                                                        }
                                                                    </a>
                                                                    <ul class="nav child_menu">
                                                                        @foreach (var childFromChild in listChildFromChild)
                                                                        {
                                                                            if (listSec.Count > 0)
                                                                            {
                                                                                var secUserMenu = listSec.FirstOrDefault(s => s.FormId == childFromChild.ScrId);

                                                                                if (childFromChild.ParentId == child.ScrId && secUserMenu != null)
                                                                                {
                                                                                    if (childFromChild.Show)
                                                                                    {
                                                                                        <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                    }
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (childFromChild.ParentId == child.ScrId)
                                                                                {
                                                                                    if (childFromChild.Show)
                                                                                    {
                                                                                        <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        var secMenu = listSec.FirstOrDefault(s => s.FormId == parent.ScrId);
                                        if (secMenu != null)
                                        {
                                            var listChildOfSecMenu = listSec.Where(c => c.ParentId == secMenu.FormId);

                                            <li id="@parent.ScrId">
                                                <a id="a_@parent.ScrId" @(!parent.HaveChild ? "href=" + parent.Url : "")>
                                                    @*<i class="fa @parent.Icon"></i> @parent.NamaForm*@
                                                    @if (!string.IsNullOrEmpty(parent.Icon))
                                                    {
                                                        <i class="fa @parent.Icon"></i>
                                                    }@parent.NamaForm
                                                    @if (parent.HaveChild)
                                                    {
                                                        <span class="fa fa-chevron-down"></span>
                                                    }
                                                </a>
                                                <ul class="nav child_menu">
                                                    @foreach (var child in listChild)
                                                    {
                                                        var childOfSecMenu = listChildOfSecMenu?.FirstOrDefault(c => c.FormId == child.ScrId);

                                                        if (childOfSecMenu != null)
                                                        {
                                                            if (child.Show && !child.HaveChild)
                                                            {
                                                                <li>
                                                                    <a @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                        @if (child.Icon != null)
                                                                        {
                                                                            <i class="fa @child.Icon"></i>
                                                                        }
                                                                        @child.NamaForm
                                                                        @if (child.HaveChild)
                                                                        {
                                                                            <span class="fa fa-chevron-down"></span>
                                                                        }
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li id="@child.ScrId">
                                                                    <a id="a_@child.ScrId" @(!child.HaveChild ? "href=" + child.Url : "")>
                                                                        <i class="fa @child.Icon"></i> @child.NamaForm
                                                                        @if (child.HaveChild)
                                                                        {
                                                                            <span class="fa fa-chevron-down"></span>
                                                                        }
                                                                    </a>
                                                                    <ul class="nav child_menu">
                                                                        @foreach (var childFromChild in listChildFromChild)
                                                                        {
                                                                            if (listSec.Count > 0)
                                                                            {
                                                                                var secUserMenu = listSec.FirstOrDefault(s => s.FormId == childFromChild.ScrId);

                                                                                if (childFromChild.ParentId == child.ScrId && secUserMenu != null)
                                                                                {
                                                                                    if (childFromChild.Show)
                                                                                    {
                                                                                        <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                    }
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (childFromChild.ParentId == child.ScrId)
                                                                                {
                                                                                    if (childFromChild.Show)
                                                                                    {
                                                                                        <li><a href="@childFromChild.Url">@childFromChild.NamaForm</a></li>
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                }
                                @*//end change by nurul 23/1/2020, samain dg layoutmanage*@
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav pull-right">
                            @*//add by nurul 26/7/2019*@
                            <li class="center">
                                <a class="member-profile center">
                                    @if (member == "01")
                                    {
                                        <label>@nmMember </label>
                                    }
                                    else if (member == "02")
                                    {
                                        <label class="member-label-silver">@nmMember </label>
                                    }
                                    else if (member == "03")
                                    {
                                        <label class="member-label-gold">@nmMember </label>
                                    }
                                    @if (drTgl != null)
                                    {
                                        <label> @(drTgl?.ToString("dd/MM/yyyy")) s/d @(sdTgl?.ToString("dd/MM/yyyy"))</label>
                                        //}
                                    }
                                    else
                                    {

                                        <label> @(sdTgl?.ToString("dd/MM/yyyy"))</label>
                                    }
                                </a>
                            </li>
                            @*//end add by nurul 26/7/2019*@
                            <li class="pull-right">
                                <a href="javascript:;" class="user-profile dropdown-toggle pull-right" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/Images/temp-ava.png" alt="">@nama
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("GantiPassword", "Manage")"><i class="fa fa-key pull-right"></i> Ubah Password</a></li>
                                    <li><a href="@Url.Action("LoggingOut", "Account")"><i class="fa fa-sign-out pull-right"></i> Keluar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12" style="padding-left:0px">
                        <a href="@Url.Action("Reports", "Manage")">
                            <div class="tile-stats">
                                <div class="iconreport"><i class="fa fa-arrow-left"></i></div>
                                <div class="countreport">
                                    <h2> Laporan</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="tile-stats">
                        <div style="margin:14px 14px 14px 14px">
                            <div id="loading_spinner">
                                <div id="loading_spinner_image">
                                    <img src="~/Content/Images/spinner.gif" />
                                </div>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    MasterOnline - By <a href="http://www.erasoft.co.id/">Erasoft</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!--add by calvin 1 april 2019-->
    <script src="~/Content/jquery.notify.js"></script>
    <!--end add by calvin 1 april 2019-->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/Content/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="~/Content/vendors/skycons/skycons.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="~/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="~/Content/vendors/DateJS/build/date.js"></script>
    <script src="~/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/build/js/custom.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!--add by calvin 1 april 2019-->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <!--end add by calvin 1 april 2019-->

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(".alert").fadeTo(4000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });

        var counter = 0;

        $(document).ready(function () {

            //add by calvin 1 april 2019
            masterOnlineR = $.connection.MasterOnlineHub;
            masterOnlineR.client.broadcastMessage = function (x) {
                alert(x);
            };

            masterOnlineR.client.monotification = function (x) {
                $.notify({
                    jswrapper: 'body',
                    message: x,
                    dir: 'ltr',
                    autoClose: true,
                    duration: 4000,
                    onOpen: null,
                    onClose: null
                });
            };

            masterOnlineR.client.moFailedJobs = function (mo_desc, mo_subjectDesc, mo_jobid) {
                var description = mo_desc.replace("{obj}", mo_subjectDesc);
                var button = '<button id="btnRetryJob' + mo_jobid + '" class="btn btn-default" type="button" style="border:1px;padding:2px 8px 2px 8px;margin:0px" title="Retry" onclick="alert(\'' +
                        mo_jobid +
                        '\')"><span class="glyphicon glyphicon-repeat"></span></button>';
                var mesg = '<div class="row"><div class="col-md-9">' + description + '</div><div class="col-md-3">' + button + '</div></div>'
                $.notify({
                    jswrapper: 'body',
                    message: description + ' ' + button,
                    type: 'error',
                    dir: 'ltr',
                    autoClose: false,
                    onOpen: null,
                    onClose: null
                });
            };

            masterOnlineR.client.moNewOrder = function (x) {
                $('#new_order_icon').show();

                $.notify({
                    jswrapper: 'body',
                    message: x,
                    dir: 'ltr',
                    autoClose: true,
                    duration: 4000,
                    onOpen: null,
                    onClose: null
                });

            };

            $.connection.hub.start().done(function () {
                masterOnlineR.server.joinGroup("@namaPerAccount");
            });
            //end add by calvin 1 april 2019

            @if (dataSession?.User != null)
            {
                if (dataSession.User.UserId != null)
                {
                    <text>
                        $(".side-menu li.parent-li").each(function() {
                            var id = $(this).attr("id");
                            if ($(".parent-li#" + id + " .child_menu li").length === 0) {
                                $(this).hide();
                            }
                        });
                    </text>
                }
            }

            //Otomatis mengikuti attribute maxlength / stringlength
            $("input[data-val-length-max]").each(function ()
            {
                var $this = $(this);
                var data = $this.data();
                $this.attr("maxlength", data.valLengthMax);
            });
        });

        var _0x2056 = ["\x6F\x6E\x6C\x6F\x61\x64", "\x6F\x6E\x6D\x6F\x75\x73\x65\x6D\x6F\x76\x65", "\x6F\x6E\x6B\x65\x79\x70\x72\x65\x73\x73", "\x53\x65\x73\x69\x20\x41\x6E\x64\x61\x20\x74\x65\x6C\x61\x68\x20\x68\x61\x62\x69\x73\x20\x6B\x61\x72\x65\x6E\x61\x20\x74\x69\x64\x61\x6B\x20\x74\x65\x72\x64\x65\x74\x65\x6B\x73\x69\x20\x61\x64\x61\x6E\x79\x61\x20\x6B\x65\x67\x69\x61\x74\x61\x6E\x20\x73\x65\x6C\x61\x6D\x61\x20\x31\x30\x20\x6D\x65\x6E\x69\x74", "\x68\x72\x65\x66", "\x40\x55\x72\x6C\x2E\x41\x63\x74\x69\x6F\x6E\x28\x22\x4C\x6F\x67\x67\x69\x6E\x67\x4F\x75\x74\x22\x2C\x22\x4D\x61\x6E\x61\x67\x65\x22\x29"]; var inactivityTime = function () { var _0x8846x2; window[_0x2056[0]] = _0x8846x4; document[_0x2056[1]] = _0x8846x4; document[_0x2056[2]] = _0x8846x4; function _0x8846x3() { alert(_0x2056[3]); location[_0x2056[4]] = _0x2056[5] } function _0x8846x4() { clearTimeout(_0x8846x2); _0x8846x2 = setTimeout(_0x8846x3, 600000) } }
    </script>
</body>

@*change by nurul 26/7/2018*@

@*end change*@

</html>
