@using MasterOnline.ViewModels

@{
    ViewBag.Title = "Analisa Pembelian";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
    var context = new MoDbContext("");
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    var userId = "";
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Email == dataSession.User.Email).AccountId;
        userId = context.Account.Single(a => a.AccountId == accId).DatabasePathErasoft;
        context.Dispose();
    }
    else
    {
        userId = dataSession?.Account?.DatabasePathErasoft;
    }
}

@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        #loading_spinner {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        #loading_spinner_image {
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -90px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-width: 30px;
            border-radius: 50%;
        }
    </style>
}

<h2>Analisa Pembelian</h2>


<div class="row">
    <div class="col-md-2">
        @Html.Label("", "Dari Tanggal")
        <div class="input-group date">
            @Html.TextBox("DrTanggal", null, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "S/d Tanggal")
        <div class="input-group date">
            @Html.TextBox("SdTanggal", null, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Label("", "Berdasarkan")
        <div class="input-group text">
            <select class="form-control" id="Order" name="Order" required="required">
                <option>--Pilih--</option>
                <option value="1">Supp</option>
                <option value="2">Barang</option>
                <option value="3">Supp/Barang</option>
                <option value="4">Barang/Supp</option>
            </select>
        </div>
    </div>
    <div class="col-md-9">
    </div>
</div>
<div class="row" id="div_Supp">
    <div class="col-md-2">
        @Html.Label("", "Dari Supplier")
        <div class="input-group text">
            @Html.TextBox("FromSupp", "", new { @class = "form-control", @MaxLength = "10" })
            <span class="input-group-btn">
                <button id="prompt-darisupp" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "Sampai Supplier")
        <div class="input-group text">
            @Html.TextBox("ToSupp", "ZZZ", new { @class = "form-control", @MaxLength = "10" })
            <span class="input-group-btn">
                <button id="prompt-sdsupp" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>
<div class="row" id="div_Brg">
    <div class="col-md-2">
        @Html.Label("", "Dari Barang")
        <div class="input-group text">
            @Html.TextBox("FromBrg", "", new { @class = "form-control", @MaxLength = "20" })
            <span class="input-group-btn">
                <button id="prompt-daribrg" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "Sampai Barang")
        <div class="input-group text">
            @Html.TextBox("ToBrg", "ZZZ", new { @class = "form-control", @MaxLength = "20" })
            <span class="input-group-btn">
                <button id="prompt-sdbrg" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>
<div class="row" id="div_Supp2">
    <div class="col-md-2">
        @Html.Label("", "Dari Supplier")
        <div class="input-group text">
            @Html.TextBox("FromSupp2", "", new { @class = "form-control", @MaxLength = "10" })
            <span class="input-group-btn">
                <button id="prompt-darisupp2" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "Sampai Supplier")
        <div class="input-group text">
            @Html.TextBox("ToSupp2", "ZZZ", new { @class = "form-control", @MaxLength = "10" })
            <span class="input-group-btn">
                <button id="prompt-sdsupp2" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="preview-report">Preview Report</button>
    </div>
</div>
<br />
<br />
@*<div class="row text-center">
    <object id="pdf_viewer" data="#" type="application/pdf" width="1079" height="600"></object>
</div>*@

@section scripts
{
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <script>
        var promptSupp = "";
        var promptBrg = "";
        $(document).ready(function () {
            //add by nurul 11/1/2019
            $('#div_Supp').hide();
            $('#div_Brg').hide();
            $('#div_Supp2').hide();
            //end add

            var d = new Date();

            //change by nurul 2/11/2018
            //$('#DrTanggal').datepicker({
            //    format: 'dd/mm/yyyy',
            //    language: 'id',
            //}).datepicker('setDate', d);

            //$('#SdTanggal').datepicker({
            //    format: 'dd/mm/yyyy',
            //    language: 'id'
            //}).datepicker('setDate', '0');
            $('#DrTanggal').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id',
            }).datepicker('setDate', d).change(function () {
                $('#DrTanggal').val($(this).val());
                $(this).datepicker('hide');
            });

            $('#SdTanggal').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', '0').change(function () {
                $('#SdTanggal').val($(this).val());
                $(this).datepicker('hide');
            });
            //end change 

            $('#prompt-darisupp').click(function () {
                promptSupp = "1";
                var $link = '@Url.Action("PromptSupplier", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });
            $('#prompt-sdsupp').click(function () {
                promptSupp = "2";
                var $link = '@Url.Action("PromptSupplier", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });

            $('#prompt-daribrg').click(function () {
                promptBrg = "1";
                var $link = '@Url.Action("PromptBarang", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });
            $('#prompt-sdbrg').click(function () {
                promptBrg = "2";
                var $link = '@Url.Action("PromptBarang", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });

            $('#preview-report').click(function () {
                $('#loading_spinner').show();
                previewing();
            });

            //add by nurul 11/1/2019
            $('#Order').change(function () {
                if ($('#Order').val() == 1) {
                    $('#div_Supp').show();
                    $('#div_Brg').hide();
                    $('#div_Supp2').hide();
                } else if ($('#Order').val() == 2) {
                    $('#div_Supp').hide();
                    $('#div_Brg').show();
                    $('#div_Supp2').hide();
                } else if ($('#Order').val() == 3) {
                    $('#div_Supp').show();
                    $('#div_Brg').show();
                    $('#div_Supp2').hide();
                } else if ($('#Order').val() == 4) {
                    $('#div_Supp').hide();
                    $('#div_Brg').show();
                    $('#div_Supp2').show();
                } else {
                    $('#div_Supp').hide();
                    $('#div_Brg').hide();
                    $('#div_Supp2').hide();
                }
            }); 

            $('#Order').click(function () {
                if ($('#Order').val() == 1) {
                    $('#div_Supp').show();
                    $('#div_Brg').hide();
                    $('#div_Supp2').hide();
                } else if ($('#Order').val() == 2) {
                    $('#div_Supp').hide();
                    $('#div_Brg').show();
                    $('#div_Supp2').hide();
                } else if ($('#Order').val() == 3) {
                    $('#div_Supp').show();
                    $('#div_Brg').show();
                    $('#div_Supp2').hide();
                } else if ($('#Order').val() == 4) {
                    $('#div_Supp').hide();
                    $('#div_Brg').show();
                    $('#div_Supp2').show();
                } else {
                    $('#div_Supp').hide();
                    $('#div_Brg').hide();
                    $('#div_Supp2').hide();
                }
            }); 

            $('#prompt-darisupp2').click(function () {
                promptSupp = "3";
                var $link = '@Url.Action("PromptSupplier", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });
            $('#prompt-sdsupp2').click(function () {
                promptSupp = "4";
                var $link = '@Url.Action("PromptSupplier", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });
            //end add by nurul 11/1/2019
        });

        function formatDateToYYYYmmDD(a) {
            var d;
            if (a == 1) {
              
                d = $('#DrTanggal').val();
            }
            else if (a == 2) {
               
               d = $('#SdTanggal').val();
            }

            var month = '' + (d.slice(3, 5));
            var day = '' + (d.slice(0, 2));
            var year = (d.slice(6, 10));
            return [year, month, day].join('/');
        }
        var tanggalcutoff = "";
        function previewing() {
            //if (selisihValid()) {
            //add by nurul 11/1/2019
            var drSupp = "";
            var sdSupp = "";
            //if ($('#FromSupp').val() != "" || $('#ToSupp').val() != "") {
            //    drSupp = $('#FromSupp').val();
            //    sdSupp = $('#ToSupp').val();
            //} else if ($('#FromSupp2').val() != "" || $('#ToSupp2').val() != "") {
            //    drSupp = $('#FromSupp2').val();
            //    sdSupp = $('#ToSupp2').val();
            //}

            if ($('#Order').val() == 1) {
                drSupp = $('#FromSupp').val();
                sdSupp = $('#ToSupp').val();
            } else if ($('#Order').val() == 2) {
            } else if ($('#Order').val() == 3) {
                drSupp = $('#FromSupp').val();
                sdSupp = $('#ToSupp').val();
            } else if ($('#Order').val() == 4) {
                drSupp = $('#FromSupp2').val();
                sdSupp = $('#ToSupp2').val();
            } else {
                alert('Pilih berdasarkan apa terlebih dahulu!');
                $('#loading_spinner').hide();
                return false;
            }

            //end add

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Preview5", "Report")',
                    data: JSON.stringify({
                        UserId: '@(userId)',
                        //change by nurul 11/1/2019
                        //FromSupp: $('#FromSupp').val(),
                        //ToSupp: $('#ToSupp').val(),
                        FromSupp: drSupp,
                        ToSupp: sdSupp,
                        //end change 
                        FromBrg: $('#FromBrg').val(),
                        ToBrg: $('#ToBrg').val(),
                        DrTanggal: formatDateToYYYYmmDD(1),
                        SdTanggal: formatDateToYYYYmmDD(2),
                        //add by nurul 11/1/2019
                        Order: $('#Order').val()
                        //end add
                    }),
                    contentType: 'application/json; charset=UTF-8',
                    cache: false,
                    beforeSend: function () {
                        //$('#loading_spinner').show();
                    },
                    success: function (data) {
                        
                        //console.log(data);
                        $("<iframe id='LoadReportMO'>")// create a new iframe element
                            .hide()//invisible
                            .load(function () {
                                
                                setTimeout(function () { $("#LoadReportMO").remove(); }, 30000);
                                $('#loading_spinner').hide();
                            })
                            .attr("src", data)//load the page
                            .appendTo("body");
                    },
                    error: function (xhr) {
                        
                        console.log(xhr);
                        $('#loading_spinner').hide();
                    }
                });
            //}
        }
        function afterPromptSupplier(supp) {
            if (promptSupp == "1") {
                $('#FromSupp').val(supp);
            }
            else if (promptSupp == "2") {
                $('#ToSupp').val(supp);
            }
            //add by nurul 11/1/2019
            else if (promptSupp == "3") {
                $('#FromSupp2').val(supp);
            }
            else if (promptSupp == "4") {
                $('#ToSupp2').val(supp);
            }
            //end add 
            promptSupp = "";
        }
        function afterPromptBarang(brg) {
            if (promptBrg == "1") {
                $('#FromBrg').val(brg);
            }
            else if (promptBrg == "2") {
                $('#ToBrg').val(brg);
            }
            promptBrg = "";
        }
    </script>
}
