@using MasterOnline.ViewModels

@{
    ViewBag.Title = "Mutasi Hutang";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
    var context = new MoDbContext("");
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    var userId = "";
    if (dataSession?.User != null)
    {
        var accId = context.User.Single(u => u.Email == dataSession.User.Email).AccountId;
        userId = context.Account.Single(a => a.AccountId == accId).DatabasePathErasoft;
        context.Dispose();
    }
    else
    {
        userId = dataSession?.Account?.DatabasePathErasoft;
    }
}

@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        #loading_spinner {
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        #loading_spinner_image {
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -90px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-width: 30px;
            border-radius: 50%;
        }
    </style>
}

<h2>Mutasi Hutang</h2>

<div class="row">
    <div class="col-md-2">
        @Html.Label("", "Dari Supplier")
        <div class="input-group text">
            @Html.TextBox("FromSupp", "", new { @class = "form-control", @MaxLength = "10" })
            <span class="input-group-btn">
                <button id="prompt-darisupp" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        @Html.Label("", "Sampai Supplier")
        <div class="input-group text">
            @Html.TextBox("ToSupp", "ZZZ", new { @class = "form-control", @MaxLength = "10" })
            <span class="input-group-btn">
                <button id="prompt-sdsupp" class="btn btn-default" type="button" style="height: 34px;">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.Label("", "Tanggal Pembukuan")
        <div class="input-group date">
            @Html.TextBox("CutOffDate", null, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-10">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="preview-report">Preview Report</button>
    </div>
</div>
<br />
<br />
@*<div class="row text-center">
        <object id="pdf_viewer" data="#" type="application/pdf" width="1079" height="600"></object>
    </div>*@

@section scripts
{
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <script>
        var promptSupp = "";
        $(document).ready(function () {
            //change by nurul 6/11/2018
            //$('#CutOffDate').datepicker({
            //    format: 'dd/mm/yyyy',
            //    language: 'id'
            //}).datepicker('setDate', '0');
            $('#CutOffDate').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).datepicker('setDate', '0').change(function () {
                $('#CutOffDate').val($(this).val());
                $(this).datepicker('hide');
            });
            //end change

            $('#prompt-darisupp').click(function () {
                promptSupp = "1";
                var $link = '@Url.Action("PromptSupplier", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });
            $('#prompt-sdsupp').click(function () {
                promptSupp = "2";
                var $link = '@Url.Action("PromptSupplier", "Report")';
                window.open($link, "popupWindow", "width=600, height=400, scrollbars=yes");
            });

            $('#preview-report').click(function () {
                $('#loading_spinner').show();
                previewing();
            });
        });

        function formatDateToYYYYmmDD(date) {
            if (date == "") {
                $('#CutOffDate').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).datepicker('setDate', '0');

                date = $('#CutOffDate').val();
            }

            var month = '' + (date.slice(3, 5));
            var day = '' + (date.slice(0, 2));
            var year = (date.slice(6, 10));
            return [year, month, day].join('/');
        }
        var tanggalcutoff = "";
        function previewing() {
            //if (selisihValid()) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Preview2", "Report")',
                    data: JSON.stringify({
                        UserId: '@(userId)',
                        FromSupp: $('#FromSupp').val(),
                        ToSupp: $('#ToSupp').val(),
                        CutOffDate: formatDateToYYYYmmDD($('#CutOffDate').val())
                    }),
                    contentType: 'application/json; charset=UTF-8',
                    cache: false,
                    success: function (data) {
                        //alert(data);
                        $("<iframe id='LoadReportMO'>")// create a new iframe element
                            .hide()//invisible
                            .load(function () {
                                $('#loading_spinner').hide();
                                setTimeout(function () { $("#LoadReportMO").remove(); }, 30000);
                            })
                            .attr("src", data)//load the page
                            .appendTo("body");
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        $('#loading_spinner').hide();
                    }
                });
            //}
        }
        function afterPromptSupplier(supp) {
            if (promptSupp == "1") {
                $('#FromSupp').val(supp);
            }
            else if (promptSupp == "2") {
                $('#ToSupp').val(supp);
            }
            promptSupp = "";
        }
    </script>
}
