@{
    ViewBag.Title = "Prompt Kode Rekening";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
@section styles
{
    <style>
        .top_nav {
            display: none !important;
        }

        .close-btn {
            display: none;
        }
    </style>
}
<div class="col-lg-4 col-sm-6" id="div_search">
    <div class="input-group">
        <input id="search_promptrek" type="text" class="form-control" placeholder="Pencarian">
        <span class="input-group-btn">
            <button type="button" id="search_promptrek_click" class="btn btn-primary">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
<div class="row" style="padding-left:10px; padding-right:10px;">
    <div id="table-prompt-rek-partial">

    </div>
</div>
@*<table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 130px;">Kode Rekening</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Nama Rekening</th>
            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50px; max-width: 50px;">Pilih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rek in Model)
        {
            <tr>
                <td>@rek.KODE</td>
                <td>@rek.NAMA</td>
                <td class="edit-hapus-col">
                    <button class="btn btn-primary" onclick="pilihPrompt('@rek.KODE')">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>*@

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        refreshTablePromptRek();
        $('#search_promptrek').keypress(function (e) {
            var key = e.which;
            if (key == 13)// the enter key code
            {
                searchTablePromptRek();
                return false;
            }
        });
        $('#search_promptrek_click').click(function () {
            searchTablePromptRek();
        });
    });

    function pilihPrompt($value) {
        self.window.close();
        window.onunload = refreshTextBox;
        function refreshTextBox() {
            window.opener.afterPromptKodeRek($value);
        }
    }

    function refreshTablePromptRek() {
                var $link = '@Html.Raw(Url.Action("TablePromptKodeRekPartial", "Report", new { page = "replaceLastPage", search = "replaceSearch" }))';
                $link = $link.replace("replaceSearch", encodeURIComponent($('#search_promptrek').val()));
                $link = $link.replace("replaceLastPage", encodeURIComponent($('#txt_last_page_1').val()));

            $.ajax({
                type: "GET",
                url: $link,
                beforeSend: function () {
                    $('#table-prompt-rek-partial').hide();
                    $('#loading_promptrek_tab').show();
                },
                success: function (response) {
                    $('#table-prompt-rek-partial').html(response);

                    $('#table-prompt-rek-partial').show();

                    $('#loading_promptrek_tab').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
    }

    function searchTablePromptRek() {
        var $link = '@Html.Raw(Url.Action("TablePromptKodeRekPartial", "Report", new { search = "replaceSearch" }))';
        $link = $link.replace("replaceSearch", encodeURIComponent($('#search_promptrek').val()));

            $.ajax({
                    url: $link,
                    type: "GET",
                    cache: false,
                    beforeSend: function () {
                        $('#loading_promptrek_tab').show();
                    },
                    success: function (response) {

                        $('#table-prompt-rek-partial').html(response);
                        $('#table-prompt-rek-partial').show();
                        $('#loading_promptrek_tab').hide();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
            });
    }
</script>
}