@using System.Globalization
@using MasterOnline.Models
@model MasterOnline.ViewModels.DashboardAdminViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var context_ = new MoDbContext("");
}
@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/selectize.css" rel="stylesheet" />
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />
    <style>
        .right_col {
            max-height: 1300px;
        }
    </style>
}

<div class="row angka-mode">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Customer Summary</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("", "Tanggal")

                        <div class="input-group date">
                            @Html.TextBox("DrTanggalCS", null, new { @class = "form-control", @ReadOnly = true })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                <div class="row">
                    <div id="loading_CS" class="text-center">
                        <img src="~/Content/Images/spinner.gif" width="100" />
                    </div>
                    <div class="col-sm-12" id="table-cs">
                        @Html.Partial("TableDashboardCS")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Sales</h2>
                <div class="clearfix"></div>
            </div>
            <div class="row user_table_section">
                <div class="col-md-2">
                    @Html.Label("", "Dari Tanggal")

                    <div class="input-group date">
                        @Html.TextBox("DrTanggal", null, new { @class = "form-control", @ReadOnly = true })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.Label("", "S/d Tanggal")

                    <div class="input-group date">
                        @Html.TextBox("SdTanggal", null, new { @class = "form-control", @ReadOnly = true })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-8">
                </div>
            </div>
            <div class="row user_table_section">
                <div id="loading_dashboard" class="text-center">
                    <img src="~/Content/Images/spinner.gif" width="100" />
                </div>
                <div class="col-sm-12" id="table-sale">
                    @Html.Partial("TableDashboard")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/selectize.js" type="text/javascript"></script>
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var table = $('#datatable').DataTable({
            "order": [[0, "desc"]], //or asc
            "columnDefs": [{ "targets": 0, "type": "date-eu" }],
        });
        $(document).on('ready',
            function () {
                var table = $('#datatable').DataTable({
                    "order": [[0, "desc"]], //or asc
                    "columnDefs": [{ "targets": 0, "type": "date-eu" }],
                    destroy: true,
                });
                $('#loading_dashboard').hide();
                $('#loading_CS').hide();
                var d = new Date();
                d.setMonth(d.getMonth() - 1);
                $('#DrTanggal').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).datepicker('setDate', d);
                $('#DrTanggal').change(function () {
                    $('#DrTanggal').val($('#DrTanggal').val());
                    $('#DrTanggal').datepicker('hide');
                    refreshDashboard();
                });
                $('#SdTanggal').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).datepicker('setDate', '0');
                $('#SdTanggal').change(function () {
                    $('#SdTanggal').val($('#SdTanggal').val());
                    $('#SdTanggal').datepicker('hide');
                    refreshDashboard();
                });

                //add by nurul 24/4/2019
                var e = new Date();
                e.setMonth(e.getMonth() + 1);
                $('#DrTanggalCS').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'id'
                }).datepicker('setDate', '0');
                $('#DrTanggalCS').change(function () {
                    $('#DrTanggalCS').val($('#DrTanggalCS').val());
                    $('#DrTanggalCS').datepicker('hide');
                    refreshCS();
                });
                //end add by nurul 24/4/2019
            });


        function refreshDashboard() {
            var link = '@Url.Action("RefreshDashboard", "Admin", new { param = "replacedrtgl;replacesdtgl" })';
            link = link.replace("replacedrtgl", $('#DrTanggal').val());
            link = link.replace("replacesdtgl", $('#SdTanggal').val());

            //location.href = link;
            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#datatable').hide();
                    $('#loading_dashboard').show();
                },
                success: function (response) {
                    $('#table-sale').html(response);
                    var table = $('#datatable').DataTable({
                        "order": [[0, "desc"]], //or asc
                        "columnDefs": [{ "targets": 0, "type": "date-eu" }],
                        destroy: true,
                    });
                    $('#datatable').show();
                    $('#loading_dashboard').hide();

                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $('#loading_dashboard').hide();

                }
            });
        }

        function refreshCS() {
            @*var link = '@Url.Action("RefreshDashboardCS", "Admin", new { param = "replacedrtgl;replacesdtgl" })';*@
            var link = '@Url.Action("RefreshDashboardCS", "Admin", new { param = "replacedrtgl" })';
            link = link.replace("replacedrtgl", $('#DrTanggalCS').val());
            //link = link.replace("replacesdtgl", $('#SdTanggalCS').val());

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#table-CS').hide();
                    $('#loading_CS').show();
                },
                success: function (response) {
                    $('#table-CS').html(response);
                    $('#table-CS').show();
                    $('#loading_CS').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    $('#loading_CS').hide();
                }
            })
        }
    </script>
}
