@using System.Globalization
@using MasterOnline.ViewModels
@model PartnerViewModel
@{

    var setStatus = "";
    var status1 = Model.partner.Status;
    if (status1)
    {
        setStatus = "Aktif";
    }
    else
    {
        setStatus = "Tidak Aktif";
    }
    var setSetuju = "";
    var status2 = Model.partner.StatusSetuju;
    if (status2)
    {
        setSetuju = "Setuju";
    }
    else
    {
        setSetuju = "Tidak Setuju";
    }
}

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.partner.PartnerId)

<div id="hidden_partner">
    <div class="form-group">
        @Html.LabelFor(m => m.partner.PartnerId, "PartnerID", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.PartnerId, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.Email, "Email", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.Email, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.Username, "Nama Lengkap", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.Username, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.TGL_DAFTAR, "Tanggal Daftar", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.TGL_DAFTAR, new { @class = "form-control", @ReadOnly = true, Value = Model?.partner?.TGL_DAFTAR?.ToString("dd/MM/yyyy") })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.PhotoKtpUrl, "Photo Ktp", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12 logo_perusahaan_section">
            @if (!String.IsNullOrWhiteSpace(Model.partner.PhotoKtpUrl))
            {
                <img src="@Url.Content(Model.partner.PhotoKtpUrl)" width="65%" />
            }
            else
            {
                <img src="~/Content/Images/no-img-market.jpg" />
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.NoHp, "No Hp", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.NoHp, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.NamaTipe, "Nama Tipe", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.NamaTipe, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.StatusSetuju, "Status Setuju", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => setSetuju, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.KodeRefPilihan, "Kode Referral Pilihan", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.partner.KodeRefPilihan, new { @class = "form-control", @ReadOnly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.partner.Status, "Status", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(m => m.partner.Status, new List<SelectListItem>()
        {
            new SelectListItem()
            {
                Text = @"Tidak Aktif",
                Value = "false",
            },
            new SelectListItem()
            {
                Text = @"Aktif",
                Value = "true"
            }
        }, new { @class = "form-control" })
        </div>
    </div>


    <div id="photo_base" style="display:unset">
        <div class="form-group">
            @Html.LabelFor(m => m.partner.PhotoKtpBase64, "Photo Base", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(m => m.partner.PhotoKtpBase64, new { @class = "form-control", @ReadOnly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.partner.TipePartner, "Tipe Partner", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
            <div class="col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(m => m.partner.TipePartner, new { @class = "form-control", @ReadOnly = true })
            </div>
        </div>
    </div>

</div>

<div class="form-group">
    @Html.LabelFor(m => m.partner.komisi_subscribe, "Komisi Subscribe Silver", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.partner.komisi_subscribe, new { @class = "form-control limited_number_textbox", min = 0, type = "number" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.partner.komisi_subscribe_gold, "Komisi Subscribe Gold", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.partner.komisi_subscribe_gold, new { @class = "form-control limited_number_textbox", min = 0, type = "number" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.partner.komisi_support, "Komisi Support", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.partner.komisi_support, new { @class = "form-control limited_number_textbox", min = 0, type = "number" })
    </div>
</div>
<hr />
<button type="button" id="simpan_btn" class="btn btn-primary pull-right" onclick="simpanKomisi(this , '@Model.partner.PartnerId');">Simpan</button>

@section scripts
{
    <script type="text/javascript">
        $(document).on('ready', function () {
            $('#photo_base').hide()
        }
    </script>

}
