@using System.Globalization
@model MasterOnline.ViewModels.SubsViewModel
@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var editMode = 0;

    if (ViewData["Editing"] != null)
    {
        editMode = (int)ViewData["Editing"];
    }
}

@section styles
{
    <style>
        #subs-section {
            margin-top: 60px;
            background: white;
            padding: 20px;
        }
    </style>
}


<div class="row" id="subs-section">
    <div class="col-lg-12 col-md-12">
        <div class="row subs_table_section">
            <div class="col-lg-4 col-sm-6">
                <div class="input-group">
                    <input id="search_subs" type="text" class="form-control" placeholder="Pencarian">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="pull-right">
                    <button type="button" class=" btn btn-default" data-style="expand-right">
                        <span>Refresh</span>
                    </button>
                    <button class="btn btn-primary btn_tambah_data" id="tambah_subscription">Tambah Baru</button>
                </div>
            </div>
        </div>
        <div class="row subs_table_section">
            <div class="col-sm-12">
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @ViewData["SuccessMessage"].ToString()
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                    {
                        <div class="alert alert-danger">
                            @modelError.ErrorMessage
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }
                <table id="datatable" class="table table-striped table-bordered dataTable" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 30px;">Kode</th>
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 130px;">Keterangan</th>
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 70px;">Jumlah Marketplace</th>
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 70px;">Jumlah Pesanan</th>
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 70px;">Harga</th>
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px; max-width: 40px;">Ubah</th>
                            <th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 40px; max-width: 40px;">Hapus</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var sub in Model.ListSubs)
                            {
                                <tr>
                                    <td class="text-center">@sub.KODE</td>
                                    <td class="text-center">@sub.KETERANGAN</td>
                                    <td class="text-center">@sub.JUMLAH_MP</td>
                                    <td class="text-center">@(sub.JUMLAH_PESANAN == 999999999 ? "> 100" : sub.JUMLAH_PESANAN.ToString())</td>
                                    <td class="text-center">@(String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", sub.HARGA))</td>
                                    <td class="edit-hapus-col">
                                        <button class="btn btn-primary" onclick="editSubs(@sub.RecNum)">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td class="edit-hapus-col">
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#konfHapusSubs" onclick="pass(@sub.RecNum)">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row subs_editor_section" style="display: none;">
            <div class="col-lg-12">
                <div class="page-editor">
                    <h2 class="editor-title">Subscription</h2>
                    <span class="title-accent"></span>
                    <button type="button" class="pull-right page-close">
                        <span class="close-btn thick"></span>
                    </button>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2 style="font-size: 16px">Detail Subscription</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                        {
                                            foreach (var modelError in ViewData.ModelState.SelectMany(x => x.Value.Errors))
                                            {
                                                <div class="alert alert-danger">
                                                    <span class="message-error">@modelError.ErrorMessage</span>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            }
                                        }
                                        <br>
                                        @using (Html.BeginForm("SaveSubscription", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(m => m.Subs.RecNum)
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Subs.KODE, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Subs.KODE, new { @class = "form-control", maxlength = 2 })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Subs.KETERANGAN, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Subs.KETERANGAN, new { @class = "form-control", maxlength = 30 })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Subs.JUMLAH_MP, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Subs.JUMLAH_MP, new { @class = "form-control limited_number_textbox", min = 0, type = "number", maxlength = 2 })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Subs.JUMLAH_PESANAN, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Subs.JUMLAH_PESANAN, new { @class = "form-control limited_number_textbox", min = 0, type = "number", maxlength = 6 })
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" id="lebih_dari_100">Lebih dari 100</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Subs.HARGA, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    @Html.TextBoxFor(m => m.Subs.HARGA, new { @class = "form-control limited_number_textbox", maxlength = 10, Value = String.Format(CultureInfo.CreateSpecificCulture("id-id"), "{0:N}", Model?.Subs?.HARGA) })
                                                </div>
                                            </div>
                                            <hr />
                                            <button type="submit" id="simpan_btn" class="btn btn-primary pull-right">Simpan</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="konfHapusSubs" tabindex="-1" role="dialog" aria-labelledby="konfHapusSubsLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfHapusSubsLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin menghapus subscription ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="deleteSubs()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var $subsId = 0;

        $(document).on('ready',
            function () {
                @if (Model?.Subs?.JUMLAH_PESANAN == 0)
                {
                    <text>
                        $('#Subs_JUMLAH_PESANAN').val(0);
                    </text>
                }

                var table = $('#datatable').DataTable();

                $('#search_subs').keyup(function () {
                    table.search($(this).val()).draw();
                });

                $('#tambah_subscription').on('click', function () {
                    $('.subs_table_section').toggle('display');
                    $('.subs_editor_section').toggle('display');
                });

                $('button>.close-btn').on('click', function () {
                    $('.subs_table_section').toggle('display');
                    $('.subs_editor_section').toggle('display');
                });

                if ($('.message-error').text() !== '' || @editMode === 1) {
                    $('#tambah_subscription').click();
                }

                $('.close-btn').click(function() {
                    location.href = '@Url.Action("Subscription")';
                });

                $('#Subs_HARGA').change(function() {
                    $(this).val(convertToRupiah($(this).val()));
                });

                $('#simpan_btn').click(function() {
                    var harga = $('#Subs_HARGA').val();

                    $('#Subs_HARGA').val(convertToAngka(harga));
                });

                $('#lebih_dari_100').change(function () {
                    if ($(this).prop('checked')) {
                        $('#Subs_JUMLAH_PESANAN')
                            .attr('type', 'text')
                            .val('> 100')
                            .attr('readonly', 'readonly');
                    } else {
                        $('#Subs_JUMLAH_PESANAN')
                            .attr('type', 'number')
                            .val(0)
                            .removeAttr('readonly');
                    }
                });
            });

        function editSubs(subsId) {
            var link = '@Url.Action("EditSubs", "Admin", new { idSub = "replaceId" })';
            link = link.replace("replaceId", subsId);

            location.href = link;
        }

        function pass(subsId) {
            this.$subsId = subsId;
        }

        function deleteSubs() {
            var link = '@Url.Action("DeleteSubscription", "Admin", new { subsId = "replaceId" })';
            link = link.replace("replaceId", this.$subsId);

            location.href = link;
        }

        function convertToRupiah(angka) {
            var rupiah = '';
            var angkarev = angka.toString().split('').reverse().join('');
            for (var i = 0; i < angkarev.length; i++) if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.';
            return rupiah.split('', rupiah.length - 1).reverse().join('') + ',00';
        }

        function convertToAngka(rupiah) {
            return parseInt(rupiah.replace(/,.*|[^0-9]/g, ''), 10);
        }


    </script>
}