@using System.Globalization
@using MasterOnline.Models
@model MasterOnline.Models.SupportMenu
@{
    ViewBag.Title = "Support Menu";
    Layout = "~/Views/Shared/_LayoutAdminCS.cshtml";
    var context_ = new MoDbContext("");
}

@section styles
{
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/selectize.css" rel="stylesheet" />
    <link href="~/Content/build/css/selectivity-jquery.min.css" rel="stylesheet" />
    <style>
        .user-link {
            text-decoration: underline;
        }

        #akun-section {
            margin-top: 60px;
            background: white;
            padding: 20px;
        }

        .disabled-tab {
            cursor: not-allowed;
            background-color: #999 !important;
            color: #fff;
        }

            .disabled-tab:hover,
            .disabled-tab:active,
            .disabled-tab:visited {
                color: #fff;
            }

        .logo_perusahaan_section {
            padding: 0 10px 10px 10px;
        }

            .logo_perusahaan_section > .box_upload {
                width: 200px;
                height: 200px;
                border: dashed 1.5px #bbb;
                border-radius: 10px;
                background-color: #f7f7f7;
                background-image: url('');
                text-align: center;
                display: table;
                cursor: pointer;
            }

        .checkbox-container {
            display: block;
            position: relative;
            /*padding-left: 35px;*/
            margin-top: 4px;
            cursor: pointer;
            font-size: 11px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .checkbox-container input {
                position: relative;
                opacity: 100;
                cursor: pointer;
                display: none;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 18px;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border: solid 1px #ccc;
        }

        /* On mouse-over, add a grey background color */
        .checkbox-container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox-container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox-container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox-container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 6px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @*add by nurul 13/2/2019*@
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab_content1" id="unlink-tab" role="tab" data-toggle="tab" aria-expanded="true">Unlink Barang</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content2" id="editkode-tab" role="tab" data-toggle="tab" aria-expanded="false">Edit Kode Barang</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content3" id="mergekode-tab" role="tab" data-toggle="tab" aria-expanded="false">Merge Kode Barang</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="unlink-tab">
                    <div class="row">
                        <div class="row user_table_section col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-12 input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Pilih Akun")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <select id="ACCOUNT" placeholder="Harap pilih" required="required"></select>
                                    </div>
                                    <div id="loading_account" hidden class="text-center">
                                        <img src="~/Content/Images/spinner.gif" width="100" />
                                    </div>
                                    <div class="row" id="list-mp-toko">
                                    </div>
                                    <div class="row" hidden id="SelectedAccount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Masukan Kode Barang: (Enter untuk pemisah kode)")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <textarea id="kode-brg" cols="100" rows="20" style="width:50%;" data-val="true" data-valid-toggle-required="1" required="required" data-val-required="This field is required."></textarea>
                                    </div>
                                </div>
                                <button id="prosesunlink" type="button" class=" btn btn-primary" data-style="expand-right">
                                    <span>Proses Unlink</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="editkode-tab">
                    <div class="row">
                        <div class="row user_table_section col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12 input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Pilih Akun")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <select id="ACCOUNT2" placeholder="Harap pilih" required="required"></select>
                                    </div>
                                    <div id="loading_account" hidden class="text-center">
                                        <img src="~/Content/Images/spinner.gif" width="100" />
                                    </div>
                                    @*<div class="row" id="list-mp-toko2">
                                    </div>*@
                                    <div class="row" hidden id="SelectedAccount2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Masukan Kode Barang Lama:")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <textarea id="kode-brg" cols="100" rows="20" style="width:50%;" data-val="true" data-valid-toggle-required="1" required="required" data-val-required="This field is required."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Masukan Kode Barang Baru:")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <textarea id="kode-brg" cols="100" rows="20" style="width:50%;" data-val="true" data-valid-toggle-required="1" required="required" data-val-required="This field is required."></textarea>
                                    </div>
                                </div>
                                <button id="proseseditkode" type="button" class=" btn btn-primary" data-style="expand-right">
                                    <span>Proses Edit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="mergekode-tab">
                    <div class="row">
                        <div class="row user_table_section col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12 input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Pilih Akun")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <select id="ACCOUNT3" placeholder="Harap pilih" required="required"></select>
                                    </div>
                                    <div id="loading_account" hidden class="text-center">
                                        <img src="~/Content/Images/spinner.gif" width="100" />
                                    </div>
                                    @*<div class="row" id="list-mp-toko3">
                                    </div>*@
                                    <div class="row" hidden id="SelectedAccount3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Masukan Kode Barang Lama:")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <textarea id="kode-brg" cols="100" rows="20" style="width:50%;" data-val="true" data-valid-toggle-required="1" required="required" data-val-required="This field is required."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="input-group">
                                    <span class="txt1 p-b-11">
                                        @Html.Label("Masukan Kode Barang Baru:")
                                    </span>
                                    <div class="wrap-input100 validate-input m-b-36" style="border: none">
                                        <textarea id="kode-brg" cols="100" rows="20" style="width:50%;" data-val="true" data-valid-toggle-required="1" required="required" data-val-required="This field is required."></textarea>
                                    </div>
                                </div>
                                <button id="prosesmergekode" type="button" class=" btn btn-primary" data-style="expand-right">
                                    <span>Proses Merge</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="konfUbahStatus" tabindex="-1" role="dialog" aria-labelledby="konfUbahStatusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="konfUbahStatusLabel">Konfirmasi</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <h4>Apakah Anda yakin ingin <span id="will-change-to"></span> user ini?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <button type="button" class="btn btn-success" onclick="ubahStatusAcc()">Ya</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/selectize.js" type="text/javascript"></script>
    <script src="~/Content/build/js/selectivity-jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
@{
        var model_accountList = Model?.AccountList;
}
        // Add by Fauzi 25 November 2020
        var rows_selected = [];
        window.selected_cust = [];
               
        $(document).on('ready',
            function () {
                var model_listAkun = @Html.Raw(Json.Encode(model_accountList));
                var listAccount = [];
                $.each(model_listAkun,
                function (i, item) {
                    listAccount[i] = {
                        id: item,
                        text: item
                    };
                    });
                if ($('#ACCOUNT').length > 0) {
                var AccountSelect = $('#ACCOUNT').selectize({
                    valueField: 'id',
                    searchField: 'text',
                    options: listAccount,
                    onChange: function (value) {
                        rows_selected.shift();
                        $('#list-mp-toko').html('');
                        $('#SelectedAccount').val(value);
                        GetMarketplaceAccount(value);
                    }
                    });
                }

                if ($('#ACCOUNT2').length > 0) {
                    var AccountSelect = $('#ACCOUNT2').selectize({
                        valueField: 'id',
                        searchField: 'text',
                        options: listAccount,
                        onChange: function (value) {
                            rows_selected.shift();
                            $('#list-mp-toko2').html('');
                            $('#SelectedAccount2').val(value);
                            GetMarketplaceAccount(value);
                        }
                    });
                }

                if ($('#ACCOUNT3').length > 0) {
                    var AccountSelect = $('#ACCOUNT3').selectize({
                        valueField: 'id',
                        searchField: 'text',
                        options: listAccount,
                        onChange: function (value) {
                            rows_selected.shift();
                            $('#list-mp-toko3').html('');
                            $('#SelectedAccount3').val(value);
                            GetMarketplaceAccount(value);
                        }
                    });
                }

                $('.ckCustomers').each(function (i, item) {
                    $(item).prop('checked', false);
                });

                if (window.selected_cust.length > 0) {
                    for (j = 0; j < window.selected_cust.length; j++) {
                        $('#cb_' + window.selected_cust[j]).prop('checked', true);
                    }
                } else {
                    $('.ckCustomers').each(function (i, item) {
                        $(item).prop('checked', true);
                    });
                }
                
                $('#prosesunlink').click(function () {
                    $('.ckCustomers').each(function (i, item) {
                        if ($(item).is(":checked")) {
                            rows_selected.push($(item).attr("data-cust"));
                        }
                    });

                    if ($('#kode-brg').val() != "" && rows_selected.length > 0) {
                        //alert(rows_selected + " _____ " + $('#kode-brg').val().replace(/\n/g, "^"));
                        ProsesUnlinkMP($('#SelectedAccount').val(), rows_selected, $('#kode-brg').val().replace(/\n/g, "^"));
                        rows_selected.shift();
                    } else {
                        if (rows_selected.length == 0) {
                            alert("Anda belum memilih Akun Toko Marketplace Customer.");
                        }
                        if ($('#kode-brg').val() == "") {
                            alert("Kode Barang masih kosong. Harap mengisi kode barang!");
                        }
                    }
                });

                $('#proseseditkode').click(function () {
                    $('.ckCustomers').each(function (i, item) {
                        if ($(item).is(":checked")) {
                            //rows_selected.push($(item).attr("data-cust"));
                        }
                    });

                    if ($('#kode-brg-edit-baru').val() != "" && $('#kode-brg-edit-lama').val() != "") {
                        //alert(rows_selected + " _____ " + $('#kode-brg').val().replace(/\n/g, "^"));
                        ProsesEditKode($('#SelectedAccount2').val(), $('#kode-brg-edit-baru').val().replace(/\n/g, "^"), $('#kode-brg-edit-baru').val().replace(/\n/g, "^"));
                        //rows_selected.shift();
                    } else {
                        //if (rows_selected.length == 0) {
                        //    //alert("Anda belum memilih Akun Toko Marketplace Customer.");
                        //}
                        if ($('#kode-brg-edit-baru').val() == "") {
                            alert("Kode Barang Baru masih kosong. Harap mengisi kode barang!");
                        }
                        if ($('#kode-brg-edit-lama').val() == "") {
                            alert("Kode Barang Lama masih kosong. Harap mengisi kode barang!");
                        }
                    }
                });

                $('#prosesmergekode').click(function () {
                    $('.ckCustomers').each(function (i, item) {
                        if ($(item).is(":checked")) {
                            //rows_selected.push($(item).attr("data-cust"));
                        }
                    });

                    if ($('#kode-brg-merge-baru').val() != "" && $('#kode-brg-merge-lama').val() != "") {
                        //alert(rows_selected + " _____ " + $('#kode-brg').val().replace(/\n/g, "^"));
                        ProsesMergeKode($('#SelectedAccount3').val(), $('#kode-brg-merge-baru').val().replace(/\n/g, "^"), $('#kode-brg-merge-baru').val().replace(/\n/g, "^"));
                        //rows_selected.shift();
                    } else {
                        //if (rows_selected.length == 0) {
                        //    //alert("Anda belum memilih Akun Toko Marketplace Customer.");
                        //}
                        if ($('#kode-brg-merge-baru').val() == "") {
                            alert("Kode Barang Baru masih kosong. Harap mengisi kode barang!");
                        }
                        if ($('#kode-brg-merge-lama').val() == "") {
                            alert("Kode Barang Lama masih kosong. Harap mengisi kode barang!");
                        }
                    }
                });

            });


        function ProsesUnlinkMP(emailAccount, listTokoMP, listKodeBRG) {
            var link = '@Url.Action("ProsesUnlinkMP", "Admin", new { listTokoMP = "replaceEmail|replaceId|replaceKode" })';
            link = link.replace("replaceEmail", emailAccount);
            link = link.replace("replaceId", listTokoMP);
            link = link.replace("replaceKode", listKodeBRG);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_account').show();
                },
                success: function (response) {
                    $('#loading_account').hide();
                    rows_selected.shift();
                    if (response.success) {
                        alert("Berhasil unlink.")
                    } else {
                        alert("Gagal unlink.")
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        } 

        function ProsesEditKode(emailAccount, listKodeBRGLama, listKodeBRGBaru) {
            var link = '@Url.Action("ProsesEditKode", "Admin", new { listTokoMP = "replaceEmail|replaceKodeBaru|replaceKodeLama" })';
            link = link.replace("replaceEmail", emailAccount);
            link = link.replace("replaceKodeBaru", listKodeBRGLama);
            link = link.replace("replaceKodeLama", listKodeBRGBaru);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_account').show();
                },
                success: function (response) {
                    $('#loading_account').hide();
                    rows_selected.shift();
                    if (response.success) {
                        alert("Berhasil Edit Kode Barang.")
                    } else {
                        alert("Gagal Edit Kode Barang.")
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        } 

        function ProsesMergeKode(emailAccount, listKodeBRGLama, listKodeBRGBaru) {
            var link = '@Url.Action("ProsesMergeKode", "Admin", new { listTokoMP = "replaceEmail|replaceKodeBaru|replaceKodeLama" })';
            link = link.replace("replaceEmail", emailAccount);
            link = link.replace("replaceKodeBaru", listKodeBRGLama);
            link = link.replace("replaceKodeLama", listKodeBRGBaru);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_account').show();
                },
                success: function (response) {
                    $('#loading_account').hide();
                    rows_selected.shift();
                    if (response.success) {
                        alert("Berhasil Merge Kode Barang.")
                    } else {
                        alert("Gagal Merge Kode Barang.")
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        } 

        function GetMarketplaceAccount(emailAccount) {
            var link = '@Url.Action("GetMarketplaceAccount", "Admin", new { emailAccount = "replaceId" })';
            link = link.replace("replaceId", emailAccount);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_account').show();
                },
                success: function (response) {
                    $('#loading_account').hide();
                    if (response.success) {
                        if (response.result.ListTokoMPCustomers.length > 0) {
                            for (var i = 0; i < response.result.ListTokoMPCustomers.length; i++) {
                                var checklist_Div = '<div class="row" style="margin-bottom:5px;"><div class="col-md-1" style = "padding-bottom:10px"><label class="checkbox-container"><input id="cb_' + response.result.ListTokoMPCustomers[i].cust + '" type="checkbox" data-cust="' + response.result.ListTokoMPCustomers[i].cust + '" class="cbx ckCustomers" name="cb_' + response.result.ListTokoMPCustomers[i].cust + '" /><span id="cbsp_"' + response.result.ListTokoMPCustomers[i].cust + '" class="checkmark"></span></label></div>';
                                var namalis_Div = '<div class="col-md-3" style="padding-top: 7px;"><label id="lblNama_' + response.result.ListTokoMPCustomers[i].cust + '">' + response.result.ListTokoMPCustomers[i].namaMarket + ' (' + response.result.ListTokoMPCustomers[i].namaCust + ')</label></div></div>';
                                window.selected_cust.push(response.result.ListTokoMPCustomers[i].cust);
                                $('#list-mp-toko').append(checklist_Div + namalis_Div);
                                //$('#list-mp-toko2').append(checklist_Div + namalis_Div);
                                //$('#list-mp-toko3').append(checklist_Div + namalis_Div);
                            }
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        // End Add by Fauzi 25 November 2020
    </script>
}