@using System.Globalization
@using MasterOnline.ViewModels
@using PagedList.Mvc
@model PagedList.IPagedList<PesananHangfireJob>
@{
                /**/

                string totalSelisih = ViewBag.TotalSelisih;

                var context = new MoDbContext("");

}
<style>
    .cetak_label {
        color: orange;
        font-weight: bold;
    }

    .dropdown-hover:hover {
        background-color: gainsboro !important;
    }

    #modal-print-option {
        margin: auto;
    }

        #modal-print-option .modal-content .modal-header {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            background-color: white;
        }

        #modal-print-option .modal-content .modal-body {
            height: 125px;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: white;
        }

    .checkbox-container {
        display: block;
        position: relative;
        /*padding-left: 35px;*/
        margin-top: 4px;
        cursor: pointer;
        font-size: 11px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .checkbox-container input {
            position: relative;
            opacity: 100;
            cursor: pointer;
            display: none;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        /*remark by calvin 17 juni 2019, perbaikan tampilan suryadi*/
        /*left: 18px;*/
        /*end remark by calvin 17 juni 2019, perbaikan tampilan suryadi*/
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: solid 1px #ccc;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    @@media only screen and (max-width: 767px) {
        #modal-print-option {
            margin-top: 21px;
            /* margin: auto; */
            margin-left: -49px;
            width: 40%;
        }

        .modal-dialog {
            width: 52%;
            margin: 0;
        }

        .modal-content {
            width: 75%;
        }
    }

    @@media only screen and (max-width: 440px) {
        .snip1404 .plan {
            width: 100%;
        }

        .modal-dialog {
            width: 52%;
            margin: 0;
        }
    }
</style>
<style type="text/css">
    #loading_spinner {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
    }

    #loading_spinner_image {
        width: 20px;
        height: 20px;
        margin-top: -90px;
        margin-left: -90px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-width: 30px;
        border-radius: 50%;
    }

    #loading_spinner_btn {
        display: none;
        width: 100%;
        height: 100%;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #loading_spinner_image_btn {
        width: 20px;
        height: 40px;
        border-width: 30px;
        border-radius: 50%;
    }

    .modal-dialog {
        /*remark by calvin 17 juni 2019, perbaikan tampilan suryadi*/
        /*width: 75%;*/
        height: 75%;
        /*remark by calvin 17 juni 2019, perbaikan tampilan suryadi*/
        /*margin: 0 auto;*/
        padding: 0;
    }

    .modal-content {
        margin-top: 35px;
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
</style>
@Html.AntiForgeryToken()
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#TotalJob')) {
            if (parseInt($('#TotalJob').val()) > 0) {
                $('#li_jobpesanan_bayininja_tab_focus').show().on('click', function () {
                    $('#bayininja_packing_cust_tabs li:first').find('a').click();
                });
            }
            else {
                $('#li_jobpesanan_bayininja_tab_focus').hide();
            }
        }
    });

</script>
<div id="loading_barang_tab" style="display: none;width: 100%;height: 100%;position: absolute;z-index: 100;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(0,0,0,0);">
    <div id="loading_barang_tab_image">
        <img src="~/Content/Images/spinner.gif" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="tab-content">
            @{
                var TotalJob = Model.Count();
                var nomor = 0;
            }
            @Html.TextBox("TotalJob", TotalJob, new { @class = "form-control", disabled = "disabled", @style = "display:none;" })
            <div id="soem_tab_content__" class="tab-pane fade in">
            </div>
            <div class="text-center text-capitalize"><b>Jumlah Job Pesanan: @Model.Count()</b>  <b>Total Selisih: (@totalSelisih)</b></div>
            <div class="hscroll vscroll table-responsive tbljurnal">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 2%;">No.</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 5%;">JOB CREATED</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 5%;">JOB ID</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 5%;">STATUS PESANAN</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 8%;">METHOD</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 7%;">MARKETPLACE</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 5%;">WAKTU PROSES</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 5%;">WAKTU SUCCESS</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Picture: activate to sort column descending" style="width: 10%;">SELISIH WAKTU</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.ToList())
                        {
                            nomor += 1;
                            <tr>
                                <td>@nomor</td>
                                <td>@order.CREATEDAT</td>
                                <td>@order.ID</td>
                                <td>@order.STATENAME</td>
                                <td>@order.METHOD</td>
                                <td>@order.MARKETPLACE</td>
                                <td>@order.LASTCREATEJOBPROCESS</td>
                                <td>@order.LASTCREATEJOBSUCCESS</td>
                                <td>@order.SELISIH</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>